@import '~@maggioli-design-system/styles/scss/import-framework';

.benckmark-bar {
  &__text {
    flex-grow: 1;
    font-weight: 700;
    min-width: 0;
    white-space: nowrap;
  }

  &__progress {
    flex-shrink: 0;
    font-weight: 700;
  }
}
