@import '~Sass/import-framework';

$cell-background-color: color('adjust.tone', '20');
$cell-border: color('adjust.tone', '19');
$cell-border-first: color('adjust.tone', '17');
$cell-border-hover: color('adjust.tone', '19');
$border-size: 2px;
$border-style: $border-size solid;

@mixin cell-outer-border-visible ($important: '') {
  &:first-child {
    &::before {
      background-color: $cell-background-color #{$important};
      min-width: s(1) #{$important};
      transform: translate(-100%, 0) #{$important};
      transition: background-color get($tween, 'slide'), transform get($tween, 'slide'), min-width get($tween, 'slide'), right get($tween, 'slide');
    }
  }

  &:last-child {
    &::before {
      background-color: $cell-background-color #{$important};
      min-width: s(1) #{$important};
      transform: translate(100%, 0) #{$important};
      transition: background-color get($tween, 'slide'), transform get($tween, 'slide'), min-width get($tween, 'slide'), right get($tween, 'slide');
    }
  }
}

.table {
  background-color: color('adjust.tone');
  border-radius: s(0.5);
  display: flex;

  // sass-lint:disable no-vendor-prefixes
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding-bottom: s(2);
  padding-top: s(1);

  &::after,
  &::before {
    content: '';
    min-width: s(2);
  }

  &__element {
    border-collapse: collapse;
    flex-grow: 1;
  }

  &__cell {
    border-top: $border-style $cell-border;
    padding: s(0.5) s(1);
    position: relative;
    white-space: nowrap;

    &:first-child {
      &::before {

        @extend %outer-border;

        border-radius: s(0.25) 0 0 s(0.25);
        left: 0;
        transform: translate(0, 0);
      }
    }

    &:last-child {
      position: relative;

      &::before {

        @extend %outer-border;

        border-radius: 0 s(0.25) s(0.25) 0;
        right: 0;
        transform: translate(0, 0);
      }
    }

    &--header {
      border: 0;
      text-align: left;
    }

    &--grow {
      width: 100%;
    }
  }

  &--interactive {
    .table {
      &__body {
        .table {
          &__row {
            &:hover {
              .table {
                &__cell {

                  --background-color: #{$cell-background-color};

                  @include cell-outer-border-visible;

                  background-color: var(--background-color);
                  transition: background-color get($tween, 'slide');
                }
              }
            }
          }
        }

        &:hover {
          .table {
            &__cell {
              border-top: $border-style $cell-border-hover;
            }
          }
        }
      }
    }
  }

  &__body {
    .table {
      &__row {
        &:first-child {
          .table {
            &__cell {
              border-top: $border-style $cell-border-first;
            }
          }
        }

        &:last-child {
          .table {
            &__cell {
              border-bottom: $border-style $cell-border;
            }
          }
        }
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
    gap: 5px;
  }

  &--theme-alternate {
    .table {
      &__body {
        .table {
          &__row {
            &:nth-child( odd ) {
              .table {
                &__cell {

                  @include cell-outer-border-visible;

                  background-color: $cell-background-color;
                }
              }
            }
          }
        }

        &:hover {
          .table {
            &__row {
              &:nth-child( odd ) {
                .table {
                  &__cell {

                    @extend %cell-outer-border-invisible;

                    background-color: transparent;
                  }
                }
              }

              &:hover {
                .table {
                  &__cell {

                    @include cell-outer-border-visible (!important);

                    background-color: $cell-background-color !important;
                    transition: background-color get($tween, 'slide');
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

%outer-border {
  background-color: transparent;
  content: '';
  height: calc(100% + #{s(2, $border-size)});
  min-width: 0;
  position: absolute;
  top: s(-1, $border-size);
  transform: translate(0, 0);
}

%cell-outer-border-invisible {
  &:first-child {
    &::before {
      min-width: 0;
    }
  }

  &:last-child {
    &::before {
      min-width: 0;
    }
  }
}
