@import '~Sass/import-framework';

$radius: s(0.25);

.ds-horizontal-menu {
  background-color: color('adjust.tone');
  margin: 0 s(-1);
  transform: translate(0, -2px);

  @include media('desktop') {
    margin: 0;
  }

  &__list {
    &::after {
      min-width: s(4);
    }
  }

  &__item {
    align-items: center;
    display: flex;
    height: s(5);
  }

  &__link {
    border-radius: $radius;

    // @extend %bar-hidden;
    color: color('adjust.tone', '02');
    cursor: pointer;
    display: inline-flex;
    padding: s(0.25) s(0.5) s(0.25) s(0.5);
    transition: background-color get($tween, 'hover');
    white-space: nowrap;

    &:hover {
      background-color: color('adjust.tone', '15');
    }
  }
}
