@reference '../../tailwind/index.css';
@import '../../tailwind/components.css';

@import './css/mds-list-item-pref-contrast.css';
@import '../../tailwind/fouc.css';



@layer magma {

  /**
 * @prop --mds-list-item-icon-margin: Sets the margin of the component's icon
 */

  :host {
    --mds-list-item-icon-margin: 0 var(--spacing-200) 0 0;

    @apply w-full;

    align-items: flex-start;
    color: rgb(var(--tone-neutral-03));
    display: flex;
    justify-content: flex-start;
  }

  .icon {
    @apply h-600
    w-600;

    fill: currentcolor;
    margin: var(--mds-list-item-icon-margin);
  }

  :host([typography='paragraph']) {
    --mds-list-item-icon-margin: 0.25rem var(--spacing-200) 0 0;
  }

  :host([typography='caption']) {
    --mds-list-item-icon-margin: -0.125rem var(--spacing-200) 0 0;
  }

  :host([typography='label']),
  :host([typography='tip']) {
    --mds-list-item-icon-margin: -0.25rem var(--spacing-200) 0 0;
  }

  :host([typography='option']) {
    --mds-list-item-icon-margin: -0.5rem var(--spacing-200) 0 0;
  }
}
