@import '../../tailwind/fouc.css';

:host {
  align-items: center;
  aspect-ratio: var(--aspect-square);
  display: inline-flex;
  justify-content: center;
  width: --spacing(600);
}

.icon {
  align-items: center;
  display: inline-flex;
  font-style: normal;
  justify-content: center;
  width: 100%;

}

.icon svg {
  height: auto;
  width: 100%;
}
