@tailwind utilities;

:host ( [variant=light] ),
:host ( [variant=light][tone=strong] ) {

  --background: theme('colors.adjust-tone');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.adjust-tone-02');
  --separator-color: theme('colors.adjust-tone-09');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=light][tone=weak] ) {

  --background: theme('colors.adjust-tone');
  --radius: theme('borderRadius.md');
  --color: theme('colors.adjust-tone-02');
  --separator-color: theme('colors.adjust-tone-09');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=light][tone=ghost] ) {

  --border-color: theme('colors.adjust-tone-09');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.adjust-tone-02');
  --separator-color: theme('colors.adjust-tone-09');
  --shadow: none;
}

:host ( [variant=light][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.adjust-tone-10');
  --separator-color: theme('colors.adjust-tone-09');
  --shadow: none;
}
