@tailwind utilities;

:host ( [variant=dark] ),
:host ( [variant=dark][tone=strong] ) {

  --background: theme('colors.adjust-tone-02');
  --border-radius: theme('borderRadius.lg');
  --color: theme('colors.adjust-tone-09');
  --separator-color: theme('colors.adjust-tone-03');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=dark][tone=weak] ) {

  --background: theme('colors.adjust-tone-03');
  --border-radius: theme('borderRadius.md');
  --color: theme('colors.adjust-tone-10');
  --separator-color: theme('colors.adjust-tone-04');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=dark][tone=ghost] ) {

  --border-color: theme('colors.adjust-tone-18');
  --border-radius: theme('borderRadius.lg');
  --color: theme('colors.adjust-tone-10');
  --separator-color: theme('colors.adjust-tone-04');
  --shadow: none;
}

:host ( [variant=dark][tone=quiet] ) {

  --color: theme('colors.adjust-tone-10');
  --separator-color: theme('colors.adjust-tone-04');
  --shadow: none;
}
