:host([variant="info"]),
:host([variant="info"][tone="strong"]) {
  --mds-banner-background: var(--color-status-info-09);
  --mds-banner-close-icon-hover-background: var(--color-status-info-08);
  --mds-banner-color: var(--color-status-info-02);
  --mds-banner-icon-color: var(--color-status-info-05);
  --mds-banner-shadow: none;
  --mds-banner-cockade-background: var(--color-status-info-10);
}

:host([variant="info"][tone="weak"]) {
  --mds-banner-background: var(--color-status-info-10);
  --mds-banner-close-icon-hover-background: var(--color-status-info-08);
  --mds-banner-color: var(--color-status-info-03);
  --mds-banner-icon-color: var(--color-status-info-06);
  --mds-banner-shadow: none;
  --mds-banner-cockade-background: var(--color-status-info-09);
}

:host([variant="info"][tone="quiet"]) {
  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: var(--color-status-info-09);
  --mds-banner-color: var(--color-status-info-03);
  --mds-banner-icon-color: var(--color-status-info-06);
  --mds-banner-shadow: none;
}

:host([variant="info"][tone="quiet"]) .separator {
  display: none;
}
