@tailwind utilities;

:host ( [variant=info] ),
:host ( [variant=info][tone=strong] ) {

  --background: theme('colors.status-info-09');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.status-info-02');
  --separator-color: theme('colors.status-info-08');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=info][tone=weak] ) {

  --background: theme('colors.status-info-10');
  --radius: theme('borderRadius.md');
  --color: theme('colors.status-info-02');
  --separator-color: theme('colors.status-info-09');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=info][tone=ghost] ) {

  --background: theme('colors.status-info-10');
  --border-color: theme('colors.status-info-08');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.status-info-02');
  --separator-color: theme('colors.status-info-09');
  --shadow: none;
}

:host ( [variant=info][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.status-info-02');
  --separator-color: theme('colors.status-info-10');
  --shadow: none;
}

:host ( [variant=info][tone=quiet] ) .separator {
  @apply hidden;
}
