@tailwind utilities;

:host ( [variant=error] ),
:host ( [variant=error][tone=strong] ) {

  --background: theme('colors.status-error-09');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.status-error-02');
  --separator-color: theme('colors.status-error-08');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=error][tone=weak] ) {

  --background: theme('colors.status-error-10');
  --radius: theme('borderRadius.md');
  --color: theme('colors.status-error-02');
  --separator-color: theme('colors.status-error-09');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=error][tone=ghost] ) {

  --background: theme('colors.status-error-10');
  --border-color: theme('colors.status-error-08');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.status-error-02');
  --separator-color: theme('colors.status-error-09');
  --shadow: none;
}

:host ( [variant=error][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.status-error-02');
  --separator-color: theme('colors.status-error-10');
  --shadow: none;
}

:host ( [variant=error][tone=quiet] ) .separator {
  @apply hidden;
}
