@tailwind utilities;

:host ( [variant=warning] ),
:host ( [variant=warning][tone=strong] ) {

  --background: theme('colors.status-warning-09');
  --color: theme('colors.status-warning-02');
  --icon-color: theme('colors.status-warning-06');
  --radius: theme('borderRadius.lg');
  --separator-color: theme('colors.status-warning-07');
  --shadow: none;
}

:host ( [variant=warning][tone=weak] ) {

  --background: theme('colors.status-warning-10');
  --color: theme('colors.status-warning-03');
  --icon-color: theme('colors.status-warning-05');
  --radius: theme('borderRadius.md');
  --separator-color: theme('colors.status-warning-09');
  --shadow: none;
}

:host ( [variant=warning][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.status-warning-03');
  --icon-color: theme('colors.status-warning-06');
  --shadow: none;
}

:host ( [variant=warning][tone=quiet] ) .separator {
  @apply hidden;
}
