@tailwind utilities;

:host ( [variant=dark] ),
:host ( [variant=dark][tone=strong] ) {

  --background: theme('colors.adjust-tone-01');
  --color: theme('colors.adjust-tone-08');
  --icon-color: theme('colors.adjust-tone-07');
  --radius: theme('borderRadius.lg');
  --separator-color: theme('colors.adjust-tone-02');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=dark][tone=weak] ) {

  --background: theme('colors.adjust-tone-02');
  --color: theme('colors.adjust-tone-08');
  --icon-color: theme('colors.adjust-tone-06');
  --radius: theme('borderRadius.md');
  --separator-color: theme('colors.adjust-tone-03');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=dark][tone=ghost] ) {

  --border-color: theme('colors.adjust-tone-04');
  --radius: theme('borderRadius.lg');
  --icon-color: theme('colors.adjust-tone-04');
  --color: theme('colors.adjust-tone-05');
  --separator-color: theme('colors.adjust-tone-02');
  --shadow: none;
}

:host ( [variant=dark][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.adjust-tone-04');
  --separator-color: theme('colors.adjust-tone-03');
  --shadow: none;
}
