:host([variant="success"]),
:host([variant="success"][tone="strong"]) {
  --mds-banner-background: rgb(var(--status-success-09));
  --mds-banner-close-icon-hover-background: rgb(var(--status-success-08));
  --mds-banner-color: rgb(var(--status-success-02));
  --mds-banner-icon-color: rgb(var(--status-success-05));
  --mds-banner-shadow: none;
  --mds-banner-cockade-background: rgb(var(--status-success-10));
}

:host([variant="success"][tone="weak"]) {
  --mds-banner-background: rgb(var(--status-success-10));
  --mds-banner-close-icon-hover-background: rgb(var(--status-success-08));
  --mds-banner-color: rgb(var(--status-success-03));
  --mds-banner-icon-color: rgb(var(--status-success-06));
  --mds-banner-shadow: none;
  --mds-banner-cockade-background: rgb(var(--status-success-09));
}

:host([variant="success"][tone="text"]) {
  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: rgb(var(--status-success-09));
  --mds-banner-color: rgb(var(--status-success-03));
  --mds-banner-icon-color: rgb(var(--status-success-06));
  --mds-banner-shadow: none;
}

:host([variant="success"][tone="text"]) .separator {
  display: none;
}
