:host([variant="light"]),
:host([variant="light"][tone="strong"]) {
  --mds-banner-background: var(--color-tone-neutral);
  --mds-banner-close-icon-hover-background: var(--color-tone-neutral-09);
  --mds-banner-color: var(--color-tone-neutral-02);
  --mds-banner-icon-color: var(--color-tone-neutral-05);
  --mds-banner-shadow: var(--shadow-lg-sharp);
  --mds-banner-cockade-background: var(--color-tone-neutral-10);
}

:host([variant="light"][tone="weak"]) {
  --mds-banner-background: var(--color-tone-neutral);
  --mds-banner-close-icon-hover-background: var(--color-tone-neutral-10);
  --mds-banner-color: var(--color-tone-neutral-02);
  --mds-banner-icon-color: var(--color-tone-neutral-05);
  --mds-banner-shadow: var(--shadow-sm-sharp);
  --mds-banner-cockade-background: var(--color-tone-neutral-09);
}

:host([variant="light"][tone="ghost"]) {
  --mds-banner-color: var(--color-tone-neutral-02);
  --mds-banner-close-icon-hover-background: var(--color-tone-neutral-10);
  --mds-banner-shadow: none;
}

:host([variant="light"][tone="quiet"]) {
  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: transparent;
  --mds-banner-color: var(--color-tone-neutral-10);
  --mds-banner-shadow: none;
}
