@tailwind utilities;

:host ( [variant=success] ),
:host ( [variant=success][tone=strong] ) {

  --background: theme('colors.status-success-09');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.status-success-02');
  --separator-color: theme('colors.status-success-08');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=success][tone=weak] ) {

  --background: theme('colors.status-success-10');
  --radius: theme('borderRadius.md');
  --color: theme('colors.status-success-02');
  --separator-color: theme('colors.status-success-09');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=success][tone=ghost] ) {

  --background: theme('colors.status-success-10');
  --border-color: theme('colors.status-success-08');
  --radius: theme('borderRadius.lg');
  --color: theme('colors.status-success-02');
  --separator-color: theme('colors.status-success-09');
  --shadow: none;
}

:host ( [variant=success][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.status-success-02');
  --separator-color: theme('colors.status-success-10');
  --shadow: none;
}

:host ( [variant=success][tone=quiet] ) .separator {
  @apply hidden;
}
