:host([variant='dark']) {
  --mds-banner-background: rgb(var(--magma-scale-01));
  --mds-banner-close-icon-hover-background: rgb(var(--magma-scale-03));
  --mds-banner-cockade-background: rgb(var(--magma-scale-04));
  --mds-banner-color: rgb(var(--magma-scale-08));
  --mds-banner-headline-color: rgb(var(--magma-text-on-emphasis));
  --mds-banner-icon-color: rgb(var(--magma-scale-07));
  --mds-banner-shadow: var(--shadow-lg-sharp);

  &:host([tone='weak']) {
    --mds-banner-background: rgb(var(--magma-scale-03));
    --mds-banner-close-icon-hover-background: rgb(var(--magma-scale-05));
    --mds-banner-color: rgb(var(--magma-scale-09));
    --mds-banner-icon-color: rgb(var(--magma-scale-07));
    --mds-banner-shadow: var(--shadow-sm-sharp);
  }
}

:host([variant='light']) {
  --mds-banner-background: rgb(var(--tone-neutral-seed));
  --mds-banner-close-icon-hover-background: rgb(var(--magma-scale-09));
  --mds-banner-color: rgb(var(--magma-text-default));
  --mds-banner-icon-color: rgb(var(--magma-text-disabled));
  --mds-banner-shadow: var(--shadow-lg-sharp);
  --mds-banner-headline-color: rgb(var(--magma-text-default));
  --mds-banner-cockade-background: rgb(var(--magma-wash-soft));

  &:host([tone='weak']) {
    --mds-banner-background: rgb(var(--tone-neutral-seed));
    --mds-banner-close-icon-hover-background: rgb(var(--magma-scale-10));
    --mds-banner-color: rgb(var(--magma-text-default));
    --mds-banner-icon-color: rgb(var(--magma-text-disabled));
    --mds-banner-shadow: var(--shadow-sm-sharp);
    --mds-banner-cockade-background: rgb(var(--magma-wash-base));
  }
}

:host([tone='box']) {
  box-shadow: var(--shadow-box-solid-weak);
}
