@tailwind utilities;

:host ( [variant=primary] ),
:host ( [variant=primary][tone=strong] ) {

  --background: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone-02');
  --icon-color: theme('colors.brand-maggioli-05');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=primary][tone=weak] ) {

  --background: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone-02');
  --icon-color: theme('colors.brand-maggioli-05');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=primary][tone=ghost] ) {

  --color: theme('colors.adjust-tone-02');
  --shadow: none;
}

:host ( [variant=primary][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.adjust-tone-10');
  --shadow: none;
}
