@tailwind utilities;

:host ( [variant=warning] ),
:host ( [variant=warning][tone=strong] ) {

  --background: theme('colors.status-warning-09');
  --border-radius: theme('borderRadius.lg');
  --color: theme('colors.status-warning-02');
  --separator-color: theme('colors.status-warning-08');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=warning][tone=weak] ) {

  --background: theme('colors.status-warning-10');
  --border-radius: theme('borderRadius.md');
  --color: theme('colors.status-warning-02');
  --separator-color: theme('colors.status-warning-09');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=warning][tone=ghost] ) {

  --background: theme('colors.status-warning-10');
  --border-color: theme('colors.status-warning-08');
  --border-radius: theme('borderRadius.lg');
  --color: theme('colors.status-warning-02');
  --separator-color: theme('colors.status-warning-09');
  --shadow: none;
}

:host ( [variant=warning][tone=quiet] ) {

  --background: theme('colors.status-warning-10');
  --color: theme('colors.status-warning-02');
  --separator-color: theme('colors.status-warning-10');
  --shadow: none;
}

:host ( [variant=warning][tone=quiet] ) .separator {
  @apply hidden;
}
