:host([variant="warning"]),
:host([variant="warning"][tone="weak"]) {
  --mds-banner-background: rgb(var(--tone-neutral, 255 255 255));
  --mds-banner-cockade-background: rgb(var(--status-warning-09, 255 228 149));
  --mds-banner-color: rgb(var(--status-warning-02, 81 60 0));
  --mds-banner-icon-color: rgb(var(--status-warning-05, 137 102 0));
  --mds-banner-shadow: var(--shadow-sm-sharp, 0 0 1px 1px rgb(0 0 0 / 0.06), 0 1px 2px 0 rgb(0 0 0 / 0.05));
}

:host([variant="warning"][tone="strong"]) {
  --mds-banner-background: rgb(var(--status-warning-10, 255 237 185));
  --mds-banner-close-icon-hover-background: rgb(var(--status-warning-08, 255 209 73));
  --mds-banner-cockade-background: rgb(var(--status-warning-09, 255 228 149));
  --mds-banner-color: rgb(var(--status-warning-01, 35 26 0));
  --mds-banner-icon-color: rgb(var(--status-warning-05, 137 102 0));
  --mds-banner-shadow: none;
}

:host([variant="warning"][tone="text"]) {
  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: rgb(var(--status-warning-09, 255 228 149));
  --mds-banner-color: rgb(var(--status-warning-03, 98 73 0));
  --mds-banner-icon-color: rgb(var(--status-warning-06, 179 135 0));
  --mds-banner-shadow: 0 0 0 4px rgb(var(--status-warning-09, 255 228 149));
}

:host([variant="warning"][tone="text"]) .separator {
  display: none;
}
