@import '~Sass/import-framework';

@mixin size-modifier ($item) {

  $modifier: nth($item, 1);
  $value: nth($item, 2);

  &--size-#{$modifier} {
    font-size: $value;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  font-weight: 400;
  justify-content: center;
  line-height: inherit;
  user-select: none;

  @each $item in $icon-sizes {
    @include size-modifier ($item);
  }
}
