

:host(:not([expanded])) {
  color: transparent;
}

:host([expanded]) {
  @apply px-200;

  --mds-input-tip-item-color: rgb(var(--tone-neutral));
}

:host([expanded]) .content {
  grid-template-columns: 1fr;
  opacity: 1;
}
