:host(:not([expanded])) {
  color: transparent;
}

:host([expanded]) {
  --mds-input-tip-item-color: rgb(var(--tone-neutral));

  padding-left: --spacing(200);
  padding-right: --spacing(200);
}

:host([expanded]) .content {
  grid-template-columns: 1fr;
  opacity: 1;
}
