@import './css/mds-pref-theme-fouc.css';

:host {
  display: grid;
  gap: --spacing(400);
}

.mds-pref-theme-dropdown {
  gap: --spacing(100);
  padding: --spacing(400);
}

.item {
  --mds-tab-item-default-color: rgb(var(--magma-text-disabled));

  flex-basis: 0;
  flex-grow: 1;
}

.item--theme {
  cursor: pointer;
}

.item--auto,
.item--theme {
  --mds-tab-item-selected-color: rgb(var(--magma-text-muted));
}
