@tailwind utilities;

:host {

  @apply gap-100;

  display: grid;
}

.item {

  --mds-tab-item-color: theme('colors.tone-neutral-04');

  flex-basis: 0;
  flex-grow: 1;
}

.item--system {

  --mds-tab-item-color-selected: theme('colors.tone-neutral-03');
}

.item--light {

  --mds-tab-item-color-selected: theme('colors.label-yellow-06');
}

.item--dark {

  --mds-tab-item-color-selected: theme('colors.label-sky-06');
}
