@import './css/mds-pref-theme-fouc.css';

/*
 * @prop --mds-pref-theme-overlay-fadeout-duration: Sets the fadeout duration of the overlay which hides UI color flash on theme change
 * @prop --mds-pref-theme-overlay-show-duration: Sets the show duration of the overlay which hides UI color flash on theme change
 * @prop --mds-pref-theme-overlay-z-index: Sets the z-index of the overlay which hides UI color flash on theme change
 */

@property --mds-pref-theme-overlay-fadeout-duration {
  inherits: false;
  initial-value: 200ms;
  syntax: '<time>';
}

@property --mds-pref-theme-overlay-show-duration {
  inherits: false;
  initial-value: 300ms;
  syntax: '<time>';
}

@property --mds-pref-theme-overlay-z-index {
  inherits: false;
  initial-value: var(--magma-theme-overlay-z-index, 6000);
  syntax: '<integer>';
}

:host {
  --mds-pref-theme-overlay-fadeout-duration: 200ms;
  --mds-pref-theme-overlay-show-duration: 300ms;
  --mds-pref-theme-overlay-z-index: var(--magma-theme-overlay-z-index, 6000);

  display: grid;
  gap: --spacing(100);
}

.item {
  --mds-tab-item-default-color: rgb(var(--tone-neutral-05));

  flex-basis: 0;
  flex-grow: 1;
}

.item--system {
  --mds-tab-item-selected-color: rgb(var(--tone-neutral-03));
}

.item--light {
  --mds-tab-item-selected-color: rgb(var(--label-yellow-06));
}

.item--dark {
  --mds-tab-item-selected-color: rgb(var(--label-sky-06));
}

@import './css/mds-pref-theme-pref-contrast.css';
