@tailwind utilities;

/**
  * @prop --background-active: Sets the background-color of the progress bar when the item is selected
  * @prop --color: Sets the text color of the component
  * @prop --thickness: Sets thickness of the progress bar
  */

:host {

  @apply
    duration-500
    ease-out-expo
    grid
    py-4
    relative
    transition-cosmetic;

  color: var(--color, theme('colors.adjust-tone-02'));
}

:host ( :hover:not(.active) ) .progress-bar {

  --background-active: theme('colors.adjust-tone-07');
}

.row {
  @apply
    flex
    gap-4;
}

.accordion {
  @apply grid;
}

.progress-bar {
  @apply shrink-0;

  --thickness: theme('width.1');
}

.header {
  @apply cursor-pointer;
}

:host ( .active ) .header {
  @apply cursor-auto;
}

.contents {
  @apply
    duration-300
    ease-out-quad
    gap-4
    grid
    h-0
    opacity-0
    overflow-hidden
    pt-0
    transition-cosmetic;
}

.contents--opened {
  @apply
    h-auto
    opacity-100
    pt-4;
}
