@import url('../../tailwind/components.css');
@tailwind components;
@tailwind utilities;

/**
* @prop --mds-accordion-timer-item-progress-bar-color: Sets the color of the progress bar when the item is selected
* @prop --mds-accordion-timer-item-progress-bar-background: Sets the background-color of the progress bar when the item is selected
* @prop --mds-accordion-timer-item-color: Sets the text color of the component
* @prop --mds-accordion-timer-item-progress-bar-thickness: Sets thickness of the progress bar
* @prop --mds-accordion-timer-item-duration: Sets the transition duration of open/close animation
*/

:host {

  --mds-accordion-timer-item-progress-bar-color: var(--mds-accordion-timer-progress-bar-color, theme('colors.tone-neutral-03'));
  --mds-accordion-timer-item-progress-bar-background: var(--mds-accordion-timer-progress-bar-background, theme('colors.tone-neutral-08'));
  --mds-accordion-timer-item-progress-bar-thickness: var(--mds-accordion-timer-progress-bar-thickness, theme('width.1'));
  --mds-accordion-timer-item-duration: var(--mds-accordion-timer-duration, 500ms);

  @apply
    duration-500
    ease-out-expo
    grid
    py-4
    relative
    transition-cosmetic;

  color: var(--mds-accordion-timer-item-color, theme('colors.tone-neutral-02'));
}

.row {
  @apply
    flex
    gap-4;
}

.accordion {
  @apply grid;
}

.progress-bar {
  @apply shrink-0;

  --mds-progress-color: var(--mds-accordion-timer-item-progress-bar-color);
  --mds-progress-background: var(--mds-accordion-timer-item-progress-bar-background);
  --mds-progress-thickness: var(--mds-accordion-timer-item-progress-bar-thickness);
}

.action {
  @apply
    bg-transparent
    border-none
    cursor-pointer
    p-0
    rounded-xl
    text-left;
}

:host( [selected] ) .action {
  @apply cursor-auto;
}

.contents {
  @apply
    ease-in-out-expo
    gap-4
    grid
    min-h-0
    opacity-0
    overflow-hidden
    pt-0;

  grid-template-rows: 0fr;
  transition-duration: var(--mds-accordion-timer-item-duration);
  transition-property: grid-template-rows opacity padding;
}

.contents-expander {
  min-height: 0;
}

:host( [selected] ) .contents {
  @apply
    opacity-100
    pt-4;

  grid-template-rows: 1fr;
}
