@tailwind components;
@tailwind utilities;
@import '../../tailwind/components.css';

/**
  * @prop --mds-accordion-timer-item-progress-bar-color: Sets the color of the progress bar when the item is selected
  * @prop --mds-accordion-timer-item-progress-bar-background: Sets the background-color of the progress bar when the item is selected
  * @prop --mds-accordion-timer-item-color: Sets the text color of the component
  * @prop --mds-accordion-timer-item-progress-bar-thickness: Sets thickness of the progress bar
  */

:host {
  --mds-accordion-timer-item-progress-bar-color: theme('colors.tone-neutral-03');
  --mds-accordion-timer-item-progress-bar-background: theme('colors.tone-neutral-08');
  --mds-accordion-timer-item-progress-bar-thickness: theme('width.1');

  @apply
    duration-500
    ease-out-expo
    grid
    py-4
    relative
    transition-cosmetic;

  color: var(--mds-accordion-timer-item-color, theme('colors.tone-neutral-02'));
}

.row {
  @apply
    flex
    gap-4;
}

.accordion {
  @apply grid;
}

.progress-bar {
  @apply shrink-0;

  --mds-progress-color: var(--mds-accordion-timer-item-progress-bar-color);
  --mds-progress-background: var(--mds-accordion-timer-item-progress-bar-background);
  --mds-progress-thickness: var(--mds-accordion-timer-item-progress-bar-thickness);
}

.action {
  @apply
    bg-transparent
    border-none
    cursor-pointer
    p-0
    rounded-xl
    text-left;
}

:host ( [active] ) .action {
  @apply cursor-auto;
}

.contents {
  @apply
    duration-300
    ease-out-quad
    gap-4
    grid
    h-0
    opacity-0
    overflow-hidden
    pt-0
    transition-cosmetic;
}

:host ( [active] ) .contents {
  @apply
    h-auto
    opacity-100
    pt-4;
}
