@import './css/mds-price-table-list-item-fouc.css';

/**
 * @prop --mds-price-table-list-item-supported-icon-color-hover: Color of the supported icon in a list item on hover.
 * @prop --mds-price-table-list-item-supported-icon-color: Default color of the supported icon in a list item.
 * @prop --mds-price-table-list-item-unsupported-icon-color-hover: Color of the unsupported icon in a list item on hover.
 * @prop --mds-price-table-list-item-unsupported-icon-color: Default color of the unsupported icon in a list item.
 */

@property --mds-price-table-list-item-supported-icon-color-hover {
  inherits: false;
  initial-value: rgb(var(--label-green-05));
  syntax: "<color>";
}

@property --mds-price-table-list-item-supported-icon-color {
  inherits: false;
  initial-value: rgb(var(--label-green-06));
  syntax: "<color>";
}

@property --mds-price-table-list-item-unsupported-icon-color-hover {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-04));
  syntax: "<color>";
}

@property --mds-price-table-list-item-unsupported-icon-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-05));
  syntax: "<color>";
}

:host {
  --mds-price-table-list-item-supported-icon-color-hover: rgb(var(--label-green-05));
  --mds-price-table-list-item-supported-icon-color: rgb(var(--label-green-06));
  --mds-price-table-list-item-unsupported-icon-color-hover: rgb(var(--tone-neutral-04));
  --mds-price-table-list-item-unsupported-icon-color: rgb(var(--tone-neutral-05));

  @apply gap-100;

  align-items: flex-start;
  display: flex;
}

.text {
  flex-grow: 1;
}

.icon-container {
  flex-shrink: 0;
}

.icon {
  @apply ease-out-expo
  h-600
  svg
  w-600;

  fill: var(--mds-price-table-list-item-unsupported-icon-color);
  transition-duration: var(--duration-500);
  transition-property: fill;
}

:host([supported]:not([supported='false'])) .icon {
  fill: var(--mds-price-table-list-item-supported-icon-color);
}

