@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

:host {

  --mds-price-table-list-item-supported-icon-color: theme('colors.label-green-06');
  --mds-price-table-list-item-unsupported-icon-color: rgb(var(--theme-default-04-primary-decoration));

  @apply gap-1;

  align-items: flex-start;
  display: flex;
}

.text {
  flex-grow: 1;
}

.icon-container {
  flex-shrink: 0;
}

.icon {
  @apply
    duration-500
    ease-out-expo
    h-6
    transition-colors
    w-6;

  fill: var(--mds-price-table-list-item-unsupported-icon-color);
}

:host([supported]:not([supported="false"])) .icon {
  fill: var(--mds-price-table-list-item-supported-icon-color);
}
