:host-context(:root:not(.pref-theme-scheme-light).pref-theme-dark) {
  .item {
    --mds-tab-item-default-color: rgb(var(--tone-neutral-01));
  }

  .item--system {
    --mds-tab-item-selected-color: rgb(var(--tone-neutral-03));
  }

  .item--light {
    --mds-tab-item-selected-color: rgb(var(--label-yellow-03));
  }

  .item--dark {
    --mds-tab-item-selected-color: rgb(var(--label-sky-03));
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(:root:not(.pref-theme-scheme-light).pref-theme-system),
  :host-context(:root:not([data-magma-pref])) {
    .item {
      --mds-tab-item-default-color: rgb(var(--tone-neutral-01));
    }

    .item--system {
      --mds-tab-item-selected-color: rgb(var(--tone-neutral-03));
    }

    .item--light {
      --mds-tab-item-selected-color: rgb(var(--label-yellow-03));
    }

    .item--dark {
      --mds-tab-item-selected-color: rgb(var(--label-sky-03));
    }
  }
}
