:root {

  --color-light: 255, 255, 255;
  --color-primary: 74, 63, 57;
  --color-secondary: 31, 162, 202;
  --radius: 6px;
}

.countdown {
  display: none;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
}

.countdown--initialized {
  display: grid;
}

.countdown--small {
  grid-template-columns: repeat(3, 1fr);
}

.countdown--small .countdown__item--hours {
  background-color: rgb(var(--color-secondary));
}

.countdown__item {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-light));
  display: grid;
  font-size: 28px;
  font-weight: 700;
  grid-gap: 0;
  min-height: 100px;
  text-align: center;
}

.countdown__item--days {
  background-color: rgb(var(--color-secondary));
}

.countdown__item:first-child {
  border-radius: var(--radius) 0 0 var(--radius);
}

.countdown__item:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}

.countdown__value {
  align-self: end;
}

.countdown__unit {
  color: rgba(var(--color-light), 0.7);
  font-size: 14px;
  text-transform: uppercase;
}
