@import '~@maggioli-design-system/styles/scss/import-framework';

$size: 16px;

.checklist-item {
  color: color('adjust.tone', '10');
  display: flex;

  &__icon {
    color: color('adjust.tone', '10');
    font-size: $size !important;
    line-height: $size !important;
  }

  &__text {
    line-height: $size !important;
  }

  &--checked {
    color: color('adjust.tone', '04');

    .checklist-item {
      &__icon {
        color: color('status.success', '10');
      }
    }
  }
}
