@import '~@maggioli-design-system/styles/scss/import-framework';

.checklist-item {
  color: color('adjust.tone', '10');
  display: flex;

  &__icon {
    color: color('adjust.tone', '10');
    line-height: 16px !important;
  }

  &__text {
    line-height: 16px !important;
  }

  &--checked {
    color: color('adjust.tone', '04');

    .checklist-item {
      &__icon {
        color: color('status.success', '10');
      }
    }
  }
}
