@import '~@maggioli-design-system/styles/scss/import-framework';

$dot-size: s(1);
$padding-size: s(0.25);
$track: (
  'focused': color('brand.maggioli'),
  'hover': color('adjust.tone', '08'),
  'radius': 100px,
  'unfocused': color('adjust.tone', '10'),
);

%track {
  background-color: get($track, 'unfocused');
  border: 0;
  border-radius: get($track, 'radius');
  padding: $padding-size;
  transition: background-color get($tween, 'hover');
  width: 100%;

  &:hover {
    background-color: get($track, 'hover');
  }

  &:focus {
    background-color: get($track, 'focused');
  }
}

$thumb: (
  'focused': color('adjust.tone', '12'),
  'hover': color('adjust.tone', '12'),
  'size': s(1),
  'unfocused': color('adjust.tone', '15'),
);

%thumb {
  background-color: get($thumb, 'unfocused');
  border: 0;
  border-radius: 200px;
  box-shadow: 0 0 0 0 get($track, 'unfocused');
  cursor: pointer;
  height: get($thumb, 'size');
  transition: background-color get($tween, 'hover'), box-shadow get($tween, 'hover'), transform get($tween, 'hover');
  width: get($thumb, 'size');

  &:hover {
    background-color: get($thumb, 'hover');
    box-shadow: 0 0 0 s(0.5) get($track, 'hover');
  }

  &:focus {
    background-color: get($thumb, 'focused');
    box-shadow: 0 0 0 s(0.5) get($track, 'focused');
  }
}

.range {
  // sass-lint:disable no-vendor-prefixes
  background-color: transparent;
  width: 100%;

  &:focus {
    outline: none;
  }

  @supports (-webkit-appearance: none) {
    & {
      appearance: none;
    }

    &::-webkit-slider-thumb {

      @extend %thumb;

      appearance: none;
    }

    &::-webkit-slider-runnable-track {

      @extend %track;

      appearance: none;
    }
  }

  @supports (-moz-appearance: none) {
    & {
      appearance: none;
    }

    &::-moz-range-thumb {

      @extend %thumb;

      appearance: none;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &::-moz-range-track {

      @extend %track;

      appearance: none;
      height: $dot-size;
    }
  }
}
