@tailwind utilities;

/**
  * @prop --mds-spinner-duration: Sets the duration of the icon animation
  */

:host {

  --mds-spinner-duration: 0.725s;

  @apply
    duration-300
    ease-in-out-quart
    h-12
    inline-flex
    items-center
    justify-center
    text-brand-maggioli-03
    w-12;

  transform: scale(0);
  transition-property: transform;
}

:host ([running]:not([running=false])) {
  @apply
    duration-700
    ease-in-out-expo;

  transform: scale(1);
}

.await-icon {
  @apply
    animate-spin
    aspect-square
    duration-300
    ease-out
    flex
    shrink-0
    w-full;

  animation-duration: var(--mds-spinner-duration);
  animation-play-state: paused;
  stroke: currentcolor;
  transition-property: stroke;
}

:host ([running]:not([running=false])) .await-icon {
  animation-play-state: running;
}
