/**
 * @prop --mds-spinner-duration: Duration of the spinner animation.
 */

@property --mds-spinner-duration {
  inherits: false;
  initial-value: 0.725s;
  syntax: "<time>";
}

:host {
  --mds-spinner-duration: 0.725s;

  @apply
    duration-300
    ease-in-out-quart
    h-1200
    w-1200;

  align-items: center;
  color: rgb(var(--variant-primary-03));
  display: inline-flex;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition-property: opacity, transform;
}

:host([running]) {
  @apply
    duration-700
    ease-in-out-expo;

  opacity: 1;
  transform: scale(1);
}

.await-icon {
  @apply
    animate-spin
    aspect-square
    duration-300
    ease-out
    w-full;

  animation-duration: var(--mds-spinner-duration);
  animation-play-state: paused;
  display: flex;
  flex-shrink: 0;
  stroke: currentcolor;
  transition-property: stroke;
}

.await-icon svg {
  width: 100%;
}

:host([running]) .await-icon {
  animation-play-state: running;
}

@import './css/mds-spinner-pref-animation.css';
@import './css/mds-spinner-pref-contrast.css';
@import '../../tailwind/fouc.css';
