@import '~@maggioli-design-system/styles/scss/import-framework';

@mixin modifier ($modifier, $value) {
  &--size-#{$modifier} {
    height: $value;
    width: $value;
  }
}

.avatar {
  border-radius: 500px;

  @each $size, $value in $avatar-sizes {
    @include modifier($modifier: $size, $value: $value);
  }
}
