@tailwind utilities;

/*
  * @prop --background-disabled: Sets the background-color of the item when is disabled
  * @prop --background-hover: Sets the background-color of the item when the mouse is over it
  * @prop --background-selected: Sets the background-color of the item when is selected
  * @prop --background: Sets the background-color of the pages area and the item
  * @prop --color-disabled: Sets the color of the item when is disabled
  * @prop --color-hover: Sets the text color of the item when the mouse is over it
  * @prop --color-selected: Sets the text color of the item when is selected
  * @prop --color: Sets the text color of the component
  * @prop --radius: Sets the border-radius of the component
  * @prop --shadow-disabled: Sets the box-shadow of the item when is disabled
  * @prop --shadow-hover: Sets the box-shadow of the item when the mouse is over it
  * @prop --shadow-selected: Sets the box-shadow of the item when is selected
  * @prop --shadow: Sets the box-shadow of the component
  * @prop --size: Sets the height and the min-width of the paginator item
  */

mds-paginator-item {
  @apply
    box-border
    cursor-pointer
    flex-shrink-0
    inline-flex
    items-center
    justify-center
    px-3
    select-none;

  background-color: var(--background, theme('colors.adjust-tone-09'));
  border-radius: var(--radius, 200px);
  box-shadow: var(--shadow, none);
  color: var(--color, theme('colors.adjust-tone-02'));
  height: var(--size, theme('spacing.9'));
  min-width: var(--size, theme('spacing.9'));
}

mds-paginator-item:hover {
  background-color: var(--background-hover, theme('colors.adjust-tone-08'));
  box-shadow: var(--shadow-hover, none);
  color: var(--color-hover, theme('colors.adjust-tone-02'));
}

mds-paginator-item.active {
  @apply pointer-events-none;

  background-color: var(--background-selected, theme('colors.brand-maggioli-03'));
  box-shadow: var(--shadow-selected, theme('boxShadow.sharp-md'));
  color: var(--color-selected, theme('colors.adjust-tone'));
}

mds-paginator-item.disabled {
  @apply pointer-events-none;

  background-color: var(--background-disabled, theme('colors.adjust-tone-09'));
  box-shadow: var(--shadow-disabled, none);
  color: var(--color-disabled, theme('colors.adjust-tone-06'));
}

.icon {
  @apply px-0;
}
