@import '../../tailwind/fouc.css';

:host {
  align-items: center;
  background-color: var(--mds-card-background);
  display: flex;
  flex-grow: 1;
  gap: --spacing(400);
  justify-content: flex-end;
  min-width: 0;
  padding: --spacing(400);
}
