@import '../../tailwind/components.css';
@import '~@maggioli-design-system/styles/dist/tailwind/typography.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/**
  * @prop --mds-button-background: Sets the background-color of the component
  * @prop --mds-button-border-color: Sets the border-color of the component
  * @prop --mds-button-color: Sets the text color of the component
  * @prop --mds-button-icon-color: Sets the icon color of the component
  * @prop --mds-button-radius: Sets the border-radius of the component
  */

:host {

  --mds-button-background: theme('colors.brand-maggioli-02');
  --mds-button-border-color: transparent;
  --mds-button-color: theme('colors.tone-neutral');
  --mds-button-icon-color: var(--mds-button-color);
  --mds-button-outline-blur-offset: var(--magma-outline-blur-offset, 6px);
  --mds-button-outline-blur: var(--magma-outline-blur, 2px solid transparent);
  --mds-button-outline-focus-offset: var(--magma-outline-focus-offset, 2px);
  --mds-button-outline-focus: var(--magma-outline-focus, 2px solid theme('colors.label-sky-05'));
  --mds-button-radius: theme('borderRadius.lg');

  @apply
    box-border
    cursor-pointer
    duration-200
    ease-out
    focus-off
    gap-2
    inline-flex
    items-center
    justify-center
    px-6
    py-2
    relative;

  background-color: var(--mds-button-background);
  border-color: var(--mds-button-border-color) !important;
  border-radius: var(--mds-button-radius, theme('borderRadius.lg'));
  border-style: solid;
  border-width: theme('borderWidth.2') !important;
  color: var(--mds-button-color);
  transition-property: background-color, border-color, box-shadow, color, transform, outline, outline-offset;
}

:host (:focus-visible) {
  @apply focus-on;
}

.text {
  @apply
    min-w-0
    select-none
    truncate;
}

.text::first-letter {
  @apply uppercase;
}

.icon {
  @apply
    inline-flex
    items-center
    justify-center
    transition-colors;

  fill: var(--mds-button-icon-color);
}

@import './css/mds-button-variant-primary.css';
@import './css/mds-button-variant-dark.css';
@import './css/mds-button-variant-light.css';
@import './css/mds-button-variant-error.css';
@import './css/mds-button-variant-warning.css';
@import './css/mds-button-variant-info.css';
@import './css/mds-button-variant-success.css';
@import './css/mds-button-size.css';
