@import '~@maggioli-design-system/styles/dist/tailwind/typography.css';

@tailwind components;
@tailwind utilities;

:host {

  @apply
    cursor-pointer
    duration-500
    ease-out-expo
    gap-2
    inline-flex
    items-center
    justify-center
    px-6
    py-2
    transition-colors;

  background-color: var(--background-color, theme('colors.brand-maggioli-02'));
  border-color: var(--border-color, transparent) !important;
  border-radius: var(--border-radius, theme('borderRadius.lg'));
  border-width: theme('borderWidth.2') !important;
  color: var(--color, theme('colors.adjust-tone'));
}

.text {
  @apply
    min-w-0
    select-none
    truncate;
}

.text::first-letter {
  @apply uppercase;
}

@import './css/mds-button-variant-primary.css';
@import './css/mds-button-variant-dark.css';
@import './css/mds-button-variant-light.css';
@import './css/mds-button-variant-error.css';
@import './css/mds-button-variant-warning.css';
@import './css/mds-button-variant-info.css';
@import './css/mds-button-variant-success.css';
@import './css/mds-button-size.css';
