@import '~@maggioli-design-system/styles/dist/css/animations.css';
@import '../../tailwind/fouc.css';

/**
 * @prop --mds-button-await-duration: Sets the duration of the rotation of the spinner await component
 * @prop --mds-button-background: Sets the background-color of the component
 * @prop --mds-button-border-color-rgb: Sets the color of the border of the component (based on box-shadow declaration)
 * @prop --mds-button-border-default-opacity: Sets the default opacity of the border color of the component (based on box-shadow declaration)
 * @prop --mds-button-border-high-contrast-hover-width: Sets the width of the border when the component is hovered and the contrast is high (based on box-shadow declaration)
 * @prop --mds-button-border-high-contrast-width: Sets the width of the border of the component and the contrast is high (based on box-shadow declaration)
 * @prop --mds-button-border-hover-opacity: Sets the opacity of the border color when the component is hovered (based on box-shadow declaration)
 * @prop --mds-button-border-opacity: Sets the border opacity of the component (based on box-shadow declaration)
 * @prop --mds-button-border-tone-outline-hover-width: Sets the width of the border when the component is hovered when the tone is set to `ghost` (based on box-shadow declaration)
 * @prop --mds-button-border-tone-strong-hover-width: Sets the width of the border when the component is hovered when the tone is set to `strong` (based on box-shadow declaration)
 * @prop --mds-button-border-tone-weak-hover-width: Sets the width of the border when the component is hovered when the tone is set to `weak` (based on box-shadow declaration)
 * @prop --mds-button-border-width: Sets the border width of the component (based on box-shadow declaration)
 * @prop --mds-button-color: Sets the text color of the component
 * @prop --mds-button-gap: Sets the distance betwen element inside the components, use it instead of setting gap property directly.
 * @prop --mds-button-radius: Sets the border-radius of the component
 */

@property --mds-button-await-duration {
  inherits: true;
  initial-value: 0.725s;
  syntax: "<time>";
}

@property --mds-button-background {
  inherits: true;
  initial-value: rgb(var(--variant-primary-02));
  syntax: "<color>";
}

@property --mds-button-border-color-rgb {
  inherits: true;
  initial-value: 0 0 0;
  syntax: "<number>+";
}

@property --mds-button-border-hover-opacity {
  inherits: true;
  initial-value: 0.75;
  syntax: "<number>";
}

@property --mds-button-border-tone-strong-hover-width {
  inherits: true;
  initial-value: 0.0625rem;
  syntax: "<length>";
}

@property --mds-button-border-tone-outline-hover-width {
  inherits: true;
  initial-value: 3px;
  syntax: "<length>";
}

@property --mds-button-border-tone-weak-hover-width {
  inherits: true;
  initial-value: 0.0625rem;
  syntax: "<length>";
}

@property --mds-button-border-high-contrast-width {
  inherits: true;
  initial-value: 0.125rem;
  syntax: "<length>";
}

@property --mds-button-border-high-contrast-hover-width {
  inherits: true;
  initial-value: 3px;
  syntax: "<length>";
}

@property --mds-button-border-default-opacity {
  inherits: true;
  initial-value: 0;
  syntax: "<number>";
}

@property --mds-button-border-opacity {
  inherits: true;
  initial-value: 0;
  syntax: "<number>";
}

@property --mds-button-border-width {
  inherits: true;
  initial-value: 0.125rem;
  syntax: "<length>";
}

@property --mds-button-color {
  inherits: true;
  initial-value: rgb(var(--tone-neutral));
  syntax: "<color>";
}

@property --mds-button-gap {
  inherits: true;
  initial-value: 0.5rem;
  syntax: "<length>";
}

@property --mds-button-line-clamp {
  inherits: true;
  initial-value: 1;
  syntax: "<integer>";
}

@property --mds-button-radius {
  inherits: true;
  initial-value: var(--radius-xs);
  syntax: "<length>";
}

:host {
  --mds-button-await-duration: 0.725s;
  --mds-button-background: rgb(var(--mds-button-border-color-rgb));
  --mds-button-border-color-rgb: var(--variant-primary-02);
  --mds-button-border-hover-opacity: 0.75;
  --mds-button-border-high-contrast-hover-width: 3px;
  --mds-button-border-high-contrast-width: --spacing(50);
  --mds-button-border-tone-outline-hover-width: 3px;
  --mds-button-border-tone-outline-opacity: 0.3;
  --mds-button-border-tone-strong-hover-width: --spacing(50);
  --mds-button-border-tone-weak-hover-width: --spacing(50);
  --mds-button-border-default-opacity: 0;
  --mds-button-border-opacity: 0;
  --mds-button-border-width: --spacing(50);
  --mds-button-color: rgb(var(--tone-neutral));
  --mds-button-gap: --spacing(200);
  --mds-button-line-clamp: 1;
  --mds-button-radius: var(--radius-md);

  @apply
    duration-200
    focus-bounce;

  align-items: center;
  background-color: var(--mds-button-background);
  border-radius: var(--mds-button-radius);
  box-shadow: 0 0 0 var(--mds-button-border-width) rgb(var(--mds-button-border-color-rgb) / var(--mds-button-border-opacity));
  box-sizing: border-box;
  color: var(--mds-button-color);
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  gap: var(--mds-button-gap);
  justify-content: center;
  padding: --spacing(200) --spacing(300);
  position: relative;
  transition-property: background-color, border-color, box-shadow, color, outline, outline-offset, padding-left, padding-right, transform;
  transition-timing-function: var(--ease-out-quad);
  user-select: none;
}

:host(:focus-visible) {
  @apply focus-bounce--focused;

  z-index: 10;
}

.text {
  --mds-text-line-clamp: var(--mds-button-line-clamp);
}

.text::first-letter {
  text-transform: uppercase;
}

.icon {
  align-items: center;
  display: inline-flex;
  fill: inherit;
  flex-shrink: 0;
  justify-content: center;
  pointer-events: none;
  transition-duration: var(--duration-300);
  transition-property: fill;
  transition-timing-function: var(--ease-in-out-quad);
}

@import './css/mds-button-button-group.css';
@import './css/mds-button-await.css';
@import './css/mds-button-disabled.css';
@import './css/mds-button-size.css';
@import './css/mds-button-no-text.css';
@import './css/mds-button-variant-dark.css';
@import './css/mds-button-variant-ai-contrast.css';
@import './css/mds-button-variant-ai.css';
@import './css/mds-button-variant-error-contrast.css';
@import './css/mds-button-variant-error.css';
@import './css/mds-button-variant-info-contrast.css';
@import './css/mds-button-variant-info.css';
@import './css/mds-button-variant-light.css';
@import './css/mds-button-variant-primary-contrast.css';
@import './css/mds-button-variant-primary.css';
@import './css/mds-button-variant-secondary-contrast.css';
@import './css/mds-button-variant-secondary.css';
@import './css/mds-button-variant-success-contrast.css';
@import './css/mds-button-variant-success.css';
@import './css/mds-button-variant-warning-contrast.css';
@import './css/mds-button-variant-warning.css';
@import './css/mds-button-tone.css';
@import './css/mds-button-variant-service.css';
@import './css/mds-button-pref-animation.css';
