@import '~Sass/import-framework';

$icon-size: s(2);
$border-size: 3px;

.accordion {
  background-color: color('adjust.tone', '18');
  border-radius: s(1);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 100%;
  overflow: hidden;

  &__header {
    align-items: flex-start;
    border-left: $border-size solid transparent;
    border-right: $border-size solid transparent;
    display: flex;
    padding: s(1);
  }

  &__icon {
    flex-shrink: 0;
    margin-right: s(0.5);
  }

  &__title {
    flex-grow: 1;
  }

  &__action {
    align-items: center;
    background-color: color('adjust.tone');
    border-radius: $icon-size;
    box-shadow: get($shadow, 'box');
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: $icon-size;
    justify-content: center;
    margin-left: s(1);
    transition: background-color get($tween, 'hover'), color get($tween, 'hover');
    width: $icon-size;

    &:hover {
      color: color('brand.maggioli', '05');
    }
  }

  &__body {
    background-color: color('adjust.tone', '19');
    border-left: $border-size solid transparent;
    border-right: $border-size solid transparent;
    height: 0;
    overflow: hidden;
    padding: 0 s(1);
    transition: height get($tween, 'slide'), padding get($tween, 'slide');
  }

  &__item {
    background-color: color('adjust.tone', '20');

    &--opened {
      > .accordion {
        &__header {
          background-color: color('adjust.tone', '19');
          border-left-color: color('brand.maggioli', '05');

          .accordion {
            &__title {
              color: color('brand.maggioli', '04');
            }

            &__action {
              background-color: color('brand-maggioli', '05');
              color: color('brand-maggioli', '20');
            }
          }
        }

        &__body {
          border-left-color: color('brand.maggioli', '05');
          height: auto;
          padding-bottom: s(1);
        }
      }
    }
  }
}
