@import './css/mds-radial-menu-item-fouc.css';

/**
 * @prop --mds-radial-menu-item-transition-duration: Duration of individual radial menu item transitions.
 * @prop --mds-radial-menu-item-transition-timing-function: Timing function for individual radial menu item transitions.
 */

@property --mds-radial-menu-item-transition-duration {
  inherits: false;
  initial-value: var(--mds-radial-menu-transition-duration, 500ms);
  syntax: '<time>';
}

/* ❌ Not supported
@property --mds-radial-menu-item-transition-timing-function {
  inherits: false;
  initial-value: var(--mds-radial-menu-transition-timing-function, var(--ease-out-expo));
  syntax: "<timing-function>";
}
*/

:host {
  --mds-radial-menu-item-transition-duration: var(--mds-radial-menu-transition-duration, 500ms);
  --mds-radial-menu-item-transition-timing-function: var(
    --mds-radial-menu-transition-timing-function,
    var(--ease-out-expo)
  );

  /* private */
  --mds-radial-menu-item-delay: 0;

  /* private */
  --mds-radial-menu-item-index: 0;

  display: inline-flex;
  inset: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  transition-delay: var(--mds-radial-menu-item-delay);
  transition-duration: var(--mds-radial-menu-item-transition-duration);
  transition-property: translate, transform;
  transition-timing-function: var(--mds-radial-menu-item-transition-timing-function);
  translate: var(--mds-radial-menu-item-translate);
}

:host(:hover) {
  z-index: 1;
}

.button {
  border-radius: 100%;
}

.tooltip {
  --mds-tooltip-delay: 0;

  min-width: max-content;
  width: min-content;
}
