:host-context(.pref-animation-reduce) {
  --mds-accordion-item-duration: var(--mds-accordion-duration, 0s);

  transition-duration: 0s;
}

:host-context(.pref-animation-reduce) .icon {
  transition-duration: 0s;
}

@media (prefers-reduced-motion) {
  :host-context(.pref-animation-system) {
    --mds-accordion-item-duration: var(--mds-accordion-duration, 0s);

    transition-duration: 0s;
  }

  :host-context(.pref-animation-reduce) .icon {
    transition-duration: 0s;
  }
}
