:host-context(:root.pref-animation-reduce) {
  --mds-accordion-item-duration: var(--mds-accordion-duration, 0s);

  transition-duration: 0s;
}

:host-context(:root.pref-animation-reduce) .icon {
  transition-duration: 0s;
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-accordion-item-duration: var(--mds-accordion-duration, 0s);

    transition-duration: 0s;

    .icon {
      transition-duration: 0s;
    }
  }
}
