:host {
  --mds-status-bar-max-width: 500px;
  --mds-status-bar-backdrop: rgb(var(--tone-neutral-01) / 0.1);
  --mds-status-bar-backdrop-filter: blur(10px);
}

mds-modal {
  --mds-modal-custom-window-distance: 0;
  --mds-modal-custom-closed-transform: translate(0, 100%);
}

.status-bar-area {
  backdrop-filter: var(--mds-status-bar-backdrop-filter);
  background-color: var(--mds-status-bar-backdrop);
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  margin-left: --spacing(600);
  margin-right: --spacing(600);
  padding: --spacing(200) --spacing(200) --spacing(600);
  transition-property: background-color, transform, opacity;
}

.status-bar {
  align-items: flex-start;
  background-color: rgb(var(--tone-neutral));
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  display: inline-flex;
  flex-wrap: wrap;
  gap: --spacing(400);
  max-width: var(--mds-status-bar-max-width);
  padding: --spacing(600);
}

.actions {
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: --spacing(400);
}

@media (width <= 480px) {
  .status-bar-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    padding: --spacing(400);
  }

  .actions {
    gap: --spacing(200);
  }

  ::slotted(*) {
    flex-grow: 1;
  }
}

@import '../../tailwind/fouc.css';
@import './css/mds-status-bar-pref-animation.css';
@import './css/mds-status-bar-pref-consumption.css';
@import './css/mds-status-bar-pref-contrast.css';
@import './css/mds-status-bar-pref-theme.css';
