@import '~Sass/import-framework';

.ds-menu {
  // margin: 0 s(-0.5);

  &__title {
    cursor: pointer;

    // padding: 0 s(0.5);

    &--main {
      cursor: default;
    }
  }

  &__child {
    color: color('adjust.tone', '10');
    position: relative;

    &::after {
      background-color: color('adjust.tone', '04');
      content: '';
      display: block;
      height: 2px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      transition: opacity get($tween, 'slide');
      width: 100%;
    }

    &--active {
      color: color('adjust.tone');

      &::after {
        opacity: 1;
      }
    }
  }

  &__list {
    display: none;
  }

  &__item {
    transition: background-color get($tween, 'slide'), color get($tween, 'slide'), padding get($tween, 'slide');

    &--active {
      background-color: color('adjust.tone', '04');
      color: color('adjust.tone');
      padding: s(0.25) s(0.5);

      .ds-menu {
        &__list {
          display: grid;
        }
      }
    }
  }
}
