@import '~Sass/import-framework';

$radius: s(0.25);
$gap: 2px;
$line-height: 25px;

.ds-menu {
  grid-gap: $gap;

  &__title {
    color: color('adjust.tone', '02');
    cursor: default;
  }

  &__child {
    color: color('adjust.tone', '10');
  }

  &__list {
    display: none;
    grid-gap: $gap;
  }
}

.ds-menu-item {
  grid-gap: $gap;
  transition: background-color get($tween, 'slide'), color get($tween, 'slide'), padding get($tween, 'slide');

  &__section {
    line-height: 0;
  }

  &__list {
    display: none;
    grid-gap: $gap;
    line-height: 0;
  }

  &--opened {
    border-left: 2px solid color('adjust.tone', '04');

    .ds-menu-item {
      &__list {
        display: grid;
      }

      &__title {

        @extend %selected-section-title;

        border-radius: 0 $radius $radius 0;
      }
    }
  }

  &__title {
    border-radius: $radius;
    color: color('adjust.tone', '02');
    cursor: pointer;
    display: inline-flex;
    line-height: $line-height;
    padding: s(0.25) s(0.5) s(0.25) 0;
    transition: background-color get($tween, 'hover'), padding-left get($tween, 'hover');

    &:hover {

      @extend %hover-section-title;
    }
  }

  &--selected {
    .ds-menu-item {
      &__title {

        @extend %selected-section-title;
      }
    }
  }
}

.ds-menu-child {
  &__title {
    border-radius: 0 $radius $radius 0;
    color: color('adjust.tone', '02');
    cursor: pointer;
    display: inline-flex;
    line-height: $line-height;
    padding: s(0.25) s(0.5) s(0.25) s(0.5);
    transition: background-color get($tween, 'hover'), padding-left get($tween, 'hover');

    &:hover {

      @extend %hover-child-title;
    }
  }

  &--selected {
    .ds-menu-child {
      &__title {

        @extend %selected-child-title;
      }
    }
  }
}

%hover-section-title {
  background-color: color('adjust.tone', '18');
  padding-left: s(0.5);
}

%selected-section-title {
  background-color: color('adjust.tone', '03');
  color: color('adjust.tone');
  padding-left: s(0.5);
}

%hover-child-title {
  background-color: color('adjust.tone', '18');
  padding-left: s(1);
}

%selected-child-title {
  background-color: color('adjust.tone', '03');
  color: color('adjust.tone');
  padding-left: s(1);
}
