/*
:root,
:root.pref-theme-dark {

  --variant-base-01: var(--tone-zinc-01);
  --variant-base-02: var(--tone-zinc-02);
  --variant-base-03: var(--tone-zinc-03);
  --variant-base-04: var(--tone-zinc-04);
  --variant-base-05: var(--tone-zinc-05);
  --variant-base-06: var(--tone-zinc-06);
  --variant-base-07: var(--tone-zinc-07);
  --variant-base-08: var(--tone-zinc-08);
  --variant-base-09: var(--tone-zinc-09);
  --variant-base-10: var(--tone-zinc-10);
  --variant-base: var(--tone-zinc);
}

@media (prefers-color-scheme: dark) {
  :root.pref-theme-system {

    --variant-base-01: var(--tone-zinc-01);
    --variant-base-02: var(--tone-zinc-02);
    --variant-base-03: var(--tone-zinc-03);
    --variant-base-04: var(--tone-zinc-04);
    --variant-base-05: var(--tone-zinc-05);
    --variant-base-06: var(--tone-zinc-06);
    --variant-base-07: var(--tone-zinc-07);
    --variant-base-08: var(--tone-zinc-08);
    --variant-base-09: var(--tone-zinc-09);
    --variant-base-10: var(--tone-zinc-10);
    --variant-base: var(--tone-zinc);
  }
}
*/
