:host-context(:root.pref-animation-reduce) {
  --mds-stepper-bar-scroll-behavior: auto;

  transition-duration: 0s;

  .contents,
  .items {
    transition-duration: 0s;
  }
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-stepper-bar-scroll-behavior: auto;

    transition-duration: 0s;

    .contents,
    .items {
      transition-duration: 0s;
    }
  }
}
