@import '~Sass/import-framework';

.code-snippet {
  background-color: color('adjust.tone', '15') !important;
  box-sizing: border-box;
  color: color('adjust.tone', '04') !important;
  display: flex;
  margin: s(1) 0;
  min-width: 100%;
  overflow: auto;
  padding: s(1) !important;
  width: 0;

  &__block {
    margin: 0;
    white-space: pre;
  }
}
