:host-context(.pref-contrast-more) {
  --mds-price-table-features-cell-icon-supported-color-hover: var(--color-label-green-01);
  --mds-price-table-features-cell-icon-supported-color: var(--color-label-green-02);
  --mds-price-table-features-cell-icon-unsupported-color-hover: var(--color-tone-neutral-02);
  --mds-price-table-features-cell-icon-unsupported-color: var(--color-tone-neutral-02);
  --mds-price-table-features-cell-border-color: var(--color-tone-neutral-04);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-price-table-features-cell-icon-supported-color-hover: var(--color-label-green-01);
    --mds-price-table-features-cell-icon-supported-color: var(--color-label-green-02);
    --mds-price-table-features-cell-icon-unsupported-color-hover: var(--color-tone-neutral-02);
    --mds-price-table-features-cell-icon-unsupported-color: var(--color-tone-neutral-02);
    --mds-price-table-features-cell-border-color: var(--color-tone-neutral-04);
  }
}
