:host-context(.pref-theme-dark) {
  --mds-price-table-features-cell-border-color: var(--color-tone-neutral-07);
  --mds-price-table-features-cell-icon-supported-color: var(--color-label-green-03);
  --mds-price-table-features-cell-icon-supported-color-hover: var(--color-label-green-02);
  --mds-price-table-features-cell-icon-unsupported-color-hover: var(--color-tone-neutral-04);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-price-table-features-cell-border-color: var(--color-tone-neutral-07);
    --mds-price-table-features-cell-icon-supported-color: var(--color-label-green-03);
    --mds-price-table-features-cell-icon-supported-color-hover: var(--color-label-green-02);
    --mds-price-table-features-cell-icon-unsupported-color-hover: var(--color-tone-neutral-04);
  }
}
