@import '../../../../scss/import';

$outline: 0 0 0 4px rgba(get($tint, 'brand-maggioli'), 0.075);
$outline-error: 0 0 0 4px rgba(get($tint, 'status-error'), 0.075);
$size: get($form, 'input-height');
$ease: get($tween, 'hover');

$color-brand: get($tint, 'brand-maggioli');

:root {
  --input-field-default-blur-border-color: transparent;
  --input-field-default-blur-color: #{get($tone, '2')};
  --input-field-default-blur-shadow: #{get($shadow, 'tiny')};
  --input-field-default-blur-icon: #{get($tone, '2')};
  --input-field-default-focus-border-color: #{$color-brand};
  --input-field-default-focus-color: #{get($tone, '1')};
  --input-field-default-focus-shadow: #{get($shadow, 'tiny')};
  --input-field-default-placeholder-blur-color: #{get($tone, '4')};
  --input-field-default-placeholder-focus-color: #{get($tone, '6')};

  --input-field-error-blur-border-color: #{mix(get($tone, '5'), get($tint, 'status-error'), 75%)};
  --input-field-error-focus-border-color: #{get($tint, 'status-error')};

  --input-label-default-color: #{get($tone, '2')};
  --input-radius-error: #{get($radius, 'normal')};
  --input-radius: #{get($radius, 'small')};
}

.input {
  display: block;
  margin-bottom: s(-1);
  position: relative;
  transition: margin-bottom $ease;
  width: 100%;

  &--has-icon {
    .input {
      &__field {
        padding-right: $size;
      }
    }
  }

  &--has-errors {
    margin-bottom: 0;

    .input {
      &__errors {
        display: block;
        transform: translate(0, 0);
      }

      &__field {
        border-color: var(--input-field-error-blur-border-color);
        border-radius: var(--input-radius) var(--input-radius) 0 0;

        &:focus {
          border-color: var(--input-field-error-focus-border-color);
          box-shadow: $outline-error;
        }
      }
    }
  }

  &__label {
    color: var(--input-label-default-color);
    margin-bottom: s(0.5);
  }

  &__field {
    border: 1px solid var(--input-field-default-blur-border-color);
    border-radius: var(--input-radius);
    box-shadow: var(--input-field-default-blur-shadow);
    color: var(--input-field-default-blur-color);
    height: $size;
    padding: 0 s(0.5);
    position: relative;
    transition: border-color $ease, border-radius $ease, box-shadow $ease;
    width: 100%;
    z-index: 1;

    &:focus {
      border-color: var(--input-field-default-focus-border-color);
      box-shadow: var(--input-field-default-focus-shadow);
      outline: 0;

      &::placeholder {
        color: var(--input-field-default-placeholder-focus-color);
      }
    }

    &::placeholder {
      color: var(--input-field-default-placeholder-blur-color);
      transition: color $ease;
    }
  }

  &__icon-area {
    align-items: center;
    display: flex;
    height: $size;
    justify-content: center;
    position: absolute;
    right: 0;
    width: $size;
    z-index: 2;
  }

  &__icon {
    color: var(--input-field-default-blur-icon);
  }

  &__errors {
    background-color: tts('status-error', '8', '5');
    border-radius: 0 0 var(--input-radius-error) var(--input-radius-error);
    margin: 0;
    padding: s(0.5);
    transform: translate(0, -100%);
    transition: transform $ease;
  }

  &__error {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  &__error-icon {
    margin-right: s(0.5);
  }
}
