$RECYCLE.BIN/
*.lock
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
.DS_Store
.cache/
.directory/
.env/
.idea/
.react/
.sass-cache/
.stencil/
.versions/
.vscode/
Thumbs.db
UserInterfaceState.xcuserstate
build/
coverage/
dist/
loader/
log.txt
node_modules/
projects/**/package-lock.json
projects/**/yarn.lock
www/
