!src/scss/variables/theme.scss
.DS_Store
.cache
.idea
.react
.vscode
/out*
/public/
/src/scss/variables/*.scss
/src/style-dictionary/build
/src/style-dictionary/properties/color
/storybook-static
build
dist
node_modules
*.log
