!yarn.lock
$RECYCLE.BIN/
**/dependency-check-report.xml
*.lock
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
.DS_Store
.cache/
.nova/
.directory/
.env/
.idea/
.nova/
.react/
.sass-cache/
.stencil/
.versions/
.vscode/
Thumbs.db
UserInterfaceState.xcuserstate
build/
coverage/
dist/
loader/
log.txt
node_modules/
projects/**/package-lock.json
projects/**/yarn.lock
projects/scripts/**/*.js
projects/stencil/assets/svg
www/
