:host([name="simi"]) {
  --mds-emoji-simi-eye-iris: #40281B;
  --mds-emoji-simi-eye-light: #FFFFFF;
  --mds-emoji-simi-eye-sclera: #FFFFFF;
  --mds-emoji-simi-eyebrow: #FEEFD8;
  --mds-emoji-simi-gadget: #2B1C15;
  --mds-emoji-simi-mouth: #2B1C15;
  --mds-emoji-simi-nose-light: #7E695F;
  --mds-emoji-simi-nose: #2B1C15;
  --mds-emoji-simi-outline: #2B1C15;
  --mds-emoji-simi-skin-dark: #C3481B;
  --mds-emoji-simi-skin-light: #FEEFD8;
  --mds-emoji-simi-skin: #F36320;
}
