:host([name="mia"]) {
  --mds-emoji-head: rgb(var(--variant-ai-08));
  --mds-emoji-eyes: rgb(var(--variant-ai-03));
  --mds-emoji-mouth: rgb(var(--variant-ai-06));
  --mds-emoji-hand: rgb(var(--variant-ai-06));
}
