@import '../../tailwind/fouc.css';

:host {
  display: inline-flex;
}

:host(:not([variant="icon"])) {
  container-name: mds-policy-ai;
  container-type: inline-size;
  width: 100%;
}

mds-button {
  justify-self: start;
}

@import './css/mds-policy-ai-banner.css';
@import './css/mds-policy-ai-card.css';
@import './css/mds-policy-ai-chip.css';
@import './css/mds-policy-ai-icon.css';
