@import '~@maggioli-design-system/styles/scss/import-framework';

$dot-size: s(1);
$padding-size: s(0.25);
$track: (
  'focused': color('adjust.tone', '06'),
  'hover': color('adjust.tone', '10'),
  'radius': 100px,
  'unfocused': color('adjust.tone', '12'),
);
$thumb: (
  'focused': color('adjust.tone', '20'),
  'hover': color('adjust.tone', '20'),
  'size': s(1),
  'unfocused': color('adjust.tone', '19'),
);

@mixin track {
  background-color: get($track, 'unfocused');
  border: 0;
  border-radius: get($track, 'radius');
  padding: $padding-size;
  transition: background-color get($tween, 'hover');
  width: 100%;

  &:hover {
    background-color: get($track, 'hover');
  }

  &:focus {
    background-color: get($track, 'focused');
  }
}

@mixin thumb {
  background-color: get($thumb, 'unfocused');
  border: 0;
  border-radius: 200px;
  box-shadow: 0 0 0 0 get($track, 'unfocused');
  cursor: pointer;
  height: get($thumb, 'size');
  transition: background-color get($tween, 'hover'), box-shadow get($tween, 'hover'), transform get($tween, 'hover');
  width: get($thumb, 'size');
}

.range {
  // sass-lint:disable no-vendor-prefixes
  background-color: transparent;
  width: 100%;

  &:focus {
    outline: none;
  }

  @supports (-moz-appearance: none) {
    appearance: none;

    &::-moz-range-thumb {

      @include thumb;

      appearance: none;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &::-moz-range-track {

      @include track;

      appearance: none;
      height: $dot-size;
    }
  }

  @supports (-webkit-appearance: none) {
    appearance: none;

    &::-webkit-slider-thumb {

      @include thumb;

      appearance: none;
    }

    &::-webkit-slider-runnable-track {

      @include track;

      appearance: none;
    }
  }
}
