@import '../../../scss/import';

$height: 60px;
$margin: s(1);

.nav-bar {
  align-items: center;
  background-color: get($brand, 'primary');
  color: get($tone, 'white');
  display: flex;
  height: $height;

  &__actions {
    margin-left: $margin;
  }

  &__logo {
    background-image: url('http://approfondimenti.maggiolicloud.it/public/images/logo-maggioli-editore-white.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    height: $height - s(0.5);
    margin: 0 s(0.5);
  }

  &__options {
    margin-right: $margin;
  }
}
