@tailwind utilities;

:host {
  @apply
    flex
    gap-1
    items-center;
}

.pages {
  @apply
    flex
    flex-shrink
    items-center
    overflow-auto
    mx-2
    p-2
    rounded-full;

  background-color: var(--background, theme('colors.adjust-tone-10'));
  scroll-behavior: smooth;

  /* scroll-snap-type: x mandatory; */
}

:host () .pages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pages::-webkit-scrollbar {
  display: none;
}
