@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;
/**
* @prop --mds-paginator-background: Sets the background-color of the pages area and the item
*/

:host {

  --mds-paginator-background: theme('colors.tone-neutral-09');

  @apply
    flex
    gap-1
    items-center;
}

.pages {
  @apply
    flex
    flex-shrink
    hide-scrollbar
    items-center
    mx-2
    overflow-auto
    p-2
    rounded-full
    scroll-smooth;

  background-color: var(--mds-paginator-background);
  gap: 2px;
}

.pages::-webkit-scrollbar {
  display: none;
}
