html {
  scroll-behavior: smooth;
}

body,
html {
  @apply m-0;
}

body {
  @apply
    antialiased
    font-info
    text-info-detail
    text-theme-default-03-secondary-text;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

::selection {
  background-color: var(--magma-selection-background, theme('colors.label-sky-09'));
  color: var(--magma-selection-color, theme('colors.label-sky-01'));
}

button,
optgroup,
select {
  @apply text-title-action;
}

input,
textarea {
  @apply appearance-none;

  font-family: inherit;
}

b,
strong {
  @apply
    font-semibold
    tracking-tight;
}

a {
  @apply text-theme-default-02-primary-text;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a,
aside,
body,
code,
div,
datalist,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
input,
li,
main,
section,
span,
ul,
textarea {
  @apply box-border;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0;
}
