html {
  scroll-behavior: smooth;
}

body,
html {
  @apply m-0;
}

body {
  @apply
    antialiased
    font-secondary
    text-adjust-tone-02
    typography-secondary-detail;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

button,
optgroup,
select {
  @apply
    antialiased
    font-medium
    font-primary
    leading-relaxed;
}

input,
textarea {
  @apply appearance-none;

  font-family: inherit;
}

b,
strong {
  @apply
    font-semibold
    tracking-tight;
}

a {
  @apply text-brand-maggioli-03;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a,
aside,
body,
code,
div,
datalist,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
input,
li,
main,
section,
span,
ul,
textarea {
  @apply box-border;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0;
}

::selection {
  @apply
    bg-brand-maggioli-09
    text-brand-maggioli-02;
}
