@tailwind components;

@layer components {
  .focusable {
    @apply
      duration-200
      ease-out;

    outline-offset: var(--outline-blur-offset, 6px);
    outline: var(--outline-blur, 2px solid transparent);
    transition-property: background-color, border-color, box-shadow, color, fill, outline, outline-offset, transform;
  }

  .focusable:focus-visible {
    outline-offset: var(--outline-focus-offset, 2px);
    outline: var(--outline-focus, 2px solid theme('colors.label-sky-05'));
  }
}
