@import '~@maggioli-design-system/styles/dist/tailwind/components.css';
@tailwind components;

@layer components {
  .svg {
    @apply flex;
  }

  .svg svg {
    @apply
      aspect-square
      h-full
      w-full;
  }

  .contrast,
  .contrast-50 {

    @apply duration-300;
  
    border-radius: inherit;
    box-shadow: theme('boxShadow.outline-50') inset;
    display: none;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition-behavior: allow-discrete;
    transition-property: display opacity;
  }

  .contrast {
    box-shadow: theme('boxShadow.outline') inset;
  }

  @container style(--magma-pref-contrast: more) {
    .contrast,
    .contrast-50 {
      display: block;
      opacity: 1;
  
      @starting-style {
        opacity: 0;
      }
    }
  }
  
  @container style(--magma-pref-contrast: system) {
  
    @media (prefers-contrast: more) {
      .contrast,
      .contrast-50 {
        display: block;
        opacity: 1;
  
        @starting-style {
          opacity: 0;
        }
      }
    }
  }

  @container style(--magma-pref-animation: reduce) {
    .contrast,
    .contrast-50 {
      transition-duration: 0s;
    }
  }
  
  @container style(--magma-pref-animation: system) {
  
    @media (prefers-reduced-motion) {
      .contrast,
      .contrast-50 {
        transition-duration: 0s;
      }
    }
  }
}
