:host(:not(:is([hydrated], .hydrated))) {
  animation-duration: 0s;
  border-color: transparent;
  box-shadow: none;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0s;
  visibility: hidden;
}
