@import '~@maggioli-design-system/styles/scss/import-framework';

$border-size: 2px;
$ease: get($tween, 'hover');
$border-radius: get($radius, 'small');

@mixin size-modifier ($item) {

  $modifier: nth($item, 1);
  $value: nth($item, 2);

  &--size-#{$modifier} {
    height: $value;
    min-width: $value;
  }
}

@mixin padding-modifier ($item) {

  $modifier: nth($item, 1);
  $value: nth($item, 2);

  &--padding-#{$modifier} {
    padding-left: $value;
    padding-right: $value;
  }
}

.button {

  --background: #{color('brand.maggioli', '04')};
  --border: 2px solid transparent;
  --color: #{color('adjust.tone')};

  align-items: center;
  background-color: var(--background);
  border: var(--border);
  border-radius: $border-radius;
  color: var(--color);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: inherit;
  height: get($form-sizes, 'input-height');
  justify-content: center;
  outline: 0;
  padding: 0 s(1);
  text-decoration: none;
  transition: background-color $ease, border $ease, color $ease, filter $ease;
  user-select: none;
  width: auto;

  @each $item in $button-sizes {
    @include size-modifier ($item);
  }

  @each $item in $list-sizes {
    @include padding-modifier ($item);
  }

  &--icon-position-left {
    .button {
      &__text {
        padding-left: s(0.5);
        padding-right: s(0.25);
      }
    }
  }

  &--icon-position-right {
    .button {
      &__text {
        padding-left: s(0.25);
        padding-right: s(0.5);
      }

      &__icon {
        order: 1;
      }
    }
  }

  &__text {
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--outline {

    --background: transparent;
    --border: #{$border-size} solid #{color('adjust.tone', '03')};
    --color: #{color('adjust.tone', '03')};
  }

  &--width-fill {
    width: 100%;
  }

  &__field {
    display: none;
  }

  &--icon {
    line-height: calc(100% + #{s(2, $border-size)});
    padding: 0 !important;
  }
}

.button--variant-link {

  --background: transparent;
  --color: #{color('brand.maggioli', '04')};

  justify-content: flex-start;

  .button {
    &__text {
      text-decoration: underline;
    }
  }

  &:active,
  &:focus,
  &:hover {

    --background: transparent;
    --color: #{color('brand.maggioli', '08')};
  }
}

.button--variant-text {

  --background: transparent;

  &:active,
  &:focus,
  &:hover {

    --background: transparent;
  }
}

@mixin scaffold-variant ($modifier, $color-set) {

  .button--variant-#{$modifier} {

    --background: #{color($color-set, '04')};
    --color: #{color('adjust.tone')};

    &:active,
    &:focus,
    &:hover {

      --background: #{color($color-set, '02')};
      --color: #{color('adjust.tone', '20')};
    }
  }

  .button--variant-#{$modifier}-outline {

    --background: transparent;
    --border: #{$border-size} solid #{color($color-set, '04')};
    --color: #{color($color-set, '04')};

    &:active,
    &:focus,
    &:hover {

      --background: #{color($color-set, '04')};
      --color: #{color('adjust.tone')};
    }
  }
}

@mixin scaffold-light-variant ($modifier, $color-set) {

  .button--variant-#{$modifier}-light {

    --background: #{color($color-set)};
    --color: #{color($color-set, '04')};

    &:active,
    &:focus,
    &:hover {

      --background: #{color($color-set)};
      --color: #{color($color-set, '04')};
    }
  }

  .button--variant-#{$modifier}-light-outline {

    --background: transparent;
    --border: #{$border-size} solid #{color($color-set)};
    --color: #{color($color-set)};

    &:active,
    &:focus,
    &:hover {

      --background: #{color($color-set)};
      --color: #{color($color-set, '04')};
    }
  }
}

@mixin scaffold-status-variant ($modifier, $color-set) {
  .button--variant-#{$modifier} {

    --background: #{color($color-set, '08')};
    --color: #{color('adjust.tone')};

    &:active,
    &:focus,
    &:hover {

      --background: #{color($color-set, '06')};
      --color: #{color('adjust.tone', '20')};
    }
  }

  .button--variant-#{$modifier}-outline {

    --background: transparent;
    --border: #{$border-size} solid #{color($color-set, '08')};
    --color: #{color($color-set, '08')};

    &:active,
    &:focus,
    &:hover {

      --background: #{color($color-set, '08')};
      --color: #{color($color-set, '20')};
    }
  }
}

@include scaffold-variant($modifier: 'primary', $color-set: 'brand.maggioli');
@include scaffold-variant($modifier: 'secondary', $color-set: 'adjust.tone');
@include scaffold-light-variant($modifier: 'secondary', $color-set: 'adjust.tone');
@include scaffold-status-variant($modifier: 'success', $color-set: 'status.success');
@include scaffold-status-variant($modifier: 'warning', $color-set: 'status.warning');
@include scaffold-status-variant($modifier: 'error', $color-set: 'status.error');
@include scaffold-status-variant($modifier: 'info', $color-set: 'status.info');

// --toolbar-theme: {
//   background-color: hsl(120, 70%, 95%);
// };
