:host-context(.pref-contrast-more) {
  --mds-entity-background: var(--color-tone-neutral);
  --mds-entity-color: var(--color-tone-neutral-01);
  --mds-entity-detail-color: var(--color-tone-neutral-02);
  --mds-entity-icon-background: var(--color-label-blue-08);
  --mds-entity-icon-color: var(--color-label-blue-03);
  --mds-entity-shadow: var(--shadow-outline-50);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-entity-background: var(--color-tone-neutral);
    --mds-entity-color: var(--color-tone-neutral-01);
    --mds-entity-detail-color: var(--color-tone-neutral-02);
    --mds-entity-icon-background: var(--color-label-blue-08);
    --mds-entity-icon-color: var(--color-label-blue-03);
    --mds-entity-shadow: var(--shadow-outline-50);
  }
}
