@import '~@maggioli-design-system/styles/scss/import-framework';

.backoffice-page-login {
  align-items: center;
  background-color: color('adjust.tone', '20');
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: s(1);

  &__content {
    flex-grow: 1;
    max-width: 400px;
  }

  &__banner {
    margin-left: s(-1.5);
    margin-right: s(-1.5);
  }

  &__body {
    max-width: 400px;
    width: 100%;
  }

  &__footer {
    padding: 0 s(1);
    text-align: center;
  }
}
