$config: (
  palette: (
    format: ('rgb-channels', 'hex'),
    scaffold: ('background-color:background-color', 'color:color'),
    colors: ('brand.maggioli', 'brand.eolo', 'brand.argo', 'brand.la-polizia-locale', 'status.info', 'status.success', 'status.error', 'status.warning', 'adjust.tone')
  ),
  scaffold: (
    format: 'short',
    properties: ('border-radius:border-radius', 'box-shadow:box-shadow', 'padding:padding', 'horizontal-padding:horizontal-padding', 'vertical-padding:vertical-padding')
  )
)!default;
