@if (index($cosmetics-scaffold, 'box-shadow')) {
  @each $shadow-name, $shadow-value in $shadow {
    @include scaffold-property (
      $property-name: 'box-shadow',
      $variant: $shadow-name,
      $value: $shadow-value
    );

    @include scaffold-property-interactive (
      $property-name: 'box-shadow',
      $variant: $shadow-name,
      $value: $shadow-value,
      $initial-value: none
    );
  }
}

@if (index($cosmetics-scaffold, 'border-radius')) {
  @each $radius-name, $radius-value in $radius {
    @include scaffold-property (
      $property-name: 'border-radius',
      $variant: $radius-name,
      $value: $radius-value
    );
  }
}

@if (index($cosmetics-scaffold, 'padding')) {
  @each $padding-name, $padding-value in $list-sizes {
    @include scaffold-property (
      $property-name: 'padding',
      $variant: $padding-name,
      $value: $padding-value
    );
  }
}
