@function has-this-color ($index) {

  @each $color-index in $palette-scale {

    @if $index == $color-index {
      @return true;
    }
  }

  @return false;
}

@mixin scaffold-property-color ($selector, $property, $name, $contrast) {
  .#{$property}-#{$selector} {
    #{$property}: color($name, $contrast);
  }
}

@mixin scaffold-color ($selector, $color-name, $contrast, $index) {

  @if has-this-color($index) {
    @include scaffold-property-color(
      $selector: $selector,
      $property: 'color',
      $name: $color-name,
      $contrast: $contrast
    );
    @include scaffold-property-color(
      $selector: $selector,
      $property: 'background-color',
      $name: $color-name,
      $contrast: $contrast
    );
    @include scaffold-property-color(
      $selector: $selector,
      $property: 'border-color',
      $name: $color-name,
      $contrast: $contrast
    );
  }
}

@mixin scaffold-colors ($colors) {
  @each $group-name, $group-map in $colors {
    @each $tint-name, $tints-map in $group-map {
      @each $light-mode-name, $light-modes-map in $tints-map {

        $i: 0;

        @each $contrast, $contrast-value in $light-modes-map {

          $i: $i + 1;
          $selector: str-replace('#{$group-name $tint-name $contrast}', ' ', '-');
          $color-name: str-replace('#{$group-name $tint-name}', ' ', '.');
          $contrast-level: str-replace('#{$contrast}', 'c-', '');

          @include scaffold-color(
            $selector: $selector,
            $color-name: $color-name,
            $contrast: $contrast-level,
            $index: $i
          );
        }
      }
    }
  }
}

// stylelint-disable scss/at-mixin-named-arguments

@include scaffold-colors($colors: get($tokens, 'color'));
