:host,
:host([variant='primary']) {
  --mds-avatar-background-color: rgb(var(--variant-primary-05));
  --mds-avatar-color: rgb(var(--variant-primary-10));

  &:host([tone='weak']) {
    --mds-avatar-background-color: rgb(var(--variant-primary-09));
    --mds-avatar-color: rgb(var(--variant-primary-05));
  }
}
