:host,
:host([variant='primary']) {
  --mds-avatar-background-color: rgb(var(--magma-accent-fg));
  --mds-avatar-color: rgb(var(--magma-accent-surface-subtle));

  &:host([tone='weak']) {
    --mds-avatar-background-color: rgb(var(--magma-accent-surface));
    --mds-avatar-color: rgb(var(--magma-accent-fg));
  }
}
