:host-context(:root.pref-animation-reduce) .avatar,
:host-context(:root.pref-animation-reduce) .icon {
  transition-duration: 0s;
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    transition-duration: 0s;

    .avatar,
    .icon {
      transition-duration: 0s;
    }
  }
}
