@import './css/mds-pref-animation-fouc.css';

:host {
  display: grid;
  gap: --spacing(100);
}

.item {
  --mds-tab-item-default-color: rgb(var(--magma-text-disabled));

  flex-basis: 0;
  flex-grow: 1;
}

.item--system {
  --mds-tab-item-selected-color: rgb(var(--magma-text-muted));
}

.item--enabled {
  --mds-tab-item-selected-color: rgb(var(--magma-text-muted));
}

.item--disabled {
  --mds-tab-item-selected-color: rgb(var(--magma-text-muted));
}

@import './css/mds-pref-animation-pref-contrast.css';
