@tailwind utilities;

:host {

  @apply
    flex
    flex-col
    overflow-auto
    transition-colors;

  background-color: var(--background, theme('colors.adjust-tone'));
  border-radius: var(--radius, 0);
  box-shadow: var(--shadow, none);
  scroll-snap-type: y mandatory;
}

:host ( [interactive]:hover ) {

  --background: var(--background-hover, theme('colors.adjust-tone-10'));
}
