@tailwind utilities;

mds-flex-table-body {

  @apply
    flex
    flex-col
    overflow-auto;

  background-color: var(--background, theme('colors.adjust-tone'));
  border-radius: var(--radius, 0);
  box-shadow: var(--shadow, none);
  scroll-snap-type: y mandatory;
}

.no-wrap {
  @apply whitespace-nowrap;
}

.flex-table-body--interactive:hover mds-flex-table-row {
  background-color: var(--background-hover, theme('colors.adjust-tone-10'));
}
