:host-context(:root.pref-contrast-more) {
  --mds-price-table-features-row-color: rgb(var(--tone-neutral-01));
  --mds-price-table-features-row-color-hover: rgb(var(--tone-neutral-01));
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-price-table-features-row-color: rgb(var(--tone-neutral-01));
    --mds-price-table-features-row-color-hover: rgb(var(--tone-neutral-01));
  }
}
