@mixin scaffold-property-set ($name, $property, $list, $interactive: true) {

  @if (property-name($property, 2) == $name) {

    $property-selector: property-name($property, 1);
    $property-name: property-name($property, 2);

    @each $variant, $value in $list {
      @include scaffold-property (
        $property-name: $property-name,
        $property-selector: $property-selector,
        $variant: $variant,
        $value: $value,
        $interactive: $interactive
      );
    }
  }
}

@each $property in $config-scaffold-properties {
  @include scaffold-property-set($name: 'box-shadow', $property: $property, $list: $shadow, $interactive: true);
  @include scaffold-property-set($name: 'border-radius', $property: $property, $list: $radius, $interactive: true);
  @include scaffold-property-set($name: 'padding', $property: $property, $list: $list-sizes, $interactive: true);

  @if (property-name($property, 2) == 'horizontal-padding') {

    $property-selector: property-name($property, 1);
    $property-name: property-name($property, 2);

    @each $variant, $value in $list-sizes {
      .#{$property-selector}-#{$variant} {
        padding-left: $value !important;
        padding-right: $value !important;
      }
    }
  }

  @if (property-name($property, 2) == 'vertical-padding') {

    $property-selector: property-name($property, 1);
    $property-name: property-name($property, 2);

    @each $variant, $value in $list-sizes {
      .#{$property-selector}-#{$variant} {
        padding-bottom: $value !important;
        padding-top: $value !important;
      }
    }
  }
}
