@tailwind utilities;

:host( [variant="light"] ) {

  --background: theme('colors.tone-neutral');
  --color: theme('colors.tone-neutral-02');
  --drop-shadow: drop-shadow(theme('dropShadow.DEFAULT.0')) drop-shadow(theme('dropShadow.DEFAULT.1'));
}

:host( [variant="dark"] ) {

  --background: theme('colors.tone-neutral-01');
  --color: theme('colors.tone-neutral');
  --drop-shadow: drop-shadow(theme('dropShadow.2xl'));
}
