@import '~@maggioli-design-system/styles/dist/css/animations.css';
@import './css/mds-file-fouc.css';

/**
 * @prop --mds-file-preview-icon-color: Sets the color of the file preview icon
 * @prop --mds-file-preview-color: Sets the text color used in the file preview
 * @prop --mds-file-preview-icon-bacground: Sets the background color of the file preview icon
 */

@property --mds-file-preview-icon-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-04));
  syntax: '<color>';
}

@property --mds-file-preview-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-04));
  syntax: '<color>';
}

@property --mds-file-preview-icon-bacground {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-10));
  syntax: '<color>';
}

:host {
  --mds-file-preview-icon-color: rgb(var(--tone-neutral-04));
  --mds-file-preview-color: rgb(var(--tone-neutral-04));
  --mds-file-preview-icon-bacground: rgb(var(--tone-neutral-10));
  --private-icon-download-offset: 10%;

  @apply focus-bounce;

  align-items: stretch;
  background-color: rgb(var(--tone-neutral));
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-outline-weak);
  color: rgb(var(--tone-neutral-04));
  corner-shape: var(--magma-corner-shape, round);
  cursor: pointer;
  display: inline-flex;
  overflow: hidden;
  transition-duration: var(--duration-200);
  transition-property: box-shadow, outline, outline-offset;
  transition-timing-function: var(--ease-out);
  width: 100%;
}

:host(:focus-visible) {
  @apply focus-bounce--focused;
}

:host(:hover) {
  box-shadow: var(--shadow-box-md);

  & .download-icon {
    opacity: 1;
    transform: translateY(0);
  }

  & .image-preview,
  & .icon-preview {
    opacity: 0;
    transform: translateY(var(--private-icon-download-offset));
  }
}

.download-icon {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transform: translateY(calc(var(--private-icon-download-offset) * -1));
  transition-duration: inherit;
  transition-property: opacity, transform;
  transition-timing-function: inherit;
}

.preview {
  align-items: center;
  background-color: var(--mds-file-preview-icon-bacground);
  color: var(--mds-file-preview-color);
  display: flex;
  fill: var(--mds-file-preview-icon-color);
  flex-shrink: 0;
  justify-content: center;
  position: relative;
  transition-duration: inherit;
  transition-property: color, background-color, fill;
  transition-timing-function: var(--ease-in-out);
  width: --spacing(1400);
}

.image-preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  inset: --spacing(300);
  position: absolute;
}

.image-preview,
.icon-preview {
  transition-duration: inherit;
  transition-property: opacity, transform;
  transition-timing-function: inherit;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: --spacing(100);
  height: --spacing(1400);
  justify-content: center;
  min-width: 0px;
  padding: 0 --spacing(300);
}

.filename {
  display: flex;
  min-width: 0px;
}

.name {
  @apply truncate;

  min-width: 0px;
}

.extension {
  flex-shrink: 0;
}

.detail {
  align-items: baseline;
  display: flex;
  gap: --spacing(200);
  min-width: 0px;
}

.suffix {
  flex-shrink: 0;
  pointer-events: none;
}

.description {
  @apply truncate;

  color: rgb(var(--tone-neutral-05));
  min-width: 0px;
}

.indicator {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-right: --spacing(400);
}

.downloaded {
  @apply svg;

  fill: rgb(var(--status-success-06));
}

@import './css/mds-file-format.css';
@import './css/mds-file-pref-animation.css';
@import './css/mds-file-pref-theme.css';
@import './css/mds-file-pref-contrast.css';
