@tailwind components;
@tailwind utilities;

@layer components {
  .animate-intro {
    @apply
      duration-500
      ease-in-out-expo
      transition-cosmetic;
  }

  .animate-outro {
    @apply
      ease-in-cubic
      transition-cosmetic;

    transition-duration: var(--mds-toast-duration, 300ms);
  }

  .animate-bottom-intro {
    transform: translate(0, calc(theme('translate.400') * -1));
  }

  .animate-bottom-outro {
    transform: translate(0, calc(theme('translate.full') + theme('translate.200')));
  }

  .animate-top-intro {
    transform: translate(0, calc(theme('translate.400')));
  }

  .animate-top-outro {
    transform: translate(0, calc(-1 * theme('translate.full') - theme('translate.400')));
  }
}
