@import url('../../tailwind/components.css');
@tailwind components;
@tailwind utilities;

/**
* @prop --mds-details-icon-color: Sets the icon color the component
* @prop --mds-details-helper-icon-color: Sets icon color of the helper icon of the component
*/

:host {

  --mds-details-duration: 300ms;
  --mds-details-icon-color: theme('colors.brand-maggioli-04');
  --mds-details-helper-icon-color: theme('colors.tone-neutral-03');

  @apply
    flex
    gap-2
    items-start;
}

.contents {
  @apply grid;
}

.details {
  @apply
    gap-4
    grid
    opacity-0
    overflow-hidden
    pointer-events-none
    pt-0;

  transition-duration: var(--mds-details-duration);
  transition-property: grid-template-rows opacity padding;
  grid-template-rows: 0fr;
}

.contents-expander {
  @apply
    gap-4
    grid
    min-h-0;
}

.details.opened {
  @apply
    opacity-100
    pointer-events-auto
    pt-4;

  grid-template-rows: 1fr;
}

.header {
  @apply
    inline-flex
    gap-2
    items-start;
}

.icon {
  @apply cursor-pointer;

  fill: var(--mds-details-icon-color);
}

.title {
  @apply cursor-pointer;
}

.helper-icon {
  @apply
    cursor-pointer
    flex-shrink-0
    rotate-0
    duration-300
    transition-transform;

  fill: var(--mds-details-helper-icon-color);
}

.helper-icon.opened {
  @apply rotate-180;
}

.actions {
  @apply
    flex
    gap-4;
}
