@tailwind utilities;
@import '../../tailwind/components.css';

/**
* @prop --icon-color: Sets the box-shadow of the component when the mouse is over it
* @prop --helper-icon-color: Sets the box-shadow of the component when the mouse is over it
*/

:host {

  --icon-color: theme('colors.brand-maggioli-04');
  --helper-icon-color: var(--icon-color);

  @apply
    flex
    gap-2
    items-start;
}

.contents {
  @apply grid;
}

.details {
  @apply
    gap-4
    grid
    h-0
    opacity-0
    overflow-hidden
    pointer-events-none
    pt-0
    transition-cosmetic;
}

.details.opened {
  @apply
    h-auto
    opacity-100
    pointer-events-auto
    pt-4;
}

.header {
  @apply
    flex
    gap-2
    items-start;
}

.icon {
  @apply cursor-pointer;

  color: var(--icon-color);
}

.title {
  @apply cursor-pointer;
}

.helper-icon {
  @apply
    cursor-pointer
    flex-shrink-0
    rotate-0
    duration-300
    transition-transform;

  color: var(--helper-icon-color);
}

.helper-icon.opened {
  @apply rotate-180;
}

.actions {
  @apply
    flex
    gap-4;
}
