@tailwind utilities;

/**
* @prop --background-hover: The background-color of the table body when the mouse go over the table body element
* @prop --background-row-hover: The cell background-color when the mouse go over the table row element
* @prop --background: The cell background-color of the table body
* @prop --border-color: The border color between table rows
* @prop --border-width: The border width between table rows
* @prop --cell-padding: The cell padding used on table cell
* @prop --section-border-color: The border bottom color of table header and footer
* @prop --radius: The radius of the table (header and footer excluded)
* @prop --shadow: The box-shadow used on the table (header and footer excluded)
*/

:host {

  --background-hover: theme('colors.tone-neutral');
  --background-row-hover: theme('colors.tone-neutral-10');
  --background: theme('colors.tone-neutral');
  --border-color: theme('colors.tone-neutral-09');
  --border-width: theme('borderWidth.2');
  --cell-padding: theme('spacing.4');
  --section-border-color: theme('colors.tone-neutral-07');
  --radius: theme('borderRadius.none');
  --shadow: theme('boxShadow.none');

  @apply
    flex;
}

.table {
  @apply
    w-full
    border-collapse;
}
