@tailwind utilities;

/**
  * @prop --mds-table-background: The background-color of the table
  * @prop --mds-table-body-background-hover: The background-color of the table body when the mouse is over it
  * @prop --mds-table-body-background: The background-color of the table body
  * @prop --mds-table-border-color: The border-color of the table
  * @prop --mds-table-border-width: The border-width of the table
  * @prop --mds-table-cell-background-hover: The background-color of the table cell when the mouse is over it
  * @prop --mds-table-cell-background: The background-color of the table cell
  * @prop --mds-table-cell-border-color: The border-color of the table cell
  * @prop --mds-table-cell-border-width: The border-width of the table cell
  * @prop --mds-table-cell-padding: The padding of the table cell
  */

:host {

  --mds-table-background: theme('colors.tone-neutral');
  --mds-table-body-background-hover: theme('colors.tone-neutral-10');
  --mds-table-body-background: var(--mds-table-background);
  --mds-table-border-color: theme('colors.tone-neutral-08');
  --mds-table-border-width: 2px;
  --mds-table-cell-background-hover: theme('colors.tone-neutral');
  --mds-table-cell-background: transparent;
  --mds-table-cell-border-color: theme('colors.tone-neutral-08');
  --mds-table-cell-border-width: var(--mds-table-border-width);
  --mds-table-cell-padding: theme('spacing.4');

  @apply rounded-2xl;

  background-color: var(--mds-table-background);
  border: var(--mds-table-border-width) solid var(--mds-table-border-color) !important;
  border-color: var(--mds-table-border-color);
  display: flex;
  overflow: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
