:host-context(.pref-theme-dark) {
  --mds-push-notification-shadow: theme('boxShadow.outline') inset;

  background-color: theme('colors.tone-neutral-09');
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-push-notification-shadow: theme('boxShadow.outline') inset;

    background-color: theme('colors.tone-neutral-09');
  }
}
