:host([variant="do"]) {
  --mds-usage-border-color: var(--color-status-success-06);
  --mds-usage-badge-background: var(--color-status-success-05);
  --mds-usage-badge-color: var(--color-status-success-10);
}

:host([variant="dont"]) {
  --mds-usage-border-color: var(--color-status-error-06);
  --mds-usage-badge-background: var(--color-status-error-05);
  --mds-usage-badge-color: var(--color-status-error-10);
}

:host([variant="warn"]) {
  --mds-usage-border-color: var(--color-status-warning-06);
  --mds-usage-badge-background: var(--color-status-warning-08);
  --mds-usage-badge-color: var(--color-status-warning-01);
}
