:host-context(.pref-contrast-more),
:host-context(.pref-contrast-more):host([variant="do"]),
:host-context(.pref-contrast-more):host([variant="dont"]),
:host-context(.pref-contrast-more):host([variant="warn"]) {
  --mds-usage-badge-color: rgb(var(--tone-neutral-01));
  --mds-usage-color: rgb(var(--tone-neutral-01));

  box-shadow: var(--shadow-outline-50);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system),
  :host-context(.pref-contrast-system):host([variant="do"]),
  :host-context(.pref-contrast-system):host([variant="dont"]),
  :host-context(.pref-contrast-system):host([variant="warn"]) {
    --mds-usage-badge-color: rgb(var(--tone-neutral-01));
    --mds-usage-color: rgb(var(--tone-neutral-01));

    box-shadow: var(--shadow-outline-50);
  }
}
