@tailwind utilities;

mds-breadcrumb-item {
  @apply
    flex
    shrink-0
    gap-0
    items-center;
}

mds-breadcrumb-item:last-child .icon {
  @apply hidden;
}

mds-breadcrumb-item:last-child .text {
  @apply pointer-events-none;

  color: var(--current-button-color, theme('colors.adjust-tone-05'));
}

.text {
  @apply
    cursor-pointer
    px-4
    py-1
    rounded-full
    transition-colors
    whitespace-nowrap;

  background-color: var(--button-background, transparent);
  color: var(--button-color, theme('colors.adjust-tone-02'));
}

.text:hover {
  background-color: var(--button-background-hover, theme('colors.brand-maggioli-09'));
  color: var(--button-color-hover, theme('colors.brand-maggioli-04'));
}

.text::first-letter {
  @apply uppercase;
}

.icon {
  @apply pointer-events-none;

  color: var(--arrow-depth-color, theme('colors.adjust-tone-07'));
}
