:host-context(.pref-contrast-more.pref-theme-dark) {
  --mds-kpi-item-info-background: theme('colors.tone-neutral');

  box-shadow: theme('boxShadow.outline-50');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system.pref-theme-dark) {
    --mds-kpi-item-info-background: theme('colors.tone-neutral');

    box-shadow: theme('boxShadow.outline-50');
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-contrast-more.pref-theme-system) {
    --mds-kpi-item-info-background: theme('colors.tone-neutral');

    box-shadow: theme('boxShadow.outline-50');
  }
}

@media (prefers-contrast: more) {

  @media (prefers-color-scheme: dark) {
    :host-context(.pref-contrast-system.pref-theme-system) {
      --mds-kpi-item-info-background: theme('colors.tone-neutral');

      box-shadow: theme('boxShadow.outline-50');
    }
  }
}
