:host-context(.pref-contrast-more) {
  --mds-kpi-item-info-background: var(--color-tone-neutral);

  box-shadow: var(--shadow-lg), var(--shadow-outline);
  color: var(--color-tone-neutral-01);
}

:host-context(.pref-contrast-more) .info {
  box-shadow: var(--shadow-outline);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-kpi-item-info-background: var(--color-tone-neutral);

    box-shadow: var(--shadow-lg), var(--shadow-outline);
    color: var(--color-tone-neutral-01);
  }

  :host-context(.pref-contrast-system) .info {
    box-shadow: var(--shadow-outline);
  }
}
