:host-context(.pref-theme-dark) {
  --mds-kpi-item-info-background: theme('colors.tone-neutral-09');

  background-color: theme('colors.variant-primary-09');
  box-shadow: theme('boxShadow.outline');
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-kpi-item-info-background: theme('colors.tone-neutral-09');

    background-color: theme('colors.variant-primary-09');
    box-shadow: theme('boxShadow.outline');
  }
}
