@mixin add-property-set ($property-name, $map, $group-name: false) {
  @each $attribute, $value in $map {
    @if $group-name {
      .#{$property-name}-#{$group-name}-#{$attribute} {
        #{$property-name}: $value;
      }
    } @else {
      .#{$property-name}-#{$attribute} {
        #{$property-name}: $value;
      }
    }
  }
}

@mixin apply-styles-set ($map, $set) {
  @each $viewport, $properties in map-get($map, $set) {
    @if $viewport == 'default' {
      @each $property, $value in $properties {
        #{$property}: $value;
      }
    } @else {
      @include media ($viewport) {
        @each $property, $value in $properties {
          #{$property}: $value;
        }
      }
    }
  }
}

@mixin add-font-property ($map, $set, $property-name) {
  @each $viewport, $properties in map-get($map, $set) {
    @if $viewport == 'default' {
      @each $property, $value in $properties {
        @if ($property == $property-name) {
          #{$property}: $value;
        }
      }
    } @else {
      @include media ($viewport) {
        @each $property, $value in $properties {
          @if ($property == $property-name) {
            #{$property}: $value;
          }
        }
      }
    }
  }
}

@mixin add-styles-set ($map, $name) {
  @each $set, $viewports in $map {
    .#{$name}--#{$set} {
      @include apply-styles-set($map, $set);

      &-line-height {
        @include add-font-property($map, $set, 'line-height');
      }
    }
  }
}


@mixin scaffold-color($selector, $color-hex, $index) {
  @if has-this-color($index) {
    @include add-color-selector('color', $selector, $color-hex);
    @include add-color-selector('background-color', $selector, $color-hex);
  }
}

@mixin scaffold-colors ($colors) {
  @each $group-name, $group-map in $colors {
    @each $tint-name, $tints-map in $group-map {
      $i: 0;
      @each $color-name, $color-value in $tints-map {
        $i: $i + 1;
        $selector: str-replace('#{$group-name $tint-name $color-name}', ' ', '-');
        @include scaffold-color($selector, $color-value, $i);
      }
    }
  }
}
