.password-mask {
  align-items: center;
  background-color: var(--mds-input-background);
  border-radius: var(--radius-xs);
  bottom: 0;
  display: flex;
  gap: --spacing(50);
  height: 100%;
  justify-content: start;
  left: 0;
  overflow: hidden;
  padding-left: --spacing(500);
  pointer-events: none;
  position: absolute;
  right: --spacing(1200);
  top: 0;
}

.password-mask::before {
  background-image: linear-gradient(to right, transparent, var(--mds-input-background));
  bottom: 0;
  content: '';
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 0;
  width: --spacing(600);
}

.password-mask-items {
  background-color: rgb(var(--tone-neutral-08) / 0);
  border-radius: 1000px;
  display: inline-flex;
  gap: --spacing(100);
  padding: --spacing(100);
  transition-duration: var(--duration-300);
  transition-property: background-color;
  transition-timing-function: var(--ease-out-expo);
}

.password-mask-item {
  background-color: rgb(var(--tone-neutral-03));
  border-radius: 1000px;
  height: --spacing(200);
  transition-duration: var(--duration-300);
  transition-property: background-color;
  transition-timing-function: var(--ease-out-expo);
  width: --spacing(200);
}

:host(:focus-within) .password-mask-items {
  background-color: rgb(var(--tone-neutral-08));
}
