


:host(:focus-within) .tip-container--top {
  transform: translate(calc(theme('spacing.100') * -1), calc(theme('spacing.100') * -1));
}

:host(:focus-within) .tip-container--bottom {
  transform: translate(calc(theme('spacing.100') * -1), theme('spacing.100'));
}

:host(:focus-within) .tip-container--top .tip {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:host(:focus-within) .tip-container--bottom .tip {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tip--expanded,
:host(:focus-within) .tip--expand {
  @apply px-200;
}

.tip--expanded .tip__content,
:host(:focus-within) .tip--expand .tip__content,
:host( [value]:not([value=""]) ) .tip--expand .tip__content {
  grid-template-columns: 1fr;
  opacity: 1;
}

:host( [value]:not([value=""]) ) .tip--expand .tip__text {
  display: none;
}

:host( [value]:not([value=""]) ) .tip__icon {
  display: flex;
}

:host([value]:not([value=""]):focus-within) .tip--expand {
  padding-left: 0;
  padding-right: 0;
}

:host( [type="number"] ) .tip-container {
  @apply right-900;
}

:host( [type="number"][controls-layout="horizontal"] ) .tip-container {
  @apply
    left-1400
    right-1400;
}

:host( [value]:not([value=""]) ) .tip--required {

  --mds-input-tip-background: var(--status-success-05);
}

.tip--required {

  --mds-input-tip-background: var(--status-error-05);
}

.tip--read-only {

  --mds-input-tip-background: var(--status-info-05);
}

.tip--disabled {

  --mds-input-tip-background: var(--tone-neutral-05);
}
