.tip-container {

  @apply
    duration-300
    ease-out-expo
    gap-1
    left-1
    right-1
    transition-cosmetic;

  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  position: absolute;
}

.tip-container:empty {
  display: none;
}

.tip-container--top {
  top: theme('spacing.1');
}

.tip-container--bottom {
  bottom: theme('spacing.1');
}

.tip {
  @apply
    duration-300
    ease-out-expo
    h-3
    rounded-md;

  align-items: center;
  background-color: rgb(var(--mds-input-tip-background));
  color: transparent;
  color: theme('colors.tone-neutral');
  display: flex;
  fill: theme('colors.tone-neutral');
  justify-content: center;
  min-width: theme('spacing.3');
  padding: 0;
  pointer-events: none;
  position: static;
  text-align: center;
  transform: translate(0, 0);
  transition-property: background-color, border-radius, color, padding-left, padding-right, transform;
  user-select: none;
}

.tip__content {
  @apply
    duration-200
    ease-out-expo
    h-3;

  display: grid;
  grid-template-columns: 0fr;
  opacity: 0;
  overflow: hidden;
  transition-property: grid-template-columns, opacity;
}

.tip__text {
  transform: translate(0, 1px);
}

.tip__icon {
  @apply
    h-3
    w-3;

  display: none;
}

:host(:focus-within) .tip-container--top {
  transform: translate(calc(theme('spacing.1') * -1), calc(theme('spacing.1') * -1));
}

:host(:focus-within) .tip-container--bottom {
  transform: translate(calc(theme('spacing.1') * -1), theme('spacing.1'));
}

:host(:focus-within) .tip-container--top .tip {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:host(:focus-within) .tip-container--bottom .tip {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tip--expanded,
:host(:focus-within) .tip--expand {
  @apply px-2;
}

.tip--expanded .tip__content,
:host(:focus-within) .tip--expand .tip__content,
:host( [value]:not([value=""]) ) .tip--expand .tip__content {
  grid-template-columns: 1fr;
  opacity: 1;
}

:host( [value]:not([value=""]) ) .tip--expand .tip__text {
  display: none;
}

:host( [value]:not([value=""]) ) .tip__icon {
  display: flex;
}

:host([value]:not([value=""]):focus-within) .tip--expand {
  padding-left: 0;
  padding-right: 0;
}

:host( [type="number"] ) .tip-container {
  @apply right-9;
}

:host( [type="number"][controls-layout="horizontal"] ) .tip-container {
  @apply
    left-14
    right-14;
}

:host( [value]:not([value=""]) ) .tip--required {

  --mds-input-tip-background: var(--status-success-05);
}

.tip--required {

  --mds-input-tip-background: var(--status-error-05);
}

.tip--read-only {

  --mds-input-tip-background: var(--status-info-05);
}

.tip--disabled {

  --mds-input-tip-background: var(--tone-neutral-05);
}
