@import '../../tailwind/fouc.css';

:host {
  background-color: rgb(var(--tone-neutral-09));
  display: grid;
  min-width: 0;
  position: relative;
}

.content {
  align-items: flex-end;
  display: flex;
  gap: --spacing(200);
  inset: 0;
  justify-content: center;
  padding: --spacing(400);
  position: absolute;
}

.img {
  object-fit: contain;
}

