:host-context(:root.pref-contrast-more) {
  background-color: rgb(var(--tone-neutral));
  box-shadow: var(--shadow-outline-50);
  color: rgb(var(--tone-neutral-01));

  &:host(:hover) {
    box-shadow: var(--shadow-outline-strong-100);
  }
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    background-color: rgb(var(--tone-neutral));
    box-shadow: var(--shadow-outline-50);
    color: rgb(var(--tone-neutral-01));

    &:host(:hover) {
      box-shadow: var(--shadow-outline-strong-100);
    }
  }
}
