:host-context(.pref-theme-dark) {
  box-shadow: var(--shadow-outline);
}

:host-context(.pref-theme-dark):host(:hover) {
  box-shadow: var(--shadow-outline-50);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    box-shadow: var(--shadow-outline);
  }

  :host-context(.pref-theme-system):host(:hover) {
    box-shadow: var(--shadow-outline-50);
  }
}
