:host-context(:root.pref-theme-dark:not(.pref-theme-scheme-light)) {
  box-shadow: var(--shadow-outline);

  &:host(:hover) {
    box-shadow: var(--shadow-outline-50);
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(:root.pref-theme-system:not(.pref-theme-scheme-light)),
  :host-context(:root:not([data-magma-pref])) {
    box-shadow: var(--shadow-outline);

    &:host(:hover) {
      box-shadow: var(--shadow-outline-50);
    }
  }
}
