@tailwind utilities;

:host ( [variant=violet] ),
:host ( [variant=violet][tone=strong] ) {

  --background: theme('colors.label-violet-04');
  --color: theme('colors.label-violet-10');
  --icon-color: theme('colors.label-violet-10');
  --selection-background: theme('colors.label-violet-08');
  --selection-color: theme('colors.label-violet-02');
}

:host ( [variant=violet][tone=weak] ) {

  --background: theme('colors.label-violet-08');
  --color: theme('colors.label-violet-02');
  --icon-color: theme('colors.label-violet-02');
  --selection-background: theme('colors.label-violet-06');
  --selection-color: theme('colors.label-violet-10');
}

:host ( [variant=violet][tone=quiet] ) {

  --background: theme('colors.label-violet-09');
  --color: theme('colors.label-violet-04');
  --icon-color: theme('colors.label-violet-04');
  --selection-background: theme('colors.label-violet-05');
  --selection-color: theme('colors.label-violet-09');
}
