:host([variant="warning"]),
:host([variant="warning"][tone="strong"]) {
  --mds-label-background: var(--color-status-warning-04);
  --mds-label-button-background: var(--color-status-warning-04);
  --mds-label-button-background-hover: var(--color-status-warning-05);
  --mds-label-button-icon-color: var(--color-status-warning-10);
  --mds-label-color: var(--color-status-warning-10);
  --mds-label-icon-color: var(--color-status-warning-10);
  --mds-label-selection-background: var(--color-status-warning-08);
  --mds-label-selection-color: var(--color-status-warning-02);
}

:host([variant="warning"][tone="weak"]) {
  --mds-label-background: var(--color-status-warning-08);
  --mds-label-button-background: var(--color-status-warning-09);
  --mds-label-button-background-hover: var(--color-status-warning-08);
  --mds-label-button-icon-color: var(--color-status-warning-04);
  --mds-label-color: var(--color-status-warning-02);
  --mds-label-icon-color: var(--color-status-warning-02);
  --mds-label-selection-background: var(--color-status-warning-06);
  --mds-label-selection-color: var(--color-status-warning-10);
}

:host([variant="warning"][tone="quiet"]) {
  --mds-label-background: var(--color-status-warning-09);
  --mds-label-button-background: var(--color-status-warning-09);
  --mds-label-button-background-hover: var(--color-status-warning-08);
  --mds-label-button-icon-color: var(--color-status-warning-04);
  --mds-label-color: var(--color-status-warning-04);
  --mds-label-icon-color: var(--color-status-warning-04);
  --mds-label-selection-background: var(--color-status-warning-05);
  --mds-label-selection-color: var(--color-status-warning-09);
}
