:host([variant="yellow"]),
:host([variant="yellow"][tone="strong"]) {
  --mds-label-background: rgb(var(--label-yellow-04));
  --mds-label-button-background: rgb(var(--label-yellow-04));
  --mds-label-button-background-hover: rgb(var(--label-yellow-05));
  --mds-label-button-icon-color: rgb(var(--label-yellow-10));
  --mds-label-color: rgb(var(--label-yellow-10));
  --mds-label-icon-color: rgb(var(--label-yellow-10));
  --mds-label-selection-background: rgb(var(--label-yellow-08));
  --mds-label-selection-color: rgb(var(--label-yellow-02));
}

:host([variant="yellow"][tone="weak"]) {
  --mds-label-background: rgb(var(--label-yellow-08));
  --mds-label-button-background: rgb(var(--label-yellow-09));
  --mds-label-button-background-hover: rgb(var(--label-yellow-08));
  --mds-label-button-icon-color: rgb(var(--label-yellow-04));
  --mds-label-color: rgb(var(--label-yellow-02));
  --mds-label-icon-color: rgb(var(--label-yellow-02));
  --mds-label-selection-background: rgb(var(--label-yellow-06));
  --mds-label-selection-color: rgb(var(--label-yellow-10));
}

:host([variant="yellow"][tone="quiet"]) {
  --mds-label-background: rgb(var(--label-yellow-09));
  --mds-label-button-background: rgb(var(--label-yellow-09));
  --mds-label-button-background-hover: rgb(var(--label-yellow-08));
  --mds-label-button-icon-color: rgb(var(--label-yellow-04));
  --mds-label-color: rgb(var(--label-yellow-04));
  --mds-label-icon-color: rgb(var(--label-yellow-04));
  --mds-label-selection-background: rgb(var(--label-yellow-05));
  --mds-label-selection-color: rgb(var(--label-yellow-09));
}
