:host([variant="success"]),
:host([variant="success"][tone="strong"]) {
  --mds-label-background: rgb(var(--status-success-04));
  --mds-label-button-background: rgb(var(--status-success-04));
  --mds-label-button-background-hover: rgb(var(--status-success-05));
  --mds-label-button-icon-color: rgb(var(--status-success-10));
  --mds-label-color: rgb(var(--status-success-10));
  --mds-label-icon-color: rgb(var(--status-success-10));
  --mds-label-selection-background: rgb(var(--status-success-08));
  --mds-label-selection-color: rgb(var(--status-success-02));
}

:host([variant="success"][tone="weak"]) {
  --mds-label-background: rgb(var(--status-success-08));
  --mds-label-button-background: rgb(var(--status-success-09));
  --mds-label-button-background-hover: rgb(var(--status-success-08));
  --mds-label-button-icon-color: rgb(var(--status-success-04));
  --mds-label-color: rgb(var(--status-success-02));
  --mds-label-icon-color: rgb(var(--status-success-02));
  --mds-label-selection-background: rgb(var(--status-success-06));
  --mds-label-selection-color: rgb(var(--status-success-10));
}

:host([variant="success"][tone="quiet"]) {
  --mds-label-background: rgb(var(--status-success-09));
  --mds-label-button-background: rgb(var(--status-success-09));
  --mds-label-button-background-hover: rgb(var(--status-success-08));
  --mds-label-button-icon-color: rgb(var(--status-success-04));
  --mds-label-color: rgb(var(--status-success-04));
  --mds-label-icon-color: rgb(var(--status-success-04));
  --mds-label-selection-background: rgb(var(--status-success-05));
  --mds-label-selection-color: rgb(var(--status-success-09));
}
