:host([variant="aqua"]),
:host([variant="aqua"][tone="strong"]) {
  --mds-label-background: rgb(var(--label-aqua-04));
  --mds-label-button-background: rgb(var(--label-aqua-04));
  --mds-label-button-background-hover: rgb(var(--label-aqua-05));
  --mds-label-button-icon-color: rgb(var(--label-aqua-10));
  --mds-label-color: rgb(var(--label-aqua-10));
  --mds-label-icon-color: rgb(var(--label-aqua-10));
  --mds-label-selection-background: rgb(var(--label-aqua-08));
  --mds-label-selection-color: rgb(var(--label-aqua-02));
}

:host([variant="aqua"][tone="weak"]) {
  --mds-label-background: rgb(var(--label-aqua-08));
  --mds-label-button-background: rgb(var(--label-aqua-09));
  --mds-label-button-background-hover: rgb(var(--label-aqua-08));
  --mds-label-button-icon-color: rgb(var(--label-aqua-04));
  --mds-label-color: rgb(var(--label-aqua-02));
  --mds-label-icon-color: rgb(var(--label-aqua-02));
  --mds-label-selection-background: rgb(var(--label-aqua-06));
  --mds-label-selection-color: rgb(var(--label-aqua-10));
}

:host([variant="aqua"][tone="text"]) {
  --mds-label-background: rgb(var(--label-aqua-09));
  --mds-label-button-background: rgb(var(--label-aqua-09));
  --mds-label-button-background-hover: rgb(var(--label-aqua-08));
  --mds-label-button-icon-color: rgb(var(--label-aqua-04));
  --mds-label-color: rgb(var(--label-aqua-04));
  --mds-label-icon-color: rgb(var(--label-aqua-04));
  --mds-label-selection-background: rgb(var(--label-aqua-05));
  --mds-label-selection-color: rgb(var(--label-aqua-09));
}
