:host([variant="blue"]),
:host([variant="blue"][tone="strong"]) {
  --mds-label-background: rgb(var(--label-blue-04));
  --mds-label-button-background: rgb(var(--label-blue-04));
  --mds-label-button-background-hover: rgb(var(--label-blue-05));
  --mds-label-button-icon-color: rgb(var(--label-blue-10));
  --mds-label-color: rgb(var(--label-blue-10));
  --mds-label-icon-color: rgb(var(--label-blue-10));
  --mds-label-selection-background: rgb(var(--label-blue-08));
  --mds-label-selection-color: rgb(var(--label-blue-02));
}

:host([variant="blue"][tone="weak"]) {
  --mds-label-background: rgb(var(--label-blue-08));
  --mds-label-button-background: rgb(var(--label-blue-09));
  --mds-label-button-background-hover: rgb(var(--label-blue-08));
  --mds-label-button-icon-color: rgb(var(--label-blue-04));
  --mds-label-color: rgb(var(--label-blue-02));
  --mds-label-icon-color: rgb(var(--label-blue-02));
  --mds-label-selection-background: rgb(var(--label-blue-06));
  --mds-label-selection-color: rgb(var(--label-blue-10));
}

:host([variant="blue"][tone="text"]) {
  --mds-label-background: rgb(var(--label-blue-09));
  --mds-label-button-background: rgb(var(--label-blue-09));
  --mds-label-button-background-hover: rgb(var(--label-blue-08));
  --mds-label-button-icon-color: rgb(var(--label-blue-04));
  --mds-label-color: rgb(var(--label-blue-04));
  --mds-label-icon-color: rgb(var(--label-blue-04));
  --mds-label-selection-background: rgb(var(--label-blue-05));
  --mds-label-selection-color: rgb(var(--label-blue-09));
}
