:host([variant="info"]),
:host([variant="info"][tone="strong"]) {
  --mds-label-background: rgb(var(--status-info-04));
  --mds-label-button-background: rgb(var(--status-info-04));
  --mds-label-button-background-hover: rgb(var(--status-info-05));
  --mds-label-button-icon-color: rgb(var(--status-info-10));
  --mds-label-color: rgb(var(--status-info-10));
  --mds-label-icon-color: rgb(var(--status-info-10));
  --mds-label-selection-background: rgb(var(--status-info-08));
  --mds-label-selection-color: rgb(var(--status-info-02));
}

:host([variant="info"][tone="weak"]) {
  --mds-label-background: rgb(var(--status-info-08));
  --mds-label-button-background: rgb(var(--status-info-09));
  --mds-label-button-background-hover: rgb(var(--status-info-08));
  --mds-label-button-icon-color: rgb(var(--status-info-04));
  --mds-label-color: rgb(var(--status-info-02));
  --mds-label-icon-color: rgb(var(--status-info-02));
  --mds-label-selection-background: rgb(var(--status-info-06));
  --mds-label-selection-color: rgb(var(--status-info-10));
}

:host([variant="info"][tone="text"]) {
  --mds-label-background: rgb(var(--status-info-09));
  --mds-label-button-background: rgb(var(--status-info-09));
  --mds-label-button-background-hover: rgb(var(--status-info-08));
  --mds-label-button-icon-color: rgb(var(--status-info-04));
  --mds-label-color: rgb(var(--status-info-04));
  --mds-label-icon-color: rgb(var(--status-info-04));
  --mds-label-selection-background: rgb(var(--status-info-05));
  --mds-label-selection-color: rgb(var(--status-info-09));
}
