@tailwind utilities;

:host ( [variant=light] ),
:host ( [variant=light][tone=strong] ) {

  --background: theme('colors.tone-neutral-10');
  --color: theme('colors.tone-neutral-03');
  --icon-color: theme('colors.tone-neutral-03');
  --selection-background: theme('colors.tone-neutral-03');
  --selection-color: theme('colors.tone-neutral-09');
}

:host ( [variant=light][tone=weak] ) {

  --background: theme('colors.tone-neutral-10');
  --color: theme('colors.tone-neutral-03');
  --icon-color: theme('colors.tone-neutral-03');
  --selection-background: theme('colors.tone-neutral-03');
  --selection-color: theme('colors.tone-neutral-09');
}

:host ( [variant=light][tone=quiet] ) {

  --background: theme('colors.tone-neutral-09');
  --color: theme('colors.tone-neutral-02');
  --icon-color: theme('colors.tone-neutral-02');
  --selection-background: theme('colors.tone-neutral-02');
  --selection-color: theme('colors.tone-neutral-08');
}
