:host([variant="orchid"]),
:host([variant="orchid"][tone="strong"]) {
  --mds-label-background: var(--color-label-orchid-04);
  --mds-label-button-background: var(--color-label-orchid-04);
  --mds-label-button-background-hover: var(--color-label-orchid-05);
  --mds-label-button-icon-color: var(--color-label-orchid-10);
  --mds-label-color: var(--color-label-orchid-10);
  --mds-label-icon-color: var(--color-label-orchid-10);
  --mds-label-selection-background: var(--color-label-orchid-08);
  --mds-label-selection-color: var(--color-label-orchid-02);
}

:host([variant="orchid"][tone="weak"]) {
  --mds-label-background: var(--color-label-orchid-08);
  --mds-label-button-background: var(--color-label-orchid-09);
  --mds-label-button-background-hover: var(--color-label-orchid-08);
  --mds-label-button-icon-color: var(--color-label-orchid-04);
  --mds-label-color: var(--color-label-orchid-02);
  --mds-label-icon-color: var(--color-label-orchid-02);
  --mds-label-selection-background: var(--color-label-orchid-06);
  --mds-label-selection-color: var(--color-label-orchid-10);
}

:host([variant="orchid"][tone="quiet"]) {
  --mds-label-background: var(--color-label-orchid-09);
  --mds-label-button-background: var(--color-label-orchid-09);
  --mds-label-button-background-hover: var(--color-label-orchid-08);
  --mds-label-button-icon-color: var(--color-label-orchid-04);
  --mds-label-color: var(--color-label-orchid-04);
  --mds-label-icon-color: var(--color-label-orchid-04);
  --mds-label-selection-background: var(--color-label-orchid-05);
  --mds-label-selection-color: var(--color-label-orchid-09);
}
