:host([variant="light"]),
:host([variant="light"][tone="strong"]) {
  --mds-label-background: var(--color-tone-neutral-10);
  --mds-label-button-background: var(--color-tone-neutral-10);
  --mds-label-button-background-hover: var(--color-tone-neutral-09);
  --mds-label-button-icon-color: var(--color-tone-neutral-03);
  --mds-label-color: var(--color-tone-neutral-03);
  --mds-label-icon-color: var(--color-tone-neutral-03);
  --mds-label-selection-background: var(--color-tone-neutral-03);
  --mds-label-selection-color: var(--color-tone-neutral-09);
}

:host([variant="light"][tone="weak"]) {
  --mds-label-background: var(--color-tone-neutral-09);
  --mds-label-button-background: var(--color-tone-neutral-09);
  --mds-label-button-background-hover: var(--color-tone-neutral-10);
  --mds-label-button-icon-color: var(--color-tone-neutral-03);
  --mds-label-color: var(--color-tone-neutral-03);
  --mds-label-icon-color: var(--color-tone-neutral-03);
  --mds-label-selection-background: var(--color-tone-neutral-03);
  --mds-label-selection-color: var(--color-tone-neutral-09);
}

:host([variant="light"][tone="quiet"]) {
  --mds-label-background: var(--color-tone-neutral-09);
  --mds-label-button-background: var(--color-tone-neutral-09);
  --mds-label-button-background-hover: var(--color-tone-neutral-09);
  --mds-label-button-icon-color: var(--color-tone-neutral-02);
  --mds-label-color: var(--color-tone-neutral-02);
  --mds-label-icon-color: var(--color-tone-neutral-02);
  --mds-label-selection-background: var(--color-tone-neutral-02);
  --mds-label-selection-color: var(--color-tone-neutral-08);
}
