@tailwind utilities;

:host ( [variant=yellow] ),
:host ( [variant=yellow][tone=strong] ) {

  --background: theme('colors.label-yellow-04');
  --color: theme('colors.label-yellow-10');
  --icon-color: theme('colors.label-yellow-10');
  --selection-background: theme('colors.label-yellow-08');
  --selection-color: theme('colors.label-yellow-02');
}

:host ( [variant=yellow][tone=weak] ) {

  --background: theme('colors.label-yellow-08');
  --color: theme('colors.label-yellow-02');
  --icon-color: theme('colors.label-yellow-02');
  --selection-background: theme('colors.label-yellow-06');
  --selection-color: theme('colors.label-yellow-10');
}

:host ( [variant=yellow][tone=quiet] ) {

  --background: theme('colors.label-yellow-09');
  --color: theme('colors.label-yellow-04');
  --icon-color: theme('colors.label-yellow-04');
  --selection-background: theme('colors.label-yellow-05');
  --selection-color: theme('colors.label-yellow-09');
}
