:host([variant="sky"]),
:host([variant="sky"][tone="strong"]) {
  --mds-label-background: var(--color-label-sky-04);
  --mds-label-button-background: var(--color-label-sky-04);
  --mds-label-button-background-hover: var(--color-label-sky-05);
  --mds-label-button-icon-color: var(--color-label-sky-10);
  --mds-label-color: var(--color-label-sky-10);
  --mds-label-icon-color: var(--color-label-sky-10);
  --mds-label-selection-background: var(--color-label-sky-08);
  --mds-label-selection-color: var(--color-label-sky-02);
}

:host([variant="sky"][tone="weak"]) {
  --mds-label-background: var(--color-label-sky-08);
  --mds-label-button-background: var(--color-label-sky-09);
  --mds-label-button-background-hover: var(--color-label-sky-08);
  --mds-label-button-icon-color: var(--color-label-sky-04);
  --mds-label-color: var(--color-label-sky-02);
  --mds-label-icon-color: var(--color-label-sky-02);
  --mds-label-selection-background: var(--color-label-sky-06);
  --mds-label-selection-color: var(--color-label-sky-10);
}

:host([variant="sky"][tone="quiet"]) {
  --mds-label-background: var(--color-label-sky-09);
  --mds-label-button-background: var(--color-label-sky-09);
  --mds-label-button-background-hover: var(--color-label-sky-08);
  --mds-label-button-icon-color: var(--color-label-sky-04);
  --mds-label-color: var(--color-label-sky-04);
  --mds-label-icon-color: var(--color-label-sky-04);
  --mds-label-selection-background: var(--color-label-sky-05);
  --mds-label-selection-color: var(--color-label-sky-09);
}
