:host([variant="green"]),
:host([variant="green"][tone="strong"]) {
  --mds-label-background: var(--color-label-green-04);
  --mds-label-button-background: var(--color-label-green-04);
  --mds-label-button-background-hover: var(--color-label-green-05);
  --mds-label-button-icon-color: var(--color-label-green-10);
  --mds-label-color: var(--color-label-green-10);
  --mds-label-icon-color: var(--color-label-green-10);
  --mds-label-selection-background: var(--color-label-green-08);
  --mds-label-selection-color: var(--color-label-green-02);
}

:host([variant="green"][tone="weak"]) {
  --mds-label-background: var(--color-label-green-08);
  --mds-label-button-background: var(--color-label-green-09);
  --mds-label-button-background-hover: var(--color-label-green-08);
  --mds-label-button-icon-color: var(--color-label-green-04);
  --mds-label-color: var(--color-label-green-02);
  --mds-label-icon-color: var(--color-label-green-02);
  --mds-label-selection-background: var(--color-label-green-06);
  --mds-label-selection-color: var(--color-label-green-10);
}

:host([variant="green"][tone="quiet"]) {
  --mds-label-background: var(--color-label-green-09);
  --mds-label-button-background: var(--color-label-green-09);
  --mds-label-button-background-hover: var(--color-label-green-08);
  --mds-label-button-icon-color: var(--color-label-green-04);
  --mds-label-color: var(--color-label-green-04);
  --mds-label-icon-color: var(--color-label-green-04);
  --mds-label-selection-background: var(--color-label-green-05);
  --mds-label-selection-color: var(--color-label-green-09);
}
