:host([variant="warning"]),
:host([variant="warning"][tone="strong"]) {
  --mds-label-background: rgb(var(--status-warning-04));
  --mds-label-button-background: rgb(var(--status-warning-04));
  --mds-label-button-background-hover: rgb(var(--status-warning-05));
  --mds-label-button-icon-color: rgb(var(--status-warning-10));
  --mds-label-color: rgb(var(--status-warning-10));
  --mds-label-icon-color: rgb(var(--status-warning-10));
  --mds-label-selection-background: rgb(var(--status-warning-08));
  --mds-label-selection-color: rgb(var(--status-warning-02));
}

:host([variant="warning"][tone="weak"]) {
  --mds-label-background: rgb(var(--status-warning-08));
  --mds-label-button-background: rgb(var(--status-warning-09));
  --mds-label-button-background-hover: rgb(var(--status-warning-08));
  --mds-label-button-icon-color: rgb(var(--status-warning-04));
  --mds-label-color: rgb(var(--status-warning-02));
  --mds-label-icon-color: rgb(var(--status-warning-02));
  --mds-label-selection-background: rgb(var(--status-warning-06));
  --mds-label-selection-color: rgb(var(--status-warning-10));
}

:host([variant="warning"][tone="quiet"]) {
  --mds-label-background: rgb(var(--status-warning-09));
  --mds-label-button-background: rgb(var(--status-warning-09));
  --mds-label-button-background-hover: rgb(var(--status-warning-08));
  --mds-label-button-icon-color: rgb(var(--status-warning-04));
  --mds-label-color: rgb(var(--status-warning-04));
  --mds-label-icon-color: rgb(var(--status-warning-04));
  --mds-label-selection-background: rgb(var(--status-warning-05));
  --mds-label-selection-color: rgb(var(--status-warning-09));
}
