:host([variant="violet"]),
:host([variant="violet"][tone="strong"]) {
  --mds-label-background: var(--color-label-violet-04);
  --mds-label-button-background: var(--color-label-violet-04);
  --mds-label-button-background-hover: var(--color-label-violet-05);
  --mds-label-button-icon-color: var(--color-label-violet-10);
  --mds-label-color: var(--color-label-violet-10);
  --mds-label-icon-color: var(--color-label-violet-10);
  --mds-label-selection-background: var(--color-label-violet-08);
  --mds-label-selection-color: var(--color-label-violet-02);
}

:host([variant="violet"][tone="weak"]) {
  --mds-label-background: var(--color-label-violet-08);
  --mds-label-button-background: var(--color-label-violet-09);
  --mds-label-button-background-hover: var(--color-label-violet-08);
  --mds-label-button-icon-color: var(--color-label-violet-04);
  --mds-label-color: var(--color-label-violet-02);
  --mds-label-icon-color: var(--color-label-violet-02);
  --mds-label-selection-background: var(--color-label-violet-06);
  --mds-label-selection-color: var(--color-label-violet-10);
}

:host([variant="violet"][tone="quiet"]) {
  --mds-label-background: var(--color-label-violet-09);
  --mds-label-button-background: var(--color-label-violet-09);
  --mds-label-button-background-hover: var(--color-label-violet-08);
  --mds-label-button-icon-color: var(--color-label-violet-04);
  --mds-label-color: var(--color-label-violet-04);
  --mds-label-icon-color: var(--color-label-violet-04);
  --mds-label-selection-background: var(--color-label-violet-05);
  --mds-label-selection-color: var(--color-label-violet-09);
}
