:host([variant="info"]),
:host([variant="info"][tone="strong"]) {
  --mds-label-background: var(--color-status-info-04);
  --mds-label-button-background: var(--color-status-info-04);
  --mds-label-button-background-hover: var(--color-status-info-05);
  --mds-label-button-icon-color: var(--color-status-info-10);
  --mds-label-color: var(--color-status-info-10);
  --mds-label-icon-color: var(--color-status-info-10);
  --mds-label-selection-background: var(--color-status-info-08);
  --mds-label-selection-color: var(--color-status-info-02);
}

:host([variant="info"][tone="weak"]) {
  --mds-label-background: var(--color-status-info-08);
  --mds-label-button-background: var(--color-status-info-09);
  --mds-label-button-background-hover: var(--color-status-info-08);
  --mds-label-button-icon-color: var(--color-status-info-04);
  --mds-label-color: var(--color-status-info-02);
  --mds-label-icon-color: var(--color-status-info-02);
  --mds-label-selection-background: var(--color-status-info-06);
  --mds-label-selection-color: var(--color-status-info-10);
}

:host([variant="info"][tone="quiet"]) {
  --mds-label-background: var(--color-status-info-09);
  --mds-label-button-background: var(--color-status-info-09);
  --mds-label-button-background-hover: var(--color-status-info-08);
  --mds-label-button-icon-color: var(--color-status-info-04);
  --mds-label-color: var(--color-status-info-04);
  --mds-label-icon-color: var(--color-status-info-04);
  --mds-label-selection-background: var(--color-status-info-05);
  --mds-label-selection-color: var(--color-status-info-09);
}
