:host([variant="aqua"]),
:host([variant="aqua"][tone="strong"]) {
  --mds-label-background: var(--color-label-aqua-04);
  --mds-label-button-background: var(--color-label-aqua-04);
  --mds-label-button-background-hover: var(--color-label-aqua-05);
  --mds-label-button-icon-color: var(--color-label-aqua-10);
  --mds-label-color: var(--color-label-aqua-10);
  --mds-label-icon-color: var(--color-label-aqua-10);
  --mds-label-selection-background: var(--color-label-aqua-08);
  --mds-label-selection-color: var(--color-label-aqua-02);
}

:host([variant="aqua"][tone="weak"]) {
  --mds-label-background: var(--color-label-aqua-08);
  --mds-label-button-background: var(--color-label-aqua-09);
  --mds-label-button-background-hover: var(--color-label-aqua-08);
  --mds-label-button-icon-color: var(--color-label-aqua-04);
  --mds-label-color: var(--color-label-aqua-02);
  --mds-label-icon-color: var(--color-label-aqua-02);
  --mds-label-selection-background: var(--color-label-aqua-06);
  --mds-label-selection-color: var(--color-label-aqua-10);
}

:host([variant="aqua"][tone="quiet"]) {
  --mds-label-background: var(--color-label-aqua-09);
  --mds-label-button-background: var(--color-label-aqua-09);
  --mds-label-button-background-hover: var(--color-label-aqua-08);
  --mds-label-button-icon-color: var(--color-label-aqua-04);
  --mds-label-color: var(--color-label-aqua-04);
  --mds-label-icon-color: var(--color-label-aqua-04);
  --mds-label-selection-background: var(--color-label-aqua-05);
  --mds-label-selection-color: var(--color-label-aqua-09);
}
