@import '../../tailwind/fouc.css';

/**
 * @prop --mds-accordion-timer-progress-bar-color: Sets the color of the progress bar when the mds-accordion-timer-item is selected
 * @prop --mds-accordion-timer-progress-bar-background: Sets the background-color of the progress bar when the mds-accordion-timer-item is selected
 * @prop --mds-accordion-timer-color: Sets the text color of the component mds-accordion-timer-item
 * @prop --mds-accordion-timer-progress-bar-thickness: Sets thickness of the progress bar of the mds-accordion-timer-item
 * @prop --mds-accordion-timer-duration: Sets the transition duration of open/close animation of the mds-accordion-timer-item
 */

@property --mds-accordion-timer-progress-bar-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-03));
  syntax: "<color>";
}

@property --mds-accordion-timer-progress-bar-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-08));
  syntax: "<color>";
}

@property --mds-accordion-timer-progress-bar-thickness {
  inherits: false;
  initial-value: 1px; /* placeholder valido (Houdini non accetta --spacing) */
  syntax: "<length>";
}

@property --mds-accordion-timer-duration {
  inherits: false;
  initial-value: 500ms;
  syntax: "<time>";
}


:host {
  --mds-accordion-timer-progress-bar-color: rgb(var(--tone-neutral-03));
  --mds-accordion-timer-progress-bar-background: rgb(var(--tone-neutral-08));
  --mds-accordion-timer-progress-bar-thickness: --spacing(100);
  --mds-accordion-timer-duration: 500ms;

  display: block;
}


@import './css/mds-accordion-timer-pref-animation.css';
