:host-context(.pref-theme-dark) {
  background-color: theme('colors.tone-neutral-10');
  box-shadow: theme('boxShadow.outline'), theme('boxShadow.lg');
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    background-color: theme('colors.tone-neutral-10');
    box-shadow: theme('boxShadow.outline'), theme('boxShadow.lg');
  }
}
