:host-context(.pref-theme-dark) {
  background-color: rgb(var(--tone-neutral-10));
  box-shadow: var(--shadow-outline), var(--shadow-lg);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    background-color: rgb(var(--tone-neutral-10));
    box-shadow: var(--shadow-outline), var(--shadow-lg);
  }
}
