@tailwind utilities;

:host {

  --mds-price-table-list-separator-color: theme('colors.theme-default-04-primary-decoration');

  @apply
    gap-600
    p-600
    rounded-xl;

  background-color: theme('colors.label-green-10');
  display: grid;
}


.separator {
  background-color: var(--mds-price-table-list-separator-color);
}


header {
  @apply gap-200;

  display: grid;
}

main {
  @apply gap-300;

  display: grid;
}

footer {
  @apply gap-400;

  display: grid;
}

