:host([variant="error"][tone="strong"]) {
  background-color: var(--color-status-error-04);
}

:host([variant="error"][tone="weak"]) {
  background-color: var(--color-status-error-08);
}

:host([variant="success"][tone="strong"]) {
  background-color: var(--color-status-success-04);
}

:host([variant="success"][tone="weak"]) {
  background-color: var(--color-status-success-08);
}

:host([variant="warning"][tone="strong"]) {
  background-color: var(--color-status-warning-04);
}

:host([variant="warning"][tone="weak"]) {
  background-color: var(--color-status-warning-08);
}

:host([variant="info"][tone="strong"]) {
  background-color: var(--color-status-info-04);
}

:host([variant="info"][tone="weak"]) {
  background-color: var(--color-status-info-08);
}

:host([variant="ai"][tone="strong"]) {
  background-color: var(--color-variant-ai-04);
}

:host([variant="ai"][tone="weak"]) {
  background-color: var(--color-variant-ai-08);
}

:host([variant="primary"][tone="strong"]) {
  background-color: var(--color-variant-primary-03);
}

:host([variant="primary"][tone="weak"]) {
  background-color: var(--color-variant-primary-08);
}

:host([variant="secondary"][tone="strong"]) {
  background-color: var(--color-variant-secondary-04);
}

:host([variant="secondary"][tone="weak"]) {
  background-color: var(--color-variant-secondary-08);
}

:host([variant="dark"][tone="strong"]) {
  background-color: var(--color-tone-neutral-05);
}

:host([variant="dark"][tone="weak"]) {
  background-color: var(--color-tone-neutral-07);
}

:host([variant="light"][tone="strong"]) {
  background-color: var(--color-tone-neutral-08);
  box-shadow: var(--shadow-outline-50);
}

:host([variant="light"][tone="weak"]) {
  background-color: var(--color-tone-neutral-08);
  box-shadow: var(--shadow-outline-light-50);
}
