@import './css/mds-pref-language-fouc.css';

mds-pref-language {
  display: grid;
  gap: --spacing(400);
}

.mds-pref-language-dropdown {
  gap: --spacing(100);
  padding: --spacing(400);
}

.item {
  --mds-tab-item-default-color: rgb(var(--tone-neutral-05));

  flex-basis: 0;
  flex-grow: 1;
}

.item--custom-language {
  cursor: pointer;
}

.item--auto,
.item--custom-language {
  --mds-tab-item-selected-color: rgb(var(--tone-neutral-03));
}
