:host-context(.pref-animation-reduce),
:host-context(.pref-animation-reduce) .dot {
  transition-duration: 0s;
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    transition-duration: 0s;

    .dot {
      transition-duration: 0s;
    }
  }
}
