@tailwind utilities;

mds-flex-table-row {

  @apply
    border-b
    flex
    transition-colors;

  border-bottom-color: var(--border-color, theme('colors.adjust-tone-09'));
  scroll-snap-align: start;
}

mds-flex-table-row:last-child {
  border-bottom: 0;
}

mds-flex-table-row.flex-table-row.flex-table-row--interactive:hover {
  background-color: var(--background-row-hover, theme('colors.adjust-tone'));
}
