@tailwind utilities;

:host {

  @apply
    border-b
    flex
    snap-start
    transition-colors;

  border-bottom-color: var(--border-color, theme('colors.adjust-tone-09'));
  border-bottom-style: solid;
}

:host ( :last-child ) {
  border-bottom: 0;
}

:host ( [interactive]:hover ) {
  background-color: var(--background-row-hover, theme('colors.adjust-tone')) !important;
}
