/*!
  This file requires postcss and eventually postcss-cli to build this tailwind css file.
  You should use these postcss plugins in the postcss.config.js file:

  module.exports = {
    plugins: [
      require('postcss-import'),
      require('tailwindcss/nesting'),
      require('tailwindcss'),
      require('autoprefixer'),
    ],
  }
*/

@import 'tailwindcss/components';
@import '../tailwind/typography.css';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body,
html {
  @apply m-0;
}

body {
  @apply
    antialiased
    font-info
    text-tone-neutral-02
    text-info-detail;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

::selection {
  background-color: var(--selection-background, theme('colors.label-sky-09'));
  color: var(--selection-color, theme('colors.label-sky-01'));
}

button,
optgroup,
select {
  @apply
    antialiased
    font-medium
    font-title
    leading-relaxed;
}

input,
textarea {
  @apply appearance-none;

  font-family: inherit;
}

b,
strong {
  @apply
    font-semibold
    tracking-tight;
}

a {
  @apply text-brand-maggioli-03;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a,
aside,
body,
code,
div,
datalist,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
input,
li,
main,
section,
span,
ul,
textarea {
  @apply box-border;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0;
}
