@import url('../../tailwind/components.css');
@tailwind components;
@tailwind utilities;

/**
  * @prop --mds-tab-duration: Sets the animation duration when the component switch from a content to another one
*/

:host {

  --mds-tab-duration: 0.5s;

  @apply grid;
}

.tabs {

  @apply
    flex
    gap-2
    hide-scrollbar
    overflow-auto
    p-2
    scroll-smooth;

  background-color: var(--mds-tab-background);
  border-radius: var(--mds-tab-radius);
  scroll-snap-type: x mandatory;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.contents {
    @apply
      border
      border-solid
      flex
      p-6
      relative;
}

.content {
  @apply
    absolute
    left-0
    right-0
    top-0;
}

.content--hidden {
  @apply hidden;
}
