@import url('../../tailwind/components.css');
@tailwind components;
@tailwind utilities;

/**
  * @prop --mds-tab-duration: Sets the animation duration when the component switch from a content to another one
*/

:host {

  --mds-tab-duration: .75s;
  --mds-tab-timing-function: theme('transitionTimingFunction.in-out-expo');
  --mds-tab-fadeout-opacity: 1;

  @apply grid;
}

.tabs {

  @apply
    flex
    gap-2
    hide-scrollbar
    overflow-auto
    p-2
    scroll-smooth;

  background-color: rgb(var(--theme-default-06-secondary-background));
  border-radius: theme('borderRadius.xl');
  scroll-snap-type: x mandatory;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.contents {

  --mds-tab-contents-height: auto;

  @apply
    flex
    items-start
    overflow-hidden
    relative
    scroll-smooth;

  height: var(--mds-tab-contents-height);
  transition: height var(--mds-tab-duration) var(--mds-tab-timing-function);
}

.contents--scroll {
  @apply
    flex
    gap-6
    hide-scrollbar
    items-start
    overflow-x-auto
    overflow-y-hidden;

  scroll-snap-type: x mandatory;
}

.content {
  @apply
    basis-0
    min-w-full
    snap-start
    w-full;

  animation-duration: var(--mds-tab-duration);
  animation-timing-function: var(--mds-tab-timing-function);
  animation-fill-mode: forwards;
}

.content--absolute {
  @apply
    absolute
    left-0
    opacity-0
    pointer-events-none
    right-0
    top-0;
}

.content--hidden {
  @apply hidden;
}

@keyframes animate-to-left {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }

  to {
    opacity: var(--mds-tab-fadeout-opacity);
    transform: translate(-100%, 0);
  }
}

@keyframes animate-to-right {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }

  to {
    opacity: var(--mds-tab-fadeout-opacity);
    transform: translate(100%, 0);
  }
}

@keyframes animate-from-left {
  from {
    opacity: var(--mds-tab-fadeout-opacity);
    transform: translate(-100%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-from-right {
  from {
    opacity: var(--mds-tab-fadeout-opacity);
    transform: translate(100%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.content--animate-to-left {
  animation-name: animate-to-left;
}

.content--animate-to-right {
  animation-name: animate-to-right;
}

.content--animate-from-left {
  animation-name: animate-from-left;
}

.content--animate-from-right {
  animation-name: animate-from-right;
}
