@tailwind utilities;

/**
  * @prop --mds-tab-background: Sets the background-color of the component
  * @prop --mds-tab-radius: Sets the border-radius of the button when the mouse is over it
*/

:host {

  --mds-tab-background: theme('colors.tone-neutral-09');
  --mds-tab-radius: theme('spacing.4');

  @apply
    flex
    gap-2
    overflow-auto
    p-2;

  background-color: var(--mds-tab-background);
  border-radius: var(--mds-tab-radius);
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

:host::-webkit-scrollbar {
  display: none;
}
