@import '~Sass/import-framework';

$columns: 4;

@mixin gutter-modifier ($size-item) {

  $modifier: nth($size-item, 1);
  $gutter: nth($size-item, 2);

  &--#{$modifier} {
    grid-gap: $gutter;
  }
}

@mixin columns-modifier ($column-index) {
  &--#{$column-index}-columns {

    @if ($column-index > 2) {
      @include media ('tablet') {
        grid-template-columns: repeat(#{round($column-index / 2)}, 1fr);
      }
    }
    @include media ('desktop') {
      grid-template-columns: repeat($column-index, 1fr);
    }
  }
}

.grid {
  display: grid;
  grid-gap: get($size, 'normal');

  @each $size-item in $size {
    @include gutter-modifier ($size-item);
  }

  @for $index from 2 to $columns + 1 {
    @include columns-modifier ($index);
  }

  &--fit {
    grid-auto-rows: minmax(min-content, max-content);
  }

  &--auto-columns {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &--tmpl-design-system-page {
    grid-gap: s(2);
    grid-template-columns: 1fr;

    @include media ('desktop') {
      grid-gap: s(3);
      grid-template-columns: 350px auto;
    }
  }

  @include media ('mobile') {
    grid-template-columns: 1fr;
  }
}
