@import '~Sass/import-framework';

$columns: 4;

@mixin gutter-modifier ($size-item: ('none', 0)) {

  $modifier: nth($size-item, 1);
  $gutter: nth($size-item, 2);

  &--gutter-#{$modifier} {
    grid-gap: $gutter;
  }
}

@mixin columns-modifier ($column-index) {
  &--#{$column-index}-columns {

    @if ($column-index > 2) {
      @include media ('tablet') {
        grid-template-columns: repeat(#{round($column-index / 2)}, 1fr);
      }
    }
    @include media ('desktop') {
      grid-template-columns: repeat($column-index, 1fr);
    }
  }
}

.grid {
  display: grid;
  grid-gap: s(1.5);
  grid-template-columns: 100%;

  @include gutter-modifier;

  @each $size-item in $size {
    @include gutter-modifier ($size-item);
  }

  @for $index from 2 to $columns + 1 {
    @include columns-modifier ($index);
  }

  @include media ('mobile') {
    grid-template-columns: 1fr;
  }

  &--tmpl-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    @include media ('mobile') {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    }
  }

  &--tmpl-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    @include media ('mobile') {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
    }
  }

  &--fit {
    grid-auto-rows: minmax(min-content, max-content);
  }

  &--align-center {
    align-items: center;
  }
}
