:host-context(.pref-theme-dark) {
  --mds-chip-background: rgb(var(--tone-neutral-08));

  box-shadow: var(--shadow-outline);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-chip-background: rgb(var(--tone-neutral-08));

    box-shadow: var(--shadow-outline);
  }
}
