@import '~Sass/import';

$brand-color: var(--color-brand-maggioli-light-c-04);
$ease: get($tween, 'hover');
$error-blur-border-color: var(--color-status-error-light-c-04);
$error-focus-border-color: var(--color-status-error-light-color);
$error-focus-outline: 0 0 0 4px var(--color-status-error-light-c-04);
$input-radius-error: get($radius, 'small');
$input-radius: get($radius, 'small');
$label-color: var(--color-adjust-tone-light-c-02);
$size: get($form, 'input-height');

.input {

  display: block;
  line-height: 0;
  margin-bottom: s(-1);
  position: relative;
  transition: margin-bottom $ease;
  width: 100%;

  &--has-icon {
    .input {
      &__field {
        padding-left: $size;
      }
    }
  }

  &:focus-within {
    .input {
      &__icon {
        --color: #{$brand-color};
        color: var(--color);
      }
    }
  }

  &--has-errors {
    margin-bottom: 0;

    .input {
      &__errors {
        display: block;
        transform: translate(0, 0);
      }

      &__field {
        border-color: $error-blur-border-color;
        border-radius: $input-radius $input-radius 0 0;

        &:focus {
          border-color: $error-focus-border-color;
          box-shadow: $error-focus-outline;
        }
      }
    }
  }

  &__label {
    --color: var(--color-adjust-tone-light-c-02);

    color: var(--color);
    margin-bottom: s(0.5);
  }

  &__field {
    --border-color: transparent;
    --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};
    --color: var(--color-adjust-tone-light-c-02);

    border: 1px solid var(--border-color);
    border-radius: $input-radius;
    box-shadow: var(--box-shadow);
    color: var(--color);
    height: $size;
    line-height: $size;
    padding: 0 s(0.5);
    position: relative;
    transition: border-color $ease, border-radius $ease, box-shadow $ease;
    width: 100%;
    z-index: 1;

    &:focus {
      --border-color: #{$brand-color};
      --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};

      border-color: var(--border-color);
      box-shadow: var(--box-shadow);
      outline: 0;

      &::placeholder {
        --color: var(--color-adjust-tone-light-c-12);
        color: var(--color);
      }
    }

    &::placeholder {
      --color: var(--color-adjust-tone-light-c-08);
      color: var(--color);
      line-height: $size;
      transition: color $ease;
    }
  }

  &__icon-area {
    align-items: center;
    display: flex;
    height: $size;
    justify-content: center;
    position: absolute;
    left: 0;
    width: $size;
    z-index: 2;
  }

  &__icon {
    --color: var(--color-adjust-tone-light-c-02);
    color: var(--color);
    transition: color $ease;
  }

  &__errors {
    background-color: var(--color-status-error-light-c-08);
    border-radius: 0 0 $input-radius-error $input-radius-error;
    margin: 0;
    padding: s(0.5);
    transform: translate(0, -100%);
    transition: transform $ease;
  }

  &__error {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  &__error-icon {
    margin-right: s(0.5);
  }
}

.input--flat {
  .input {
    $text-color: var(--color-adjust-tone-light-c-02);

    &__label {
      --color: #{$text-color};
    }

    &__field {
      --box-shadow: none;
      --border-color: var(--color-adjust-tone-light-c-10);
      --color: #{$text-color};

      &:focus {
        --border-color: #{$brand-color};
        --box-shadow: none;

        &::placeholder {
          --color: var(--color-adjust-tone-light-c-12);
        }
      }

      &::placeholder {
        --color: var(--color-adjust-tone-light-c-08);
      }
    }

    &__icon {
      --color: #{$text-color};
    }
  }
}
