@import './css/mds-push-notification-item-fouc.css';

/**
 * @prop --mds-push-notification-item-duration: Duration of the individual push notification item animation.
 * @prop --mds-push-notification-item-icon-background-color: Background color of the item's icon.
 * @prop --mds-push-notification-item-icon-color: Color of the item's icon.
 * @prop --mds-push-notification-item-message-line-clamp: Number of lines to clamp the message text.
 * @prop --mds-push-notification-item-shadow: Shadow applied to the push notification item.
 * @prop --mds-push-notification-item-subject-line-clamp: Number of lines to clamp the subject text.
 * @prop --mds-push-notification-item-timing-function: Timing function used for the item animation.
 */

@property --mds-push-notification-item-duration {
  inherits: false;
  initial-value: 300ms;
  syntax: '<time>';
}

@property --mds-push-notification-item-icon-background-color {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@property --mds-push-notification-item-icon-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-04));
  syntax: '<color>';
}

@property --mds-push-notification-item-message-line-clamp {
  inherits: false;
  initial-value: 2;
  syntax: '<integer>';
}

@property --mds-push-notification-item-subject-line-clamp {
  inherits: false;
  initial-value: 1;
  syntax: '<integer>';
}

/* ❌ Not supported
@property --mds-push-notification-item-shadow {
  inherits: false;
  initial-value: var(--shadow);
  syntax: "<box-shadow>";
}

@property --mds-push-notification-item-timing-function {
  inherits: false;
  initial-value: var(--ease-in-out-quint);
  syntax: "<timing-function>";
}
*/

:host {
  --mds-push-notification-item-duration: 300ms;
  --private-push-notification-item-duration: var(--mds-push-notification-item-duration);
  --mds-push-notification-item-icon-background-color: transparent;
  --mds-push-notification-item-icon-color: rgb(var(--tone-neutral-04));
  --mds-push-notification-item-message-line-clamp: 2;
  --mds-push-notification-item-shadow: var(--shadow-sm-sharp);
  --mds-push-notification-item-subject-line-clamp: 1;
  --mds-push-notification-item-timing-function: var(--ease-in-out-quint);

  align-items: flex-start;
  background-color: rgb(var(--tone-neutral));
  border-radius: var(--radius-lg);
  box-shadow: var(--mds-push-notification-item-shadow);
  color: rgb(var(--tone-neutral-02));
  display: flex;
  gap: --spacing(400);
  max-width: --spacing(8000);
  min-width: --spacing(7200);
  padding: --spacing(400);
  pointer-events: auto;
  position: relative;
  transition-duration: var(--private-push-notification-item-duration);
  transition-property: background-color, box-shadow, color, margin, transform;
  transition-timing-function: var(--mds-push-notification-item-timing-function);
}

:host([deletable]) {
  padding-right: --spacing(800);
}

.content {
  display: grid;
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: --spacing(200);
  min-width: 1px;
  padding-top: --spacing(200);
}

.avatar,
.picture {
  flex-shrink: 0;
}

.picture {
  border-radius: 0.25rem;
  box-shadow: var(--shadow-sm-sharp);
  max-width: --spacing(1200);
  width: 100%;
}

.close-button {
  @apply transition-cosmetic;

  opacity: 0;
  padding: --spacing(150);
  position: absolute;
  right: 0;
  top: 0;
}

:host(:hover) .close-button {
  opacity: 1;
}

.close-button:focus-visible,
.close-button:hover {
  fill: rgb(var(--tone-neutral-03));
  opacity: 1;
}

.header {
  align-items: baseline;
  display: flex;
  gap: --spacing(100);
  justify-content: space-between;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infos {
  display: flex;
  flex-direction: column;
}

.time {
  flex-shrink: 0;
  margin-right: --spacing(100);
  white-space: nowrap;
}

.subject {
  --mds-text-line-clamp: var(--mds-push-notification-item-subject-line-clamp);

  line-height: var(--leading-sm);
  text-overflow: ellipsis;
}

.message {
  --mds-text-line-clamp: var(--mds-push-notification-item-message-line-clamp);

  text-overflow: ellipsis;
}

.avatar {
  background-color: var(--mds-push-notification-item-icon-background-color);
  border-radius: 1000px;
  fill: var(--mds-push-notification-item-icon-color);
  height: --spacing(900);
  width: --spacing(900);
}

.avatar::part(svg) {
  width: --spacing(600);
}

:host([src]) .avatar {
  background-color: transparent;
}

:host([icon]) .avatar::part(wrapper) {
  padding: --spacing(150);
}

@import './css/mds-push-notification-item-pref-animation.css';
@import './css/mds-push-notification-item-pref-theme.css';
@import './css/mds-push-notification-item-pref-contrast.css';
@import './css/mds-push-notification-item-variant-primary.css';
@import './css/mds-push-notification-item-variant-label.css';
@import './css/mds-push-notification-item-variant-state.css';
