@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  @apply
    gap-2
    inline-flex
    text-adjust-tone-04;
}

.field {
  @apply hidden;
}

.label-icon {
  @apply
    cursor-pointer
    flex
    items-baseline
    relative;
}

.label-text {
  @apply
    cursor-pointer
    flex
    items-center;
}

.icon-typography-checked,
.icon-typography-unchecked {
  @apply
    inline-flex
    items-center;
}

.icon-typography-checked {
  @apply
    absolute
    left-0
    top-0;
}

.icon-checked,
.icon-unchecked {
  @apply
    ease-out-expo
    font-normal;
}

.icon-unchecked {
  @apply
    duration-700
    opacity-100
    text-adjust-tone-10
    transform
    transition-cosmetic;

  transform: scale(theme('scale.100'));
}

.icon-checked {
  @apply
    duration-300
    text-brand-maggioli-08
    transform
    transition-cosmetic;

  transform: scale(theme('scale.0'));
}

.indeterminate .icon-checked {
  @apply text-adjust-tone-06;
}

.switch,
.switch-container {
  @apply
    flex-shrink-0
    box-border
    w-14;
}

.switch {
  @apply
    bg-adjust-tone-14
    duration-300
    flex-shrink-0
    p-1
    rounded-full
    transition-colors;
}

.switch-toggle {
  @apply
    bg-adjust-tone-19
    cursor-pointer
    duration-300
    ease-out-expo
    h-6
    rounded-full
    shadow
    transform
    transition-transform
    w-6;
}

.field:checked + .label-icon .icon-unchecked {
  @apply
    duration-700
    opacity-0;

  transform: scale(theme('scale.150'));
}

.field:checked + .label-icon .icon-checked {
  @apply duration-700;

  transform: scale(theme('scale.100'));
}

.field:checked + .switch-container .switch {
  @apply
    bg-brand-maggioli-08;
}

.field:checked + .switch-container .switch-toggle {
  @apply
    bg-adjust-tone
    translate-x-full;
}

.field:focus + .label-icon .icon-checked,
.field:focus + .label-icon .icon-unchecked {
  @apply
    ring
    rounded-md;
}

.field:disabled + .label-icon .icon-unchecked {
  @apply text-adjust-tone-12;
}

.field:disabled + .label-icon .icon-checked {
  @apply text-adjust-tone-08;
}

.field:disabled + .label-icon {
  @apply cursor-default;
}

.field:disabled + .label-icon + .label-text {
  @apply cursor-default;
}

.field:disabled + .switch-container .switch {
  @apply
    bg-adjust-tone-17;
}

.field:disabled + .switch-container .switch-toggle {
  @apply
    bg-adjust-tone-19;
}
