@tailwind utilities;
@import '../../tailwind/components.css';

/*
* @prop --background: Sets the background-color of the component
* @prop --color: Sets the text color of the component
* @prop --fold-size: Sets the size of the fold decoration at the bottom right of the component
* @prop --selection-background: Sets the selection text background-color of the component
* @prop --selection-color: Sets the selection text color of the component
* @prop --shadow: Sets the box-shadow of the component
*/

:host {

  --background: theme('colors.label-yellow-10');
  --color: theme('colors.label-yellow-02');
  --fold-size: 40px;
  --selection-background: var(--mds-selection-background, theme('colors.label-yellow-09'));
  --selection-color: var(--mds-selection-color, theme('colors.label-yellow-02'));
  --shadow: theme('boxShadow.DEFAULT');

  @apply
    duration-300
    gap-2
    grid
    overflow-hidden
    p-6
    relative
    rounded
    transition-colors;

  background-color: var(--background);
  box-shadow: var(--shadow);
  color: var(--color);
}

:host ( [deletable]:not([deletable=false]) ) {
  @apply pr-16;
}

:host ( [deletable]:not([deletable=false]) ) .close {
  @apply
    absolute
    right-4
    top-4;
}

.fold {
  @apply
    absolute
    block
    border-solid
    bottom-0
    h-0
    opacity-40
    right-0
    w-0;

  border-color: transparent transparent theme('colors.tone-neutral-10') transparent;
  border-width: 0 0 var(--fold-size) var(--fold-size);
  filter: drop-shadow(0 0 var(--fold-size) var(--color));
}

.close {
  @apply
    bg-transparent
    cursor-pointer
    hover:bg-tone-neutral/50
    p-1
    rounded-full
    transition-cosmetic;

  fill: var(--color);
}

.title {
  @apply
    flex
    gap-4
    items-start;
}

.title .close {
  @apply ml-auto;
}

@import './css/mds-note-variants.css';
