@tailwind utilities;

:host {

  --fold-size: 40px;

  @apply
    duration-300
    gap-2
    grid
    overflow-hidden
    p-6
    relative
    rounded
    transition-colors;

  background-color: var(--background, theme('colors.label-yellow-09'));
  box-shadow: var(--shadow, theme('boxShadow.DEFAULT'));
  color: var(--color, theme('colors.label-yellow-02'));
}

:host ( .mds-note--close-outside ) {
  @apply pr-12;
}

:host ( .mds-note--close-outside ) .close {
  @apply
    absolute
    right-4
    top-4;
}

.fold {
  @apply
    absolute
    block
    border-solid
    bottom-0
    h-0
    right-0
    w-0;

  border-color: transparent transparent var(--background, theme('colors.label-yellow-09')) transparent;
  border-width: 0 0 var(--fold-size) var(--fold-size);
  filter: drop-shadow(0 0 var(--fold-size) rgba(0, 0, 0, 0.5));
}

.close {
  @apply
    bg-transparent
    cursor-pointer
    hover:bg-adjust-tone
    p-1
    rounded-full
    transition-cosmetic;
}

.title {
  @apply
    flex
    gap-4
    items-start;
}

.title .close {
  @apply ml-auto;
}

@import './css/mds-note-variants.css';
