.toggle-icon {

  --size: 24px;

  background-color: var(--mds-tree-item-icon-background-color);
  border: 0;
  border-radius: var(--mds-tree-item-toggle-size);
  fill: var(--mds-tree-item-icon-color);
  flex-shrink: 0;
  height: var(--size);
  min-height: var(--size);
  min-width: var(--size);
  order: 0;
  position: absolute;
  transform: rotate(0deg);
  transition-duration: var(--mds-tree-item-transition-duration);
  transition-property: transform;
  transition-timing-function: var(--mds-tree-item-transition-timing-function);
  width: var(--size);
  z-index: 2;
}

:host([icon="chevron"]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-chevron-default-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-chevron-default-color);
}

:host([icon="chevron"][expanded]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-chevron-expanded-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-chevron-expanded-color);
}

:host([icon="folder"]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-folder-default-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-folder-default-color);
  --size: auto;

  border-radius: theme('borderRadius.md');
  padding: theme('spacing.25') theme('spacing.50');
}

:host([icon="folder"][expanded]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-folder-expanded-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-folder-expanded-color);
}

:host([icon="chevron"][icon-position="left"][expanded]:not([expanded="false"])) .toggle-icon {
  transform: rotate(90deg);
}

:host([icon-position="left"]) .header .toggle-icon + .title .label-action {
  padding-left: 0;
}

:host([icon-position="right"]) .toggle-icon {
  order: 2;
}

:host([icon="chevron"][icon-position="right"]) .toggle-icon {
  transform: rotate(90deg);
}

:host([icon="chevron"][icon-position="right"][expanded]:not([expanded="false"])) .toggle-icon {
  transform: rotate(270deg);
}

:host([icon-position="right"]) .header .actions {
  transform: scale(0);
}

:host([icon-position="right"]) .header:focus-within .actions,
:host([icon-position="right"]) .header:hover .actions {
  transform: scale(1);
}

:host([icon="chevron"][icon-position="right"]:not([expanded])) .toggle-icon--dot,
:host([icon="folder"][icon-position="right"]:not([expanded])) .toggle-icon--dot,
:host([icon="chevron"][icon-position="right"][expanded]) .toggle-icon--dot,
:host([icon="folder"][icon-position="right"][expanded]) .toggle-icon--dot {
  transform: rotate(0) scale(0.825) !important;
}

:host([icon="chevron"][icon-position="right"]:not([expanded])) .toggle-icon,
:host([icon="folder"][icon-position="right"]:not([expanded])) .toggle-icon {
  background-color: transparent;
  fill: var(--mds-tree-item-toggle-dot-default-color);
}

:host([icon="chevron"][icon-position="right"][expanded]) .toggle-icon,
:host([icon="folder"][icon-position="right"][expanded]) .toggle-icon {
  background-color: transparent;
  fill: var(--mds-tree-item-toggle-dot-expanded-color);
}
