.tree-node {

  --middle-pos-x: calc(50% - calc(var(--mds-tree-item-toggle-border-size)/ 2));

  align-items: center;
  background-color: theme('colors.label-green-04');
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  height: var(--mds-tree-item-toggle-size);
  justify-content: center;
  position: relative;
  width: var(--mds-tree-item-toggle-size);
}

.tree-node::before {
  border-color: var(--mds-tree-item-toggle-border-color);
  border-radius: 0 0 0 var(--mds-tree-item-toggle-border-radius);
  border-style: solid;
  border-width: 0 0 var(--mds-tree-item-toggle-border-size) var(--mds-tree-item-toggle-border-size);
  box-sizing: border-box;
  content: "";
  display: flex;
  height: var(--mds-tree-item-toggle-size);
  inset: auto 0 0 var(--middle-pos-x);
  position: absolute;
  width: var(--mds-tree-item-toggle-size);
  z-index: 1;
}

.tree-node:not(:empty)::after {
  border-left-color: var(--mds-tree-item-toggle-border-color);
  border-left-style: solid;
  border-left-width: var(--mds-tree-item-toggle-border-size);
  box-sizing: border-box;
  content: "";
  display: flex;
  height: 4px;
  inset: calc(var(--mds-tree-item-toggle-size) / 2) 0 auto var(--middle-pos-x);
  position: absolute;
  transition-delay: var(--mds-tree-item-transition-duration);
  transition-duration: calc(var(--mds-tree-item-transition-duration) / 3);
  transition-property: height;
  transition-timing-function: linear;
  z-index: 0;
}

:host([expanded]) .tree-node::after {
  height: calc(var(--mds-tree-item-toggle-size) / 2);
  transition-delay: 0s;
}

/* has children */

.tree-node:not(:empty)::before {

  --pos-y: calc(calc(-50% - var(--mds-tree-item-toggle-border-radius) / 2) + var(--mds-tree-item-toggle-border-size) / 2);

  height: calc(var(--mds-tree-item-toggle-size) + var(--mds-tree-item-toggle-border-radius));
  inset: 0 0 auto;
  transform: translateY(var(--pos-y));
  width: calc(var(--mds-tree-item-toggle-size) / 2);
}

/* has children, first and last element */

:host(:first-child) .tree-node:not(:empty)::before,
:host(:last-child) .tree-node:not(:empty)::before {
  border-bottom-width: 0;
  border-radius: 0;
  height: calc(var(--mds-tree-item-toggle-size) / 2);
  transform: none;
}

/* has children, first element */

:host(:first-child) .tree-node:not(:empty)::before {
  inset: auto 0 0 var(--middle-pos-x);
}

/* has children, last element */

:host(:last-child) .tree-node:not(:empty)::before {
  inset: 0 0 auto var(--middle-pos-x);
}

/* has children, not first element */

:host(:not(:first-child)) .tree-node:not(:empty)::before {
  height: calc(var(--mds-tree-item-toggle-size) + var(--mds-tree-item-toggle-border-radius));
  transform: translateY(calc(-50% - var(--mds-tree-item-toggle-border-radius) / 2));
}

/* no children */

.tree-node:empty::before {
  border-bottom-width: var(--mds-tree-item-toggle-border-size);
  height: calc(var(--mds-tree-item-toggle-size) + var(--mds-tree-item-toggle-border-radius));
  inset: 0 0 auto;
  transform: translateY(calc(-50% - var(--mds-tree-item-toggle-border-radius) / 2));
  width: calc(100% - var(--mds-tree-item-toggle-gap));
}

:host-context(mds-tree mds-tree-item) .tree-node::after,
:host-context(mds-tree mds-tree-item) .tree-node::before {

  --mds-tree-item-toggle-border-color: rgb(0 255 0 / 0.1);
}

:host-context(mds-tree[appearance="none"]) .tree-node::after,
:host-context(mds-tree[appearance="none"]) .tree-node::before {

  --mds-tree-item-toggle-border-color: rgb(255 0 0 / 0.1);

  /* display: none; */
}

.tree-node:last-child::after,
.tree-node:last-child::before {
  display: none;
}
