.toggle-icon {

  --size: theme('size.800');

  align-self: center;
  background-color: var(--mds-tree-item-icon-background-color);
  border: 0;
  border-radius: var(--mds-tree-item-toggle-size);
  fill: var(--mds-tree-item-icon-color);
  flex-shrink: 0;
  margin-left: calc(var(--size) * -1);
  transform: rotate(0deg);
  transition-duration: var(--mds-tree-item-transition-duration);
  transition-property: transform;
  transition-timing-function: var(--mds-tree-item-transition-timing-function);
}

:host([toggle="chevron"]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-chevron-default-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-chevron-default-color);
}

:host([toggle="chevron"][expanded]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-chevron-expanded-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-chevron-expanded-color);
}

:host([toggle="folder"]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-folder-default-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-folder-default-color);
  --size: auto;

  border-radius: theme('borderRadius.md');
  padding: theme('spacing.25') theme('spacing.50');
}

:host([toggle="folder"][expanded]) .toggle-icon {

  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-folder-expanded-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-folder-expanded-color);
}

:host([toggle="chevron"][expanded]):host-context(mds-tree[toggle-position="left"]) .toggle-icon {
  transform: rotate(90deg);
}

:host(:empty) .toggle-icon {
  display: none;
}
