@import './css/mds-calendar-cell-fouc.css';

/**
 * @prop --mds-calendar-cell-background: Background of calendar cells.
 * @prop --mds-calendar-cell-boundaries-background: Background for selection boundaries.
 * @prop --mds-calendar-cell-boundaries-color: Color for selection boundary lines.
 * @prop --mds-calendar-cell-boundaries-padding: Padding inside selection boundaries.
 * @prop --mds-calendar-cell-color: Text color of calendar cells.
 * @prop --mds-calendar-cell-other-month-background: Background of days from adjacent months.
 * @prop --mds-calendar-cell-other-month-color: Text color of days from adjacent months.
 * @prop --mds-calendar-cell-disabled-background: Background for disabled days.
 * @prop --mds-calendar-cell-disabled-color: Text color for disabled days.
 * @prop --mds-calendar-cell-weekend-background: Background for weekend days.
 * @prop --mds-calendar-cell-weekend-color: Text colorfor weekend days.
 * @prop --mds-calendar-cell-size: Size (width/height) of each day cell.
 * @prop --mds-calendar-cell-selection-boundaries-border-radius: Border radius for day selection boundaries.
 * @prop --mds-calendar-cell-selection-week-boundaries-border-radius: Border radius for week selection boundaries.
 * @prop --mds-calendar-cell-preselection-today-background: Background for today's date in preselection state.
 * @prop --mds-calendar-cell-preselection-today-color: Text color for today's date in preselection state.
 * @prop --mds-calendar-cell-preselection-current-month-background: Background for preselected days (current month).
 * @prop --mds-calendar-cell-preselection-current-month-color: Text color for preselected days (current month).
 * @prop --mds-calendar-cell-preselection-current-month-boundaries-color: Boundary color for preselected days (current month).
 * @prop --mds-calendar-cell-preselection-current-month-boundaries-background: Boundary background for preselected days (current month).
 * @prop --mds-calendar-cell-preselection-other-month-background: Background for preselected days (other months).
 * @prop --mds-calendar-cell-preselection-other-month-color: Text color for preselected days (other months).
 * @prop --mds-calendar-cell-preselection-other-month-boundaries-color: Boundary color for preselected days (other months).
 * @prop --mds-calendar-cell-preselection-other-month-boundaries-background: Boundary background for preselected days (other months).
 * @prop --mds-calendar-cell-selection-current-month-background: Background for selected days (current month).
 * @prop --mds-calendar-cell-selection-current-month-color: Text color for selected days (current month).
 * @prop --mds-calendar-cell-selection-current-month-boundaries-background: Boundary background for selected days (current month).
 * @prop --mds-calendar-cell-selection-current-month-boundaries-color: Boundary color for selected days (current month).
 * @prop --mds-calendar-cell-selection-current-month-weekend-background: Background for selected weekend days (current month).
 * @prop --mds-calendar-cell-selection-current-month-weekend-color: Text color for selected weekend days (current month).
 * @prop --mds-calendar-cell-selection-current-month-weekend-boundaries-background: Boundary background for selected weekend days.
 * @prop --mds-calendar-cell-selection-current-month-weekend-boundaries-color: Boundary color for selected weekend days.
 * @prop --mds-calendar-cell-selection-other-month-background: Background for selected days (other months).
 * @prop --mds-calendar-cell-selection-other-month-color: Text color for selected days (other months).
 * @prop --mds-calendar-cell-selection-other-month-boundaries-background: Boundary background for selected days (other months).
 * @prop --mds-calendar-cell-selection-other-month-boundaries-color: Boundary color for selected days (other months).
 */

@property --mds-calendar-cell-background {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@property --mds-calendar-cell-boundaries-background {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@property --mds-calendar-cell-boundaries-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-01));
  syntax: '<color>';
}

@property --mds-calendar-cell-boundaries-padding {
  inherits: false;
  initial-value: 0.25rem;
  syntax: '<length>';
}

@property --mds-calendar-cell-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-01));
  syntax: '<color>';
}

@property --mds-calendar-cell-other-month-background {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@property --mds-calendar-cell-other-month-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-07));
  syntax: '<color>';
}

@property --mds-calendar-cell-disabled-background {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@property --mds-calendar-cell-disabled-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-07));
  syntax: '<color>';
}

@property --mds-calendar-cell-weekend-background {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@property --mds-calendar-cell-weekend-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-06));
  syntax: '<color>';
}

@property --mds-calendar-cell-size {
  inherits: false;
  initial-value: 3rem;
  syntax: '<length>';
}

@property --mds-calendar-cell-selection-boundaries-border-radius {
  inherits: false;
  initial-value: 1.5rem;
  syntax: '<length>';
}

@property --mds-calendar-cell-selection-week-boundaries-border-radius {
  inherits: false;
  initial-value: 1.5rem;
  syntax: '<length>';
}

@property --mds-calendar-cell-preselection-today-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-09));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-today-color {
  inherits: false;
  initial-value: rgb(var(--variant-primary-03));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-current-month-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-08));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-current-month-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-05));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-current-month-boundaries-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-05));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-current-month-boundaries-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-10));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-other-month-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-09));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-other-month-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-05));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-other-month-boundaries-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-05));
  syntax: '<color>';
}

@property --mds-calendar-cell-preselection-other-month-boundaries-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-04));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-boundaries-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-boundaries-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-03));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-weekend-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-03));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-weekend-color {
  inherits: false;
  initial-value: rgb(var(--variant-primary-07));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-weekend-boundaries-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-03));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-current-month-weekend-boundaries-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-03));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-other-month-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-07));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-other-month-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-04));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-other-month-boundaries-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-10));
  syntax: '<color>';
}

@property --mds-calendar-cell-selection-other-month-boundaries-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-05));
  syntax: '<color>';
}

:host {
  --mds-calendar-cell-background: transparent;
  --mds-calendar-cell-boundaries-background: transparent;
  --mds-calendar-cell-boundaries-color: rgb(var(--tone-neutral-01));
  --mds-calendar-cell-boundaries-padding: --spacing(100);
  --mds-calendar-cell-color: rgb(var(--tone-neutral-01));
  --mds-calendar-cell-other-month-background: transparent;
  --mds-calendar-cell-other-month-color: rgb(var(--tone-neutral-07));
  --mds-calendar-cell-disabled-background: transparent;
  --mds-calendar-cell-disabled-color: rgb(var(--tone-neutral-07));
  --mds-calendar-cell-weekend-background: transparent;
  --mds-calendar-cell-weekend-color: rgb(var(--tone-neutral-06));

  /* radius */
  --mds-calendar-cell-size: --spacing(1200);
  --mds-calendar-cell-selection-boundaries-border-radius: 200px;
  --mds-calendar-cell-selection-week-boundaries-border-radius: 200px;

  /* today */
  --mds-calendar-cell-preselection-today-background: rgb(var(--variant-primary-09));
  --mds-calendar-cell-preselection-today-color: rgb(var(--variant-primary-03));

  /* preselection */

  --mds-calendar-cell-preselection-current-month-background: rgb(var(--variant-primary-08));
  --mds-calendar-cell-preselection-current-month-color: rgb(var(--tone-neutral-05));
  --mds-calendar-cell-preselection-current-month-boundaries-color: rgb(var(--tone-neutral-05));
  --mds-calendar-cell-preselection-current-month-boundaries-background: rgb(
    var(--variant-primary-10)
  );
  --mds-calendar-cell-preselection-other-month-background: rgb(var(--variant-primary-09));
  --mds-calendar-cell-preselection-other-month-color: rgb(var(--tone-neutral-05));
  --mds-calendar-cell-preselection-other-month-boundaries-color: rgb(var(--tone-neutral-05));
  --mds-calendar-cell-preselection-other-month-boundaries-background: rgb(var(--tone-neutral));

  /* selection */

  --mds-calendar-cell-selection-current-month-background: rgb(var(--variant-primary-04));
  --mds-calendar-cell-selection-current-month-color: rgb(var(--tone-neutral));
  --mds-calendar-cell-selection-current-month-boundaries-background: rgb(var(--tone-neutral));
  --mds-calendar-cell-selection-current-month-boundaries-color: rgb(var(--tone-neutral-03));
  --mds-calendar-cell-selection-current-month-weekend-background: rgb(var(--variant-primary-03));
  --mds-calendar-cell-selection-current-month-weekend-color: rgb(var(--variant-primary-07));
  --mds-calendar-cell-selection-current-month-weekend-boundaries-background: rgb(
    var(--variant-primary-03)
  );
  --mds-calendar-cell-selection-current-month-weekend-boundaries-color: rgb(var(--tone-neutral-03));
  --mds-calendar-cell-selection-other-month-background: rgb(var(--variant-primary-07));
  --mds-calendar-cell-selection-other-month-color: rgb(var(--tone-neutral-04));
  --mds-calendar-cell-selection-other-month-boundaries-background: rgb(var(--variant-primary-10));
  --mds-calendar-cell-selection-other-month-boundaries-color: rgb(var(--tone-neutral-05));

  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  padding: var(--mds-calendar-cell-boundaries-padding);
  position: relative;
}

:host([month='other']) {
  visibility: var(--mds-calendar-cell-other-month-visibility, hidden);
}

.inner-dot {
  aspect-ratio: 1 / 1;
  background-color: var(--mds-calendar-cell-inner-background);
  border-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  display: flex;
  min-height: 0;
  min-width: 0;
  width: 100%;
  z-index: 1;
}

.area-background {
  background-color: var(--mds-calendar-cell-background);
  color: var(--mds-calendar-cell-color);
  inset: 0;
  position: absolute;
  z-index: 0;
}

.action {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-radius: 0;
  color: var(--mds-calendar-cell-color);
  display: flex;
  inset: calc(var(--mds-calendar-cell-gap) * -1);
  justify-content: center;
  min-height: 0;
  min-width: 0;
  padding: 0;
  position: absolute;
  width: auto;
  z-index: 2;
}

/* selection boundaries */

:host([selection][orientation='horizontal']) .area-background {
  margin-left: calc(var(--mds-calendar-cell-gap) * -1);
  margin-right: calc(var(--mds-calendar-cell-gap) * -1);
}

:host([selection='start'][orientation='horizontal']) .area-background {
  border-bottom-left-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  border-top-left-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-left: 0;
}

:host([selection='end'][orientation='horizontal']) .area-background {
  border-bottom-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  border-top-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-right: 0;
}

/* vertical orientation */

:host([selection][orientation='vertical']) .area-background {
  margin-bottom: calc(var(--mds-calendar-cell-gap) * -1);
  margin-top: calc(var(--mds-calendar-cell-gap) * -1);
}

:host([selection='start'][orientation='vertical']) .area-background {
  border-radius: var(--mds-calendar-cell-selection-boundaries-border-radius)
    var(--mds-calendar-cell-selection-boundaries-border-radius) 0 0;
  margin-top: 0;
}

:host([selection='end'][orientation='vertical']) .area-background {
  border-radius: 0 0 var(--mds-calendar-cell-selection-boundaries-border-radius)
    var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-bottom: 0;
}

:host([orientation='vertical']:not([selection='start'], [selection='end'])) .area-background {
  border-radius: 0;
}

/* first week-day */

:host(:nth-child(7n - 6)) .area-background,
:host([selection='end'][orientation='horizontal']:nth-child(7n - 6)) .area-background {
  border-bottom-left-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
  border-top-left-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
}

:host(:nth-child(7n)) .area-background,
:host([selection='end'][orientation='horizontal']:nth-child(7n)) .area-background {
  border-bottom-right-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
  border-top-right-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
}

:host([selection='end'][orientation='horizontal']:nth-child(7n)) .area-background {
  border-bottom-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  border-top-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
}

:host([selection][orientation='horizontal']:nth-child(7n - 6)) .area-background {
  margin-left: 0;
}

:host([selection][orientation='horizontal']:nth-child(7n)) .area-background {
  margin-right: 0;
}

:host([selection='single'][orientation='horizontal']) .area-background {
  border-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-left: 0;
  margin-right: 0;
}

/* weekend */

:host(:nth-child(7n - 1)),
:host(:nth-child(7n)) {
  --mds-calendar-cell-color: var(--mds-calendar-cell-weekend-color);
  --mds-calendar-cell-background: var(--mds-calendar-cell-weekend-background);
}

/* month */

:host([month='other']:not([selection])) {
  --mds-calendar-cell-color: var(--mds-calendar-cell-other-month-color);
  --mds-calendar-cell-background: var(--mds-calendar-cell-other-month-background);
}

:host([disabled]) {
  --mds-calendar-cell-color: var(--mds-calendar-cell-disabled-color);
  --mds-calendar-cell-background: var(--mds-calendar-cell-disabled-background);

  cursor: auto;
  pointer-events: none;
}

@import './css/mds-calendar-cell-view-selection.css';
