:host {
  --mds-calendar-cell-background: transparent;
  --mds-calendar-cell-boundaries-background: transparent;
  --mds-calendar-cell-boundaries-color: var(--color-tone-neutral-01);
  --mds-calendar-cell-boundaries-padding: --spacing(100);
  --mds-calendar-cell-color: var(--color-tone-neutral-01);
  --mds-calendar-cell-other-month-background: transparent;
  --mds-calendar-cell-other-month-color: var(--color-tone-neutral-07);
  --mds-calendar-cell-disabled-background: transparent;
  --mds-calendar-cell-disabled-color: var(--color-tone-neutral-07);
  --mds-calendar-cell-weekend-background: transparent;
  --mds-calendar-cell-weekend-color: var(--color-tone-neutral-06);

  /* radius */
  --mds-calendar-cell-size: --spacing(1200);
  --mds-calendar-cell-selection-boundaries-border-radius: calc(var(--mds-calendar-cell-size) / 2);
  --mds-calendar-cell-selection-week-boundaries-border-radius: calc(var(--mds-calendar-cell-size) / 2);

  /* today */
  --mds-calendar-cell-preselection-today-background: var(--color-variant-primary-09);
  --mds-calendar-cell-preselection-today-color: var(--color-variant-primary-03);

  /* preselection */

  --mds-calendar-cell-preselection-current-month-background: var(--color-variant-primary-08);
  --mds-calendar-cell-preselection-current-month-color: var(--color-tone-neutral-05);
  --mds-calendar-cell-preselection-current-month-boundaries-color: var(--color-tone-neutral-05);
  --mds-calendar-cell-preselection-current-month-boundaries-background: var(--color-variant-primary-10);
  --mds-calendar-cell-preselection-other-month-background: var(--color-variant-primary-09);
  --mds-calendar-cell-preselection-other-month-color: var(--color-tone-neutral-05);
  --mds-calendar-cell-preselection-other-month-boundaries-color: var(--color-tone-neutral-05);
  --mds-calendar-cell-preselection-other-month-boundaries-background: var(--color-tone-neutral);

  /* selection */

  --mds-calendar-cell-selection-current-month-background: var(--color-variant-primary-04);
  --mds-calendar-cell-selection-current-month-color: var(--color-tone-neutral);
  --mds-calendar-cell-selection-current-month-boundaries-background: var(--color-tone-neutral);
  --mds-calendar-cell-selection-current-month-boundaries-color: var(--color-tone-neutral-03);
  --mds-calendar-cell-selection-current-month-weekend-background: var(--color-variant-primary-03);
  --mds-calendar-cell-selection-current-month-weekend-color: var(--color-variant-primary-07);
  --mds-calendar-cell-selection-current-month-weekend-boundaries-background: var(--color-variant-primary-03);
  --mds-calendar-cell-selection-current-month-weekend-boundaries-color: var(--color-tone-neutral-03);
  --mds-calendar-cell-selection-other-month-background: var(--color-variant-primary-07);
  --mds-calendar-cell-selection-other-month-color: var(--color-tone-neutral-04);
  --mds-calendar-cell-selection-other-month-boundaries-background: var(--color-variant-primary-10);
  --mds-calendar-cell-selection-other-month-boundaries-color: var(--color-tone-neutral-05);

  aspect-ratio: 1 / 1;
  display: flex;
  padding: var(--mds-calendar-cell-boundaries-padding);
  position: relative;
}

:host([month="other"]) {
  visibility: var(--mds-calendar-cell-other-month-visibility, hidden);
}

.inner-dot {
  aspect-ratio: 1 / 1;
  background-color: var(--mds-calendar-cell-inner-background);
  border-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  display: flex;
  min-height: 0;
  min-width: 0;
  width: 100%;
  z-index: 1;
}

.area-background {
  background-color: var(--mds-calendar-cell-background);
  color: var(--mds-calendar-cell-color);
  inset: 0;
  position: absolute;
  z-index: 0;
}

.action {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-radius: 0;
  color: var(--mds-calendar-cell-color);
  display: flex;
  inset: calc(var(--mds-calendar-cell-gap) * -1);
  justify-content: center;
  min-height: 0;
  min-width: 0;
  padding: 0;
  position: absolute;
  width: auto;
  z-index: 2;
}

/* selection boundaries */

:host([selection][orientation="horizontal"]) .area-background {
  margin-left: calc(var(--mds-calendar-cell-gap) * -1);
  margin-right: calc(var(--mds-calendar-cell-gap) * -1);
}

:host([selection="start"][orientation="horizontal"]) .area-background {
  border-bottom-left-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  border-top-left-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-left: 0;
}

:host([selection="end"][orientation="horizontal"]) .area-background {
  border-bottom-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  border-top-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-right: 0;
}

/* vertical orientation */

:host([selection][orientation="vertical"]) .area-background {
  margin-bottom: calc(var(--mds-calendar-cell-gap) * -1);
  margin-top: calc(var(--mds-calendar-cell-gap) * -1);
}

:host([selection="start"][orientation="vertical"]) .area-background {
  border-radius: var(--mds-calendar-cell-selection-boundaries-border-radius) var(--mds-calendar-cell-selection-boundaries-border-radius) 0 0;
  margin-top: 0;
}

:host([selection="end"][orientation="vertical"]) .area-background {
  border-radius: 0 0 var(--mds-calendar-cell-selection-boundaries-border-radius) var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-bottom: 0;
}

:host([orientation="vertical"]:not([selection="start"], [selection="end"])) .area-background {
  border-radius: 0;
}

/* first week-day */

:host(:nth-child(7n - 6)) .area-background,
:host([selection="end"][orientation="horizontal"]:nth-child(7n - 6)) .area-background {
  border-bottom-left-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
  border-top-left-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
}

:host(:nth-child(7n)) .area-background,
:host([selection="end"][orientation="horizontal"]:nth-child(7n)) .area-background {
  border-bottom-right-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
  border-top-right-radius: var(--mds-calendar-cell-selection-week-boundaries-border-radius);
}

:host([selection="end"][orientation="horizontal"]:nth-child(7n)) .area-background {
  border-bottom-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  border-top-right-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
}

:host([selection][orientation="horizontal"]:nth-child(7n - 6)) .area-background {
  margin-left: 0;
}

:host([selection][orientation="horizontal"]:nth-child(7n)) .area-background {
  margin-right: 0;
}

:host([selection="single"][orientation="horizontal"]) .area-background {
  border-radius: var(--mds-calendar-cell-selection-boundaries-border-radius);
  margin-left: 0;
  margin-right: 0;
}

/* weekend */

:host(:nth-child(7n - 1)),
:host(:nth-child(7n)) {
  --mds-calendar-cell-color: var(--mds-calendar-cell-weekend-color);
  --mds-calendar-cell-background: var(--mds-calendar-cell-weekend-background);
}

/* month */

:host([month="other"]:not([selection])) {
  --mds-calendar-cell-color: var(--mds-calendar-cell-other-month-color);
  --mds-calendar-cell-background: var(--mds-calendar-cell-other-month-background);
}

:host([disabled]) {
  --mds-calendar-cell-color: var(--mds-calendar-cell-disabled-color);
  --mds-calendar-cell-background: var(--mds-calendar-cell-disabled-background);

  cursor: auto;
  pointer-events: none;
}

@import './css/mds-calendar-cell-view-selection.css';
