@import '~@maggioli-design-system/styles/scss/import-framework';

.grid {
  &--template-downloads {
    grid-template-columns: minmax(0, 1fr);

    @include media('tablet') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media('desktop') {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include media('large') {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
}
