@tailwind utilities;
@import '../../tailwind/components.css';

:host {
  @apply
    bg-tone-neutral
    duration-500
    ease-out-expo
    fixed
    flex
    justify-center
    left-0
    px-6
    py-4
    right-0
    top-0;

  background-color: theme('colors.tone-neutral');
  box-shadow: theme('boxShadow.sharp-md');
}

.logo {
  @apply flex;

  color: inherit;
}

.contents {
  @apply
    flex
    flex-grow
    gap-4
    items-center
    justify-between
    max-w-screen-wide;
}

.nav {
  @apply
    gap-4
    inline-flex
    tablet-max:hidden;
}

.icon {
  @apply
    cursor-pointer
    desktop:hidden
    w-8;

  fill: inherit;
}
