@import '../../tailwind/fouc.css';

/**
 * @prop --mds-header-bar-hamburger-color: The color of the hamburger icon used in the header bar.
 */

@property --mds-header-bar-hamburger-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-03));
  syntax: "<color>";
}

:host {
  --mds-header-bar-hamburger-color: rgb(var(--tone-neutral-03));

  background-color: rgb(var(--tone-neutral));
  box-shadow: var(--shadow-md-sharp);
  display: flex;
  inset: 0 0 auto;
  interpolate-size: allow-keywords; /* not supported yet https://youtu.be/JN-nme9oF10 */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: --spacing(400) --spacing(600);
  position: fixed;
  transition-duration: 500ms;
  transition-property: background-color, border-radius, margin, max-width, transform, width;
  transition-timing-function: var(--ease-out-expo);
  width: auto;
  z-index: var(--mds-header-z-index, 1000);
}

.logo {
  color: inherit;
  display: flex;
}

.content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: --spacing(400);
  justify-content: space-between;
  max-width: var(--breakpoint-wide);
}

.actions {
  display: flex;
  gap: --spacing(600);
}

.nav {
  display: inline-flex;
  flex-shrink: 0;
  gap: --spacing(400);
}

.menu {
  --mds-button-border-opacity: 0;

  fill: var(--mds-header-bar-hamburger-color);
  padding: 0;
}

.menu::part(icon) {
  width: --spacing(800);
}

:host([menu="desktop"]) .menu,
:host([nav="desktop"]) .nav {
  @apply max-tablet:hidden;
}

:host([menu="mobile"]) .menu,
:host([nav="mobile"]) .nav {
  @apply desktop:hidden;
}

:host([menu="none"]) .menu,
:host([nav="none"]) .nav {
  display: none;
}

@import './css/mds-header-bar-pref-animation.css';
@import './css/mds-header-bar-pref-theme.css';
@import './css/mds-header-bar-pref-contrast.css';
