@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

:host {
  @apply
    duration-500
    ease-out-expo
    px-600
    py-400;

  background-color: theme('colors.tone-neutral');
  box-shadow: theme('boxShadow.sharp-md');
  display: flex;
  inset: 0 0 auto;
  justify-content: center;
  position: fixed;
}

.logo {
  color: inherit;
  display: flex;
}

.contents {
  @apply
    gap-400
    max-w-screen-wide;

  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.actions {
  @apply gap-600;

  display: flex;
}

.nav {
  @apply gap-400;

  display: inline-flex;
  flex-shrink: 0;
}

.menu-icon {
  @apply w-800;

  cursor: pointer;
  fill: inherit;
  flex-shrink: 0;
}

.menu {
  background-color: transparent;
  padding: 0;
}

:host([menu="desktop"]) .menu,
:host([nav="desktop"]) .nav {
  @apply tablet-max:hidden;
}

:host([menu="mobile"]) .menu,
:host([nav="mobile"]) .nav {
  @apply desktop:hidden;
}

:host([menu="none"]) .menu,
:host([nav="none"]) .nav {
  display: none;
}
