@import '~@maggioli-design-system/styles/dist/css/animations.css'; /* included for focus effect */
@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

:host {
  @apply
    duration-200
    ease-out
    focus-bounce
    gap-1
    px-4
    py-2
    rounded-full
    whitespace-nowrap;

  align-items: center;
  color: theme('colors.tone-neutral-03');
  cursor: pointer;
  display: flex;
  fill: theme('colors.tone-neutral-03');
  justify-content: center;
  transition-property: background-color, color, outline, outline-offset;
  white-space: nowrap;
}

:host(:focus-visible) {
  @apply focus-bounce--focused;
}

:host( [icon]:not([label]) ) {
  @apply
    h-9
    p-0
    w-9;
}

:host( [selected]:not([selected="false"]) ),
:host( :hover ) {
  background-color: theme('colors.tone-neutral');
}

:host( [selected]:not([selected="false"]) ) {
  color: theme('colors.tone-neutral-01');
}
