@import '~@maggioli-design-system/styles/dist/css/animations.css';
@import './css/mds-filter-item-fouc.css';

/**
 * @prop --mds-filter-item-count-background-default: Sets the default `background-color` of the count element
 * @prop --mds-filter-item-count-color-default: Sets the default text `color` of the count element
 * @prop --mds-filter-item-count-background-selected: Sets the `background-color` of the count element when it's selected
 * @prop --mds-filter-item-count-color-selected: Sets the `color` of the count element when it's selected
 */

@property --mds-filter-item-count-background-default {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-08));
  syntax: '<color>';
}

@property --mds-filter-item-count-color-default {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-02));
  syntax: '<color>';
}

@property --mds-filter-item-count-background-selected {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-05));
  syntax: '<color>';
}

@property --mds-filter-item-count-color-selected {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

:host {
  --mds-filter-item-transition-duration: var(--duration-200);
  --private-filter-item-transition-duration: var(--mds-filter-item-transition-duration);
  --mds-filter-item-count-background-default: rgb(var(--tone-neutral-08));
  --mds-filter-item-count-color-default: rgb(var(--tone-neutral-02));
  --mds-filter-item-count-background-selected: rgb(var(--tone-neutral-05));
  --mds-filter-item-count-color-selected: rgb(var(--tone-neutral));

  @apply focus-bounce;

  align-items: center;
  border-radius: 1000px;
  color: rgb(var(--tone-neutral-03));
  cursor: pointer;
  display: flex;
  fill: currentcolor;
  gap: --spacing(100);
  justify-content: center;
  padding: --spacing(200) --spacing(400);
  transition-duration: var(--private-filter-item-transition-duration);
  transition-property: background-color, box-shadow, color, outline, outline-offset;
  transition-timing-function: var(--ease-out);
  user-select: none;
  white-space: nowrap;
}

mds-text {
  white-space: nowrap;
}

.count {
  align-items: center;
  background-color: var(--mds-filter-item-count-background-default);
  border-radius: --spacing(400);
  box-sizing: border-box;
  color: currentcolor;
  color: var(--mds-filter-item-count-color-default);
  display: inline-flex;
  flex-shrink: 0;
  height: --spacing(400);
  justify-content: center;
  min-width: --spacing(400);
  padding-left: --spacing(150);
  padding-right: --spacing(150);
  transition-duration: var(--duration-200);
  transition-property: background-color, color;
  transition-timing-function: var(--ease-out);
  user-select: none;
}

:host(:focus-visible) {
  @apply focus-bounce--focused;
}

:host([icon]:not([label])) {
  height: --spacing(900);
  padding: 0;
  width: --spacing(900);
}

:host([selected]:not([selected='false'])),
:host(:hover) {
  background-color: rgb(var(--tone-neutral));
}

:host(:hover) {
  box-shadow: var(--shadow-sm);
}

:host([selected]:not([selected='false'])) {
  color: rgb(var(--tone-neutral-01));
}

:host([selected]:not([selected='false'])) .count {
  background-color: var(--mds-filter-item-count-background-selected);
  color: var(--mds-filter-item-count-color-selected);
}

@import './css/mds-filter-item-pref-animation.css';
@import './css/mds-filter-item-pref-theme.css';
@import './css/mds-filter-item-pref-contrast.css';
