@tailwind utilities;

:host ( [variant=sky] ),
:host ( [variant=sky][tone=strong] ) {

  --background: theme('colors.label-sky-04');
  --color: theme('colors.label-sky-10');
  --icon-color: theme('colors.label-sky-10');
}

:host ( [variant=sky][tone=weak] ) {

  --background: theme('colors.label-sky-08');
  --color: theme('colors.label-sky-02');
  --icon-color: theme('colors.label-sky-02');
}

:host ( [variant=sky][tone=quiet] ) {

  --background: theme('colors.label-sky-09');
  --color: theme('colors.label-sky-04');
  --icon-color: theme('colors.label-sky-04');
}
