@tailwind utilities;

:host ( [variant=orange] ),
:host ( [variant=orange][tone=strong] ) {

  --background: theme('colors.label-orange-04');
  --color: theme('colors.label-orange-10');
  --icon-color: theme('colors.label-orange-10');
}

:host ( [variant=orange][tone=weak] ) {

  --background: theme('colors.label-orange-08');
  --color: theme('colors.label-orange-02');
  --icon-color: theme('colors.label-orange-02');
}

:host ( [variant=orange][tone=quiet] ) {

  --background: theme('colors.label-orange-09');
  --color: theme('colors.label-orange-04');
  --icon-color: theme('colors.label-orange-04');
}
