@import '~Sass/import-framework';

.grid {
  &--tmpl-backoffice {
    grid-template-columns: 300px auto;
  }

  &--tmpl-backoffice-section {
    grid-template-rows: auto 1fr;
  }

  &--tmpl-backoffice-aside {
    grid-template-rows: auto 1fr;
  }
}

.backoffice-page {
  min-height: 100vh;

  &__aside {
    background-color: color('adjust-tone');
    padding: s(2);
  }

  &__section {
    background-color: color('adjust-tone', '20');
    padding: 0 s(2);
  }

  &__content-header {
    background-color: color('adjust-tone', '20');
    padding: s(2);
  }

  &__content {
    background-color: color('adjust-tone', '19');
    border-radius: s(1) s(1) 0 0;
    padding: s(2);
  }
}

.backoffice-page-aside-header {
  display: flex;

  &__logo {
    max-width: 100px;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: s(1);
    padding-bottom: 12px;
  }

  &__title {
    color: color('adjust.tone', '01');
  }

  &__sub-title {
    color: color('adjust.tone', '08');
  }
}
