@function sh ($base-color, $hue-color, $saturation: false) {
  $h: hue($hue-color);
  $s: saturation($hue-color);
  $l: lightness($base-color);

  @if $saturation != false {
    @if $saturation >= 0 {
      @return saturate(hsl($h, $s, $l), $saturation);
    } @else {
      @return desaturate(hsl($h, $s, $l), abs($saturation));
    }
  } @else {
    @return hsl($h, $s, $l);
  }
}

@function tts ($tint-name, $tone-amount, $saturation-amount: false) {
  @if $saturation-amount != false {
    @return hsl(hue(get($tint, $tint-name)), get($saturation, $saturation-amount), lightness(get($tone, $tone-amount)));
  } @else {
    @return hsl(hue(get($tint, $tint-name)), saturation(get($tint, $tint-name)), lightness(get($tone, $tone-amount)));
  }
}

@function tst ($tint-name, $saturation-amount, $tone-amount: false) {
  @if $tone-amount != false {
    $lightness: lightness(get($tone, $tone-amount));
  } @else {
    $lightness: lightness(get($tint, $tint-name));
  }
  @return hsl(hue(get($tint, $tint-name)), get($saturation, $saturation-amount), $lightness);
}
