@tailwind utilities;

/**
* @prop --background-row-hover: The cell background-color when the mouse go over the table row element
* @prop --border-color: The border color between table rows
* @prop --border-width: The border width between table rows
* @prop --radius: The radius of the table (header and footer excluded)
*/

mds-table-row {
  @apply
    border-b
    table-row;

  border-bottom: var(--border-width, theme('borderWidth.2')) solid var(--border-color, theme('colors.adjust-tone-09'));
}

mds-table-row:last-child {
  @apply border-transparent;
}

mds-table-row:first-child mds-table-cell:first-child {
  border-top-left-radius: var(--radius, theme('borderRadius.lg'));
}

mds-table-row:last-child mds-table-cell:first-child {
  border-bottom-left-radius: var(--radius, theme('borderRadius.lg'));
}

mds-table-row:first-child mds-table-cell:last-child {
  border-top-right-radius: var(--radius, theme('borderRadius.lg'));
}

mds-table-row:last-child mds-table-cell:last-child {
  border-bottom-right-radius: var(--radius, theme('borderRadius.lg'));
}

mds-table-row:focus {
  @apply opacity-50;
}

mds-table-row.interactive:hover mds-table-cell {
  background-color: var(--background-row-hover, theme('colors.adjust-tone')) !important;
}
