@import '~Sass/import-framework';

.url-preview {
  bottom: 0;
  display: flex;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color get($tween, 'slide');

  @include media('tablet') {
    padding-left: s(1);
  }

  &__window {
    border-radius: s(0.75) s(0.75) 0 0;
    display: flex;
    flex-direction: column;
    margin: s(2) 0 0;
    overflow: hidden;
    transform: translate(calc(100% + 100px), 0);
    transition: opacity get($tween, 'slide'), transform get($tween, 'slide');
    width: 100%;

    @include media('tablet') {
      border-radius: s(0.75);
      margin: s(1) s(1) s(1) auto;
      max-width: 400px;
    }
  }

  &__header {
    align-items: center;
    background-color: color('adjust.tone', '19');
    display: flex;
    padding: s(0.25) s(0.5);
  }

  &__url-field {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: s(0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__separator {
    color: color('adjust.tone', '10');
  }

  &__frament {
    color: color('adjust.tone', '10');
    direction: rtl;
    min-width: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }

  &__icon {
    margin-right: s(0.5);
  }

  &__close {
    cursor: pointer;
  }

  &__iframe {
    background-color: color('adjust.tone');
    border: 0;
    flex-grow: 1;
    width: 100%;
  }

  &--wide {
    .url-preview {
      &__window {
        max-width: 768px;
      }
    }
  }

  &--centered {
    .url-preview {
      padding-right: s(1);

      &__window {
        margin: s(1) auto s(1) auto;
        opacity: 0;
        transform: translate(0, 20%);
      }
    }
  }

  &--visible {
    background-color: color('adjust.tone', '01', 0.5);
    pointer-events: initial;

    @include media('tablet') {
      background-color: color('adjust.tone', '01', 0.3);
    }

    .url-preview {
      &__window {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
