:host {
  --mds-tab-item-hover-background: transparent;
  --mds-tab-item-selected-background: rgb(var(--tone-neutral));
  --mds-tab-item-selected-shadow: var(--shadow-md);
  --mds-tab-item-default-background: transparent;
  --mds-tab-item-default-shadow: transparent;

  cursor: pointer;
  display: flex;
}

:host-context(mds-tab[animation="slide"]) {
  --mds-tab-item-hover-background: transparent;
  --mds-tab-item-selected-background: transparent;
  --mds-tab-item-selected-shadow: transparent;
  --mds-tab-item-default-background: transparent;
  --mds-tab-item-default-shadow: transparent;
}

.button {
  --mds-button-background: var(--mds-tab-item-default-background);
  --mds-button-color: var(--mds-tab-item-default-color);
  --mds-button-radius: var(--mds-tab-item-radius);
  --mds-button-border-default-opacity: 0;

  flex-grow: 1;
}

.button:hover {
  --mds-button-background: var(--mds-tab-item-hover-background);
  --mds-button-color: var(--mds-tab-item-hover-color);
}

.button.selected,
.button.selected:hover {
  --mds-button-background: var(--mds-tab-item-selected-background);
  --mds-button-color: var(--mds-tab-item-selected-color);

  box-shadow: var(--mds-tab-item-selected-shadow);
  pointer-events: none;
}

:host([disabled]) {
  pointer-events: none;
}

:host-context(mds-tab[direction="vertical"]) {
  width: 100%;
}

:host-context(mds-tab[direction="vertical"]) .button {
  justify-content: start;
}

@import './css/mds-tab-item-pref-theme.css';
@import './css/mds-tab-item-pref-contrast.css';
@import '../../tailwind/fouc.css';
