@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

/**
  * @prop --mds-horizontal-scroll-background: Sets the background-color of the component
  * @prop --mds-horizontal-scroll-scrollbar-radius: Sets the border-radius of the browser scroll bar (if supported)
  * @prop --mds-horizontal-scroll-scrollbar-margin: Sets the margin of the browser scroll bar (if supported)
  * @prop --mds-horizontal-scroll-scrollbar-size: Sets the height and width of the browser scroll bar (if supported)
  * @prop --mds-horizontal-scroll-scrollbar-thumb-background: Sets the background-color of the browser scroll bar thumb (if supported)
  * @prop --mds-horizontal-scroll-scrollbar-track-background: Sets the background-color of the browser scroll bar track (if supported)
  */

:host {

  --mds-horizontal-scroll-scrollbar-radius: 0;
  --mds-horizontal-scroll-scrollbar-margin: 0;
  --mds-horizontal-scroll-scrollbar-size: theme('spacing.2');
  --mds-horizontal-scroll-scrollbar-thumb-background: rgb(var(--tone-neutral-02) theme('opacity.30'));
  --mds-horizontal-scroll-scrollbar-track-background: rgb(var(--tone-neutral-06) theme('opacity.30'));

  @apply
    gap-2
    scroll-px-2
    w-full;

  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

:host( .scroll--mds-horizontal-scroll-hide-scrollbar ) {
  @apply hide-scrollbar;
}

:host( .scroll--mds-horizontal-scroll-hide-scrollbar )::-webkit-scrollbar {
  display: none;
}

:host( .scroll--mds-horizontal-scroll-show-scrollbar )::-webkit-scrollbar {
  height: var(--mds-horizontal-scroll-scrollbar-size);
  width: var(--mds-horizontal-scroll-scrollbar-size);
}

:host( .scroll--mds-horizontal-scroll-show-scrollbar )::-webkit-scrollbar-track {
  background-color: var(--mds-horizontal-scroll-scrollbar-track-background);
  border-radius: var(--mds-horizontal-scroll-scrollbar-radius);
  margin-block: var(--mds-horizontal-scroll-scrollbar-margin);
  margin-inline: var(--mds-horizontal-scroll-scrollbar-margin);
}

:host( .scroll--mds-horizontal-scroll-show-scrollbar )::-webkit-scrollbar-thumb {
  background-color: var(--mds-horizontal-scroll-scrollbar-thumb-background);
  border-radius: var(--mds-horizontal-scroll-scrollbar-radius);
}

@supports (scrollbar-color: transparent transparent) {
  :host {
    scrollbar-color: var(--mds-horizontal-scroll-scrollbar-thumb-background) var(--mds-horizontal-scroll-scrollbar-track-background);
    scrollbar-width: thin;
  }
}

:host( .scroll--mds-horizontal-scroll-align-start ) > ::slotted( * ) {
  scroll-snap-align: start;
}

:host( .scroll--mds-horizontal-scroll-align-center ) > ::slotted( * ) {
  scroll-snap-align: center;
}

:host( .scroll--mds-horizontal-scroll-align-end ) > ::slotted( * ) {
  scroll-snap-align: end;
}
