@import '../../tailwind/fouc.css';


/**
 * @prop --mds-input-tip-active-translate: Set the translate of the tip when it is active.
 */

:host {
  --mds-input-tip-active-translate: translate(0, 0);
  --mds-input-tip-background: rgb(var(--tone-neutral-03));
  --mds-input-tip-horizontal-offset-focused: 0px;
  --mds-input-tip-horizontal-offset: --spacing(400);
  --mds-input-tip-vertical-offset: --spacing(100);

  @apply
    duration-300
    ease-out-expo
    gap-100
    left-100
    right-100;

  display: flex;
  justify-content: flex-end;
  left: var(--mds-input-tip-horizontal-offset);
  pointer-events: none;
  position: absolute;
  right: var(--mds-input-tip-horizontal-offset);
  transform: var(--mds-input-tip-active-translate);
  transition-property: transform;
}

:host(:empty) {
  display: none;
}

:host([position="top"]) {
  top: var(--mds-input-tip-vertical-offset);
}

:host([position="bottom"]) {
  bottom: var(--mds-input-tip-vertical-offset);
}

:host([position="top"][active]:not([active="false"])) {
  --mds-input-tip-active-translate: translate(calc(var(--mds-input-tip-horizontal-offset-focused) * -1), calc(var(--mds-input-tip-vertical-offset) * -1));
}

:host([position="top"][active]:not([active="false"])) ::slotted(mds-input-tip-item) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:host([position="bottom"][active]:not([active="false"])) {
  --mds-input-tip-active-translate: translate(calc(var(--mds-input-tip-horizontal-offset-focused) * -1), var(--mds-input-tip-vertical-offset));
}

:host([position="bottom"][active]:not([active="false"])) ::slotted(mds-input-tip-item) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@import './css/mds-input-tip-pref-animation.css';
