
@reference '@maggioli-design-system/styles/dist/css/animations.css';


@import './css/mds-modal-action-close.css';
@import './css/mds-modal-animation-3d.css';
@import './css/mds-modal-animation-custom.css';
@import './css/mds-modal-animation-slide.css';
@import './css/mds-modal-opened.css';
@import './css/mds-modal-position.css';
@import './css/mds-modal-window.css';
@import './css/mds-modal-pref-animation.css';
@import './css/mds-modal-pref-contrast.css';
@import './css/mds-modal-pref-theme.css';
@import '../../tailwind/fouc.css';


  /**
 * @prop --mds-modal-custom-closed-transform: Sets the transform position of the custom window when it's outside the viewport, to it's default position
 * @prop --mds-modal-custom-window-distance: Set the distance between the slotted modal window and the screen bounds
 * @prop --mds-modal-overlay-color: Set the overlay color of the background when the component is opened, this property can be inherited from `globals.css` in `styles^8.0.0`.
 * @prop --mds-modal-overlay-opacity: Set the overlay color opacity of the background when the component is opened, this property can be inherited from `globals.css` in `styles^8.0.0`.
 * @prop --mds-modal-transition-duration: Sets the `transition-duration` of the modal elements
 * @prop --mds-modal-transition-timing-funciton: Sets the `transition-timing-funciton` of the modal elements
 * @prop --mds-modal-window-background: Set the background color of the window
 * @prop --mds-modal-window-distance: Set the distance between the modal window and the screen bounds
 * @prop --mds-modal-window-overflow: Set the overflow of the window
 * @prop --mds-modal-window-max-width: If the viewport is greather than mobile, max-width will be considered with this value;
 * @prop --mds-modal-window-min-width: If the viewport is greather than mobile, min-width will be considered with this value;
 * @prop --mds-modal-window-radius: Set the border radius of the window
 * @prop --mds-modal-window-shadow: Set the box shadow of the window
 * @prop --mds-modal-z-index: Set the z-index of the window when the component is opened
 */

  :host {
    --mds-modal-custom-closed-transform: rotateX(10deg) rotateY(0) scale(1.25) translate(0, 10%);
    --mds-modal-custom-window-distance: --spacing(600);
    --mds-modal-overlay-color: var(--magma-overlay-color, 0 0 0);
    --mds-modal-overlay-opacity: var(--magma-overlay-opacity, 0.5);
    --mds-modal-transition-duration: 500ms;
    --mds-modal-transition-timing-funciton: var(--ease-in-out-quint);
    --mds-modal-window-background: rgb(var(--tone-neutral));
    --mds-modal-window-distance: 0;
    --mds-modal-window-max-width: 33%;
    --mds-modal-window-min-width: 400px;
    --mds-modal-window-overflow: auto;
    --mds-modal-window-radius: 0;
    --mds-modal-window-shadow: var(--shadow-2xl);
    --mds-modal-z-index: var(--magma-modal-z-index);

    /* private */
    --mds-modal-custom-opened-transform: translate(0, 0);

    /* private */
    --mds-modal-transition-window-transform: translate(0);

    /* private */
    --mds-modal-window-close-margin: --spacing(2000);

    @apply ease-in-out-quint;

    align-items: center;
    background-color: rgb(var(--mds-modal-overlay-color) / 0);
    display: flex;
    fill: rgb(var(--tone-neutral));
    inset: 0;
    justify-content: center;
    perspective: 600px;
    pointer-events: none;
    position: fixed;
    transition-duration: var(--mds-modal-transition-duration);
    transition-property: background-color;
    transition-timing-function: var(--mds-modal-transition-timing-funciton);
    z-index: var(--mds-modal-z-index, 1000);
  }

