@tailwind utilities;

:host {
  @apply
    bg-adjust-tone-01
    bg-opacity-0
    duration-300
    ease-out-expo
    fixed
    flex
    inset-0
    items-center
    justify-center
    mobile:p-4
    p-8;
}

:host ( .opened ) {
  @apply bg-opacity-30;
}

::slotted ( [slot=window] ) {
  @apply
    duration-500
    ease-in-out-expo
    pointer-events-none
    opacity-0;

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0001, 0, 0, 1, 0, 0, 20, 0, 1);
  transform-style: preserve-3d;
}

.opened ::slotted ( [slot=window] ) {
  @apply pointer-events-auto;

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
