:host([variant="ai"]) {
  --mds-input-field-message-color: var(--color-variant-ai-02);
  --mds-input-field-message-background: var(--color-variant-ai-09);
}

:host([variant="info"]) {
  --mds-input-field-message-color: var(--color-status-info-02);
  --mds-input-field-message-background: var(--color-status-info-09);
}

:host([variant="success"]) {
  --mds-input-field-message-color: var(--color-status-success-02);
  --mds-input-field-message-background: var(--color-status-success-09);
}

:host([variant="warning"]) {
  --mds-input-field-message-color: var(--color-status-warning-02);
  --mds-input-field-message-background: var(--color-status-warning-09);
}

:host([variant="error"]) {
  --mds-input-field-message-color: var(--color-status-error-02);
  --mds-input-field-message-background: var(--color-status-error-09);
}
