@tailwind components;
@tailwind utilities;

/**
  * @prop --mds-input-field-message-color: Sets the message text color of the component
  * @prop --mds-input-field-message-background: Sets the message background color of the component, will be visible only if there is a text defined by `tip` component attribute
  */

:host {

  --mds-input-field-message-color: theme('colors.tone-neutral-03');
  --mds-input-field-message-background: transparent;

  @apply gap-2;

  color: theme('colors.tone-neutral-02');
  display: grid;
}

.message-window {
  @apply
    duration-300
    ease-out-expo
    gap-2
    p-0
    rounded-xl
    transition-cosmetic;

  background-color: var(--mds-input-field-message-background);
  color: var(--mds-input-field-message-color);
  display: grid;
}

.message-window--opened {
  @apply
    p-2;
}

.message {
  @apply
    pb-2
    pt-1
    px-2;
}

@import './css/mds-input-field-variant.css';
