@import '~@maggioli-design-system/styles/scss/import-framework';

$brand-color: color('brand.maggioli');
$ease: get($tween, 'hover');
$error-blur-border-color: color('status.error', '04');
$error-focus-border-color: color('status.error');
$error-focus-outline: 0 0 0 4px color('status.error', '04');
$input-radius-error: get($radius, 'small');
$input-radius: get($radius, 'small');
$label-color: color('adjust.tone', '02');
$icon-size: get($form-sizes, 'input-height');
$size: get($form-sizes, 'textarea-height');

.textarea {
  display: block;
  line-height: 0;
  position: relative;
  transition: margin-bottom $ease;
  width: 100%;

  &--has-icon {
    .textarea {
      &__field {
        padding-left: $icon-size;
      }
    }
  }

  &:focus-within {
    .textarea {
      &__icon {

        --color: #{$brand-color};

        color: var(--color);
      }
    }
  }

  &--has-errors {
    margin-bottom: 0;

    &:focus-within {
      .textarea {
        &__icon {
          color: color('status.error', '06');
        }
      }
    }

    .textarea {
      &__field {
        background-color: color('status.error', '19');
        border-color: color('status.error', '19');

        &:focus {
          background-color: color('status.error', '20');
          border-color: color('status.error', '17');
          box-shadow: none;
        }
      }

      &__icon {
        color: color('status.error', '09');
      }
    }
  }

  &__label {

    --color: color('adjust.tone', '02');

    color: var(--color);
    margin-bottom: s(0.5);
  }

  &__field {

    --border-color: transparent;
    --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};
    --color: color('adjust.tone', '02');

    border: 1px solid var(--border-color);
    border-radius: $input-radius;
    box-shadow: var(--box-shadow);
    color: var(--color);
    height: 100%;
    max-height: $size * 2;
    min-height: $size;
    padding: s(0.25) s(0.5);
    position: relative;
    resize: vertical;
    transition: border-color $ease, border-radius $ease, box-shadow $ease;
    width: 100%;
    z-index: 1;

    &::placeholder {

      --color: #{color('adjust.tone', '08')};

      color: var(--color);
      transition: color $ease;
    }

    &:focus {

      --border-color: #{$brand-color};
      --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};

      border-color: var(--border-color);
      box-shadow: var(--box-shadow);
      outline: 0;

      &::placeholder {

        --color: #{color('adjust.tone', '16')};

        color: var(--color);
      }
    }
  }

  &__icon-area {
    align-items: center;
    display: flex;
    height: $icon-size;
    justify-content: center;
    left: 0;
    position: absolute;
    width: $icon-size;
    z-index: 2;
  }

  &__icon {

    --color: color('adjust.tone', '02');

    color: var(--color);
    transition: color $ease;
  }

  &__message {
    background-color: color('status.error', '17');
    border-radius: 0 0 $input-radius-error $input-radius-error;
    margin: 0;
    margin-top: s(-0.5);
    padding: s(0.5);
    padding-top: s(1);
  }

  &__error {
    color: color('status.error', '09');
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  &__error-icon {
    margin-right: s(0.5);
  }
}

.textarea--flat {

  $text-color: color('adjust.tone', '02');

  .textarea {
    &__label {

      --color: #{$text-color};
    }

    &:focus-within {
      .textarea {
        &__icon {

          --color: #{$brand-color};

          color: var(--color);
        }
      }
    }

    &__field {

      --box-shadow: none;
      --border-color: color('adjust.tone', '10');
      --color: #{$text-color};

      &:focus {

        --border-color: #{$brand-color};
        --box-shadow: none;

        &::placeholder {

          --color: color('adjust.tone', '12');
        }
      }

      &::placeholder {

        --color: color('adjust.tone', '08');
      }
    }

    &__icon {

      --color: #{$text-color};
    }
  }
}
