/.build
/.loki
/dist
/dist-storybook
/loader
/src/components.d.ts
/src/components/**/components.d.ts
/src/components/**/readme.md
/src/components/**/src
/src/components/**/stencil.config.ts
/src/components/**/tailwind.config.js
/src/components/**/tsconfig.json
/src/components/**/types
/src/stencil.config.ts
/www
