/.build
/.iconsauce
/.loki
/assets/svg
/dist
/dist-storybook
/loader
/magma-components
/src/components/**/components.d.ts
/src/components/**/documentation.json
/src/components/**/src
/src/components/**/stencil.config.ts
/src/components/**/tailwind.config.js
/src/components/**/tsconfig.json
/src/components/**/types
/src/fixtures/icons.json
/src/fixtures/iconsauce.json
/src/stencil.config.ts
/src/storybook/components-version.json
/www
