@reference '../../tailwind/index.css';
@import 'tailwindcss/utilities' layer(utilities);

@import '../../tailwind/fouc.css' layer(utilities);



@layer utilities {
  :host {
    @apply gap-400
    p-400;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 100%));
    min-width: 0;
  }
}
