:host-context(:root.pref-contrast-more) {
  box-shadow: var(--shadow-outline-50) inset;

  .fold {
    bottom: --spacing(50);
    right: --spacing(50);
  }
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    box-shadow: var(--shadow-outline-50) inset;

    .fold {
      bottom: --spacing(50);
      right: --spacing(50);
    }
  }
}
