
:host([variant="amaranth"]) {
  --mds-note-background: var(--color-label-amaranth-09);
  --mds-note-color: var(--color-label-amaranth-02);
  --mds-note-selection-background: var(--color-label-amaranth-08);
  --mds-note-selection-color: var(--color-label-amaranth-04);
}

:host([variant="aqua"]) {
  --mds-note-background: var(--color-label-aqua-09);
  --mds-note-color: var(--color-label-aqua-02);
  --mds-note-selection-background: var(--color-label-aqua-08);
  --mds-note-selection-color: var(--color-label-aqua-04);
}

:host([variant="blue"]) {
  --mds-note-background: var(--color-label-blue-09);
  --mds-note-color: var(--color-label-blue-02);
  --mds-note-selection-background: var(--color-label-blue-08);
  --mds-note-selection-color: var(--color-label-blue-04);
}

:host([variant="green"]) {
  --mds-note-background: var(--color-label-green-09);
  --mds-note-color: var(--color-label-green-02);
  --mds-note-selection-background: var(--color-label-green-08);
  --mds-note-selection-color: var(--color-label-green-04);
}

:host([variant="lime"]) {
  --mds-note-background: var(--color-label-lime-09);
  --mds-note-color: var(--color-label-lime-02);
  --mds-note-selection-background: var(--color-label-lime-08);
  --mds-note-selection-color: var(--color-label-lime-04);
}

:host([variant="orange"]) {
  --mds-note-background: var(--color-label-orange-09);
  --mds-note-color: var(--color-label-orange-02);
  --mds-note-selection-background: var(--color-label-orange-08);
  --mds-note-selection-color: var(--color-label-orange-04);
}

:host([variant="orchid"]) {
  --mds-note-background: var(--color-label-orchid-09);
  --mds-note-color: var(--color-label-orchid-02);
  --mds-note-selection-background: var(--color-label-orchid-08);
  --mds-note-selection-color: var(--color-label-orchid-04);
}

:host([variant="sky"]) {
  --mds-note-background: var(--color-label-sky-09);
  --mds-note-color: var(--color-label-sky-02);
  --mds-note-selection-background: var(--color-label-sky-08);
  --mds-note-selection-color: var(--color-label-sky-04);
}

:host([variant="violet"]) {
  --mds-note-background: var(--color-label-violet-09);
  --mds-note-color: var(--color-label-violet-02);
  --mds-note-selection-background: var(--color-label-violet-08);
  --mds-note-selection-color: var(--color-label-violet-04);
}

:host([variant="yellow"]) {
  --mds-note-background: var(--color-label-yellow-09);
  --mds-note-color: var(--color-label-yellow-02);
  --mds-note-selection-background: var(--color-label-yellow-08);
  --mds-note-selection-color: var(--color-label-yellow-04);
}
