



:host-context(.pref-theme-dark) {
  box-shadow: var(--shadow-outline) inset;
}

:host-context(.pref-theme-dark):host([variant="amaranth"]) {
  --mds-note-background: var(--color-label-amaranth-08);
  --mds-note-fold-color: var(--color-label-amaranth-06);
  --mds-note-color: var(--color-label-amaranth-02);
  --mds-note-selection-background: var(--color-label-amaranth-07);
  --mds-note-selection-color: var(--color-label-amaranth-03);
}

:host-context(.pref-theme-dark):host([variant="aqua"]) {
  --mds-note-background: var(--color-label-aqua-08);
  --mds-note-fold-color: var(--color-label-aqua-06);
  --mds-note-color: var(--color-label-aqua-02);
  --mds-note-selection-background: var(--color-label-aqua-07);
  --mds-note-selection-color: var(--color-label-aqua-03);
}

:host-context(.pref-theme-dark):host([variant="blue"]) {
  --mds-note-background: var(--color-label-blue-08);
  --mds-note-fold-color: var(--color-label-blue-06);
  --mds-note-color: var(--color-label-blue-02);
  --mds-note-selection-background: var(--color-label-blue-07);
  --mds-note-selection-color: var(--color-label-blue-03);
}

:host-context(.pref-theme-dark):host([variant="green"]) {
  --mds-note-background: var(--color-label-green-08);
  --mds-note-fold-color: var(--color-label-green-06);
  --mds-note-color: var(--color-label-green-02);
  --mds-note-selection-background: var(--color-label-green-07);
  --mds-note-selection-color: var(--color-label-green-03);
}

:host-context(.pref-theme-dark):host([variant="lime"]) {
  --mds-note-background: var(--color-label-lime-08);
  --mds-note-fold-color: var(--color-label-lime-06);
  --mds-note-color: var(--color-label-lime-02);
  --mds-note-selection-background: var(--color-label-lime-07);
  --mds-note-selection-color: var(--color-label-lime-03);
}

:host-context(.pref-theme-dark):host([variant="orange"]) {
  --mds-note-background: var(--color-label-orange-08);
  --mds-note-fold-color: var(--color-label-orange-06);
  --mds-note-color: var(--color-label-orange-02);
  --mds-note-selection-background: var(--color-label-orange-07);
  --mds-note-selection-color: var(--color-label-orange-03);
}

:host-context(.pref-theme-dark):host([variant="orchid"]) {
  --mds-note-background: var(--color-label-orchid-08);
  --mds-note-fold-color: var(--color-label-orchid-06);
  --mds-note-color: var(--color-label-orchid-02);
  --mds-note-selection-background: var(--color-label-orchid-07);
  --mds-note-selection-color: var(--color-label-orchid-03);
}

:host-context(.pref-theme-dark):host([variant="sky"]) {
  --mds-note-background: var(--color-label-sky-08);
  --mds-note-fold-color: var(--color-label-sky-06);
  --mds-note-color: var(--color-label-sky-02);
  --mds-note-selection-background: var(--color-label-sky-07);
  --mds-note-selection-color: var(--color-label-sky-03);
}

:host-context(.pref-theme-dark):host([variant="violet"]) {
  --mds-note-background: var(--color-label-violet-08);
  --mds-note-fold-color: var(--color-label-violet-06);
  --mds-note-color: var(--color-label-violet-02);
  --mds-note-selection-background: var(--color-label-violet-07);
  --mds-note-selection-color: var(--color-label-violet-03);
}

:host-context(.pref-theme-dark):host([variant="yellow"]) {
  --mds-note-background: var(--color-label-yellow-08);
  --mds-note-fold-color: var(--color-label-yellow-06);
  --mds-note-color: var(--color-label-yellow-02);
  --mds-note-selection-background: var(--color-label-yellow-07);
  --mds-note-selection-color: var(--color-label-yellow-03);
}


@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    box-shadow: var(--shadow-outline) inset;
  }

  :host-context(.pref-theme-system):host([variant="amaranth"]) {
    --mds-note-background: var(--color-label-amaranth-08);
    --mds-note-fold-color: var(--color-label-amaranth-06);
    --mds-note-color: var(--color-label-amaranth-02);
    --mds-note-selection-background: var(--color-label-amaranth-07);
    --mds-note-selection-color: var(--color-label-amaranth-03);
  }

  :host-context(.pref-theme-system):host([variant="aqua"]) {
    --mds-note-background: var(--color-label-aqua-08);
    --mds-note-fold-color: var(--color-label-aqua-06);
    --mds-note-color: var(--color-label-aqua-02);
    --mds-note-selection-background: var(--color-label-aqua-07);
    --mds-note-selection-color: var(--color-label-aqua-03);
  }

  :host-context(.pref-theme-system):host([variant="blue"]) {
    --mds-note-background: var(--color-label-blue-08);
    --mds-note-fold-color: var(--color-label-blue-06);
    --mds-note-color: var(--color-label-blue-02);
    --mds-note-selection-background: var(--color-label-blue-07);
    --mds-note-selection-color: var(--color-label-blue-03);
  }

  :host-context(.pref-theme-system):host([variant="green"]) {
    --mds-note-background: var(--color-label-green-08);
    --mds-note-fold-color: var(--color-label-green-06);
    --mds-note-color: var(--color-label-green-02);
    --mds-note-selection-background: var(--color-label-green-07);
    --mds-note-selection-color: var(--color-label-green-03);
  }

  :host-context(.pref-theme-system):host([variant="lime"]) {
    --mds-note-background: var(--color-label-lime-08);
    --mds-note-fold-color: var(--color-label-lime-06);
    --mds-note-color: var(--color-label-lime-02);
    --mds-note-selection-background: var(--color-label-lime-07);
    --mds-note-selection-color: var(--color-label-lime-03);
  }

  :host-context(.pref-theme-system):host([variant="orange"]) {
    --mds-note-background: var(--color-label-orange-08);
    --mds-note-fold-color: var(--color-label-orange-06);
    --mds-note-color: var(--color-label-orange-02);
    --mds-note-selection-background: var(--color-label-orange-07);
    --mds-note-selection-color: var(--color-label-orange-03);
  }

  :host-context(.pref-theme-system):host([variant="orchid"]) {
    --mds-note-background: var(--color-label-orchid-08);
    --mds-note-fold-color: var(--color-label-orchid-06);
    --mds-note-color: var(--color-label-orchid-02);
    --mds-note-selection-background: var(--color-label-orchid-07);
    --mds-note-selection-color: var(--color-label-orchid-03);
  }

  :host-context(.pref-theme-system):host([variant="sky"]) {
    --mds-note-background: var(--color-label-sky-08);
    --mds-note-fold-color: var(--color-label-sky-06);
    --mds-note-color: var(--color-label-sky-02);
    --mds-note-selection-background: var(--color-label-sky-07);
    --mds-note-selection-color: var(--color-label-sky-03);
  }

  :host-context(.pref-theme-system):host([variant="violet"]) {
    --mds-note-background: var(--color-label-violet-08);
    --mds-note-fold-color: var(--color-label-violet-06);
    --mds-note-color: var(--color-label-violet-02);
    --mds-note-selection-background: var(--color-label-violet-07);
    --mds-note-selection-color: var(--color-label-violet-03);
  }

  :host-context(.pref-theme-system):host([variant="yellow"]) {
    --mds-note-background: var(--color-label-yellow-08);
    --mds-note-fold-color: var(--color-label-yellow-06);
    --mds-note-color: var(--color-label-yellow-02);
    --mds-note-selection-background: var(--color-label-yellow-07);
    --mds-note-selection-color: var(--color-label-yellow-03);
  }
}
