:host-context(.pref-contrast-more) {
  box-shadow: var(--shadow-outline-50) inset;
}

:host-context(.pref-contrast-more) .fold {
  bottom: var(--spacing-50);
  right: var(--spacing-50);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    box-shadow: var(--shadow-outline-50) inset;
  }

  :host-context(.pref-contrast-system) .fold {
    bottom: var(--spacing-50);
    right: var(--spacing-50);
  }
}
