:host([variant='amaranth']) {
  --mds-note-background: rgb(var(--label-amaranth-09));
  --mds-note-color: rgb(var(--label-amaranth-02));
  --mds-note-selection-background: rgb(var(--label-amaranth-08));
  --mds-note-selection-color: rgb(var(--label-amaranth-04));
}

:host([variant='aqua']) {
  --mds-note-background: rgb(var(--label-aqua-09));
  --mds-note-color: rgb(var(--label-aqua-02));
  --mds-note-selection-background: rgb(var(--label-aqua-08));
  --mds-note-selection-color: rgb(var(--label-aqua-04));
}

:host([variant='blue']) {
  --mds-note-background: rgb(var(--label-blue-09));
  --mds-note-color: rgb(var(--label-blue-02));
  --mds-note-selection-background: rgb(var(--label-blue-08));
  --mds-note-selection-color: rgb(var(--label-blue-04));
}

:host([variant='green']) {
  --mds-note-background: rgb(var(--label-green-09));
  --mds-note-color: rgb(var(--label-green-02));
  --mds-note-selection-background: rgb(var(--label-green-08));
  --mds-note-selection-color: rgb(var(--label-green-04));
}

:host([variant='lime']) {
  --mds-note-background: rgb(var(--label-lime-09));
  --mds-note-color: rgb(var(--label-lime-02));
  --mds-note-selection-background: rgb(var(--label-lime-08));
  --mds-note-selection-color: rgb(var(--label-lime-04));
}

:host([variant='orange']) {
  --mds-note-background: rgb(var(--label-orange-09));
  --mds-note-color: rgb(var(--label-orange-02));
  --mds-note-selection-background: rgb(var(--label-orange-08));
  --mds-note-selection-color: rgb(var(--label-orange-04));
}

:host([variant='orchid']) {
  --mds-note-background: rgb(var(--label-orchid-09));
  --mds-note-color: rgb(var(--label-orchid-02));
  --mds-note-selection-background: rgb(var(--label-orchid-08));
  --mds-note-selection-color: rgb(var(--label-orchid-04));
}

:host([variant='sky']) {
  --mds-note-background: rgb(var(--label-sky-09));
  --mds-note-color: rgb(var(--label-sky-02));
  --mds-note-selection-background: rgb(var(--label-sky-08));
  --mds-note-selection-color: rgb(var(--label-sky-04));
}

:host([variant='violet']) {
  --mds-note-background: rgb(var(--label-violet-09));
  --mds-note-color: rgb(var(--label-violet-02));
  --mds-note-selection-background: rgb(var(--label-violet-08));
  --mds-note-selection-color: rgb(var(--label-violet-04));
}

:host([variant='yellow']) {
  --mds-note-background: rgb(var(--label-yellow-09));
  --mds-note-color: rgb(var(--label-yellow-02));
  --mds-note-selection-background: rgb(var(--label-yellow-08));
  --mds-note-selection-color: rgb(var(--label-yellow-04));
}
