:host-context(.pref-contrast-more.pref-theme-dark) {
  --mds-table-background: var(--color-tone-neutral-08);
  --mds-table-body-background-hover: var(--color-tone-neutral);
  --mds-table-border-color: var(--color-tone-neutral-05);
  --mds-table-color-hover: var(--color-tone-neutral-02);
  --mds-table-color: var(--color-tone-neutral-01);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system.pref-theme-dark) {
    --mds-table-background: var(--color-tone-neutral-08);
    --mds-table-body-background-hover: var(--color-tone-neutral);
    --mds-table-border-color: var(--color-tone-neutral-05);
    --mds-table-color-hover: var(--color-tone-neutral-02);
    --mds-table-color: var(--color-tone-neutral-01);
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-contrast-more.pref-theme-system) {
    --mds-table-background: var(--color-tone-neutral-08);
    --mds-table-body-background-hover: var(--color-tone-neutral);
    --mds-table-border-color: var(--color-tone-neutral-05);
    --mds-table-color-hover: var(--color-tone-neutral-02);
    --mds-table-color: var(--color-tone-neutral-01);
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :host-context(.pref-contrast-system.pref-theme-system) {
    --mds-table-background: var(--color-tone-neutral-08);
    --mds-table-body-background-hover: var(--color-tone-neutral);
    --mds-table-border-color: var(--color-tone-neutral-05);
    --mds-table-color-hover: var(--color-tone-neutral-02);
    --mds-table-color: var(--color-tone-neutral-01);
  }
}
