:host-context(.pref-contrast-more.pref-theme-dark) {
  --mds-table-background: theme('colors.tone-neutral-08');
  --mds-table-body-background-hover: theme('colors.tone-neutral');
  --mds-table-border-color: theme('colors.tone-neutral-05');
  --mds-table-color-hover: theme('colors.tone-neutral-02');
  --mds-table-color: theme('colors.tone-neutral-01');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system.pref-theme-dark) {
    --mds-table-background: theme('colors.tone-neutral-08');
    --mds-table-body-background-hover: theme('colors.tone-neutral');
    --mds-table-border-color: theme('colors.tone-neutral-05');
    --mds-table-color-hover: theme('colors.tone-neutral-02');
    --mds-table-color: theme('colors.tone-neutral-01');
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-contrast-more.pref-theme-system) {
    --mds-table-background: theme('colors.tone-neutral-08');
    --mds-table-body-background-hover: theme('colors.tone-neutral');
    --mds-table-border-color: theme('colors.tone-neutral-05');
    --mds-table-color-hover: theme('colors.tone-neutral-02');
    --mds-table-color: theme('colors.tone-neutral-01');
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :host-context(.pref-contrast-system.pref-theme-system) {
    --mds-table-background: theme('colors.tone-neutral-08');
    --mds-table-body-background-hover: theme('colors.tone-neutral');
    --mds-table-border-color: theme('colors.tone-neutral-05');
    --mds-table-color-hover: theme('colors.tone-neutral-02');
    --mds-table-color: theme('colors.tone-neutral-01');
  }
}
