:host-context(.pref-contrast-more) {
  --mds-tab-bar-item-color: rgb(var(--tone-neutral-04));
  --mds-tab-bar-item-color-selected: rgb(var(--variant-primary-02));
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-tab-bar-item-color: rgb(var(--tone-neutral-04));
    --mds-tab-bar-item-color-selected: rgb(var(--variant-primary-02));
  }
}
