@import '~@maggioli-design-system/styles/dist/tailwind/typography.css';
@tailwind components;
@tailwind utilities;

/*
* @prop --selection-background: Sets the background-color of the text when the text is selected
* @prop --selection-color: Sets the color of the text when the text is selected
*/

.text::selection {
  background-color: var(--selection-background, theme('colors.label-sky-09'));
  color: var(--selection-color, theme('colors.label-sky-01'));
}

:host ( .text-mono-code ) {
  @apply text-mono-code;
}

:host ( .text-mono-hack ) {
  @apply text-mono-hack;
}

:host ( .text-title-h1 ) {
  @apply text-title-h1;
}

:host ( .text-title-h2 ) {
  @apply text-title-h2;
}

:host ( .text-title-h3 ) {
  @apply text-title-h3;
}

:host ( .text-title-h4 ) {
  @apply text-title-h4;
}

:host ( .text-title-h5 ) {
  @apply text-title-h5;
}

:host ( .text-title-h6 ) {
  @apply text-title-h6;
}

:host ( .text-title-action ) {
  @apply text-title-action;
}

:host ( .text-info-paragraph ) {
  @apply text-info-paragraph;
}

:host ( .text-info-detail ) {
  @apply text-info-detail;
}

:host ( .text-info-caption ) {
  @apply text-info-caption;
}

:host ( .text-info-label ) {
  @apply text-info-label;
}

:host ( .text-info-tip ) {
  @apply text-info-tip;
}

:host ( .text-info-option ) {
  @apply text-info-option;
}

:host ( .text-read-paragraph ) {
  @apply text-read-paragraph;
}

:host ( .text-read-detail ) {
  @apply text-read-detail;
}

:host ( .text-read-caption ) {
  @apply text-read-caption;
}

.text {
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

:host ( .article ),
:host ( .blockquote ),
:host ( .dd ),
:host ( .details ),
:host ( .div ),
:host ( .dl ),
:host ( .dt ),
:host ( .figcaption ),
:host ( .h1 ),
:host ( .h2 ),
:host ( .h3 ),
:host ( .h4 ),
:host ( .h5 ),
:host ( .h6 ),
:host ( .label ),
:host ( .legend ),
:host ( .li ),
:host ( .ol ),
:host ( .p ),
:host ( .pre ),
:host ( .summary ),
:host ( .ul ) {
  @apply block;
}

:host ( .abbr ),
:host ( .address ),
:host ( .b ),
:host ( .bdo ),
:host ( .cite ),
:host ( .code ),
:host ( .del ),
:host ( .dfn ),
:host ( .em ),
:host ( .i ),
:host ( .ins ),
:host ( .kbd ),
:host ( .mark ),
:host ( .q ),
:host ( .rb ),
:host ( .rt ),
:host ( .ruby ),
:host ( .s ),
:host ( .samp ),
:host ( .small ),
:host ( .span ),
:host ( .strong ),
:host ( .sub ),
:host ( .sup ),
:host ( .time ),
:host ( .u ),
:host ( .var ) {
  @apply inline;

  line-height: inherit;
}

:host ( .code ) {
  @apply
    bg-tone-neutral-09
    px-1
    rounded
    text-tone-neutral-03
    transition-colors;
}

abbr,
address,
article,
b,
bdo,
blockquote,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
i,
ins,
kbd,
label,
legend,
li,
mark,
ol,
p,
pre,
q,
rb,
rt,
ruby,
s,
samp,
small,
span,
strong,
sub,
summary,
sup,
time,
u,
ul,
var,
wbr {
  margin: 0;
  overflow: inherit;
  text-overflow: inherit;
}
