@import '~@maggioli-design-system/styles/dist/tailwind/typography.css';
@tailwind components;
@tailwind utilities;

/*
* @prop --selection-background: Sets the background-color of the text when the text is selected
* @prop --selection-color: Sets the color of the text when the text is selected
*/

:host {
  @apply
    flex
    min-w-0;
}

.text::selection {
  background-color: var(--selection-background, theme('colors.label-sky-09'));
  color: var(--selection-color, theme('colors.label-sky-01'));
}

.text {
  display: inherit;
}

:host ( [typography=code] ) {
  @apply text-mono-code;
}

:host ( [typography=hack] ) {
  @apply text-mono-hack;
}

:host ( [typography=h1] ) {
  @apply text-title-h1;
}

:host ( [typography=h2] ) {
  @apply text-title-h2;
}

:host ( [typography=h3] ) {
  @apply text-title-h3;
}

:host ( [typography=h4] ) {
  @apply text-title-h4;
}

:host ( [typography=h5] ) {
  @apply text-title-h5;
}

:host ( [typography=h6] ) {
  @apply text-title-h6;
}

:host ( [typography=action] ) {
  @apply text-title-action;
}

:host ( [typography=paragraph] ) {
  @apply text-info-paragraph;
}

:host ( [typography=detail] ) {
  @apply text-info-detail;
}

:host( [typography=caption] ) {
  @apply text-info-caption;
}

:host ( [typography=label] ) {
  @apply text-info-label;
}

:host ( [typography=tip] ) {
  @apply text-info-tip;
}

:host ( [typography=option] ) {
  @apply text-info-option;
}

:host ( [typography=paragraph][variant=read] ) {
  @apply text-read-paragraph;
}

:host ( [typography=detail][variant=read] ) {
  @apply text-read-detail;
}

:host ( [typography=caption][variant=read] ) {
  @apply text-read-caption;
}

:host ( [tag=article] ),
:host ( [tag=blockquote] ),
:host ( [tag=dd] ),
:host ( [tag=details] ),
:host ( [tag=div] ),
:host ( [tag=dl] ),
:host ( [tag=dt] ),
:host ( [tag=figcaption] ),
:host ( [tag=h1] ),
:host ( [tag=h2] ),
:host ( [tag=h3] ),
:host ( [tag=h4] ),
:host ( [tag=h5] ),
:host ( [tag=h6] ),
:host ( [tag=label] ),
:host ( [tag=legend] ),
:host ( [tag=li] ),
:host ( [tag=ol] ),
:host ( [tag=p] ),
:host ( [tag=pre] ),
:host ( [tag=summary] ),
:host ( [tag=ul] ) {
  @apply block;
}

:host ( [tag=abbr] ),
:host ( [tag=address] ),
:host ( [tag=b] ),
:host ( [tag=bdo] ),
:host ( [tag=cite] ),
:host ( [tag=code] ),
:host ( [tag=del] ),
:host ( [tag=dfn] ),
:host ( [tag=em] ),
:host ( [tag=i] ),
:host ( [tag=ins] ),
:host ( [tag=kbd] ),
:host ( [tag=mark] ),
:host ( [tag=q] ),
:host ( [tag=rb] ),
:host ( [tag=rt] ),
:host ( [tag=ruby] ),
:host ( [tag=s] ),
:host ( [tag=samp] ),
:host ( [tag=small] ),
:host ( [tag=span] ),
:host ( [tag=strong] ),
:host ( [tag=sub] ),
:host ( [tag=sup] ),
:host ( [tag=time] ),
:host ( [tag=u] ),
:host ( [tag=var] ) {
  @apply inline;
}

:host ( [tag=code] ) {
  @apply
    bg-tone-neutral-09
    px-1
    rounded
    text-tone-neutral-03
    transition-colors;
}

:host ( [truncate]:not([truncate=false]) ) {
  @apply flex;
}

:host ( [truncate]:not([truncate=false]) ) .text {
  @apply
    flex-grow
    min-w-0
    truncate;
}

abbr,
address,
article,
b,
bdo,
blockquote,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
i,
ins,
kbd,
label,
legend,
li,
mark,
ol,
p,
pre,
q,
rb,
rt,
ruby,
s,
samp,
small,
span,
strong,
sub,
summary,
sup,
time,
u,
ul,
var,
wbr {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  overflow: inherit;
  text-overflow: inherit;
}
