:host {
  --mds-input-date-range-icon-color: rgb(var(--variant-primary-04));
  --mds-input-date-range-variant-color-rgb: 0 0 0;
}

:host(:focus-within) {
  --mds-input-date-range-icon-color: rgb(var(--variant-primary-05));
  --mds-input-date-range-variant-color-rgb: var(--variant-primary-04);
}

:host([variant="ai"]) {
  --mds-input-date-range-icon-color: rgb(var(--variant-ai-04));
  --mds-input-tip-background: rgb(var(--variant-ai-05));
  --mds-input-date-range-variant-color-rgb: 0 0 0;
}

:host([variant="ai"]:focus-within) {
  --mds-input-date-range-icon-color: rgb(var(--variant-ai-05));
  --mds-input-date-range-variant-color-rgb: var(--variant-ai-04);
}

:host([variant="info"]) {
  --mds-input-date-range-icon-color: rgb(var(--status-info-04));
  --mds-input-tip-background: rgb(var(--status-info-05));
  --mds-input-date-range-variant-color-rgb: 0 0 0;
}

:host([variant="info"]:focus-within) {
  --mds-input-date-range-icon-color: rgb(var(--status-info-05));
  --mds-input-date-range-variant-color-rgb: var(--status-info-04);
}

:host([variant="success"]) {
  --mds-input-date-range-icon-color: rgb(var(--status-success-04));
  --mds-input-tip-background: rgb(var(--status-success-05));
  --mds-input-date-range-variant-color-rgb: 0 0 0;
}

:host([variant="success"]:focus-within) {
  --mds-input-date-range-icon-color: rgb(var(--status-success-05));
  --mds-input-date-range-variant-color-rgb: var(--status-success-04);
}

:host([variant="warning"]) {
  --mds-input-date-range-icon-color: rgb(var(--status-warning-04));
  --mds-input-tip-background: rgb(var(--status-warning-05));
  --mds-input-date-range-variant-color-rgb: 0 0 0;
}

:host([variant="warning"]:focus-within) {
  --mds-input-date-range-icon-color: rgb(var(--status-warning-05));
  --mds-input-date-range-variant-color-rgb: var(--status-warning-04);
}

:host([variant="error"]) {
  --mds-input-date-range-icon-color: rgb(var(--status-error-04));
  --mds-input-tip-background: rgb(var(--status-error-05));
  --mds-input-date-range-variant-color-rgb: 0 0 0;
}

:host([variant="error"]:focus-within) {
  --mds-input-date-range-icon-color: rgb(var(--status-error-05));
  --mds-input-date-range-variant-color-rgb: var(--status-error-04);
}
