:host-context(.pref-contrast-more) {
  --mds-input-date-range-ring: var(--shadow-outline-strong-50);
  --mds-input-date-range-background: var(--color-tone-neutral-09);
  --mds-input-date-range-controls-border: 2px solid var(--color-tone-neutral-05);
}

:host-context(.pref-contrast-more) .input::placeholder {
  color: var(--color-tone-neutral-03);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-input-date-range-ring: var(--shadow-outline-strong-50);
    --mds-input-date-range-background: var(--color-tone-neutral-09);
    --mds-input-date-range-controls-border: 2px solid var(--color-tone-neutral-05);
  }

  :host-context(.pref-contrast-more) .input::placeholder {
    color: var(--color-tone-neutral-03);
  }
}
