:host-context(.pref-theme-dark) {
  --mds-input-date-range-ring: var(--shadow-outline-50);
  --mds-input-date-range-background: var(--color-tone-neutral-09);
  --mds-input-date-range-controls-border: 2px solid var(--color-tone-neutral-06);
}

:host-context(.pref-theme-dark) .counter-button:hover {
  --mds-button-background: var(--color-tone-neutral-08);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-input-date-range-ring: var(--shadow-outline-50);
    --mds-input-date-range-background: var(--color-tone-neutral-09);
    --mds-input-date-range-controls-border: 2px solid var(--color-tone-neutral-06);
  }

  :host-context(.pref-theme-system) .counter-button:hover {
    --mds-button-background: var(--color-tone-neutral-08);
  }
}
