@supports (-moz-appearance: none) {
  .action-open-calendar {
    display: none;
  }

  .inputs {
    justify-content: var(--mds-input-date-range-fields-firefox-justify-content);
    padding-right: --spacing(400);
  }
}
