@tailwind utilities;

/**
 * @prop --mds-kpi-item-description-color: Set the color of the description text
 * @prop --mds-kpi-item-icon-background: Set the background color of the icon wrapper element
 * @prop --mds-kpi-item-icon-color: Set the fill color of the icon element
 * @prop --mds-kpi-item-icon-size: Set the size of the icon element
 * @prop --mds-kpi-item-info-padding: Set the padding of the info text
 * @prop --mds-kpi-item-label-color: Set the color of the label text
 * @prop --mds-kpi-item-text-animation-placeholder-char: Sets the animation placeholder char of the text
 * @prop --mds-kpi-item-text-animation-speed: Sets the animation speed of the text
 */

:host {

  --mds-kpi-item-description-color: theme('colors.tone-neutral-04');
  --mds-kpi-item-icon-background: theme('colors.brand-maggioli-10');
  --mds-kpi-item-icon-color: theme('colors.brand-maggioli-04');
  --mds-kpi-item-label-color: theme('colors.tone-neutral-02');
  --mds-kpi-item-padding: theme('spacing.400');
  --mds-kpi-item-icon-size: theme('size.1200');
  --mds-kpi-item-text-animation-placeholder-char: var(--mds-kpi-text-animation-placeholder-char, " ");
  --mds-kpi-item-text-animation-speed: var(--mds-kpi-text-animation-speed, 0.15);

  @apply
    duration-300
    ease-out
    gap-0
    rounded-2xl;

  background-color: theme('colors.tone-neutral');
  box-shadow: theme('boxShadow.lg');
  display: grid;
  overflow: hidden;
  transition-property: background-color, box-shadow;
}

.icon-container {

  @apply
    duration-300
    ease-out;

  align-items: center;
  background-color: var(--mds-kpi-item-icon-background);
  display: flex;
  justify-content: center;
  padding: var(--mds-kpi-item-padding);
  transition-property: background-color;
}

.icon {
  @apply
    duration-300
    ease-out;

  fill: var(--mds-kpi-item-icon-color);
  height: var(--mds-kpi-item-icon-size);
  transition-property: fill;
  width: var(--mds-kpi-item-icon-size);
}

.info {
  @apply gap-0;

  display: grid;
  justify-content: center;
  padding: var(--mds-kpi-item-padding);
  text-align: center;
}

.label,
.description {

  @apply
    duration-300
    ease-out;

  --mds-text-animation-speed: var(--mds-kpi-item-text-animation-speed);
  --mds-text-animation-placeholder-char: var(--mds-kpi-item-text-animation-placeholder-char);

  transition-property: fill;
}

.label {
  color: var(--mds-kpi-item-label-color);
}

.description {
  color: var(--mds-kpi-item-description-color);
}

@import './css/mds-kpi-item-pref-animation.css';
@import './css/mds-kpi-item-pref-contrast.css';
@import './css/mds-kpi-item-pref-theme.css';
