@tailwind utilities;

/**
  * @prop --mds-kpi-item-description-color: Set the color of the description text
  * @prop --mds-kpi-item-info-padding: Set the padding of the info text
  * @prop --mds-kpi-item-value-color: Set the color of the value text
  */

/* https://benfrain.com/using-css-property-inside-shadowroot-web-components-workaround/ */

/* @property --mds-kpi-item-value {
  inherits: false;
  initial-value: 0;
  syntax: '<integer>';
} */

:host {

  --mds-kpi-item-description-color: theme('colors.tone-neutral-04');
  --mds-kpi-item-info-padding: theme('spacing.400');
  --mds-kpi-item-value-color: theme('colors.tone-neutral-02');
  --mds-kpi-item-duration: 1s;

  @apply
    gap-0
    rounded-2xl;

  background-color: var(--background-color, theme('colors.tone-neutral'));
  box-shadow: var(--shadow, theme('boxShadow.lg'));
  display: grid;
  overflow: hidden;
}

.icon {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.info {
  @apply gap-0;

  display: grid;
  justify-content: center;
  padding: var(--mds-kpi-item-info-padding);
  text-align: center;
}

.value {
  color: var(--mds-kpi-item-value-color);
  counter-set: num var(--mds-kpi-item-value);
  transition: --mds-kpi-item-value var(--mds-kpi-item-duration); /* stylelint-disable-line custom-property-no-missing-var-function */
}

.value::after {
  content: counter(num);
}

.description {
  color: var(--mds-kpi-item-description-color);
}
