@import '~@maggioli-design-system/styles/scss/import-framework';

$cell-background-color: color('adjust.tone', '20');
$cell-border: color('adjust.tone', '19');
$cell-border-first: color('adjust.tone', '17');
$cell-border-hover: color('adjust.tone', '19');
$border-size: 2px;
$border-style: $border-size solid;

.Table {
  background-color: color('adjust.tone');
  border-radius: s(0.5);
  display: flex;

  // sass-lint:disable no-vendor-prefixes
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding-bottom: s(2);
  padding-top: s(1);

  &__element {
    border-collapse: collapse;
    flex-grow: 1;
  }

  &__cell {
    border-top: $border-style $cell-border;
    padding: s(0.5) s(1);
    position: relative;
    white-space: nowrap;

    @include media('desktop') {
      white-space: normal;
    }

    &:first-child {
      &::before {
        border-radius: s(0.25) 0 0 s(0.25);
        left: 0;
        transform: translate(0, 0);
      }
    }

    &:last-child {
      position: relative;

      &::before {
        border-radius: 0 s(0.25) s(0.25) 0;
        right: 0;
        transform: translate(0, 0);
      }
    }

    &--header {
      border: 0;
      text-align: left;
    }

    &--grow {
      width: 100%;
    }
  }

  &--interactive {
    .Table {
      &__body {
        .Table {
          &__row {
            &:hover {
              .Table {
                &__cell {

                  --background-color: #{$cell-background-color};

                  background-color: var(--background-color);
                  transition: background-color get($tween, 'slide');
                }
              }
            }
          }
        }

        &:hover {
          .Table {
            &__cell {
              border-top: $border-style $cell-border-hover;
            }
          }
        }
      }
    }
  }

  &__body {
    .Table {
      &__row {
        &:first-child {
          .Table {
            &__cell {
              border-top: $border-style $cell-border-first;
            }
          }
        }

        &:last-child {
          .Table {
            &__cell {
              border-bottom: $border-style $cell-border;
            }
          }
        }
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
    gap: 5px;
  }

  &--theme-alternate {
    .Table {
      &__body {
        .Table {
          &__row {
            &:nth-child( odd ) {
              .Table {
                &__cell {
                  background-color: $cell-background-color;
                }
              }
            }
          }
        }

        &:hover {
          .Table {
            &__row {
              &:nth-child( odd ) {
                .Table {
                  &__cell {
                    background-color: transparent;
                  }
                }
              }

              &:hover {
                .Table {
                  &__cell {
                    background-color: $cell-background-color !important;
                    transition: background-color get($tween, 'slide');
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
