@tailwind utilities;

.table-body {

  @apply table-row-group;

  border-radius: var(--radius, 0);
  box-shadow: var(--shadow, none);
  overflow: hidden;
}

.table-body--interactive:hover .table-cell {
  background-color: var(--background-hover, theme('colors.adjust-tone-10'));
}
