@import './css/mds-table-body-fouc.css';

/**
 * @prop --mds-table-body-background-hover: Background color for table body rows on hover.
 * @prop --mds-table-body-background: Default background color of table body rows.
 * @prop --mds-table-body-background-alt: Alternate background color for table body rows.
 * @prop --mds-table-body-color-alt: Text color for alternate table body rows.
 * @prop --mds-table-body-color: Default text color for table body rows.
 */

:host {
  --mds-table-body-background-hover: var(--mds-table-background-alt, rgb(var(--magma-surface-raised)));
  --mds-table-body-background: var(--mds-table-background, rgb(var(--magma-surface-default)));
  --mds-table-body-background-alt: var(--mds-table-body-background-hover);
  --mds-table-body-color-alt: var(--mds-table-color-alt, rgb(var(--magma-text-muted)));
  --mds-table-body-color: var(--mds-table-color, rgb(var(--magma-text-default)));

  /* internal */
  --mds-table-row-color: var(--mds-table-body-color);
  --mds-table-body-transition-duration: var(--duration-200);
  --private-table-body-transition-duration: var(--mds-table-body-transition-duration);

  @apply ease-out;

  background-color: var(--mds-table-body-background);
  display: table-row-group;
  overflow: hidden;
  transition-duration: var(--private-table-body-transition-duration);
  transition-property: background-color;
}

:host(:last-of-type) ::slotted(*:last-of-type) {
  --private-cell-border-color: transparent;
}

@import './css/mds-table-body-interactive.css';
@import './css/mds-table-body-selection.css';
@import './css/mds-table-body-pref-animation.css';
