.mini-card {
  @apply grid-cols-full;

  background-color: theme('colors.tone-neutral');
  border-radius: theme('borderRadius.lg');
  box-shadow: theme('boxShadow.sm-sharp');
  display: inline-flex;
  gap: theme('spacing.200');
  padding: theme('size.400');
}

.mini-card-icon {

  @apply
    -mt-400
    rounded-2xl
    rounded-t-none
    p-100
    pt-400;

  background-color: theme('colors.variant-ai-05');
  fill: theme('colors.variant-ai-10');
  height: theme('size.600');
  width: theme('size.600');
}

.link-label-short {
  display: none;
}

.mini-card-content {
  @apply grid-cols-full;

  display: grid;
  gap: theme('spacing.200');
}

.mini-card-button {
  max-width: min-content;
  min-width: 0;
  width: 100%;
}

@container mds-disclaimer-ai (max-width: 260px) {
  .mini-card {
    display: grid;
  }

  .mini-card-icon {
    @apply -mt-400 rounded-t-none pt-200;
  }

  .link-label-long {
    display: none;
  }

  .link-label-short {
    display: inline;
  }
}
