@import '~Sass/import';

@mixin division ($distance, $border-width) {
  border-top: $border-width solid color('adjust.tone', '15');
  margin-top: $distance;
  padding-top: $distance;
}

.sys-typography-table-group {
  & + & {
    @include division($distance: s(4), $border-width: s(1));
  }

  &__header {
    grid-template-columns: 160px auto;
  }

  &__row {
    grid-template-columns: 160px auto 250px;
    @include division($distance: s(2), $border-width: 2px);
  }
}
