@tailwind utilities;

/**
* @prop --background: Sets the background-color of the component
* @prop --color: Sets the text color of the component
* @prop --radius: Sets the border-radius of the component
* @prop --shadow: Sets the box-shadow of the component
*/

:host {

  --background: theme('colors.adjust-tone-10');
  --color: theme('colors.adjust-tone-02');
  --radius: theme('borderRadius.md');
  --shadow: theme('boxShadow.lg');

  @apply
    flex
    flex-col
    h-screen
    p-4;
}

.window {
  @apply
    bg-adjust-tone-09
    flex
    flex-col
    flex-grow
    overflow-hidden
    w-full;

  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.header {
  @apply
    flex
    items-center
    gap-2
    shrink-0
    p-2;

  background-color: var(--background);
  color: var(--color);
}

.title {
  @apply
    flex-grow
    min-w-0
    text-center
    truncate;
}

.close {
  @apply cursor-pointer;
}

.iframe {
  @apply
    border-0
    flex-grow
    m-0
    p-0
    w-full;
}
