@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

/**
* @prop --mds-url-view-background: Sets the background-color of the component
* @prop --mds-url-view-color: Sets the text color of the component
* @prop --mds-url-view-radius: Sets the border-radius of the component
* @prop --mds-url-view-shadow: Sets the box-shadow of the component
*/

:host {

  --mds-url-view-background: theme('colors.tone-neutral-10');
  --mds-url-view-color: theme('colors.tone-neutral-02');
  --mds-url-view-radius: theme('borderRadius.md');
  --mds-url-view-header-shadow: theme('boxShadow.sharp-sm');
  --mds-url-view-shadow: theme('boxShadow.lg');

  @apply
    box-border
    flex
    flex-col
    h-screen
    p-4;
}

.window {
  @apply
    bg-tone-neutral-09
    flex
    flex-col
    flex-grow
    overflow-hidden
    w-full;

  background-color: var(--mds-url-view-background);
  border-radius: var(--mds-url-view-radius);
  box-shadow: var(--mds-url-view-shadow);
}

.header {
  @apply
    flex
    gap-2
    items-center
    justify-between
    p-2
    relative
    shrink-0;

  background-color: var(--mds-url-view-background);
  box-shadow: var(--mds-url-view-header-shadow);
  color: var(--mds-url-view-color);
}

.title {
  @apply
    flex-grow
    min-w-0
    text-center
    truncate;
}

.browser-icon {
  fill: var(--mds-url-view-color);
}

.close {
  @apply
    cursor-pointer
    rounded-md;

  fill: var(--mds-url-view-color);
}

.iframe {
  @apply
    border-0
    flex-grow
    m-0
    p-0
    w-full;
}
