@import './css/mds-mention-fouc.css';

/**
 * @prop --mds-mention-icon-size: Sets the size (width and height) of the mention icon.
 */

@property --mds-mention-icon-size {
  inherits: false;
  initial-value: --spacing(600);
  syntax: "<length>";
}

:host {
  --mds-mention-icon-size: --spacing(600);

  align-items: center;
  background-color: rgb(var(--tone-neutral-09));
  border-radius: 100px;
  color: rgb(var(--tone-neutral-03));
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  padding: --spacing(25);
  padding-right: --spacing(200);
  vertical-align: middle;
}

mds-icon {
  height: var(--mds-mention-icon-size);
  width: var(--mds-mention-icon-size);
}

@import './css/mds-mention-size.css';
@import './css/mds-mention-action-remove.css';
