@import '../../tailwind/fouc.css';

/**
 * @prop --mds-radial-menu-angle-start: Starting angle of the radial menu.
 * @prop --mds-radial-menu-angle-end: Ending angle of the radial menu.
 * @prop --mds-radial-menu-context-menu-z-index: Z-index of the radial menu context.
 * @prop --mds-radial-menu-delay: Delay before the radial menu opens.
 * @prop --mds-radial-menu-direction: Direction multiplier for menu expansion (-1 or 1).
 * @prop --mds-radial-menu-disc-background: Background color of the radial menu disc.
 * @prop --mds-radial-menu-disc-filter: Filter applied to the radial menu disc.
 * @prop --mds-radial-menu-disc-shadow: Shadow applied to the radial menu disc.
 * @prop --mds-radial-menu-disc-size: Size of the radial menu disc.
 * @prop --mds-radial-menu-radius: Radius of the radial menu.
 * @prop --mds-radial-menu-transition-duration: Duration of the radial menu open/close transition.
 * @prop --mds-radial-menu-transition-timing-function: Timing function of the radial menu transition.
 */

@property --mds-radial-menu-angle-start {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@property --mds-radial-menu-angle-end {
  inherits: false;
  initial-value: 360deg;
  syntax: "<angle>";
}

@property --mds-radial-menu-context-menu-z-index {
  inherits: false;
  initial-value: var(--magma-context-menu-z-index, 8000);
  syntax: "<integer>";
}

@property --mds-radial-menu-delay {
  inherits: false;
  initial-value: 0.01s;
  syntax: "<time>";
}

@property --mds-radial-menu-direction {
  inherits: false;
  initial-value: -1;
  syntax: "<integer>";
}

@property --mds-radial-menu-disc-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral) / 0.50);
  syntax: "<color>";
}

@property --mds-radial-menu-disc-size {
  inherits: false;
  initial-value: calc(var(--mds-radial-menu-radius) * 2);
  syntax: "<length>";
}

@property --mds-radial-menu-radius {
  inherits: false;
  initial-value: 5rem;
  syntax: "<length>";
}

@property --mds-radial-menu-transition-duration {
  inherits: false;
  initial-value: 500ms;
  syntax: "<time>";
}

/* ❌ Not supported
@property --mds-radial-menu-disc-filter {
  inherits: false;
  initial-value: blur(8px);
  syntax: "<missing>";
}

@property --mds-radial-menu-disc-shadow {
  inherits: false;
  initial-value: var(--shadow-lg-sharp);
  syntax: "<missing>";
}

@property --mds-radial-menu-transition-timing-function {
  inherits: false;
  initial-value: var(--ease-out-expo);
  syntax: "<timing-function>";
}
*/

:host {
  --mds-radial-menu-angle-start: 0deg;
  --mds-radial-menu-angle-end: 360deg;
  --mds-radial-menu-context-menu-z-index: var(--magma-context-menu-z-index, 8000);
  --mds-radial-menu-delay: 0.01s;
  --mds-radial-menu-direction: -1;
  --mds-radial-menu-disc-background: rgb(var(--tone-neutral) / 0.50);
  --mds-radial-menu-disc-filter: blur(8px);
  --mds-radial-menu-disc-shadow: var(--shadow-lg-sharp);
  --mds-radial-menu-disc-size: calc(var(--mds-radial-menu-radius) * 2);
  --mds-radial-menu-radius: 5rem;
  --mds-radial-menu-transition-duration: 500ms;
  --mds-radial-menu-transition-timing-function: var(--ease-out-expo);

  /* private */ --mds-radial-menu-nth-siblings: 0;
  /* private */ --mds-radial-menu-disc-delay: 0s;
  /* private */ --mds-radial-menu-disc-scale: 0;
  /* private */ --mds-radial-menu-radius-current: 0;
  /* private */ --mds-radial-menu-is-full-circle: 1;
  /* private */ --mds-radial-menu-is-start-greater-than-end: 1;

  display: inline-flex;
  position: relative;
  transition-duration: var(--mds-radial-menu-transition-duration);
  transition-property: top, left;
  transition-timing-function: var(--mds-radial-menu-transition-timing-function);
  z-index: var(--magma-dropdown-z-index, 5000);
}

:host([direction="clockwise"]) {
  --mds-radial-menu-direction: calc(-1 * var(--mds-radial-menu-is-start-greater-than-end));
}

:host([direction="counterclockwise"]) {
  --mds-radial-menu-direction: calc(1 * var(--mds-radial-menu-is-start-greater-than-end));
}

.menu-button {
  border-radius: 100%;
  position: relative;
  transform: scale(1);
  transition-duration: var(--mds-radial-menu-transition-duration);
  transition-timing-function: var(--mds-radial-menu-transition-timing-function);
  z-index: 2;
}

:host(:not([opened])) .menu-button--hidden {
  transform: scale(0);
}

.radial-menu {
  inset: 0;
  pointer-events: none;
  position: absolute;
  transition-delay: calc((var(--mds-radial-menu-nth-siblings) * 2) * var(--mds-radial-menu-delay));
  transition-property: z-index;
  z-index: 3;
}

:host(:not([opened])) .radial-menu {
  transition-delay: 0s;
  z-index: 1;
}

:host(:not([opened])) {
  --mds-radial-menu-radius-current: 0;
}

:host([opened]) {
  --mds-radial-menu-radius-current: var(--mds-radial-menu-radius);
}

:host([opened]) ::slotted(mds-radial-menu-item) {
  pointer-events: auto;
  transform: scale(1);
}

::slotted(mds-radial-menu-item) {
  --mds-radial-menu-item-offset-per-child: calc((var(--mds-radial-menu-angle-end) - var(--mds-radial-menu-angle-start)) / (var(--mds-radial-menu-nth-siblings) + var(--mds-radial-menu-is-full-circle)));
	--mds-radial-menu-item-angle-offset: calc(var(--mds-radial-menu-direction) * var(--mds-radial-menu-item-index) * var(--mds-radial-menu-item-offset-per-child));
  --mds-radial-menu-item-delay: calc((var(--mds-radial-menu-item-index) + 1) * var(--mds-radial-menu-delay));
  --mds-radial-menu-item-translate: calc(cos((var(--mds-radial-menu-angle-start) + var(--mds-radial-menu-item-angle-offset))) * var(--mds-radial-menu-radius-current)) calc(sin((var(--mds-radial-menu-angle-start) + var(--mds-radial-menu-item-angle-offset))) * var(--mds-radial-menu-radius-current) * -1);
}

@import "./css/mds-radial-menu-disc.css";
@import "./css/mds-radial-menu-interaction.css";
