@import '~@maggioli-design-system/styles/dist/tailwind/typography.css';
@import '../../tailwind/components.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


:host {
  @apply
    flex
    relative
    text-tone-neutral-02
    text-info-detail;

  --variant-color: 0, 0, 0;
  --ring: 0 0 0 1px rgba(var(--variant-color), 0.1);
  --shadow: 0 1px 3px 0 rgba(var(--variant-color), 0.1), 0 1px 2px 0 rgba(var(--variant-color), 0.06);
}

.input {
  @apply
    appearance-none
    bg-tone-neutral
    border-none
    border-transparent
    box-border
    cursor-pointer
    duration-300
    ease-out-expo
    m-0
    min-h-12
    text-ellipsis
    overflow-hidden
    pl-4
    pr-12
    py-3
    rounded-lg
    text-tone-neutral-05
    text-info-detail
    transition-cosmetic
    w-full;

  box-shadow: var(--ring), var(--shadow);
}

.input:focus {
  @apply
    duration-300
    ease-out-expo
    outline-none
    transition-cosmetic;

  --variant-color: 10, 80, 212;
  --ring: 0 0 0 3px rgba(var(--variant-color), 1);
  --shadow: 0 4px 6px -1px rgba(var(--variant-color), 0.1), 0 2px 4px -1px rgba(var(--variant-color), 0.06);
}

.input--selected {
  @apply text-tone-neutral-02;
}

.icon-container {
  @apply
    absolute
    flex
    h-12
    items-center
    pointer-events-none
    right-4
    text-inherit;
}

.icon {
  @apply
    bg-transparent
    duration-200
    rounded-full
    fill-brand-maggioli-04
    transition-colors;
}

.input:focus + .icon-container .icon,
.input:hover + .icon-container .icon {
  @apply
    bg-tone-neutral-09
    fill-brand-maggioli-02;
}
