:host-context(:root.pref-contrast-more) {
  --mds-input-date-ring: var(--shadow-outline-strong-50);
  --mds-input-date-background: rgb(var(--tone-neutral-09));
  --mds-input-date-controls-border: 2px solid rgb(var(--tone-neutral-05));

  .input::placeholder {
    color: rgb(var(--tone-neutral-03));
  }
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-input-date-ring: var(--shadow-outline-strong-50);
    --mds-input-date-background: rgb(var(--tone-neutral-09));
    --mds-input-date-controls-border: 2px solid rgb(var(--tone-neutral-05));

    .input::placeholder {
      color: rgb(var(--tone-neutral-03));
    }
  }
}
