@import '~Sass/import-framework';

$menu-size: 60px;
$menu-font-size: 48px;
$aside: 450px;
$aside-desktop: 300px;
$content: 1440px;
$contents-color: color('adjust.tone');

body {
  background-color: color('adjust.tone');
  color: color('adjust.tone', '04');

  @include media('desktop') {
    background-color: color('brand.eolo', '20');
  }
}

.ds-layout {
  &__main {
    margin: auto;
    max-width: $content;
    position: relative;
  }

  &__aside {
    bottom: 0;
    max-width: $content;
    position: fixed;
    top: 0;
    transform: translate(-100%, 0);
    transition: transform get($tween, 'slide'), box-shadow get($tween, 'slide');
    z-index: 2;

    @include media('mobile') {
      &--is-active {
        box-shadow: 0 0 s(2) 0 color('adjust.tone', '01', 0.5), 0 0 0 100vw color('adjust.tone', '01', 0.75);
        transform: translate(0, 0);
        width: calc(100% - #{s(4)});
      }
    }

    @include media('desktop') {
      transform: translate(0, 0);
      width: $aside-desktop;
    }

    @include media('large') {
      width: $aside;
    }
  }

  &__aside-content {
    background-color: color('adjust.tone', 'color');
    box-shadow: 0 0 s(2) 0 color('adjust.tone', '01', 0), 0 0 0 100vw color('adjust.tone', '01', 0);
    height: 100vh;
    overflow-y: auto;
    padding: 0 s(1);

    @include media('desktop') {
      background-color: transparent;
      padding: 0 s(2);
    }
  }

  &__article {
    margin-bottom: s(2);

    @include media('desktop') {
      margin-left: $aside-desktop;
      margin-right: s(1);
    }

    @include media('large') {
      margin-left: $aside;
      margin-right: s(2);
    }
  }

  &__contents {
    background-color: color('adjust.tone');
    height: auto;
    -webkit-overflow-scrolling: touch;
    padding: s(2) s(1);

    @include media('desktop') {
      background-color: $contents-color;
      border-radius: get($radius, 'large');
      box-shadow: get($shadow, 'box');
      margin-bottom: s(2);
      margin-top: s(2);
      min-height: 100vh;
      overflow: visible;
      padding: s(2);
      position: relative;
      z-index: 2;
    }
  }

  &__markdown {
    display: grid;
    grid-gap: s(1);

    > .image {
      border-radius: s(1);
      max-width: 100%;

      @include media('desktop') {
        transform: translate(s(-0.5, $aside), 0);
      }
    }
  }

  &__actions {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__title {
    padding-right: s(2.5);

    @include media('desktop') {
      padding-right: 0;
    }
  }

  &__switch {
    align-items: center;
    background-color: color('adjust.tone');
    border-radius: $menu-size 0 0 $menu-size;
    box-shadow: get($shadow, 'soft');
    display: flex;
    height: $menu-size;
    justify-content: center;
    position: fixed;
    right: 0;
    top: s(1);
    transform: translate(0, 0);
    transition: background-color get($tween, 'hover'), box-shadow get($tween, 'hover'), transform get($tween, 'hover');
    width: $menu-size + s(0.5);
    z-index: 3;

    @include media ('desktop') {
      display: none;
    }

    &--is-active {
      background-color: color('adjust.tone', 'color', 0);
      box-shadow: none;
      color: color('adjust.tone');
      transform: translate(s(2.25), 0);
      transition: transform get($tween, 'hover');

      .ds-layout {
        &__switch-icon {
          &--menu {
            opacity: 0;
          }

          &--close {
            opacity: 1;
            transition: opacity get($tween, 'hover');
          }
        }
      }
    }
  }

  &__switch-icon {
    font-size: $menu-font-size !important;
    position: absolute;
    transition: color get($tween, 'hover'), transform get($tween, 'hover'), opacity get($tween, 'hover');

    &--menu {
      color: color('adjust.tone', '04');
      opacity: 1;
      transform: translate(0, 0);
    }

    &--close {
      color: color('adjust.tone');
      opacity: 0;
      transform: translate(-100%, 0);
      transition: transform get($tween, 'hover');
    }
  }

  &__footer {
    padding: 0 s(1);

    @include media('desktop') {
      padding: 0 s(2);
    }
  }

  &__footer-logo {
    margin-top: s(1);
    width: 40px !important;
  }
}

.grid--template-auto-fill-authors {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  @include media ('mobile') {
    grid-template-columns: 1fr;
  }
}
