@import '~Sass/import-framework';

$icon-size: s(2);

.accordion {
  background-color: color('adjust.tone', '18');
  border-radius: s(1);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 100%;
  overflow: hidden;

  &__header {
    align-items: flex-start;
    display: flex;
    padding: s(1);
  }

  &__icon {
    flex-shrink: 0;
    margin-right: s(0.5);
  }

  &__title {
    flex-grow: 1;
  }

  &__action {
    align-items: center;
    background-color: color('adjust.tone');
    border-radius: $icon-size;
    display: flex;
    flex-shrink: 0;
    height: $icon-size;
    justify-content: center;
    margin-left: s(1);
    width: $icon-size;
  }

  &__body {
    background-color: color('adjust.tone', '19');
    height: 0;
    overflow: hidden;
    padding: 0 s(1);
    transition: height get($tween, 'slide'), padding get($tween, 'slide');
  }

  &__item {
    background-color: color('adjust.tone', '20');

    &--is-opened {
      .accordion {
        &__header {
          background-color: color('adjust.tone', '19');
        }

        &__body {
          height: auto;
          padding-bottom: s(1);
        }

        &__action {
          background-color: color('brand-maggioli', '05');
          color: color('brand-maggioli', '20');
        }
      }
    }
  }
}
