@import '~Sass/import-framework';

.grid {
  &--tmpl-design-system-page {
    grid-gap: 0;
    grid-template-columns: 1fr;

    @include media ('desktop') {
      grid-template-columns: 450px auto;
    }
  }
}
