:host-context(.pref-contrast-more) {
  --mds-accordion-border-color: theme('colors.tone-neutral-01');
  --mds-accordion-color: theme('colors.tone-neutral-01');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-accordion-border-color: theme('colors.tone-neutral-01');
    --mds-accordion-color: theme('colors.tone-neutral-01');
  }
}
