@import '~@maggioli-design-system/styles/dist/scss/import-framework';

.checkbox {

  $opacity: 0.25;
  $color-checked: color('brand.maggioli', '04');
  $color-default: color('adjust.tone', '04');

  align-items: flex-start;
  display: inline-flex;
  margin-right: s(1);

  &:last-child {
    margin-right: 0;
  }

  &__text {
    cursor: pointer;
  }

  &__icon {

    --color: #{$color-default};

    color: var(--color);
    cursor: pointer;
    filter: grayscale(0);
    margin-right: s(0.25);
    transition: color get($tween, 'hover'), filter get($tween, 'hover');
    user-select: none;
  }

  &__field {
    display: none;

    & + .checkbox__icon {
      display: inline-block;

      + .checkbox__icon {
        display: none;
      }
    }

    &:checked {
      & + .checkbox__icon {
        display: none;

        + .checkbox__icon {

          --color: #{$color-checked};

          color: var(--color);
          display: inline-flex;
          filter: grayscale(0);
        }
      }
    }
  }

  &:hover {
    .checkbox {
      &__icon {

        --color: #{$color-checked};

        color: var(--color);
        filter: grayscale(0);
      }
    }
  }

  &--custom {
    .checkbox {
      &__icon {
        filter: grayscale(1);
      }

      &__field {
        & + .checkbox__icon {

          --opacity: #{$opacity};

          opacity: var(--opacity);

          + .checkbox__icon {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }
  }
}

.checkbox--alt {

  $opacity: 0.25;
  $color-checked: color('brand.maggioli', '04');
  $color-default: color('adjust.tone', '04');

  &:hover {
    .checkbox {
      &__icon {

        --color: #{$color-checked};
      }
    }
  }

  &__field {
    &:checked {
      & + .checkbox__icon {
        + .checkbox__icon {

          --color: #{$color-checked};
        }
      }
    }
  }

  &--custom {
    .checkbox__field {
      & + .checkbox__icon {

        --opacity: #{$opacity};
      }
    }
  }

  &__icon {

    --color: #{$color-default};
  }
}
