:host-context(.pref-theme-dark) {
  background-color: var(--color-tone-neutral-09);
  box-shadow: var(--shadow-outline);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    background-color: var(--color-tone-neutral-09);
    box-shadow: var(--shadow-outline);
  }
}
