@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

/**
* @prop --mds-accordion-item-border-color: Sets the border-color of the component
* @prop --mds-accordion-item-border-color: Sets the border-width of the separators of the component
* @prop --mds-accordion-item-color: Sets the text-color of the component
* @prop --mds-accordion-item-description-color: Sets the color of the always visible title description
* @prop --mds-accordion-item-duration: Sets the transition duration of the close/open animation of the component
* @prop --mds-accordion-item-padding-selected: Sets the vertical padding of the component when it's selected
* @prop --mds-accordion-item-padding-unselected: Sets the vertical padding of the component when it's unselected
*/

:host {

  --mds-accordion-item-border-color: var(--mds-accordion-border-color, theme('colors.tone-neutral-08'));
  --mds-accordion-item-border-width: var(--mds-accordion-border-width, 2px);
  --mds-accordion-item-color: var(--mds-accordion-color, theme('colors.tone-neutral-03'));
  --mds-accordion-item-description-color: var(--mds-accordion-description-color, theme('colors.tone-neutral-02'));
  --mds-accordion-item-duration: var(--mds-accordion-duration, 300ms);
  --mds-accordion-item-padding-selected: var(--mds-accordion-padding-selected, theme('spacing.4') 0 theme('spacing.8') 0);
  --mds-accordion-item-padding-unselected: var(--mds-accordion-padding-unselected, theme('spacing.4') 0 theme('spacing.4') 0);

  @apply
    duration-500
    ease-out-expo
    grid
    relative
    transition-cosmetic;

  border-bottom: solid var(--mds-accordion-item-border-width) transparent;
  border-top: solid var(--mds-accordion-item-border-width) transparent;
  color: var(--mds-accordion-item-color);
  fill: var(--mds-accordion-item-color);
  padding: var(--mds-accordion-item-padding-unselected);
  margin-top: calc(-1 * var(--mds-accordion-item-border-width));
}

:host(:first-child) {
  margin-top: 0;
}

:host( [selected] ) {
  padding: var(--mds-accordion-item-padding-selected);
  border-bottom: solid var(--mds-accordion-item-border-width) var(--mds-accordion-item-border-color);
  border-top: solid var(--mds-accordion-item-border-width) var(--mds-accordion-item-border-color);
}

:host( [selected]:first-child ) {
  @apply mt-0;

  border-top-color: transparent;
}

:host( [selected]:last-child ) {
  @apply mb-0;

  border-bottom-color: transparent;
}

.action {
  @apply
    auto-cols-min
    bg-transparent
    border-none
    cursor-pointer
    gap-4
    grid
    p-0
    rounded-lg
    text-left;

  color: var(--mds-accordion-item-description-color);
  grid-template-columns: 1fr auto;
}

.icon-button {
  @apply
    block
    font-normal;
}

.contents {
  @apply
    ease-in-out-expo
    gap-4
    grid
    min-h-0
    opacity-0
    overflow-hidden
    pt-0;

  grid-template-rows: 0fr;
  transition-duration: var(--mds-accordion-item-duration);
  transition-property: grid-template-rows opacity padding;
}

.contents-expander {
  min-height: 0;
}

:host( [selected] ) .contents {
  @apply
    opacity-100
    pt-4;

  grid-template-rows: 1fr;
}

.icon {
  @apply
    duration-500
    ease-out-expo
    transition-transform;

  fill: var(--mds-accordion-item-color);
  transform: rotate(180deg);
}

:host( [selected] ) .icon {
  transform: rotate(0deg);
}
