@tailwind components;
@tailwind utilities;

/**
* @prop --color: Sets the text-color of the element
* @prop --border-color: Sets the color of the border that separates elements
*/

:host {

  --color: theme('colors.adjust-tone-02');
  --border-color: theme('colors.adjust-tone-08');

  @apply
    duration-500
    ease-out-expo
    grid
    py-4
    relative
    transition-cosmetic;

  border-bottom: solid 2px;
  border-color: transparent !important;
  border-top: solid 2px;
  color: var(--color);
  margin-bottom: -2px;
}

:host( .opened ) {
  @apply
    my-4
    py-8;

  border-bottom-color: var(--border-color) !important;
  border-top-color: var(--border-color) !important;
}

:host( .opened:first-child ) {
  border-top-color: transparent !important;
}

:host( .opened:last-child ) {
  border-bottom-color: transparent !important;
}

.header {
  @apply
    auto-cols-min
    cursor-pointer
    gap-4;

  grid-template-columns: 1fr auto;
}

.icon-button {
  @apply
    block
    font-normal;
}

.font-inherit {
  font-size: inherit;
}

.contents {
  @apply
    duration-300
    ease-out-quad
    gap-4
    flex
    flex-col
    h-0
    opacity-0
    overflow-hidden
    pt-0
    transition-cosmetic;
}

.contents--opened {
  @apply
    h-auto
    opacity-100
    pt-4;
}
