@import './css/mds-quote-fouc.css';

:host {
  display: inline-flex;
}

.open-quote {
  flex-shrink: 0;
}

.quote {
  display: grid;
  gap: --spacing(400);
  user-select: all;
}

span {
  user-select: none;
}

@import './css/mds-quote-pref-contrast.css';
