:host-context(:root.pref-animation-reduce),
:host-context(:root.pref-animation-reduce) .pages {
  --mds-paginator-scroll-behavior: auto;

  transition-duration: 0s;
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-paginator-scroll-behavior: auto;

    transition-duration: 0s;

    .pages {
      --mds-paginator-scroll-behavior: auto;

      transition-duration: 0s;
    }
  }
}
