:host-context(.pref-contrast-more) .pages {
  box-shadow: var(--shadow-outline-50) inset;
}

:host-context(.pref-contrast-more) .item {
  --mds-paginator-item-background-hover: rgb(var(--tone-neutral));
  --mds-paginator-item-shadow-hover: var(--shadow-outline-50) inset;
  --mds-paginator-item-shadow: none;
}

:host-context(.pref-contrast-more) .item-first,
:host-context(.pref-contrast-more) .item-last,
:host-context(.pref-contrast-more) .item-icon {
  --mds-paginator-item-shadow-disabled: var(--shadow-outline-50) inset;
  --mds-paginator-item-shadow-hover: var(--shadow-outline-50) inset;
  --mds-paginator-item-shadow: var(--shadow-outline-50) inset;
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) .pages {
    box-shadow: var(--shadow-outline-50) inset;
  }

  :host-context(.pref-contrast-system) .item {
    --mds-paginator-item-background-hover: rgb(var(--tone-neutral));
    --mds-paginator-item-shadow-hover: var(--shadow-outline-50) inset;
    --mds-paginator-item-shadow: none;
  }

  :host-context(.pref-contrast-system) .item-first,
  :host-context(.pref-contrast-system) .item-last,
  :host-context(.pref-contrast-system) .item-icon {
    --mds-paginator-item-shadow-disabled: var(--shadow-outline-50) inset;
    --mds-paginator-item-shadow-hover: var(--shadow-outline-50) inset;
    --mds-paginator-item-shadow: var(--shadow-outline-50) inset;
  }
}
