:host-context(:root:not(.pref-theme-scheme-light).pref-theme-dark) {
  --mds-paginator-background: rgb(var(--tone-neutral-09));

  .pages {
    box-shadow: var(--shadow-outline) inset;
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(:root:not(.pref-theme-scheme-light).pref-theme-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-paginator-background: rgb(var(--tone-neutral-09));

    .pages {
      box-shadow: var(--shadow-outline) inset;
    }
  }
}
