@import '../../tailwind/fouc.css';

/**
 * @prop --mds-separator-background: Background color of the separator element.
 */

@property --mds-separator-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-08));
  syntax: '<color>';
}

:host {
  --mds-separator-background: rgb(var(--tone-neutral-08));

  background-color: var(--mds-separator-background);
  border-radius: var(--radius-full);
  display: flex;
  height: 1px;
}

@import './css/mds-separator-pref-theme.css';
@import './css/mds-separator-pref-contrast.css';
