:host-context(:root:not(.pref-theme-scheme-light).pref-theme-dark) {
  --mds-paginator-item-background-disabled: rgb(var(--tone-neutral-09));
  --mds-paginator-item-background-hover: rgb(var(--tone-neutral-08));
  --mds-paginator-item-background-selected: rgb(var(--variant-primary-03));
  --mds-paginator-item-background: transparent;
  --mds-paginator-item-color-disabled: rgb(var(--tone-neutral-06));
  --mds-paginator-item-color-hover: rgb(var(--tone-neutral-02));
  --mds-paginator-item-color-selected: rgb(var(--tone-neutral));
  --mds-paginator-item-color: rgb(var(--tone-neutral-02));
  --mds-paginator-item-shadow-disabled: none;
  --mds-paginator-item-shadow-hover: none;
  --mds-paginator-item-shadow-selected: var(--shadow-md-sharp);
  --mds-paginator-item-shadow: none;
}

@media (prefers-color-scheme: dark) {
  :host-context(:root:not(.pref-theme-scheme-light).pref-theme-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-paginator-item-background-disabled: rgb(var(--tone-neutral-09));
    --mds-paginator-item-background-hover: rgb(var(--tone-neutral-08));
    --mds-paginator-item-background-selected: rgb(var(--variant-primary-03));
    --mds-paginator-item-background: transparent;
    --mds-paginator-item-color-disabled: rgb(var(--tone-neutral-06));
    --mds-paginator-item-color-hover: rgb(var(--tone-neutral-02));
    --mds-paginator-item-color-selected: rgb(var(--tone-neutral));
    --mds-paginator-item-color: rgb(var(--tone-neutral-02));
    --mds-paginator-item-shadow-disabled: none;
    --mds-paginator-item-shadow-hover: none;
    --mds-paginator-item-shadow-selected: var(--shadow-md-sharp);
    --mds-paginator-item-shadow: none;
  }
}
