.icon {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 24px !important;
  font-weight: 400;
  justify-content: center;
  line-height: inherit;
  user-select: none;

  &--small {
    font-size: 18px !important;
  }
}
