@import '~Sass/import-framework';

@mixin size-modifier ($icon-size) {

  $modifier: nth($icon-size, 1);
  $size: nth($icon-size, 2);

  &--size-#{$modifier} {
    font-size: $size;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  font-weight: 400;
  justify-content: center;
  line-height: inherit;
  user-select: none;

  @each $icon-size in $icon-sizes {
    @include size-modifier ($icon-size);
  }
}
