@import '~Sass/import-framework';

.quote {
  background-color: color('brand.maggioli', '15');
  color: color('brand.maggioli', '04');
  padding: s(1.25);

  &__content {
    display: flex;

    &::before {
      color: color('brand.maggioli', '08');
      content: '“';
      display: inline-block;
      padding-right: 4px;
    }
  }

  &__text {
    &::after {
      color: color('brand.maggioli', '08');
      content: '”';
      display: inline-block;
      padding-left: 4px;
    }
  }

  &__author {
    color: color('adjust.tone', '04');
    font-style: italic;

    &::before {
      color: color('adjust.tone', '08');
      content: '—';
      margin-right: 2px;
    }
  }
}
