@mixin scaffold-property-set ($name, $property, $list) {

  @if (property-name($property, 2) == $name) {

    $property-selector: property-name($property, 1);
    $property-name: property-name($property, 2);

    @each $variant, $value in $list {
      @include scaffold-property (
        $property-name: $property-name,
        $property-selector: $property-selector,
        $variant: $variant,
        $value: $value
      );
    }
  }
}

@each $property in $config-scaffold-properties {
  @include scaffold-property-set($name: 'box-shadow', $property: $property, $list: $shadow);
  @include scaffold-property-set($name: 'border-radius', $property: $property, $list: $radius);
  @include scaffold-property-set($name: 'padding', $property: $property, $list: $list-sizes);
}
