@mixin scaffold-property-color ($property, $group-name, $tint-name, $contrast-level, $color-mode) {

  $selector: '';

  @if $contrast-level == 'color' {

    $selector: str-replace('#{$group-name $tint-name}', ' ', '-');
  } @else {

    $selector: str-replace('#{$group-name $tint-name $contrast-level}', ' ', '-');
  }

  $color-name: str-replace('#{$group-name $tint-name}', ' ', '.');
  $property-selector: property-name($property, 1);
  $property-name: property-name($property, 2);

  @if ($color-mode == 'light') {
    .#{$property-selector}-#{$selector} {
      #{$property-name}: color($color-name, $contrast-level) !important;
    }

    .hover\:#{$property-selector}-#{$selector} {
      &:hover {
        #{$property-name}: color($color-name, $contrast-level) !important;
      }
    }
  } @else {
    .color-mode {
      &--auto {
        @media (prefers-color-scheme: dark) { /* stylelint-disable-line */
          .dark\:#{$property-selector}-#{$selector} {
            #{$property-name}: color($color-name, $contrast-level) !important;
          }
        }
      }

      &--dark {
        .dark\:#{$property-selector}-#{$selector} {
          #{$property-name}: color($color-name, $contrast-level) !important;
        }
      }
    }
  }
}

@mixin scaffold-color-mode ($color-mode, $light-mode-name, $group-name, $tint-name, $light-modes-map) {

  $i: 0;

  @each $contrast, $contrast-value in $light-modes-map {

    @if $light-mode-name == $color-mode {

      $i: $i + 1;
      $contrast-level: str-replace('#{$contrast}', 'c-', '');

      @each $property-name in $palette-scaffold {

        @include scaffold-property-color(
          $property: $property-name,
          $group-name: $group-name,
          $tint-name: $tint-name,
          $contrast-level: lead-zero($contrast-level),
          $color-mode: $color-mode
        );
      }
    }
  }
}

@mixin scaffold-colors ($colors) {
  @each $group-name, $group-map in $colors {
    @each $tint-name, $tints-map in $group-map {
      @each $light-mode-name, $light-modes-map in $tints-map {

        @include scaffold-color-mode (
          $color-mode: 'light',
          $light-mode-name: $light-mode-name,
          $group-name: $group-name,
          $tint-name: $tint-name,
          $light-modes-map: $light-modes-map
        );

        @include scaffold-color-mode (
          $color-mode: 'dark',
          $light-mode-name: $light-mode-name,
          $group-name: $group-name,
          $tint-name: $tint-name,
          $light-modes-map: $light-modes-map
        );
      }
    }
  }
}

// stylelint-disable scss/at-mixin-named-arguments

@include scaffold-colors($colors: get($tokens, 'color'));
