@import '~Sass/import-framework';

.horizontal-scroll {

  @extend %scroll;

  display: flex;
  overflow: auto;

  &::after,
  &::before {
    content: '';
    flex-shrink: 0;
    height: 1px;
    width: s(1);

    @include media('desktop') {
      display: none;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &--outer-margin {
    &::after,
    &::before {
      display: block;
    }
  }

  &--inner-margin {
    .horizontal-scroll {
      &__item {
        margin-right: s(1);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &--smooth {
    scroll-snap-type: x mandatory;

    .horizontal-scroll {
      &__item {
        scroll-snap-align: center;
      }
    }
  }
}
