@import './css/mds-input-tip-item-fouc.css';

/**
 * @prop --mds-input-tip-item-background: Sets the background color of the tip item.
 * @prop --mds-input-tip-item-color: Sets the text color of the tip item.
 * @prop --mds-input-tip-item-icon-color: Sets the icon color fill of the tip item.
 */

@property --mds-input-tip-item-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-03));
  syntax: '<color>';
}

@property --mds-input-tip-item-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-input-tip-item-icon-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

:host {
  --mds-input-tip-item-transition-duration: var(--duration-300);
  --private-input-tip-item-transition-duration: var(--mds-input-tip-item-transition-duration);
  --mds-input-tip-item-content-transition-duration: var(--duration-200);
  --private-input-tip-item-content-transition-duration: var(--mds-input-tip-item-content-transition-duration);
  --mds-input-tip-item-background: var(--mds-input-tip-background, rgb(var(--tone-neutral-03)));
  --mds-input-tip-item-color: rgb(var(--tone-neutral));
  --mds-input-tip-item-icon-color: rgb(var(--tone-neutral));

  align-items: center;
  background-color: var(--mds-input-tip-item-background);
  border-radius: var(--radius-2xs);
  color: var(--mds-input-tip-item-color);
  display: flex;
  height: --spacing(300);
  justify-content: center;
  min-width: --spacing(300);
  padding: 0;
  pointer-events: none;
  position: static;
  text-align: center;
  transform: translate(0, 0);
  transition-duration: var(--private-input-tip-item-transition-duration);
  transition-property:
    background-color, border-radius, color, padding-left, padding-right, transform;
  transition-timing-function: var(--ease-out-expo);
  user-select: none;
}

mds-text {
  display: flex;
  place-self: center;
}

.content {
  display: grid;
  grid-template-columns: 0fr;
  height: --spacing(300);
  opacity: 0;
  overflow: hidden;
  transition-duration: var(--private-input-tip-item-content-transition-duration);
  transition-property: grid-template-columns, opacity;
  transition-timing-function: var(--ease-out-expo);
}

.icon {
  @apply svg;

  fill: var(--mds-input-tip-item-icon-color);
  height: --spacing(300);
  transform: translateY(-1px);
  width: --spacing(300);
}

@import './css/mds-input-tip-item-expanded.css';
@import './css/mds-input-tip-item-variant.css';
@import './css/mds-input-tip-item-pref-animation.css';
@import './css/mds-input-tip-item-pref-contrast.css';
