:host( [size="sm"] ) {

  --switch-toggle-size: theme('spacing.500');
  --switch-padding: theme('spacing.100');
}

:host( [size="md"] ) {

  --switch-toggle-size: theme('spacing.600');
  --switch-padding: theme('spacing.100');
}

:host( [size="lg"] ) {

  --switch-toggle-size: theme('spacing.700');
  --switch-padding: theme('spacing.100');
}
