:host-context(.pref-theme-dark) {
  --mds-input-switch-box-color-checked: theme('colors.variant-primary-06');
  --mds-input-switch-box-color-disabled-checked: theme('colors.tone-neutral-06');
  --mds-input-switch-box-color-disabled-unchecked: theme('colors.tone-neutral-06');
  --mds-input-switch-box-color-unchecked: theme('colors.tone-neutral-06');
  --mds-input-switch-toggle-color-checked: theme('colors.tone-neutral-03');
  --mds-input-switch-toggle-color-disabled-checked: theme('colors.tone-neutral-04');
  --mds-input-switch-toggle-color-disabled-unchecked: theme('colors.tone-neutral-04');
  --mds-input-switch-toggle-color-unchecked: theme('colors.tone-neutral-03');
  --mds-input-switch-icon-color-checked-disabled: theme('colors.tone-neutral-06');
  --mds-input-switch-icon-color-checked: theme('colors.variant-primary-06');
  --mds-input-switch-icon-color-indeterminate-disabled: theme('colors.tone-neutral-05');
  --mds-input-switch-icon-color-indeterminate: theme('colors.tone-neutral-05');
  --mds-input-switch-icon-color-unchecked-disabled: theme('colors.tone-neutral-06');
  --mds-input-switch-icon-color-unchecked: theme('colors.tone-neutral-06');
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-input-switch-box-color-checked: theme('colors.variant-primary-06');
    --mds-input-switch-box-color-disabled-checked: theme('colors.tone-neutral-06');
    --mds-input-switch-box-color-disabled-unchecked: theme('colors.tone-neutral-06');
    --mds-input-switch-box-color-unchecked: theme('colors.tone-neutral-06');
    --mds-input-switch-toggle-color-checked: theme('colors.tone-neutral-03');
    --mds-input-switch-toggle-color-disabled-checked: theme('colors.tone-neutral-04');
    --mds-input-switch-toggle-color-disabled-unchecked: theme('colors.tone-neutral-04');
    --mds-input-switch-toggle-color-unchecked: theme('colors.tone-neutral-03');
    --mds-input-switch-icon-color-checked-disabled: theme('colors.tone-neutral-06');
    --mds-input-switch-icon-color-checked: theme('colors.variant-primary-06');
    --mds-input-switch-icon-color-indeterminate-disabled: theme('colors.tone-neutral-05');
    --mds-input-switch-icon-color-indeterminate: theme('colors.tone-neutral-05');
    --mds-input-switch-icon-color-unchecked-disabled: theme('colors.tone-neutral-06');
    --mds-input-switch-icon-color-unchecked: theme('colors.tone-neutral-06');
  }
}
