:host-context(.pref-theme-dark) {
  --mds-input-switch-box-color-enabled-checked: var(--color-variant-primary-04);
  --mds-input-switch-box-color-enabled-unchecked: var(--color-tone-neutral-06);
  --mds-input-switch-box-color-disabled-checked: var(--color-tone-neutral-08);
  --mds-input-switch-box-color-disabled-unchecked: var(--color-tone-neutral-08);
  --mds-input-switch-toggle-color-enabled-checked: var(--color-tone-neutral);
  --mds-input-switch-toggle-color-enabled-unchecked: var(--color-tone-neutral-10);
  --mds-input-switch-toggle-color-disabled-checked: var(--color-tone-neutral);
  --mds-input-switch-toggle-color-disabled-unchecked: var(--color-tone-neutral);
  --mds-input-switch-icon-color-checked-disabled: var(--color-tone-neutral-06);
  --mds-input-switch-icon-color-checked: var(--color-variant-primary-06);
  --mds-input-switch-icon-color-indeterminate-disabled: var(--color-tone-neutral-05);
  --mds-input-switch-icon-color-indeterminate: var(--color-tone-neutral-05);
  --mds-input-switch-icon-color-unchecked-disabled: var(--color-tone-neutral-06);
  --mds-input-switch-icon-color-unchecked: var(--color-tone-neutral-06);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-input-switch-box-color-enabled-checked: var(--color-variant-primary-04);
    --mds-input-switch-box-color-enabled-unchecked: var(--color-tone-neutral-06);
    --mds-input-switch-box-color-disabled-checked: var(--color-tone-neutral-08);
    --mds-input-switch-box-color-disabled-unchecked: var(--color-tone-neutral-08);
    --mds-input-switch-toggle-color-enabled-checked: var(--color-tone-neutral);
    --mds-input-switch-toggle-color-enabled-unchecked: var(--color-tone-neutral-10);
    --mds-input-switch-toggle-color-disabled-checked: var(--color-tone-neutral);
    --mds-input-switch-toggle-color-disabled-unchecked: var(--color-tone-neutral);
    --mds-input-switch-icon-color-checked-disabled: var(--color-tone-neutral-06);
    --mds-input-switch-icon-color-checked: var(--color-variant-primary-06);
    --mds-input-switch-icon-color-indeterminate-disabled: var(--color-tone-neutral-05);
    --mds-input-switch-icon-color-indeterminate: var(--color-tone-neutral-05);
    --mds-input-switch-icon-color-unchecked-disabled: var(--color-tone-neutral-06);
    --mds-input-switch-icon-color-unchecked: var(--color-tone-neutral-06);
  }
}
