:host([explicit]:not([disabled]):not([checked])) {
  --mds-input-switch-icon-explicit-color: var(--mds-input-switch-icon-color-unchecked);
}

:host([explicit][checked]:not([disabled])) {
  --mds-input-switch-icon-explicit-color: var(--mds-input-switch-icon-color-checked);
}

:host([explicit][checked][disabled]) {
  --mds-input-switch-icon-explicit-color: var(--mds-input-switch-icon-color-checked-disabled);
}

:host([explicit][disabled]:not([checked])) {
  --mds-input-switch-icon-explicit-color: var(--mds-input-switch-icon-color-unchecked-disabled);
}
