:host-context(:root:not(.pref-theme-scheme-light).pref-theme-dark) {
  --mds-input-switch-box-color-enabled-checked: rgb(var(--variant-primary-04));
  --mds-input-switch-box-color-enabled-unchecked: rgb(var(--tone-neutral-06));
  --mds-input-switch-box-color-disabled-checked: rgb(var(--tone-neutral-08));
  --mds-input-switch-box-color-disabled-unchecked: rgb(var(--tone-neutral-08));
  --mds-input-switch-toggle-color-enabled-checked: rgb(var(--tone-neutral));
  --mds-input-switch-toggle-color-enabled-unchecked: rgb(var(--tone-neutral-10));
  --mds-input-switch-toggle-color-disabled-checked: rgb(var(--tone-neutral));
  --mds-input-switch-toggle-color-disabled-unchecked: rgb(var(--tone-neutral));
  --mds-input-switch-icon-color-checked-disabled: rgb(var(--tone-neutral-06));
  --mds-input-switch-icon-color-checked: rgb(var(--variant-primary-06));
  --mds-input-switch-icon-color-indeterminate-disabled: rgb(var(--tone-neutral-05));
  --mds-input-switch-icon-color-indeterminate: rgb(var(--tone-neutral-05));
  --mds-input-switch-icon-color-unchecked-disabled: rgb(var(--tone-neutral-06));
  --mds-input-switch-icon-color-unchecked: rgb(var(--tone-neutral-06));
}

@media (prefers-color-scheme: dark) {
  :host-context(:root:not(.pref-theme-scheme-light).pref-theme-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-input-switch-box-color-enabled-checked: rgb(var(--variant-primary-04));
    --mds-input-switch-box-color-enabled-unchecked: rgb(var(--tone-neutral-06));
    --mds-input-switch-box-color-disabled-checked: rgb(var(--tone-neutral-08));
    --mds-input-switch-box-color-disabled-unchecked: rgb(var(--tone-neutral-08));
    --mds-input-switch-toggle-color-enabled-checked: rgb(var(--tone-neutral));
    --mds-input-switch-toggle-color-enabled-unchecked: rgb(var(--tone-neutral-10));
    --mds-input-switch-toggle-color-disabled-checked: rgb(var(--tone-neutral));
    --mds-input-switch-toggle-color-disabled-unchecked: rgb(var(--tone-neutral));
    --mds-input-switch-icon-color-checked-disabled: rgb(var(--tone-neutral-06));
    --mds-input-switch-icon-color-checked: rgb(var(--variant-primary-06));
    --mds-input-switch-icon-color-indeterminate-disabled: rgb(var(--tone-neutral-05));
    --mds-input-switch-icon-color-indeterminate: rgb(var(--tone-neutral-05));
    --mds-input-switch-icon-color-unchecked-disabled: rgb(var(--tone-neutral-06));
    --mds-input-switch-icon-color-unchecked: rgb(var(--tone-neutral-06));
  }
}
