@tailwind utilities;

/*
  * @prop --background: Sets the background-color of the component
  * @prop --progress-background: Sets the background-color of the progress
  * @prop --radius: Sets the border-radius of the component
  * @prop --thickness: Sets the thickness of the progress bar
  */

:host {

  --background: theme('colors.adjust-tone-09');
  --progress-background: theme('colors.brand-maggioli-03');
  --radius: theme('borderRadius.lg');
  --thickness: theme('height.2');

  @apply
    flex
    overflow-hidden
    transition-colors;

  background-color: var(--background);
  border-radius: var(--radius);
  height: var(--thickness);
}

:host ( .horizontal ) {
  @apply w-full;

  height: var(--thickness);
  min-width: var(--thickness);
}

:host ( .vertical ) {
  @apply
    h-full
    min-h-8
    flex-col;

  width: var(--thickness);
}

.progress {
  @apply
    duration-500
    ease-out-expo;

  background-color: var(--progress-background);
  border-radius: var(--radius);
  transition-property: background-color, flex-grow;
}

@import './css/mds-progress-variant.css';
