@import './css/mds-pref-consumption-fouc.css';

:host {
  display: grid;
  gap: --spacing(100);
}

.item {
  --mds-tab-item-default-color: rgb(var(--magma-text-disabled));

  flex-basis: 0;
  flex-grow: 1;
}

.item--high {
  --mds-tab-item-selected-color: rgb(var(--magma-danger-emphasis));
}

.item--medium {
  --mds-tab-item-selected-color: rgb(var(--magma-warning-emphasis));
}

.item--low {
  --mds-tab-item-selected-color: rgb(var(--magma-success-emphasis));
}

@import './css/mds-pref-consumption-pref-contrast.css';
