@reference '../../tailwind/index.css';
:host {
  @apply gap-100;

  display: grid;
}

.item {
  --mds-tab-item-default-color: var(--color-tone-neutral-05);

  flex-basis: 0;
  flex-grow: 1;
}

.item--high {
  --mds-tab-item-selected-color: var(--color-status-error-06);
}

.item--medium {
  --mds-tab-item-selected-color: var(--color-status-warning-06);
}

.item--low {
  --mds-tab-item-selected-color: var(--color-status-success-06);
}

@import './css/mds-pref-consumption-pref-contrast.css';
@import '../../tailwind/fouc.css';
