@import './css/mds-tooltip-fouc.css';

/**
 * @prop --mds-tooltip-arrow-background: Background color of the tooltip arrow.
 * @prop --mds-tooltip-background: Background color of the tooltip body.
 * @prop --mds-tooltip-delay: Delay before showing the tooltip.
 * @prop --mds-tooltip-drop-shadow: Drop shadow applied to the tooltip.
 * @prop --mds-tooltip-duration: Duration of the tooltip animation.
 * @prop --mds-tooltip-ease: Timing function for the tooltip animation.
 * @prop --mds-tooltip-dot-padding: Padding around the tooltip dot (if present).
 * @prop --mds-tooltip-transform-from: Transform applied at the start of the tooltip animation.
 * @prop --mds-tooltip-transform-to: Transform applied at the end of the tooltip animation.
 * @prop --mds-tooltip-z-index: z-index of the tooltip container.
 */

@property --mds-tooltip-arrow-background {
  inherits: false;
  initial-value: var(--mds-tooltip-background);
  syntax: '<color>';
}

@property --mds-tooltip-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-tooltip-delay {
  inherits: false;
  initial-value: 1s;
  syntax: '<time>';
}

@property --mds-tooltip-duration {
  inherits: false;
  initial-value: 0.5s;
  syntax: '<time>';
}

@property --mds-tooltip-dot-padding {
  inherits: false;
  initial-value: --spacing(100);
  syntax: '<length>';
}

@property --mds-tooltip-transform-from {
  inherits: false;
  initial-value: scale(0.9) translateY(-3%);
  syntax: '<transform-function>';
}

@property --mds-tooltip-transform-to {
  inherits: false;
  initial-value: scale(1) translate(0, 0);
  syntax: '<transform-list>';
}

@property --mds-tooltip-z-index {
  inherits: false;
  initial-value: var(--magma-tooltip-z-index, 4000);
  syntax: '<integer>';
}

/* ❌ Not supported
@property --mds-tooltip-drop-shadow {
  inherits: false;
  initial-value: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)) drop-shadow(0 0 1px rgb(0 0 0 / 0.1));
  syntax: "<drop-shadow>";
}
@property --mds-tooltip-ease {
  inherits: false;
  initial-value: var(--ease-out-expo);
  syntax: "<timing-function>";
}
*/

:host {
  --mds-tooltip-arrow-background: var(--mds-tooltip-background);
  --mds-tooltip-background: rgb(var(--tone-neutral));
  --mds-tooltip-delay: 1s;
  --mds-tooltip-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)) drop-shadow(0 0 1px rgb(0 0 0 / 0.1));
  --mds-tooltip-duration: 0.5s;
  --private-tooltip-duration: var(--mds-tooltip-duration);
  --mds-tooltip-ease: var(--ease-out-expo);
  --mds-tooltip-dot-padding: --spacing(100);
  --mds-tooltip-transform-from: scale(0.9) translateY(calc(--spacing(400) * -1));
  --mds-tooltip-transform-to: scale(1) translate(0, 0);
  --mds-tooltip-z-index: var(--magma-tooltip-z-index, 4000);

  @apply gap-400
    px-200
    py-100
    rounded;

  background-color: var(--mds-tooltip-background);
  box-sizing: border-box;
  display: grid;
  filter: var(--mds-tooltip-drop-shadow);
  max-width: --spacing(6400);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transform: var(--mds-tooltip-transform-from);
  transition-delay: 0s;
  transition-duration: var(--private-tooltip-duration);
  transition-property: opacity, transform, transform-origin;
  transition-timing-function: var(--mds-tooltip-ease);
  width: fit-content;
  z-index: var(--mds-tooltip-z-index);
}

:host([strategy='absolute']) {
  position: absolute;
}

:host([strategy='fixed']) {
  position: fixed;
}

:host([visible]:not([visible='false'])) {
  opacity: 1;
  pointer-events: auto;
  transform: var(--mds-tooltip-transform-to);
  transition-delay: var(--mds-tooltip-delay);
}

.text {
  display: inline-flex;
  padding: var(--mds-tooltip-dot-padding);
}

.arrow {
  @apply duration-300
    ease-in-out;

  display: flex;
  fill: var(--mds-tooltip-arrow-background);
  pointer-events: none;
  position: fixed;
  top: -9px;
  transition-property: fill;
  z-index: -1;
}

::slotted(*) {
  @apply z-10;

  position: relative;
}

@import './css/mds-tooltip-pref-animation.css';
@import './css/mds-tooltip-pref-theme.css';
@import './css/mds-tooltip-pref-contrast.css';
