@tailwind utilities;

/**
* @prop --mds-tooltip-arrow-background: Sets the fill color of the arrow.
* @prop --mds-tooltip-background: Sets the background-color of the tooltip.
* @prop --mds-tooltip-delay: Sets the delay of the tooltip.
* @prop --mds-tooltip-drop-shadow: Sets the drop-shadow of the tooltip.
* @prop --mds-tooltip-duration: Sets the duration of the tooltip animation.
* @prop --mds-tooltip-ease: Sets the easing of the tooltip animation.
* @prop --mds-tooltip-transform-from: Sets the from animation transform of the tooltip.
* @prop --mds-tooltip-transform-to: Sets the to animation transform of the tooltip.
*/

:host {

  --mds-tooltip-arrow-background: var(--mds-tooltip-background);
  --mds-tooltip-background: theme('colors.tone-neutral');
  --mds-tooltip-delay: 1s;
  --mds-tooltip-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
  --mds-tooltip-duration: 0.5s;
  --mds-tooltip-ease: theme('transitionTimingFunction.out-expo');
  --mds-tooltip-dot-padding: theme('spacing.1');
  --mds-tooltip-transform-from: scale(0.9) translateY(-3%);
  --mds-tooltip-transform-to: scale(1) translate(0, 0);

  @apply
    box-border
    fixed
    gap-4
    grid
    opacity-0
    pointer-events-none
    px-2
    py-0
    rounded;

  background-color: var(--mds-tooltip-background);
  filter: var(--mds-tooltip-drop-shadow);
  transform: var(--mds-tooltip-transform-from);
  transition-delay: 0;
  transition-duration: var(--mds-tooltip-duration);
  transition-property: opacity, transform, transform-origin;
  transition-timing-function: var(--mds-tooltip-ease);
  width: fit-content;
}

:host ( [visible]:not([visible=false]) ) {
  @apply
    opacity-100
    pointer-events-auto;

  transform: var(--mds-tooltip-transform-to);
  transition-delay: var(--mds-tooltip-delay);
}

.text {
  @apply inline-flex;
  padding: var(--mds-tooltip-dot-padding);
}

.arrow {
  @apply
    -top-[9px]
    -z-10
    fixed
    flex
    pointer-events-none
    transition-cosmetic;

  fill: var(--mds-tooltip-arrow-background);
}

::slotted ( * ) {
  @apply
    relative
    z-10;
}
