@import '~Sass/import-framework';

.ds-layout {
  &__aside {
    height: 100vh;
    overflow-y: auto;
  }

  &__contents {
    padding: s(2) 0;
  }

  &__article {
    height: 100vh;
    overflow-y: auto;
  }

  &__markdown {
    // background-color: color('adjust.tone', '16');
    display: grid;
    grid-gap: s(1);
    max-width: 800px;

    // padding: s(2) s(3);
  }

  &__actions {
    position: sticky;
    top: 0;
  }
}
