@import '~@maggioli-design-system/styles/scss/import-framework';

@mixin size-modifier ($item) {

  $modifier: nth($item, 1);
  $value: nth($item, 2);

  &--size-#{$modifier} {
    font-size: $value !important;
    min-height: $value;
    width: $value;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  font-weight: 400;
  justify-content: center;
  line-height: inherit;
  user-select: none;

  &--image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @each $item in $icon-sizes {
    @include size-modifier ($item);
  }
}
