@import '~Sass/import-framework';

.icon-item {
  border-radius: s(0.5);
  cursor: pointer;
  padding: s(0.5);
  transition: background-color get($tween, 'hover'), color get($tween, 'hover');

  &:focus-within,
  &:hover {
    background-color: color('brand.maggioli', '20');
    color: color('brand.maggioli', '05');
  }

  &:focus-within {
    background-color: color('brand.maggioli', '18');
  }
}

.icon-input {
  background-color: transparent;
  border: 0;
  color: color('adjust.tone', '08');
  cursor: pointer;
  text-align: center;
  text-overflow: ellipsis;
  transition: background-color get($tween, 'hover'), color get($tween, 'hover');
  user-select: none;
  width: 100%;

  &:focus {
    // background-color: color('adjust.tone');
    outline: 0;
  }
}
