@tailwind utilities;

:host {
  @apply
    overflow-hidden
    table-row;

  --mds-table-cell-background: transparent;

  border-top: var(--mds-table-cell-border-width, theme('borderWidth.2')) solid var(--mds-table-cell-border-color, theme('colors.tone-neutral-07'));
}

::slotted(mds-table-cell) {

  --mds-table-cell-border-color: transparent;
}
