
:host {

  --mds-table-cell-background: transparent;

  @apply
    duration-200
    ease-out;

  border-top: var(--mds-table-cell-border-width, theme('borderWidth.2')) solid var(--mds-table-cell-border-color, theme('colors.tone-neutral-07'));
  display: table-row;
  overflow: hidden;
  transition-property: border-color;
}

::slotted(mds-table-cell) {

  --mds-table-cell-border-color: transparent;
}

@import './css/mds-table-footer-pref-animation.css';
