:host([variant="warning"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="warning"][tone="strong"]) {
  --mds-badge-background: rgb(var(--status-warning-04));
}

:host([variant="warning"][tone="weak"]) {
  --mds-badge-background: rgb(var(--status-warning-09));
  --mds-badge-color: rgb(var(--status-warning-02));
}

:host([variant="warning"][tone="text"]) {
  --mds-badge-color: rgb(var(--status-warning-04));
}

:host([variant="warning"][tone="outline"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--status-warning-06));
  --mds-badge-color: rgb(var(--status-warning-04));
}
