:host([variant="orange"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="orange"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-orange-04));
}

:host([variant="orange"][tone="weak"]) {
  --mds-badge-background: rgb(var(--label-orange-09));
  --mds-badge-color: rgb(var(--label-orange-02));
}

:host([variant="orange"][tone="quiet"]) {
  --mds-badge-color: rgb(var(--label-orange-04));
}

:host([variant="orange"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--label-orange-06));
  --mds-badge-color: rgb(var(--label-orange-04));
}
