:host-context(.pref-contrast-more):host([variant="lime"]),
:host-context(.pref-contrast-more):host([variant="lime"][tone="strong"]) {
  --mds-badge-background: theme('colors.label-lime-03');
}

:host-context(.pref-contrast-more):host([variant="lime"][tone="weak"]) {
  --mds-badge-color: theme('colors.label-lime-01');
}

:host-context(.pref-contrast-more):host([variant="lime"][tone="quiet"]) {
  --mds-badge-color: theme('colors.label-lime-02');
}

:host-context(.pref-contrast-more):host([variant="lime"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-color: theme('colors.label-lime-03');
  --mds-badge-border-color: theme('colors.label-lime-03');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="lime"]),
  :host-context(.pref-contrast-system):host([variant="lime"][tone="strong"]) {
    --mds-badge-background: theme('colors.label-lime-03');
  }

  :host-context(.pref-contrast-system):host([variant="lime"][tone="weak"]) {
    --mds-badge-color: theme('colors.label-lime-01');
  }

  :host-context(.pref-contrast-system):host([variant="lime"][tone="quiet"]) {
    --mds-badge-color: theme('colors.label-lime-02');
  }

  :host-context(.pref-contrast-system):host([variant="lime"][tone="ghost"]) {
    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.label-lime-03');
    --mds-badge-border-color: theme('colors.label-lime-03');
  }
}
