@tailwind utilities;

:host ( [variant=lime] ),
:host ( [variant=lime][tone=strong] ) {

  --background: theme('colors.label-lime-08');
  --color: theme('colors.label-lime-20');
}

:host ( [variant=lime][tone=weak] ) {

  --background: theme('colors.label-lime-16');
  --color: theme('colors.label-lime-04');
}

:host ( [variant=lime][tone=quiet] ) {

  --background: theme('colors.label-lime-18');
  --color: theme('colors.label-lime-08');
}
