:host-context(.pref-contrast-more.pref-theme-dark):host([tone="strong"]),
:host-context(.pref-contrast-more.pref-theme-dark):host([tone="weak"]) {
  box-shadow: theme('boxShadow.outline-strong') inset;
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system.pref-theme-dark):host([tone="strong"]),
  :host-context(.pref-contrast-system.pref-theme-dark):host([tone="weak"]) {
    box-shadow: theme('boxShadow.outline-strong') inset;
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-contrast-more.pref-theme-system):host([tone="strong"]),
  :host-context(.pref-contrast-more.pref-theme-system):host([tone="weak"]) {
    box-shadow: theme('boxShadow.outline-strong') inset;
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :host-context(.pref-contrast-system.pref-theme-system):host([tone="strong"]),
  :host-context(.pref-contrast-system.pref-theme-system):host([tone="weak"]) {
    box-shadow: theme('boxShadow.outline-strong') inset;
  }
}
