:host-context(:root.pref-contrast-more):host([variant="amaranth"]),
:host-context(:root.pref-contrast-more):host([variant="amaranth"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-amaranth-03));
}

:host-context(:root.pref-contrast-more):host([variant="amaranth"][tone="weak"]) {
  --mds-badge-color: rgb(var(--label-amaranth-01));
}

:host-context(:root.pref-contrast-more):host([variant="amaranth"][tone="quiet"]) {
  --mds-badge-color: rgb(var(--label-amaranth-02));
}

:host-context(:root.pref-contrast-more):host([variant="amaranth"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-color: rgb(var(--label-amaranth-03));
  --mds-badge-border-color: rgb(var(--label-amaranth-03));
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])):host([variant="amaranth"]),
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])):host([variant="amaranth"][tone="strong"]) {
    --mds-badge-background: rgb(var(--label-amaranth-03));
  }

  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])):host([variant="amaranth"][tone="weak"]) {
    --mds-badge-color: rgb(var(--label-amaranth-01));
  }

  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])):host([variant="amaranth"][tone="quiet"]) {
    --mds-badge-color: rgb(var(--label-amaranth-02));
  }

  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])):host([variant="amaranth"][tone="ghost"]) {
    --mds-badge-background: transparent;
    --mds-badge-color: rgb(var(--label-amaranth-03));
    --mds-badge-border-color: rgb(var(--label-amaranth-03));
  }
}
