@tailwind utilities;

:host ( [variant=error] ),
:host ( [variant=error][tone=strong] ) {

  --background: theme('colors.status-error-08');
  --color: theme('colors.status-error-20');
}

:host ( [variant=error][tone=weak] ) {

  --background: theme('colors.status-error-16');
  --color: theme('colors.status-error-04');
}

:host ( [variant=error][tone=quiet] ) {

  --background: theme('colors.status-error-18');
  --color: theme('colors.status-error-08');
}
