@tailwind utilities;

:host ( [variant=blue] ),
:host ( [variant=blue][tone=strong] ) {

  --background: theme('colors.label-blue-08');
  --color: theme('colors.label-blue-20');
}

:host ( [variant=blue][tone=weak] ) {

  --background: theme('colors.label-blue-16');
  --color: theme('colors.label-blue-04');
}

:host ( [variant=blue][tone=quiet] ) {

  --background: theme('colors.label-blue-18');
  --color: theme('colors.label-blue-08');
}
