@tailwind utilities;

:host ( [variant=success] ),
:host ( [variant=success][tone=strong] ) {

  --background: theme('colors.status-success-08');
  --color: theme('colors.status-success-20');
}

:host ( [variant=success][tone=weak] ) {

  --background: theme('colors.status-success-16');
  --color: theme('colors.status-success-04');
}

:host ( [variant=success][tone=quiet] ) {

  --background: theme('colors.status-success-18');
  --color: theme('colors.status-success-08');
}
