:host-context(:root.pref-contrast-more) {
  &:host([variant="lime"]),
  &:host([variant="lime"][tone="strong"]) {
    --mds-badge-background: rgb(var(--label-lime-03));
  }

  &:host([variant="lime"][tone="weak"]) {
    --mds-badge-color: rgb(var(--label-lime-01));
  }

  &:host([variant="lime"][tone="text"]) {
    --mds-badge-color: rgb(var(--label-lime-02));
  }

  &:host([variant="lime"][tone="outline"]) {
    --mds-badge-background: transparent;
    --mds-badge-color: rgb(var(--label-lime-03));
    --mds-badge-border-color: rgb(var(--label-lime-03));
  }
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    &:host([variant="lime"]),
    &:host([variant="lime"][tone="strong"]) {
      --mds-badge-background: rgb(var(--label-lime-03));
    }

    &:host([variant="lime"][tone="weak"]) {
      --mds-badge-color: rgb(var(--label-lime-01));
    }

    &:host([variant="lime"][tone="text"]) {
      --mds-badge-color: rgb(var(--label-lime-02));
    }

    &:host([variant="lime"][tone="outline"]) {
      --mds-badge-background: transparent;
      --mds-badge-color: rgb(var(--label-lime-03));
      --mds-badge-border-color: rgb(var(--label-lime-03));
    }
  }
}
