:host([variant="green"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="green"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-green-04));
}

:host([variant="green"][tone="weak"]) {
  --mds-badge-background: rgb(var(--label-green-09));
  --mds-badge-color: rgb(var(--label-green-02));
}

:host([variant="green"][tone="text"]) {
  --mds-badge-color: rgb(var(--label-green-04));
}

:host([variant="green"][tone="outline"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--label-green-06));
  --mds-badge-color: rgb(var(--label-green-04));
}
