@tailwind utilities;

:host ( [variant=light] ),
:host ( [variant=light][tone=strong] ) {

  --background: theme('colors.tone-neutral-10');
  --color: theme('colors.tone-neutral-03');
}

:host ( [variant=light][tone=weak] ) {

  --background: theme('colors.tone-neutral-10');
  --color: theme('colors.tone-neutral-03');
}

:host ( [variant=light][tone=quiet] ) {

  --background: theme('colors.tone-neutral-09');
  --color: theme('colors.tone-neutral-02');
}
