:host([variant="aqua"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="aqua"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-aqua-04));
}

:host([variant="aqua"][tone="weak"]) {
  --mds-badge-background: rgb(var(--label-aqua-09));
  --mds-badge-color: rgb(var(--label-aqua-02));
}

:host([variant="aqua"][tone="quiet"]) {
  --mds-badge-color: rgb(var(--label-aqua-04));
}

:host([variant="aqua"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--label-aqua-06));
  --mds-badge-color: rgb(var(--label-aqua-04));
}
