:host([variant="violet"]) {
  --mds-badge-color: var(--color-tone-neutral);
}

:host([variant="violet"][tone="strong"]) {
  --mds-badge-background: var(--color-label-violet-04);
}

:host([variant="violet"][tone="weak"]) {
  --mds-badge-background: var(--color-label-violet-09);
  --mds-badge-color: var(--color-label-violet-02);
}

:host([variant="violet"][tone="quiet"]) {
  --mds-badge-color: var(--color-label-violet-04);
}

:host([variant="violet"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: var(--color-label-violet-06);
  --mds-badge-color: var(--color-label-violet-04);
}
