:host([variant="warning"]) {
  --mds-badge-background: rgb(var(--status-warning-04));

  &:host([tone="weak"]) {
    --mds-badge-background: rgb(var(--status-warning-09));
    --mds-badge-color: rgb(var(--status-warning-02));
  }

  &:host([tone="outline"]) {
    --mds-badge-border-color: rgb(var(--status-warning-06));
    --mds-badge-color: rgb(var(--status-warning-04));
  }
}

:host([variant="error"]) {
  --mds-badge-background: rgb(var(--status-error-04));

  &:host([tone="weak"]) {
    --mds-badge-background: rgb(var(--status-error-09));
    --mds-badge-color: rgb(var(--status-error-02));
  }

  &:host([tone="outline"]) {
    --mds-badge-border-color: rgb(var(--status-error-06));
    --mds-badge-color: rgb(var(--status-error-04));
  }
}

:host([variant="success"]) {
  --mds-badge-background: rgb(var(--status-success-04));

  &:host([tone="weak"]) {
    --mds-badge-background: rgb(var(--status-success-09));
    --mds-badge-color: rgb(var(--status-success-02));
  }

  &:host([tone="outline"]) {
    --mds-badge-border-color: rgb(var(--status-success-06));
    --mds-badge-color: rgb(var(--status-success-04));
  }
}

:host([variant="info"]) {
  --mds-badge-background: rgb(var(--status-info-04));

  &:host([tone="weak"]) {
    --mds-badge-background: rgb(var(--status-info-09));
    --mds-badge-color: rgb(var(--status-info-02));
  }

  &:host([tone="outline"]) {
    --mds-badge-border-color: rgb(var(--status-info-06));
    --mds-badge-color: rgb(var(--status-info-04));
  }
}
