:host([variant="success"]) {
  --mds-badge-color: var(--color-tone-neutral);
}

:host([variant="success"][tone="strong"]) {
  --mds-badge-background: var(--color-status-success-04);
}

:host([variant="success"][tone="weak"]) {
  --mds-badge-background: var(--color-status-success-09);
  --mds-badge-color: var(--color-status-success-02);
}

:host([variant="success"][tone="quiet"]) {
  --mds-badge-color: var(--color-status-success-04);
}

:host([variant="success"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: var(--color-status-success-06);
  --mds-badge-color: var(--color-status-success-04);
}
