:host([variant="error"]) {
  --mds-badge-color: var(--color-tone-neutral);
}

:host([variant="error"][tone="strong"]) {
  --mds-badge-background: var(--color-status-error-04);
}

:host([variant="error"][tone="weak"]) {
  --mds-badge-background: var(--color-status-error-09);
  --mds-badge-color: var(--color-status-error-02);
}

:host([variant="error"][tone="quiet"]) {
  --mds-badge-color: var(--color-status-error-04);
}

:host([variant="error"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: var(--color-status-error-06);
  --mds-badge-color: var(--color-status-error-04);
}
