:host([variant="amaranth"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="amaranth"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-amaranth-04));
}

:host([variant="amaranth"][tone="weak"]) {
  --mds-badge-background: rgb(var(--label-amaranth-09));
  --mds-badge-color: rgb(var(--label-amaranth-02));
}

:host([variant="amaranth"][tone="text"]) {
  --mds-badge-color: rgb(var(--label-amaranth-04));
}

:host([variant="amaranth"][tone="outline"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--label-amaranth-06));
  --mds-badge-color: rgb(var(--label-amaranth-04));
}
