@tailwind utilities;

:host( [variant="info"] ),
:host( [variant="info"][tone="strong"] ) {

  --background: theme('colors.status-info-05');
  --color: theme('colors.status-info-10');
}

:host( [variant="info"][tone="weak"] ) {

  --background: theme('colors.status-info-08');
  --color: theme('colors.status-info-02');
}

:host( [variant="info"][tone="quiet"] ) {

  --background: theme('colors.status-info-09');
  --color: theme('colors.status-info-04');
}
