:host([variant="aqua"]) {
  --mds-badge-color: var(--color-tone-neutral);
}

:host([variant="aqua"][tone="strong"]) {
  --mds-badge-background: var(--color-label-aqua-04);
}

:host([variant="aqua"][tone="weak"]) {
  --mds-badge-background: var(--color-label-aqua-09);
  --mds-badge-color: var(--color-label-aqua-02);
}

:host([variant="aqua"][tone="quiet"]) {
  --mds-badge-color: var(--color-label-aqua-04);
}

:host([variant="aqua"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: var(--color-label-aqua-06);
  --mds-badge-color: var(--color-label-aqua-04);
}
