:host([variant="sky"]) {
  --mds-badge-color: var(--color-tone-neutral);
}

:host([variant="sky"][tone="strong"]) {
  --mds-badge-background: var(--color-label-sky-04);
}

:host([variant="sky"][tone="weak"]) {
  --mds-badge-background: var(--color-label-sky-09);
  --mds-badge-color: var(--color-label-sky-02);
}

:host([variant="sky"][tone="quiet"]) {
  --mds-badge-color: var(--color-label-sky-04);
}

:host([variant="sky"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: var(--color-label-sky-06);
  --mds-badge-color: var(--color-label-sky-04);
}
