:host([variant="error"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="error"][tone="strong"]) {
  --mds-badge-background: rgb(var(--status-error-04));
}

:host([variant="error"][tone="weak"]) {
  --mds-badge-background: rgb(var(--status-error-09));
  --mds-badge-color: rgb(var(--status-error-02));
}

:host([variant="error"][tone="text"]) {
  --mds-badge-color: rgb(var(--status-error-04));
}

:host([variant="error"][tone="outline"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--status-error-06));
  --mds-badge-color: rgb(var(--status-error-04));
}
