:host([variant="orchid"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="orchid"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-orchid-04));
}

:host([variant="orchid"][tone="weak"]) {
  --mds-badge-background: rgb(var(--label-orchid-09));
  --mds-badge-color: rgb(var(--label-orchid-02));
}

:host([variant="orchid"][tone="text"]) {
  --mds-badge-color: rgb(var(--label-orchid-04));
}

:host([variant="orchid"][tone="outline"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--label-orchid-06));
  --mds-badge-color: rgb(var(--label-orchid-04));
}
