:host([variant="light"]) {
  --mds-badge-color: var(--color-tone-neutral-03);
}

:host([variant="light"][tone="strong"]) {
  --mds-badge-background: var(--color-tone-neutral-10);
  --mds-badge-color: var(--color-tone-neutral-03);
}

:host([variant="light"][tone="weak"]) {
  --mds-badge-background: var(--color-tone-neutral-10);
  --mds-badge-color: var(--color-tone-neutral-03);
}

:host([variant="light"][tone="ghost"]) {
  --mds-badge-color: var(--color-tone-neutral-02);
  --mds-badge-border-color: var(--color-tone-neutral-09);
}
