:host-context(.pref-contrast-more):host([variant="info"]),
:host-context(.pref-contrast-more):host([variant="info"][tone="strong"]) {
  --mds-badge-background: theme('colors.status-info-03');
}

:host-context(.pref-contrast-more):host([variant="info"][tone="weak"]) {
  --mds-badge-color: theme('colors.status-info-01');
}

:host-context(.pref-contrast-more):host([variant="info"][tone="quiet"]) {
  --mds-badge-color: theme('colors.status-info-02');
}

:host-context(.pref-contrast-more):host([variant="info"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-color: theme('colors.status-info-03');
  --mds-badge-border-color: theme('colors.status-info-03');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="info"]),
  :host-context(.pref-contrast-system):host([variant="info"][tone="strong"]) {
    --mds-badge-background: theme('colors.status-info-03');
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="weak"]) {
    --mds-badge-color: theme('colors.status-info-01');
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="quiet"]) {
    --mds-badge-color: theme('colors.status-info-02');
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="ghost"]) {
    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.status-info-03');
    --mds-badge-border-color: theme('colors.status-info-03');
  }
}
