:host-context(.pref-contrast-more):host([variant="success"]),
:host-context(.pref-contrast-more):host([variant="success"][tone="strong"]) {
  --mds-badge-background: theme('colors.status-success-03');
}

:host-context(.pref-contrast-more):host([variant="success"][tone="weak"]) {
  --mds-badge-color: theme('colors.status-success-01');
}

:host-context(.pref-contrast-more):host([variant="success"][tone="quiet"]) {
  --mds-badge-color: theme('colors.status-success-02');
}

:host-context(.pref-contrast-more):host([variant="success"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-color: theme('colors.status-success-03');
  --mds-badge-border-color: theme('colors.status-success-03');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="success"]),
  :host-context(.pref-contrast-system):host([variant="success"][tone="strong"]) {
    --mds-badge-background: theme('colors.status-success-03');
  }

  :host-context(.pref-contrast-system):host([variant="success"][tone="weak"]) {
    --mds-badge-color: theme('colors.status-success-01');
  }

  :host-context(.pref-contrast-system):host([variant="success"][tone="quiet"]) {
    --mds-badge-color: theme('colors.status-success-02');
  }

  :host-context(.pref-contrast-system):host([variant="success"][tone="ghost"]) {
    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.status-success-03');
    --mds-badge-border-color: theme('colors.status-success-03');
  }
}
