@tailwind utilities;

:host ( [variant=amaranth] ),
:host ( [variant=amaranth][tone=strong] ) {

  --background: theme('colors.label-amaranth-08');
  --color: theme('colors.label-amaranth-20');
}

:host ( [variant=amaranth][tone=weak] ) {

  --background: theme('colors.label-amaranth-16');
  --color: theme('colors.label-amaranth-04');
}

:host ( [variant=amaranth][tone=quiet] ) {

  --background: theme('colors.label-amaranth-18');
  --color: theme('colors.label-amaranth-08');
}
