:host([variant="sky"]) {
  --mds-badge-color: rgb(var(--tone-neutral));
}

:host([variant="sky"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-sky-04));
}

:host([variant="sky"][tone="weak"]) {
  --mds-badge-background: rgb(var(--label-sky-09));
  --mds-badge-color: rgb(var(--label-sky-02));
}

:host([variant="sky"][tone="quiet"]) {
  --mds-badge-color: rgb(var(--label-sky-04));
}

:host([variant="sky"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: rgb(var(--label-sky-06));
  --mds-badge-color: rgb(var(--label-sky-04));
}
