:host([pref-contrast='more'][pref-theme='dark'][tone='strong']),
:host([pref-contrast='more'][pref-theme='dark'][tone='weak']) {
  box-shadow: var(--shadow-outline-strong) inset;
}

@media (prefers-contrast: more) {
  :host([pref-contrast='system'][pref-theme='dark'][tone='strong']),
  :host([pref-contrast='system'][pref-theme='dark'][tone='weak']) {
    box-shadow: var(--shadow-outline-strong) inset;
  }
}

@media (prefers-color-scheme: dark) {
  :host([pref-contrast='more'][pref-theme='system'][tone='strong']),
  :host([pref-contrast='more'][pref-theme='system'][tone='weak']) {
    box-shadow: var(--shadow-outline-strong) inset;
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :host([pref-contrast='system'][pref-theme='system'][tone='strong']),
  :host([pref-contrast='system'][pref-theme='system'][tone='weak']) {
    box-shadow: var(--shadow-outline-strong) inset;
  }
}
