:host-context(.pref-contrast-more):host([variant="orange"]),
:host-context(.pref-contrast-more):host([variant="orange"][tone="strong"]) {
  --mds-badge-background: var(--color-label-orange-03);
}

:host-context(.pref-contrast-more):host([variant="orange"][tone="weak"]) {
  --mds-badge-color: var(--color-label-orange-01);
}

:host-context(.pref-contrast-more):host([variant="orange"][tone="quiet"]) {
  --mds-badge-color: var(--color-label-orange-02);
}

:host-context(.pref-contrast-more):host([variant="orange"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-color: var(--color-label-orange-03);
  --mds-badge-border-color: var(--color-label-orange-03);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="orange"]),
  :host-context(.pref-contrast-system):host([variant="orange"][tone="strong"]) {
    --mds-badge-background: var(--color-label-orange-03);
  }

  :host-context(.pref-contrast-system):host([variant="orange"][tone="weak"]) {
    --mds-badge-color: var(--color-label-orange-01);
  }

  :host-context(.pref-contrast-system):host([variant="orange"][tone="quiet"]) {
    --mds-badge-color: var(--color-label-orange-02);
  }

  :host-context(.pref-contrast-system):host([variant="orange"][tone="ghost"]) {
    --mds-badge-background: transparent;
    --mds-badge-color: var(--color-label-orange-03);
    --mds-badge-border-color: var(--color-label-orange-03);
  }
}
