:host([variant="orange"]) {
  --mds-badge-color: var(--color-tone-neutral);
}

:host([variant="orange"][tone="strong"]) {
  --mds-badge-background: var(--color-label-orange-04);
}

:host([variant="orange"][tone="weak"]) {
  --mds-badge-background: var(--color-label-orange-09);
  --mds-badge-color: var(--color-label-orange-02);
}

:host([variant="orange"][tone="quiet"]) {
  --mds-badge-color: var(--color-label-orange-04);
}

:host([variant="orange"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: var(--color-label-orange-06);
  --mds-badge-color: var(--color-label-orange-04);
}
