:host-context(.pref-contrast-more):host([variant="green"]),
:host-context(.pref-contrast-more):host([variant="green"][tone="strong"]) {
  --mds-badge-background: rgb(var(--label-green-03));
}

:host-context(.pref-contrast-more):host([variant="green"][tone="weak"]) {
  --mds-badge-color: rgb(var(--label-green-01));
}

:host-context(.pref-contrast-more):host([variant="green"][tone="quiet"]) {
  --mds-badge-color: rgb(var(--label-green-02));
}

:host-context(.pref-contrast-more):host([variant="green"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-color: rgb(var(--label-green-03));
  --mds-badge-border-color: rgb(var(--label-green-03));
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="green"]),
  :host-context(.pref-contrast-system):host([variant="green"][tone="strong"]) {
    --mds-badge-background: rgb(var(--label-green-03));
  }

  :host-context(.pref-contrast-system):host([variant="green"][tone="weak"]) {
    --mds-badge-color: rgb(var(--label-green-01));
  }

  :host-context(.pref-contrast-system):host([variant="green"][tone="quiet"]) {
    --mds-badge-color: rgb(var(--label-green-02));
  }

  :host-context(.pref-contrast-system):host([variant="green"][tone="ghost"]) {
    --mds-badge-background: transparent;
    --mds-badge-color: rgb(var(--label-green-03));
    --mds-badge-border-color: rgb(var(--label-green-03));
  }
}
