:host([variant="amaranth"]) {
  --mds-badge-color: var(--color-tone-neutral);
}

:host([variant="amaranth"][tone="strong"]) {
  --mds-badge-background: var(--color-label-amaranth-04);
}

:host([variant="amaranth"][tone="weak"]) {
  --mds-badge-background: var(--color-label-amaranth-09);
  --mds-badge-color: var(--color-label-amaranth-02);
}

:host([variant="amaranth"][tone="quiet"]) {
  --mds-badge-color: var(--color-label-amaranth-04);
}

:host([variant="amaranth"][tone="ghost"]) {
  --mds-badge-background: transparent;
  --mds-badge-border-color: var(--color-label-amaranth-06);
  --mds-badge-color: var(--color-label-amaranth-04);
}
