@tailwind utilities;

:host ( [variant=success] ),
:host ( [variant=success][tone=strong] ) {

  --background: theme('colors.status-success-04');
  --color: theme('colors.status-success-10');
}

:host ( [variant=success][tone=weak] ) {

  --background: theme('colors.status-success-08');
  --color: theme('colors.status-success-02');
}

:host ( [variant=success][tone=quiet] ) {

  --background: theme('colors.status-success-09');
  --color: theme('colors.status-success-04');
}
