@layer base, theme, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* @import "tailwindcss"; */

/* @import '@maggioli-design-system/design-tokens/dist/css/tailwind-theme-color.css';
@import '@maggioli-design-system/design-tokens/dist/css/tailwind-theme-typography.css'; */

/* @import '@maggioli-design-system/styles/dist/tailwind/dark-mode.css'; */
@import '@maggioli-design-system/styles/dist/tailwind/theme.css';
@import "@maggioli-design-system/styles/dist/css/hydrated.css";

body {
  @apply
  bg-tone-neutral
    transition-colors
    duration-300
    ease-in-out;
}

/* test */

/* @import "../src/tailwind/theme-summer.css" layer(theme);
@import "../src/tailwind/theme-twilight.css" layer(theme); */

/* end test */

/* @import '@maggioli-design-system/styles/dist/css/base.css';
@import '@maggioli-design-system/styles/dist/css/typography.css'; */

/* @import "@maggioli-design-system/styles/tailwind/base.css" layer(base); */

/*
:root,
:root.pref-theme-dark {

  --variant-primary-01: var(--brand-rnd-01);
  --variant-primary-02: var(--brand-rnd-02);
  --variant-primary-03: var(--brand-rnd-03);
  --variant-primary-04: var(--brand-rnd-04);
  --variant-primary-05: var(--brand-rnd-05);
  --variant-primary-06: var(--brand-rnd-06);
  --variant-primary-07: var(--brand-rnd-07);
  --variant-primary-08: var(--brand-rnd-08);
  --variant-primary-09: var(--brand-rnd-09);
  --variant-primary-10: var(--brand-rnd-10);
  --variant-primary: var(--brand-rnd);
}

@media (prefers-color-scheme: dark) {
  :root.pref-theme-system {

    --variant-primary-01: var(--brand-rnd-01);
    --variant-primary-02: var(--brand-rnd-02);
    --variant-primary-03: var(--brand-rnd-03);
    --variant-primary-04: var(--brand-rnd-04);
    --variant-primary-05: var(--brand-rnd-05);
    --variant-primary-06: var(--brand-rnd-06);
    --variant-primary-07: var(--brand-rnd-07);
    --variant-primary-08: var(--brand-rnd-08);
    --variant-primary-09: var(--brand-rnd-09);
    --variant-primary-10: var(--brand-rnd-10);
    --variant-primary: var(--brand-rnd);
  }
}
*/
