:host-context(:root.pref-animation-reduce) {
  transition-duration: 0s;

  .field::-webkit-slider-thumb,
  .field::-webkit-slider-runnable-track,
  .track-progress,
  .track-total {
    transition-duration: 0s;
  }
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    transition-duration: 0s;

    .field::-webkit-slider-thumb,
    .field::-webkit-slider-runnable-track,
    .track-progress,
    .track-total {
      transition-duration: 0s;
    }
  }
}
