:host-context(:root:not(.pref-theme-scheme-light).pref-theme-dark) {
  --mds-tab-bar-item-color: rgb(var(--tone-neutral-04));
  --mds-tab-bar-item-color-selected: rgb(var(--variant-primary-02));
}

@media (prefers-color-scheme: dark) {
  :host-context(:root:not(.pref-theme-scheme-light).pref-theme-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-tab-bar-item-color: rgb(var(--tone-neutral-04));
    --mds-tab-bar-item-color-selected: rgb(var(--variant-primary-02));
  }
}
