:host-context(.pref-theme-dark) {
  --mds-tab-bar-item-color: var(--color-tone-neutral-04);
  --mds-tab-bar-item-color-selected: var(--color-variant-primary-02);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    --mds-tab-bar-item-color: var(--color-tone-neutral-04);
    --mds-tab-bar-item-color-selected: var(--color-variant-primary-02);
  }
}
