:host-context(.pref-contrast-more) {
  --mds-tab-bar-item-color: var(--color-tone-neutral-04);
  --mds-tab-bar-item-color-selected: var(--color-variant-primary-02);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-tab-bar-item-color: var(--color-tone-neutral-04);
    --mds-tab-bar-item-color-selected: var(--color-variant-primary-02);
  }
}
