@import '@maggioli-design-system/styles/scss/import-framework';

.ds-navigation {
  padding: s(2) 0;

  &__title {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color get($tween, 'hover');

    &:hover {
      text-decoration-color: color('adjust.tone', '15');
    }
  }

  &__contents {
    color: color('adjust.tone', '04');
  }

  &__logo {
    width: 60px;
  }
}

.ds-navigation-switch {
  display: flex;
  position: fixed;
  right: s(2);
  top: s(2);
  z-index: 1;

  @include media('desktop') {
    display: none;
  }
}
