@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

:host {

  --mds-keyboard-background-default: var(--mds-keyboard-background);
  --mds-keyboard-spinner-duration: 1s;
  --mds-keyboard-background-fail: theme('colors.status-error-09');
  --mds-keyboard-background-pass: theme('colors.status-success-09');
  --mds-keyboard-background: theme('colors.tone-slate-08');
  --mds-keyboard-plus-color: theme('colors.tone-slate-05');
  --mds-keyboard-fill-fail: theme('colors.status-error-06');
  --mds-keyboard-fill-pass: theme('colors.status-success-06');
  --mds-keyboard-illumination-dark-opacity: 0.05;
  --mds-keyboard-illumination-dark-size: theme('spacing.150');
  --mds-keyboard-illumination-dark: 0 calc(var(--mds-keyboard-illumination-dark-size) * -1) 0 0 rgb(0 0 0 / var(--mds-keyboard-illumination-dark-opacity)) inset;
  --mds-keyboard-illumination-light-opacity: 0.075;
  --mds-keyboard-illumination-light-size: theme('spacing.25');
  --mds-keyboard-illumination-light: 0 var(--mds-keyboard-illumination-light-size) 0 0 rgb(255 255 255 / var(--mds-keyboard-illumination-light-opacity)) inset;
  --mds-keyboard-illumination-shadow: 0 0 1px 0 rgb(0 0 0 / 0);
  --mds-keyboard-key-background: theme('colors.tone-slate-10');
  --mds-keyboard-key-illumination-dark-opacity: 0.075;
  --mds-keyboard-key-illumination-light-opacity: 0.5;
  --mds-keyboard-key-illumination-shadow: theme('boxShadow.sharp');
  --mds-keyboard-padding: theme('spacing.200');

  align-items: center;
  background-color: var(--mds-keyboard-background-default);
  border-radius: theme('borderRadius.xl');
  box-shadow: var(--mds-keyboard-illumination-light), var(--mds-keyboard-illumination-dark), var(--mds-keyboard-illumination-shadow);
  display: inline-flex;
  gap: theme('spacing.200');
  padding: calc(var(--mds-keyboard-illumination-light-size) + var(--mds-keyboard-padding)) var(--mds-keyboard-padding) calc(var(--mds-keyboard-illumination-dark-size) + var(--mds-keyboard-padding)) var(--mds-keyboard-padding);
  transition-duration: theme('transitionDuration.200');
  transition-property: background-color;
  transition-timing-function: theme('transitionTimingFunction.out-quad');
  user-select: none;
}

:host([test="pass"]) {

  --mds-keyboard-background-default: var(--mds-keyboard-background-pass);
}

:host([test="fail"]) {

  --mds-keyboard-background-default: var(--mds-keyboard-background-fail);
}

:host([test="pass"]) .combination-checker {
  background-color: var(--mds-keyboard-background-pass);
  fill: var(--mds-keyboard-fill-pass);
}

:host([test="fail"]) .combination-checker {
  background-color: var(--mds-keyboard-background-fail);
  fill: var(--mds-keyboard-fill-fail);
}

.shortcuts {
  align-items: center;
  display: inline-flex;
  gap: theme('spacing.100');
  outline: 0;
}

:host(:focus-within) {

  --mds-keyboard-background: theme('colors.tone-slate-07');
}

mds-tooltip {

  --mds-tooltip-delay: 0;
}

.combination-checker {

  --mds-button-await-duration: var(--mds-keyboard-spinner-duration);

  border-radius: 100px;
}

::slotted(mds-keyboard-key) {
  align-self: flex-end;
}

::slotted(mds-text) {
  color: var(--mds-keyboard-plus-color);
}

mds-button:not([hydrated]),
mds-tooltip:not([hydrated]) {
  @apply not-hydrated;
}

@import './css/mds-keyboard-pref-theme.css';
