@import '~@maggioli-design-system/styles/dist/scss/import-framework';

.tab {
  align-items: center;
  display: inline-flex;
  overflow: auto;

  // scss/selector-nest-combinators disable
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

// .tab::-webkit-scrollbar {
//   display: none;
// }
