/**
 * @prop --mds-pref-theme-variant-item-color-background: Background color of a theme variant item.
 * @prop --mds-pref-theme-variant-item-color-status-error: Color representing an error status for a variant item.
 * @prop --mds-pref-theme-variant-item-color-status-success: Color representing a success status for a variant item.
 * @prop --mds-pref-theme-variant-item-color-status-warning: Color representing a warning status for a variant item.
 * @prop --mds-pref-theme-variant-item-color-variant-primary: Color for the primary variant item.
 */

@property --mds-pref-theme-variant-item-color-background {
  inherits: false;
  initial-value: rgb(var(--tint-base-lv1, var(--tone-neutral-09)));
  syntax: '<color>';
}

@property --mds-pref-theme-variant-item-color-status-error {
  inherits: false;
  initial-value: rgb(var(--status-error-06));
  syntax: '<color>';
}

@property --mds-pref-theme-variant-item-color-status-success {
  inherits: false;
  initial-value: rgb(var(--status-success-06));
  syntax: '<color>';
}

@property --mds-pref-theme-variant-item-color-status-warning {
  inherits: false;
  initial-value: rgb(var(--status-warning-06));
  syntax: '<color>';
}

@property --mds-pref-theme-variant-item-color-variant-primary {
  inherits: false;
  initial-value: rgb(var(--variant-primary-03));
  syntax: '<color>';
}

:host {
  --mds-pref-theme-variant-item-color-background: rgb(var(--tint-base-lv1, var(--tone-neutral-09)));
  --mds-pref-theme-variant-item-color-status-error: rgb(var(--status-error-06));
  --mds-pref-theme-variant-item-color-status-success: rgb(var(--status-success-06));
  --mds-pref-theme-variant-item-color-status-warning: rgb(var(--status-warning-06));
  --mds-pref-theme-variant-item-color-variant-primary: rgb(var(--variant-primary-03));

  display: flex;
}

.label {
  align-items: center;
  display: flex;
  gap: --spacing(200);
}

.theme-preview {
  background-color: var(--mds-pref-theme-variant-item-color-background);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-outline-light);
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  gap: --spacing(100);
  height: --spacing(600);
  margin: 1px;
  padding: --spacing(100);
  width: --spacing(600);
}

.theme-color {
  background-color: var(--color-tone-neutral-09);
  border-radius: var(--radius-lg);
  height: --spacing(150);
  position: relative;
  width: --spacing(150);
}

.theme-color::after {
  border-radius: inherit;
  box-shadow: var(--shadow-outline-light) inset;
  content: '';
  display: flex;
  inset: 0;
  position: absolute;
}

.theme-color--variant-primary {
  background-color: var(--mds-pref-theme-variant-item-color-variant-primary);
}

.theme-color--status-success {
  background-color: var(--mds-pref-theme-variant-item-color-status-success);
}

.theme-color--status-warning {
  background-color: var(--mds-pref-theme-variant-item-color-status-warning);
}

.theme-color--status-error {
  background-color: var(--mds-pref-theme-variant-item-color-status-error);
}
