@tailwind utilities;

:host {
  @apply gap-4;

  align-items: center;
  display: inline-flex;
}

.avatar {
  flex-shrink: 0;
  user-select: none;
}

.info {
  display: grid;
  flex-grow: 1;
  min-width: 0;
}

@container (max-width: 200px) {
  :host {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
