@import '~Sass/import-framework';

$colorBackgroundNotSelected: '19';
$colorTextNotSelected: '10';

@mixin add-status ($modifier, $color, $background, $text) {

  $colorBackgroundHover: '15';
  $colorBackground: '18';
  $colorTextHover: '06';
  $colorText: '06';

  &--#{$modifier} {
    box-shadow: 0 0 0 0 color(#{$color}, $colorBackground) !important;

    .mds-usage {
      &__header {
        background-color: color(#{$color}, $colorBackground);
        color: color(#{$color}, $colorText);
      }
    }

    &:hover {
      box-shadow: 0 0 0 2px color(#{$color}, $colorBackgroundHover) !important;

      .mds-usage {
        &__header {
          background-color: color(#{$color}, $colorBackgroundHover) !important;
          border-radius: s(1) s(1) 0 0;
          color: color(#{$color}, $colorTextHover) !important;
        }
      }
    }
  }
}

.mds-usage {
  margin-top: s(1);

  &__item {
    border-radius: s(1);
    box-shadow: 0 0 0 0 transparent;
    overflow: hidden;
    transition: box-shadow get($tween, 'hover');
    @include add-status($modifier: 'do', $color: 'status-success', $background: '15', $text: '04');
    @include add-status($modifier: 'dont', $color: 'status-error', $background: '15', $text: '04');
  }

  &__header {
    border-radius: s(1);
    display: flex;
    padding: s(1);
    transition: background-color get($tween, 'hover'), border-radius get($tween, 'hover'), color get($tween, 'hover');
  }

  &__content {
    padding: s(1);
  }

  &:hover {
    .mds-usage {
      &__item {
        &--do {
          border-color: color('status-success', $colorBackgroundNotSelected);

          .mds-usage {
            &__header {
              background-color: color('status-success', $colorBackgroundNotSelected);
              color: color('status-success', $colorTextNotSelected);
            }
          }
        }

        &--dont {
          border-color: color('status-error', $colorBackgroundNotSelected);

          .mds-usage {
            &__header {
              background-color: color('status-error', $colorBackgroundNotSelected);
              color: color('status-error', $colorTextNotSelected);
            }
          }
        }
      }
    }
  }
}
