$default-font-set: 'paragraph';
$font-base-styles: $font-secondary-styles;

body {
  background-color: var(--color-adjust-tone-light-color);
  color: var(--color-adjust-tone-light-c-02);
  font-family: get($font-family, 'secondary');
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  @include apply-styles-set($map: $font-base-styles, $set: $default-font-set);
}

button {
  font-family: get($font-family, 'primary');
}

input,
textarea {
  appearance: none;
  @include apply-styles-set($map: $font-base-styles, $set: $default-font-set);

  &::placeholder {
    @include apply-styles-set($map: $font-base-styles, $set: $default-font-set);
  }
}

b,
strong {
  @include apply-styles-set($map: $font-base-styles, $set: 'bold');
}

a {
  text-decoration: none;
}

aside,
code,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
input,
main,
section,
span,
textarea {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {

  $size: 4px;

  background-color: var(--color-adjust-tone-light-c-13);
  border: 0 !important;
  border-radius: $size;
  height: $size;
  margin: s(3) 0;
  width: 100%;
}

::selection {
  background-color: var(--color-brand-maggioli-light-c-15);
  color: var(--color-brand-maggioli-light-color);
}
