$default-font-style: 'paragraph';
$font-base-styles: $font-secondary-styles;

body {
  // sass-lint:disable no-vendor-prefixes
  -webkit-tap-highlight-color: transparent;
  @include apply-styles-set($font-base-styles, $default-font-style);
  background-color: get($tone, 'tone-15');
  color: get($tone, 'tone-3');
  font-family: get($font-family, 'secondary');
  width: 100%;
}

button {
  font-family: get($font-family, 'primary');
}

input,
textarea {
  appearance: none;
  @include apply-styles-set($font-base-styles, $default-font-style);

  &::placeholder {
    @include apply-styles-set($font-base-styles, $default-font-style);
  }
}

b,
strong {
  @include apply-styles-set($font-base-styles, 'bold');
}

a {
  text-decoration: none;
}

aside,
code,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
input,
main,
section,
span,
textarea {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  // sass-lint:disable no-important
  $size: 4px;
  background-color: get($tone, 'tone-13');
  border: 0 !important;
  border-radius: $size;
  height: $size;
  margin: s(3) 0;
  width: 100%;
}

::selection {
  // sass-lint:disable no-color-literals
  background-color: rgba(get($tint, 'brand-maggioli'), 0.2);
  color: get($tint, 'brand-maggioli');
}
