:host {

  --mds-tree-actions-border-radius: theme('borderRadius.lg');
  --mds-tree-actions-gap: theme('spacing.50');
  --mds-tree-label-background-default: transparent;
  --mds-tree-label-background-hover: theme('colors.variant-primary-10');
  --mds-tree-line-clamp: 2;
  --mds-tree-toggle-border-color: theme('colors.tone-neutral-07');
  --mds-tree-toggle-border-radius: theme('borderRadius.lg'); /* to remove radius, use 0px instead 0 or calc will not work properly */
  --mds-tree-toggle-border-size: theme('size.50');
  --mds-tree-toggle-gap: theme('size.150');
  --mds-tree-toggle-icon-chevron-default-background: theme('colors.variant-primary-04');
  --mds-tree-toggle-icon-chevron-default-color: theme('colors.tone-neutral');
  --mds-tree-toggle-icon-chevron-opened-background: var(--mds-tree-toggle-icon-chevron-default-background);
  --mds-tree-toggle-icon-chevron-opened-color: var(--mds-tree-toggle-icon-chevron-default-color);
  --mds-tree-toggle-icon-folder-default-background: theme('colors.variant-primary-04');
  --mds-tree-toggle-icon-folder-default-color: theme('colors.tone-neutral');
  --mds-tree-toggle-size: theme('size.900'); /* internal */
  --mds-tree-transition-duration: theme('transitionDuration.300');
  --mds-tree-transition-timing-function: theme('transitionTimingFunction.in-out-expo');

  display: grid;
}
