@import '~Sass/import-framework';

$size-opened: 100px;
$size-focused: 50px;
$ease: get($tween, 'slide');

.backoffice-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 0;
  min-height: $size-opened;
  position: relative;
  width: 100%;

  &__label {
    left: s(1);
    overflow: hidden;
    padding-bottom: s(0.125);
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(0, -85%);
    transform-origin: 0 0;
    transition: left $ease 0.1s, transform $ease 0.1s, width $ease 0.1s;
    white-space: nowrap;
    width: calc(100% - #{s(2)});

    @include media('desktop') {
      padding-bottom: 0;
    }
  }

  &__required {

    $size: s(0.5);

    align-items: center;
    background-color: color('status.error', '10');
    border: 1px solid transparent;
    border-radius: $size;
    color: transparent;
    display: flex;
    height: $size;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: s(0.5);
    top: s(0.5);
    transition: color $ease, height $ease, transform $ease, width $ease;
    white-space: nowrap;
    width: $size;
  }

  &__icon-area {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    transform: translate(s(1));
    transition: top $ease, width $ease;
    width: s(3);
  }

  &__icon {
    color: color('brand-maggioli', '05');
    font-size: 40px;
    transition: font-size $ease;
  }

  &__field {
    background-color: color('adjust.tone', '20');
    border: 0;
    border-radius: s(0.5);
    box-shadow: get($shadow, 'soft');
    cursor: pointer;
    height: $size-opened;
    padding-left: s(1);
    padding-right: s(1);
    padding-top: s(1.75);
    transition: background-color $ease, height $ease, box-shadow $ease, padding-top $ease, padding-left $ease;
    width: 100%;

    &:focus {
      cursor: auto;
      outline: 0;
      transition: background-color $ease 0.2s, height $ease 0.2s, box-shadow $ease 0.2s, padding-top $ease 0.2s, padding-left $ease 0.2s;
    }

    &::placeholder {
      color: color('adjust.tone', '10');
    }
  }

  &__errors {
    display: none;
  }

  &:focus-within,
  &--filled {
    .backoffice-input {
      &__label {
        left: s(1);
        transform: translate(0, -100%) scale(0.75);
        width: calc(135% - #{s(3)});
      }

      &__required {
        background-color: color('adjust.tone');
        border-color: color('status.error', '10');
        color: color('status.error', '18');
        height: s(0.75);
        transform: translate(0, s(2.5));
        width: 90px;
      }

      &__field {
        background-color: color('adjust.tone', '20');
        height: $size-focused;
        padding-top: 0;
      }

      &__icon-area {
        line-height: $size-focused;
        top: $size-focused;
        width: s(2);
      }

      &__icon {
        font-size: 24px;
      }
    }
  }

  &:focus-within {
    .backoffice-input {
      &__required {
        background-color: color('status.error', '10');
        color: color('status.error', '18');
        height: s(0.75);
        transform: translate(0, s(2.5));
        transition: color $ease 0.2s, height $ease 0.2s, transform $ease 0.2s, width $ease 0.2s;
        width: 90px;
      }

      &__field {
        background-color: color('adjust.tone');
        box-shadow: get($shadow, 'tiny');
      }
    }
  }

  &--has-icon {
    .backoffice-input {
      &__label {
        left: s(4.5);
        width: calc(100% - #{s(5.5)});
      }

      &__field {
        padding-left: s(4.5);
      }
    }

    &:focus-within {
      .backoffice-input {
        &__field {
          padding-left: s(3);
        }
      }
    }

    &.backoffice-input {
      &--filled {
        .backoffice-input {
          &__label {
            left: s(1);
            transform: translate(0, -100%) scale(0.75);
            width: calc(135% - #{s(3)});
          }

          &__field {
            padding-left: s(3);
          }
        }
      }
    }
  }
}
