@import '@maggioli-design-system/styles/scss/import-framework';

.mds-color-swatch {
  align-items: center;
  background-color: color('adjust.tone', '14');
  border-radius: 100px;
  display: grid;
  grid-gap: s(0.5);
  grid-template-columns: 1fr auto;
  height: 70px;
  padding: 0 s(1.5);

  &__infos {
    text-align: right;
  }

  &__seed {
    color: inherit;
  }

  &__title {
    flex-grow: 1;
  }
}
