@import './css/mds-price-table-features-row-fouc.css';

/**
 * @prop --mds-price-table-features-row-background: Default background color of a features row.
 * @prop --mds-price-table-features-row-background-hover: Background color of a features row on hover.
 * @prop --mds-price-table-features-row-color: Default text color of a features row.
 * @prop --mds-price-table-features-row-color-hover: Text color of a features row on hover.
 */

@property --mds-price-table-features-row-background {
  inherits: false;
  initial-value: transparent;
  syntax: "<color>";
}

@property --mds-price-table-features-row-background-hover {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-10));
  syntax: "<color>";
}

@property --mds-price-table-features-row-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-04));
  syntax: "<color>";
}

@property --mds-price-table-features-row-color-hover {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-01));
  syntax: "<color>";
}

:host {
  --mds-price-table-features-row-background: transparent;
  --mds-price-table-features-row-background-hover: rgb(var(--tone-neutral-10));
  --mds-price-table-features-row-color: rgb(var(--tone-neutral-04));
  --mds-price-table-features-row-color-hover: rgb(var(--tone-neutral-01));

  @apply
    duration-200
    ease-in-out;

  background-color: var(--mds-price-table-features-row-background);
  color: var(--mds-price-table-features-row-color);
  display: table-row;
  transition-property: background-color, color;
}

:host-context(:not(.safari)):host(:hover) {
  --mds-price-table-features-row-background: var(--mds-price-table-features-row-background-hover);
  --mds-price-table-features-row-color: var(--mds-price-table-features-row-color-hover);
}

:host-context(:not(.safari)):host(:hover) > ::slotted(mds-price-table-features-cell) {
  --mds-price-table-features-cell-icon-supported-color: var(--mds-price-table-features-cell-icon-supported-color-hover);
  --mds-price-table-features-cell-icon-unsupported-color: var(--mds-price-table-features-cell-icon-unsupported-color-hover);
}

:host > ::slotted([type="label"]) {
  padding-left: 0;
}

:host-context(:not(.safari)):host(:hover) > ::slotted([type="label"]) {
  transform: translate(--spacing(200), 0);
}

@import './css/mds-price-table-features-pref-animation.css';
@import './css/mds-price-table-features-pref-contrast.css';
@import './css/mds-price-table-features-pref-theme.css';

