@tailwind utilities;

/**
  * @prop --background: Sets the background-color of the component
  * @prop --radius: Sets the border-radius of the component
  * @prop --shadow: Sets the box-shadow of the component
  */

:host {

  --shadow: theme('boxShadow.md');
  --radius: theme('borderRadius.xl');
  --background: theme('colors.adjust-tone');

  @apply
    auto-rows-max
    grid
    overflow-hidden
    p-4;

  background-color: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
