@tailwind utilities;

:host {

  --mds-card-gap: 0;
  --mds-card-padding: 0;

  @apply rounded-2xl;

  background-color: theme('colors.tone-neutral');
  box-shadow: theme('boxShadow.sharp-md');
  container-name: mds-card;
  container-type: inline-size;
  display: grid;
  min-height: theme('spacing.4');
  overflow: hidden;
}

.layout:not(.layout--disabled) ::slotted([slot="media"]) {
  grid-area: media;
}

.layout:not(.layout--disabled) ::slotted([slot="header"]) {
  grid-area: header;
}

.layout:not(.layout--disabled) ::slotted([slot="content"]) {
  grid-area: content;
}

.layout:not(.layout--disabled) ::slotted([slot="footer"]) {
  grid-area: footer;
}

.layout {
  @apply p-4;

  display: grid;
  gap: var(--mds-card-gap);
  grid-template-columns: minmax(0, 100%);
  padding: var(--mds-card-padding);
}

.layout--mhcf:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media"
    "content"
    "footer";
  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;
}

.layout--mhc:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media"
    "content";
  grid-template-rows:
    min-content
    min-content
    1fr;
}

.layout--mcf:not(.layout--disabled) {
  grid-template-areas:
    "media"
    "content"
    "footer";
  grid-template-rows:
    min-content
    1fr
    min-content;
}

.layout--mhf:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media"
    "footer";
  grid-template-rows:
    min-content
    1fr
    min-content;
}

.layout--hcf:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows:
    min-content
    1fr
    min-content;
}

.layout--mh:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media";
  grid-template-rows:
    min-content
    1fr;
}

.layout--mf:not(.layout--disabled) {
  grid-template-areas:
    "media"
    "footer";
  grid-template-rows:
    1fr
    min-content;
}

.layout--mc:not(.layout--disabled) {
  grid-template-areas:
    "media"
    "content";
  grid-template-rows:
    min-content
    1fr;
}

.layout--hf:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "footer";
  grid-template-rows:
    min-content
    1fr;
}

.layout--hc:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "content";
  grid-template-rows:
    min-content
    1fr;
}

.layout--cf:not(.layout--disabled) {
  grid-template-areas:
    "content"
    "footer";
  grid-template-rows:
    1fr
    min-content;
}

.layout--h:not(.layout--disabled) {
  grid-template-areas: "header";
  grid-template-rows: 1fr;
}

.layout--m:not(.layout--disabled) {
  grid-template-areas: "media";
  grid-template-rows: 1fr;
}

.layout--c:not(.layout--disabled) {
  grid-template-areas: "content";
  grid-template-rows: 1fr;
}

.layout--f:not(.layout--disabled) {
  grid-template-areas: "footer";
  grid-template-rows: 1fr;
}

@container mds-card (width > 30em) {
  .layout--mhcf:not(.layout--disabled) {
    grid-template-areas:
      "media header"
      "media content"
      "media footer";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      min-content
      1fr
      min-content;
  }

  .layout--mhc:not(.layout--disabled) {
    grid-template-areas:
      "media header"
      "media content"
      "media content";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      min-content
      1fr
      1fr;
  }

  .layout--mhf:not(.layout--disabled) {
    grid-template-areas:
      "media header"
      "media footer";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      min-content
      1fr;
  }

  .layout--mcf:not(.layout--disabled) {
    grid-template-areas:
      "media content"
      "media footer";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      1fr
      min-content;
  }

  .layout--mc:not(.layout--disabled) {
    grid-template-areas:
      "media content";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      1fr
      min-content;
  }
}


