@tailwind utilities;

/**
  * @prop --mds-badge-background: Sets the background-color of the component
  * @prop --mds-badge-radius: Sets the border-radius of the component
  * @prop --mds-badge-color: Sets the text color of the component
  */

:host {

  --mds-badge-background: theme('colors.label-sky-09');
  --mds-badge-radius: theme('borderRadius.DEFAULT');
  --mds-badge-color: theme('colors.label-sky-03');

  @apply
    px-200
    py-100
    transition-colors;

  align-items: center;
  background-color: var(--mds-badge-background);
  border-radius: var(--mds-badge-radius);
  color: var(--mds-badge-color);
  display: inline-flex;
  min-width: min-content;
}

@import './css/mds-badge-variant-amaranth.css';
@import './css/mds-badge-variant-aqua.css';
@import './css/mds-badge-variant-blue.css';
@import './css/mds-badge-variant-dark.css';
@import './css/mds-badge-variant-error.css';
@import './css/mds-badge-variant-green.css';
@import './css/mds-badge-variant-info.css';
@import './css/mds-badge-variant-light.css';
@import './css/mds-badge-variant-lime.css';
@import './css/mds-badge-variant-orange.css';
@import './css/mds-badge-variant-orchid.css';
@import './css/mds-badge-variant-sky.css';
@import './css/mds-badge-variant-success.css';
@import './css/mds-badge-variant-violet.css';
@import './css/mds-badge-variant-warning.css';
@import './css/mds-badge-variant-yellow.css';
@import './css/mds-badge-pref-animation.css';
@import './css/mds-badge-pref-theme.css';
@import './css/mds-badge-pref-contrast.css';
