:host-context(.pref-contrast-more) {
  --mds-file-preview-color: var(--color-tone-neutral-01);

  box-shadow: var(--shadow-outline-50);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-file-preview-color: var(--color-tone-neutral-01);

    box-shadow: var(--shadow-outline-50);
  }
}
