:host-context(:root.pref-contrast-more) {
  --mds-file-preview-color: rgb(var(--tone-neutral-01));

  box-shadow: var(--shadow-outline-50);
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-file-preview-color: rgb(var(--tone-neutral-01));

    box-shadow: var(--shadow-outline-50);
  }
}
