:host([variant="primary"][message]) {
  --mds-file-preview-icon-background: var(--color-variant-primary-09);
  --mds-file-preview-icon-color: var(--color-variant-primary-04);
}

:host([variant="info"][message]) {
  --mds-file-preview-icon-background: var(--color-status-info-09);
  --mds-file-preview-icon-color: var(--color-status-info-04);
  --mds-file-preview-color: var(--color-status-info-03);
}

:host([variant="success"][message]) {
  --mds-file-preview-icon-background: var(--color-status-success-09);
  --mds-file-preview-icon-color: var(--color-status-success-04);
  --mds-file-preview-color: var(--color-status-success-03);
}

:host([variant="warning"][message]) {
  --mds-file-preview-icon-background: var(--color-status-warning-09);
  --mds-file-preview-icon-color: var(--color-status-warning-04);
  --mds-file-preview-color: var(--color-status-warning-03);
}

:host([variant="error"][message]) {
  --mds-file-preview-icon-background: var(--color-status-error-09);
  --mds-file-preview-icon-color: var(--color-status-error-04);
  --mds-file-preview-color: var(--color-status-error-03);
}


:host([variant="amaranth"][message]) {
  --mds-file-preview-icon-background: var(--color-label-amaranth-09);
  --mds-file-preview-icon-color: var(--color-label-amaranth-04);
  --mds-file-preview-color: var(--color-label-amaranth-03);
}

:host([variant="aqua"][message]) {
  --mds-file-preview-icon-background: var(--color-label-aqua-09);
  --mds-file-preview-icon-color: var(--color-label-aqua-04);
  --mds-file-preview-color: var(--color-label-aqua-03);
}


:host([variant="blue"][message]) {
  --mds-file-preview-icon-background: var(--color-label-blue-09);
  --mds-file-preview-icon-color: var(--color-label-blue-04);
  --mds-file-preview-color: var(--color-label-blue-03);
}

:host([variant="green"][message]) {
  --mds-file-preview-icon-background: var(--color-label-green-09);
  --mds-file-preview-icon-color: var(--color-label-green-04);
  --mds-file-preview-color: var(--color-label-green-03);
}

:host([variant="lime"][message]) {
  --mds-file-preview-icon-background: var(--color-label-lime-09);
  --mds-file-preview-icon-color: var(--color-label-lime-04);
  --mds-file-preview-color: var(--color-label-lime-03);
}

:host([variant="orange"][message]) {
  --mds-file-preview-icon-background: var(--color-label-orange-09);
  --mds-file-preview-icon-color: var(--color-label-orange-04);
  --mds-file-preview-color: var(--color-label-orange-03);
}

:host([variant="orchid"][message]) {
  --mds-file-preview-icon-background: var(--color-label-orchid-09);
  --mds-file-preview-icon-color: var(--color-label-orchid-04);
  --mds-file-preview-color: var(--color-label-orchid-03);
}

:host([variant="sky"][message]) {
  --mds-file-preview-icon-background: var(--color-label-sky-09);
  --mds-file-preview-icon-color: var(--color-label-sky-04);
  --mds-file-preview-color: var(--color-label-sky-03);
}

:host([variant="violet"][message]) {
  --mds-file-preview-icon-background: var(--color-label-violet-09);
  --mds-file-preview-icon-color: var(--color-label-violet-04);
  --mds-file-preview-color: var(--color-label-violet-03);
}

:host([variant="yellow"][message]) {
  --mds-file-preview-icon-background: var(--color-label-yellow-09);
  --mds-file-preview-icon-color: var(--color-label-yellow-04);
  --mds-file-preview-color: var(--color-label-yellow-03);
}

/* contrast + variant */

:host-context(.pref-contrast-more):host([variant="primary"][message]) {
  --mds-file-preview-icon-background: var(--color-variant-primary-10);
  --mds-file-preview-icon-color: var(--color-variant-primary-02);
  --mds-file-preview-color: var(--color-variant-primary-01);
}

:host-context(.pref-contrast-more):host([variant="info"][message]) {
  --mds-file-preview-icon-background: var(--color-status-info-10);
  --mds-file-preview-icon-color: var(--color-status-info-02);
  --mds-file-preview-color: var(--color-status-info-01);
}

:host-context(.pref-contrast-more):host([variant="success"][message]) {
  --mds-file-preview-icon-background: var(--color-status-success-10);
  --mds-file-preview-icon-color: var(--color-status-success-02);
  --mds-file-preview-color: var(--color-status-success-01);
}

:host-context(.pref-contrast-more):host([variant="warning"][message]) {
  --mds-file-preview-icon-background: var(--color-status-warning-10);
  --mds-file-preview-icon-color: var(--color-status-warning-02);
  --mds-file-preview-color: var(--color-status-warning-01);
}

:host-context(.pref-contrast-more):host([variant="error"][message]) {
  --mds-file-preview-icon-background: var(--color-status-error-10);
  --mds-file-preview-icon-color: var(--color-status-error-02);
  --mds-file-preview-color: var(--color-status-error-01);
}

:host-context(.pref-contrast-more):host([variant="amaranth"][message]) {
  --mds-file-preview-icon-background: var(--color-label-amaranth-10);
  --mds-file-preview-icon-color: var(--color-label-amaranth-02);
  --mds-file-preview-color: var(--color-label-amaranth-01);
}

:host-context(.pref-contrast-more):host([variant="aqua"][message]) {
  --mds-file-preview-icon-background: var(--color-label-aqua-10);
  --mds-file-preview-icon-color: var(--color-label-aqua-02);
  --mds-file-preview-color: var(--color-label-aqua-01);
}


:host-context(.pref-contrast-more):host([variant="blue"][message]) {
  --mds-file-preview-icon-background: var(--color-label-blue-10);
  --mds-file-preview-icon-color: var(--color-label-blue-02);
  --mds-file-preview-color: var(--color-label-blue-01);
}

:host-context(.pref-contrast-more):host([variant="green"][message]) {
  --mds-file-preview-icon-background: var(--color-label-green-10);
  --mds-file-preview-icon-color: var(--color-label-green-02);
  --mds-file-preview-color: var(--color-label-green-01);
}

:host-context(.pref-contrast-more):host([variant="lime"][message]) {
  --mds-file-preview-icon-background: var(--color-label-lime-10);
  --mds-file-preview-icon-color: var(--color-label-lime-02);
  --mds-file-preview-color: var(--color-label-lime-01);
}

:host-context(.pref-contrast-more):host([variant="orange"][message]) {
  --mds-file-preview-icon-background: var(--color-label-orange-10);
  --mds-file-preview-icon-color: var(--color-label-orange-02);
  --mds-file-preview-color: var(--color-label-orange-01);
}

:host-context(.pref-contrast-more):host([variant="orchid"][message]) {
  --mds-file-preview-icon-background: var(--color-label-orchid-10);
  --mds-file-preview-icon-color: var(--color-label-orchid-02);
  --mds-file-preview-color: var(--color-label-orchid-01);
}

:host-context(.pref-contrast-more):host([variant="sky"][message]) {
  --mds-file-preview-icon-background: var(--color-label-sky-10);
  --mds-file-preview-icon-color: var(--color-label-sky-02);
  --mds-file-preview-color: var(--color-label-sky-01);
}

:host-context(.pref-contrast-more):host([variant="violet"][message]) {
  --mds-file-preview-icon-background: var(--color-label-violet-10);
  --mds-file-preview-icon-color: var(--color-label-violet-02);
  --mds-file-preview-color: var(--color-label-violet-01);
}

:host-context(.pref-contrast-more):host([variant="yellow"][message]) {
  --mds-file-preview-icon-background: var(--color-label-yellow-10);
  --mds-file-preview-icon-color: var(--color-label-yellow-02);
  --mds-file-preview-color: var(--color-label-yellow-01);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="primary"][message]) {
    --mds-file-preview-icon-background: var(--color-variant-primary-10);
    --mds-file-preview-icon-color: var(--color-variant-primary-02);
    --mds-file-preview-color: var(--color-variant-primary-01);
  }

  :host-context(.pref-contrast-system):host([variant="info"][message]) {
    --mds-file-preview-icon-background: var(--color-status-info-10);
    --mds-file-preview-icon-color: var(--color-status-info-02);
    --mds-file-preview-color: var(--color-status-info-01);
  }

  :host-context(.pref-contrast-system):host([variant="success"][message]) {
    --mds-file-preview-icon-background: var(--color-status-success-10);
    --mds-file-preview-icon-color: var(--color-status-success-02);
    --mds-file-preview-color: var(--color-status-success-01);
  }

  :host-context(.pref-contrast-system):host([variant="warning"][message]) {
    --mds-file-preview-icon-background: var(--color-status-warning-10);
    --mds-file-preview-icon-color: var(--color-status-warning-02);
    --mds-file-preview-color: var(--color-status-warning-01);
  }

  :host-context(.pref-contrast-system):host([variant="error"][message]) {
    --mds-file-preview-icon-background: var(--color-status-error-10);
    --mds-file-preview-icon-color: var(--color-status-error-02);
    --mds-file-preview-color: var(--color-status-error-01);
  }

  :host-context(.pref-contrast-system):host([variant="amaranth"][message]) {
    --mds-file-preview-icon-background: var(--color-label-amaranth-10);
    --mds-file-preview-icon-color: var(--color-label-amaranth-02);
    --mds-file-preview-color: var(--color-label-amaranth-01);
  }

  :host-context(.pref-contrast-system):host([variant="aqua"][message]) {
    --mds-file-preview-icon-background: var(--color-label-aqua-10);
    --mds-file-preview-icon-color: var(--color-label-aqua-02);
    --mds-file-preview-color: var(--color-label-aqua-01);
  }

  :host-context(.pref-contrast-system):host([variant="blue"][message]) {
    --mds-file-preview-icon-background: var(--color-label-blue-10);
    --mds-file-preview-icon-color: var(--color-label-blue-02);
    --mds-file-preview-color: var(--color-label-blue-01);
  }

  :host-context(.pref-contrast-system):host([variant="green"][message]) {
    --mds-file-preview-icon-background: var(--color-label-green-10);
    --mds-file-preview-icon-color: var(--color-label-green-02);
    --mds-file-preview-color: var(--color-label-green-01);
  }

  :host-context(.pref-contrast-system):host([variant="lime"][message]) {
    --mds-file-preview-icon-background: var(--color-label-lime-10);
    --mds-file-preview-icon-color: var(--color-label-lime-02);
    --mds-file-preview-color: var(--color-label-lime-01);
  }

  :host-context(.pref-contrast-system):host([variant="orange"][message]) {
    --mds-file-preview-icon-background: var(--color-label-orange-10);
    --mds-file-preview-icon-color: var(--color-label-orange-02);
    --mds-file-preview-color: var(--color-label-orange-01);
  }

  :host-context(.pref-contrast-system):host([variant="orchid"][message]) {
    --mds-file-preview-icon-background: var(--color-label-orchid-10);
    --mds-file-preview-icon-color: var(--color-label-orchid-02);
    --mds-file-preview-color: var(--color-label-orchid-01);
  }

  :host-context(.pref-contrast-system):host([variant="sky"][message]) {
    --mds-file-preview-icon-background: var(--color-label-sky-10);
    --mds-file-preview-icon-color: var(--color-label-sky-02);
    --mds-file-preview-color: var(--color-label-sky-01);
  }

  :host-context(.pref-contrast-system):host([variant="violet"][message]) {
    --mds-file-preview-icon-background: var(--color-label-violet-10);
    --mds-file-preview-icon-color: var(--color-label-violet-02);
    --mds-file-preview-color: var(--color-label-violet-01);
  }

  :host-context(.pref-contrast-system):host([variant="yellow"][message]) {
    --mds-file-preview-icon-background: var(--color-label-yellow-10);
    --mds-file-preview-icon-color: var(--color-label-yellow-02);
    --mds-file-preview-color: var(--color-label-yellow-01);
  }
}
