@tailwind utilities;

/**
* @prop --mds-entity-background: The background-color of the entity
* @prop --mds-entity-color: The color of the entity name
* @prop --mds-entity-detail-color: The color of the text details
* @prop --mds-entity-icon-background: The background-color of the icon
* @prop --mds-entity-icon-color: The color of the icon
* @prop --mds-entity-shadow: The box-shadow od the component
*/

:host {

  --mds-entity-background: theme('colors.tone-neutral');
  --mds-entity-color: theme('colors.tone-neutral-02');
  --mds-entity-detail-color: theme('colors.tone-neutral-03');
  --mds-entity-icon-background: theme('colors.label-blue-09');
  --mds-entity-icon-color: theme('colors.label-blue-04');
  --mds-entity-shadow: theme('boxShadow.DEFAULT');

  @apply
    flex
    gap-2
    items-stretch
    p-2
    rounded-lg;

  background-color: var(--mds-entity-background);
  box-shadow: var(--mds-entity-shadow);
  color: var(--mds-entity-color);
}

.avatar,
.delete,
.icon {
  @apply
    shrink-0
    rounded
    w-11;
}

.icon {
  @apply
    aspect-square
    inline-flex
    items-center
    justify-center;

  background-color: var(--mds-entity-icon-background);
  fill: var(--mds-entity-icon-color);
}

.infos {
  @apply
    flex
    flex-col
    flex-grow
    gap-0
    min-w-0
    whitespace-nowrap;
}

.details {
  @apply
    flex
    gap-1
    items-center;

  color: var(--mds-entity-detail-color);
}

.actions {
  @apply
    flex
    gap-2
    items-center;
}

::slotted( [slot="action"] ) {
  @apply
    aspect-square
    h-auto
    w-11;
}

::slotted( * ) {
  @apply
    truncate
    whitespace-nowrap;
}

.title {
  @apply
    flex
    min-w-0
    truncate;
}
