@import './css/mds-entity-fouc.css';

/**
 * @prop --mds-entity-background: The background-color of the entity
 * @prop --mds-entity-color: The color of the entity name
 * @prop --mds-entity-detail-color: The color of the text details
 * @prop --mds-entity-icon-background: The background-color of the icon
 * @prop --mds-entity-icon-color: The color of the icon
 */

@property --mds-entity-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-entity-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-02));
  syntax: '<color>';
}

@property --mds-entity-detail-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-03));
  syntax: '<color>';
}

@property --mds-entity-icon-background {
  inherits: false;
  initial-value: rgb(var(--label-blue-09));
  syntax: '<color>';
}

@property --mds-entity-icon-radius {
  inherits: false;
  initial-value: var(--radius-md);
  syntax: '<length>';
}

@property --mds-entity-icon-color {
  inherits: false;
  initial-value: rgb(var(--label-blue-04));
  syntax: '<color>';
}

:host {
  --mds-entity-background: rgb(var(--tone-neutral));
  --mds-entity-color: rgb(var(--tone-neutral-02));
  --mds-entity-detail-color: rgb(var(--tone-neutral-03));
  --mds-entity-icon-background: rgb(var(--label-blue-09));
  --mds-entity-icon-radius: var(--radius-md);
  --mds-entity-icon-color: rgb(var(--label-blue-04));

  align-items: stretch;
  background-color: var(--mds-entity-background);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-outline-weak);
  color: var(--mds-entity-color);
  display: flex;
  gap: --spacing(200);
  padding: --spacing(200);
}

.spinner,
.preview,
.delete {
  border-radius: var(--radius-md);
  flex-shrink: 0;
  width: --spacing(1100);
}

.preview {
  --mds-avatar-radius: var(--mds-entity-icon-radius);
}

.preview:not([variant]) {
  --mds-avatar-color: var(--mds-entity-icon-color);
  --mds-avatar-background-color: var(--mds-entity-icon-background);
}

.spinner,
.preview {
  @apply aspect-square;

  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.spinner {
  background-color: transparent;
  display: none;
  fill: var(--mds-entity-icon-color);
}

:host([await]:not([await='false'])) .spinner {
  display: inline-flex;
}

mds-spinner {
  height: --spacing(900);
  width: --spacing(900);
}

.infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: --spacing(0);
  justify-content: center;
  min-width: 0;
  white-space: nowrap;
}

.details {
  align-items: baseline;
  color: var(--mds-entity-detail-color);
  display: flex;
  gap: --spacing(100);
}

.actions {
  align-items: center;
  display: flex;
  gap: --spacing(200);
}

::slotted([slot='action']) {
  @apply aspect-square;

  height: auto;
  width: --spacing(1100);
}

::slotted(*) {
  @apply truncate;

  white-space: nowrap;
}

.title {
  @apply truncate;

  display: flex;
  min-width: 0px;
}

@import './css/mds-entity-pref-contrast.css';
@import './css/mds-entity-pref-theme.css';
