@tailwind utilities;

/**
  * @prop --mds-price-table-features-padding: Sets the cell padding of the children components
  */

:host {

  --mds-price-table-features-padding: theme('spacing.3');

  display: flex;
  width: 100%;
}

.table-wrapper {
  @apply scroll-mx-6;

  width: 100%;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
}

header {
  border-bottom: 1px solid theme('colors.theme-default-04-primary-decoration');
  padding-left: var(--mds-price-table-features-padding);
  padding-right: var(--mds-price-table-features-padding);
  width: 100%;
}
