:host-context(.pref-contrast-more),
:host-context(.pref-contrast-more):host([variant="primary"]) {
  --mds-progress-color: rgb(var(--variant-primary-05));
  --mds-progress-background: rgb(var(--tone-neutral-07));
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system),
  :host-context(.pref-contrast-more):host([variant="primary"]) {
    --mds-progress-color: rgb(var(--variant-primary-05));
    --mds-progress-background: rgb(var(--tone-neutral-07));
  }
}
