:host([icon="chevron"][icon-position="left"][expanded]:not([expanded="false"])) .toggle-icon {
  transform: rotate(90deg);
}

:host([icon-position="right"]) .toggle-icon {
  order: 2;
}

:host([icon="chevron"][icon-position="right"]) .toggle-icon {
  transform: rotate(90deg);
}

:host([icon="chevron"][icon-position="right"][expanded]:not([expanded="false"])) .toggle-icon {
  transform: rotate(270deg);
}

:host([icon-position="left"]) .header .toggle-icon + .title .label-action {
  padding-left: 0;
}
