@import '~@maggioli-design-system/styles/dist/scss/import-framework';

.bullet {
  background-color: color('adjust.tone', '19');
  border-radius: 1000px;
  color: color('adjust.tone', '04');
  display: inline-flex;
  overflow: hidden;

  &__text {
    align-items: center;
    color: inherit;
    display: flex;
    flex-grow: 1;
    padding-left: s(0.5);
    padding-right: s(0.25);

    &:last-child {
      padding-right: s(0.5);
    }
  }

  &__value {
    align-items: center;
    background-color: color('adjust.tone', '01', 0.1);
    color: inherit;
    display: flex;
    flex-shrink: 0;
    padding-left: s(0.25);
    padding-right: s(0.5);
  }
}
