:host([variant="error"][tone="strong"]) {
  --mds-button-background: var(--color-status-error-05);
  --mds-button-border-color: var(--status-error-05);
  --mds-button-color: var(--color-tone-neutral);
}

:host([variant="error"][tone="strong"]:hover) {
  --mds-button-background: var(--color-status-error-04);
  --mds-button-border-color: var(--status-error-04);
}

:host([variant="error"][tone="weak"]) {
  --mds-button-background: var(--color-status-error-09);
  --mds-button-border-color: var(--status-error-09);
  --mds-button-color: var(--color-status-error-03);

  fill: var(--color-status-error-03);
}

:host([variant="error"][tone="weak"]:hover) {
  --mds-button-background: var(--color-status-error-08);
  --mds-button-border-color: var(--status-error-08);
}

:host([variant="error"][tone="ghost"]) {
  --mds-button-border-color: var(--status-error-04);
  --mds-button-color: var(--color-status-error-03);
}

:host([variant="error"][tone="ghost"]:hover) {
  --mds-button-border-color: var(--status-error-04);
  --mds-button-color: var(--color-status-error-02);
}

:host([variant="error"][tone="quiet"]) {
  --mds-button-color: var(--color-status-error-02);
}

:host([variant="error"][tone="quiet"]:hover) {
  --mds-button-color: var(--color-status-error-04);
}

:host([variant="error"][tone="quiet"][active]) {
  --mds-button-color: var(--color-status-error-01);
}
