:host([variant="light"][tone="strong"]) {
  --mds-button-background: rgb(var(--tone-neutral));
  --mds-button-border-color-rgb: var(--tone-neutral);
  --mds-button-color: rgb(var(--tone-neutral-03));
}

:host([variant="light"][tone="strong"]:hover) {
  --mds-button-background: rgb(var(--tone-neutral));
  --mds-button-border-color-rgb: var(--tone-neutral);
}

:host([variant="light"][tone="weak"]) {
  --mds-button-background: rgb(var(--tone-neutral));
  --mds-button-border-color-rgb: var(--tone-neutral);
  --mds-button-color: rgb(var(--tone-neutral-03));

  fill: rgb(var(--tone-neutral-03));
}

:host([variant="light"][tone="weak"]:hover) {
  --mds-button-background: rgb(var(--tone-neutral));
  --mds-button-border-color-rgb: var(--tone-neutral);
  --mds-button-color: rgb(var(--tone-neutral-02));
}

:host([variant="light"][tone="outline"]) {
  --mds-button-border-color-rgb: var(--tone-neutral);
  --mds-button-color: rgb(var(--tone-neutral));
}

:host([variant="light"][tone="outline"]:hover) {
  --mds-button-border-color-rgb: var(--tone-neutral);
  --mds-button-color: rgb(var(--tone-neutral));
}

:host([variant="light"][tone="text"]) {
  --mds-button-color: rgb(var(--tone-neutral));
}

:host([variant="light"][tone="text"]:hover) {
  --mds-button-color: rgb(var(--tone-neutral));
}

:host([variant="light"][tone="text"][active]) {
  --mds-button-color: rgb(var(--tone-neutral));
}
