:host-context(.pref-contrast-more):host([variant="info"][tone="strong"]) {
  --mds-button-background: var(--color-status-info-03);
  --mds-button-color: var(--color-tone-neutral);
  --mds-button-border-color: var(--status-info-03);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="strong"][active]),
:host-context(.pref-contrast-more):host([variant="info"][tone="strong"]:hover) {
  --mds-button-background: var(--color-status-info-02);
  --mds-button-border-color: var(--status-info-02);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="weak"]) {
  --mds-button-background: var(--color-status-info-09);
  --mds-button-color: var(--color-status-info-02);
  --mds-button-border-color: var(--status-info-06);
  --mds-button-border-width: var(--mds-button-border-high-contrast-width);

  fill: var(--color-status-info-02);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="weak"]:hover) {
  --mds-button-background: var(--color-status-info-10);
  --mds-button-color: var(--color-status-info-01);
  --mds-button-border-width: var(--mds-button-border-high-contrast-hover-width);

  fill: var(--color-status-info-01);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="weak"][active]) {
  --mds-button-background: var(--color-status-info-08);
  --mds-button-color: var(--color-status-info-01);

  fill: var(--color-status-info-01);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="ghost"]) {
  --mds-button-border-color: var(--status-info-03);
  --mds-button-color: var(--color-status-info-02);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="ghost"]:hover) {
  --mds-button-border-color: var(--status-info-03);
  --mds-button-color: var(--color-status-info-01);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="ghost"][active]) {
  --mds-button-border-color: var(--status-info-04);
  --mds-button-color: var(--color-status-info-02);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="quiet"]) {
  --mds-button-color: var(--color-status-info-01);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="quiet"]:hover) {
  --mds-button-color: var(--color-status-info-03);
}

:host-context(.pref-contrast-more):host([variant="info"][tone="quiet"][active]) {
  --mds-button-color: var(--color-status-info-01);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="info"][tone="strong"]) {
    --mds-button-background: var(--color-status-info-03);
    --mds-button-color: var(--color-tone-neutral);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="strong"][active]),
  :host-context(.pref-contrast-system):host([variant="info"][tone="strong"]:hover) {
    --mds-button-background: var(--color-status-info-02);
    --mds-button-border-color: var(--status-info-02);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="weak"]) {
    --mds-button-background: var(--color-status-info-09);
    --mds-button-color: var(--color-status-info-02);
    --mds-button-border-color: var(--status-info-06);
    --mds-button-border-width: var(--mds-button-border-high-contrast-width);

    fill: var(--color-status-info-02);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="weak"]:hover) {
    --mds-button-background: var(--color-status-info-10);
    --mds-button-color: var(--color-status-info-01);
    --mds-button-border-width: var(--mds-button-border-high-contrast-hover-width);

    fill: var(--color-status-info-01);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="weak"][active]) {
    --mds-button-background: var(--color-status-info-08);
    --mds-button-color: var(--color-status-info-01);

    fill: var(--color-status-info-01);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="ghost"]) {
    --mds-button-border-color: var(--status-info-03);
    --mds-button-color: var(--color-status-info-02);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="ghost"]:hover) {
    --mds-button-border-color: var(--status-info-03);
    --mds-button-color: var(--color-status-info-01);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="ghost"][active]) {
    --mds-button-border-color: var(--status-info-04);
    --mds-button-color: var(--color-status-info-02);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="quiet"]) {
    --mds-button-color: var(--color-status-info-01);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="quiet"]:hover) {
    --mds-button-color: var(--color-status-info-03);
  }

  :host-context(.pref-contrast-system):host([variant="info"][tone="quiet"][active]) {
    --mds-button-color: var(--color-status-info-01);
  }
}
