@tailwind utilities;

:host ( [variant=light] ),
:host ( [variant=light][tone=strong] ) {

  --background-color: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone-03');
}

:host ( [variant=light]:hover ),
:host ( [variant=light][tone=strong]:hover ) {

  --color: theme('colors.adjust-tone-04');
}

:host ( [variant=light][active] ),
:host ( [variant=light][tone=strong][active] ) {

  --color: theme('colors.adjust-tone-02');
}

:host ( [variant=light][tone=weak] ) {

  --background-color: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone-05');
}

:host ( [variant=light][tone=weak]:hover ) {

  --color: theme('colors.adjust-tone-04');
}

:host ( [variant=light][tone=weak][active] ) {

  --color: theme('colors.adjust-tone-03');
}

:host ( [variant=light][tone=ghost] ) {

  --background-color: transparent;
  --border-color: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone');
}

:host ( [variant=light][tone=ghost]:hover ) {

  --background-color: transparent;
  --border-color: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone');
}

:host ( [variant=light][tone=ghost][active] ) {

  --background-color: transparent;
  --border-color: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone');
}

:host ( [variant=light][tone=quiet] ) {

  --background-color: transparent;
  --color: theme('colors.adjust-tone');
}

:host ( [variant=light][tone=quiet]:hover ) {

  --background-color: transparent;
  --color: theme('colors.adjust-tone');
}

:host ( [variant=light][tone=quiet][active] ) {

  --background-color: transparent;
  --color: theme('colors.adjust-tone');
}
