:host-context(:root.pref-contrast-more) {
  &:host([variant="error"][tone="strong"]) {
    --mds-button-background: rgb(var(--status-error-03));
    --mds-button-color: rgb(var(--tone-neutral));
    --mds-button-border-color: var(--status-error-03);
  }

  &:host([variant="error"][tone="strong"][active]),
  &:host([variant="error"][tone="strong"]:hover) {
    --mds-button-background: rgb(var(--status-error-02));
    --mds-button-border-color: var(--status-error-02);
  }

  &:host([variant="error"][tone="weak"]) {
    --mds-button-background: rgb(var(--status-error-09));
    --mds-button-color: rgb(var(--status-error-02));
    --mds-button-border-color: var(--status-error-06);
    --mds-button-border-width: var(--mds-button-border-high-contrast-width);

    fill: rgb(var(--status-error-02));
  }

  &:host([variant="error"][tone="weak"]:hover) {
    --mds-button-background: rgb(var(--status-error-10));
    --mds-button-color: rgb(var(--status-error-01));
    --mds-button-border-width: var(--mds-button-border-high-contrast-hover-width);

    fill: rgb(var(--status-error-01));
  }

  &:host([variant="error"][tone="weak"][active]) {
    --mds-button-background: rgb(var(--status-error-08));
    --mds-button-color: rgb(var(--status-error-01));

    fill: rgb(var(--status-error-01));
  }

  &:host([variant="error"][tone="outline"]) {
    --mds-button-border-color: var(--status-error-03);
    --mds-button-color: rgb(var(--status-error-02));
  }

  &:host([variant="error"][tone="outline"]:hover) {
    --mds-button-border-color: var(--status-error-03);
    --mds-button-color: rgb(var(--status-error-01));
  }

  &:host([variant="error"][tone="outline"][active]) {
    --mds-button-border-color: var(--status-error-04);
    --mds-button-color: rgb(var(--status-error-02));
  }

  &:host([variant="error"][tone="text"]) {
    --mds-button-color: rgb(var(--status-error-01));
  }

  &:host([variant="error"][tone="text"]:hover) {
    --mds-button-color: rgb(var(--status-error-03));
  }

  &:host([variant="error"][tone="text"][active]) {
    --mds-button-color: rgb(var(--status-error-01));
  }
}


@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    &:host([variant="error"][tone="strong"]) {
      --mds-button-background: rgb(var(--status-error-03));
      --mds-button-color: rgb(var(--tone-neutral));
    }

    &:host([variant="error"][tone="strong"][active]),
    &:host([variant="error"][tone="strong"]:hover) {
      --mds-button-background: rgb(var(--status-error-02));
      --mds-button-border-color: var(--status-error-02);
    }

    &:host([variant="error"][tone="weak"]) {
      --mds-button-background: rgb(var(--status-error-09));
      --mds-button-color: rgb(var(--status-error-02));
      --mds-button-border-color: var(--status-error-06);
      --mds-button-border-width: var(--mds-button-border-high-contrast-width);

      fill: rgb(var(--status-error-02));
    }

    &:host([variant="error"][tone="weak"]:hover) {
      --mds-button-background: rgb(var(--status-error-10));
      --mds-button-color: rgb(var(--status-error-01));
      --mds-button-border-width: var(--mds-button-border-high-contrast-hover-width);

      fill: rgb(var(--status-error-01));
    }

    &:host([variant="error"][tone="weak"][active]) {
      --mds-button-background: rgb(var(--status-error-08));
      --mds-button-color: rgb(var(--status-error-01));

      fill: rgb(var(--status-error-01));
    }

    &:host([variant="error"][tone="outline"]) {
      --mds-button-border-color: var(--status-error-03);
      --mds-button-color: rgb(var(--status-error-02));
    }

    &:host([variant="error"][tone="outline"]:hover) {
      --mds-button-border-color: var(--status-error-03);
      --mds-button-color: rgb(var(--status-error-01));
    }

    &:host([variant="error"][tone="outline"][active]) {
      --mds-button-border-color: var(--status-error-04);
      --mds-button-color: rgb(var(--status-error-02));
    }

    &:host([variant="error"][tone="text"]) {
      --mds-button-color: rgb(var(--status-error-01));
    }

    &:host([variant="error"][tone="text"]:hover) {
      --mds-button-color: rgb(var(--status-error-03));
    }

    &:host([variant="error"][tone="text"][active]) {
      --mds-button-color: rgb(var(--status-error-01));
    }
  }
}
