:host([variant='primary']) {
  --mds-button-background: rgb(var(--variant-primary-04));
  --mds-button-border-color-rgb: var(--variant-primary-04);
  --mds-button-color: rgb(var(--tone-neutral));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--variant-primary-03));
    --mds-button-border-color-rgb: var(--variant-primary-03);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--variant-primary-09));
    --mds-button-border-color-rgb: var(--variant-primary-09);
    --mds-button-color: rgb(var(--variant-primary-03));

    fill: rgb(var(--variant-primary-03));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--variant-primary-08));
    --mds-button-border-color-rgb: var(--variant-primary-08);
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--variant-primary-04);
    --mds-button-color: rgb(var(--variant-primary-03));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--variant-primary-04);
    --mds-button-color: rgb(var(--variant-primary-02));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--variant-primary-02));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--variant-primary-04));
    --mds-button-background: rgb(var(--variant-primary-10));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--variant-primary-01));
  }
}

:host([variant='secondary']) {
  --mds-button-background: rgb(var(--variant-secondary-04));
  --mds-button-border-color-rgb: var(--variant-secondary-04);
  --mds-button-color: rgb(var(--tone-neutral));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--variant-secondary-03));
    --mds-button-border-color-rgb: var(--variant-secondary-03);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--variant-secondary-09));
    --mds-button-border-color-rgb: var(--variant-secondary-09);
    --mds-button-color: rgb(var(--variant-secondary-03));

    fill: rgb(var(--variant-secondary-03));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--variant-secondary-08));
    --mds-button-border-color-rgb: var(--variant-secondary-08);
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--variant-secondary-04);
    --mds-button-color: rgb(var(--variant-secondary-03));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--variant-secondary-04);
    --mds-button-color: rgb(var(--variant-secondary-02));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--variant-secondary-02));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--variant-secondary-04));
    --mds-button-background: rgb(var(--variant-secondary-10));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--variant-secondary-01));
  }
}

:host([variant='ai']) {
  --mds-button-background: rgb(var(--variant-ai-04));
  --mds-button-border-color-rgb: var(--variant-ai-04);
  --mds-button-color: rgb(var(--tone-neutral));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--variant-ai-03));
    --mds-button-border-color-rgb: var(--variant-ai-03);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--variant-ai-09));
    --mds-button-border-color-rgb: var(--variant-ai-09);
    --mds-button-color: rgb(var(--variant-ai-03));

    fill: rgb(var(--variant-ai-03));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--variant-ai-08));
    --mds-button-border-color-rgb: var(--variant-ai-08);
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--variant-ai-04);
    --mds-button-color: rgb(var(--variant-ai-03));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--variant-ai-04);
    --mds-button-color: rgb(var(--variant-ai-02));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--variant-ai-02));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--variant-ai-04));
    --mds-button-background: rgb(var(--variant-ai-10));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--variant-ai-01));
  }
}
