:host-context(.pref-contrast-more):host([variant="warning"]),
:host-context(.pref-contrast-more):host([variant="warning"][tone="strong"]) {
  --mds-button-background: theme('colors.status-warning-03');
  --mds-button-color: theme('colors.tone-neutral');
}

:host-context(.pref-contrast-more):host([variant="warning"]:hover),
:host-context(.pref-contrast-more):host([variant="warning"][tone="strong"]:hover) {
  --mds-button-background: theme('colors.status-warning-02');
}

:host-context(.pref-contrast-more):host([variant="warning"][active]),
:host-context(.pref-contrast-more):host([variant="warning"][tone="strong"][active]) {
  --mds-button-background: theme('colors.status-warning-02');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="weak"]) {
  --mds-button-background: theme('colors.status-warning-09');
  --mds-button-color: theme('colors.status-warning-02');

  fill: theme('colors.status-warning-02');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="weak"]:hover) {
  --mds-button-background: theme('colors.status-warning-08');
  --mds-button-color: theme('colors.status-warning-01');

  fill: theme('colors.status-warning-01');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="weak"][active]) {
  --mds-button-background: theme('colors.status-warning-08');
  --mds-button-color: theme('colors.status-warning-01');

  fill: theme('colors.status-warning-01');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="ghost"]) {
  --mds-button-border-color: var(--status-warning-03);
  --mds-button-color: theme('colors.status-warning-02');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="ghost"]:hover) {
  --mds-button-border-color: var(--status-warning-03);
  --mds-button-color: theme('colors.status-warning-01');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="ghost"][active]) {
  --mds-button-border-color: var(--status-warning-04);
  --mds-button-color: theme('colors.status-warning-02');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="quiet"]) {
  --mds-button-color: theme('colors.status-warning-01');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="quiet"]:hover) {
  --mds-button-color: theme('colors.status-warning-03');
}

:host-context(.pref-contrast-more):host([variant="warning"][tone="quiet"][active]) {
  --mds-button-color: theme('colors.status-warning-01');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="warning"]),
  :host-context(.pref-contrast-system):host([variant="warning"][tone="strong"]) {
    --mds-button-background: theme('colors.status-warning-03');
    --mds-button-color: theme('colors.tone-neutral');
  }

  :host-context(.pref-contrast-system):host([variant="warning"]:hover),
  :host-context(.pref-contrast-system):host([variant="warning"][tone="strong"]:hover) {
    --mds-button-background: theme('colors.status-warning-02');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][active]),
  :host-context(.pref-contrast-system):host([variant="warning"][tone="strong"][active]) {
    --mds-button-background: theme('colors.status-warning-02');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="weak"]) {
    --mds-button-background: theme('colors.status-warning-09');
    --mds-button-color: theme('colors.status-warning-02');

    fill: theme('colors.status-warning-02');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="weak"]:hover) {
    --mds-button-background: theme('colors.status-warning-08');
    --mds-button-color: theme('colors.status-warning-01');

    fill: theme('colors.status-warning-01');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="weak"][active]) {
    --mds-button-background: theme('colors.status-warning-08');
    --mds-button-color: theme('colors.status-warning-01');

    fill: theme('colors.status-warning-01');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="ghost"]) {
    --mds-button-border-color: var(--status-warning-03);
    --mds-button-color: theme('colors.status-warning-02');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="ghost"]:hover) {
    --mds-button-border-color: var(--status-warning-03);
    --mds-button-color: theme('colors.status-warning-01');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="ghost"][active]) {
    --mds-button-border-color: var(--status-warning-04);
    --mds-button-color: theme('colors.status-warning-02');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="quiet"]) {
    --mds-button-color: theme('colors.status-warning-01');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="quiet"]:hover) {
    --mds-button-color: theme('colors.status-warning-03');
  }

  :host-context(.pref-contrast-system):host([variant="warning"][tone="quiet"][active]) {
    --mds-button-color: theme('colors.status-warning-01');
  }
}
