:host([variant='info']) {
  --mds-button-background: rgb(var(--magma-info-emphasis));
  --mds-button-border-color-rgb: var(--magma-info-emphasis);
  --mds-button-color: rgb(var(--magma-info-on-emphasis));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--magma-info-emphasis-hover));
    --mds-button-border-color-rgb: var(--magma-info-emphasis-hover);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--magma-info-wash-base));
    --mds-button-border-color-rgb: var(--status-info-09);
    --mds-button-color: rgb(var(--magma-info-text-subtle));

    fill: rgb(var(--magma-info-text-subtle));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--magma-info-wash-strong));
    --mds-button-border-color-rgb: var(--status-info-08);
    --mds-button-color: rgb(var(--magma-info-text-default));
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--status-info-04);
    --mds-button-color: rgb(var(--magma-info-text-subtle));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--status-info-04);
    --mds-button-color: rgb(var(--magma-info-text-muted));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--magma-info-text-muted));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--magma-info-text-default));
    --mds-button-background: rgb(var(--magma-info-wash-soft));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--magma-info-text-default));
  }
}

:host([variant='success']) {
  --mds-button-background: rgb(var(--magma-success-emphasis));
  --mds-button-border-color-rgb: var(--magma-success-emphasis);
  --mds-button-color: rgb(var(--magma-success-on-emphasis));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--magma-success-emphasis-hover));
    --mds-button-border-color-rgb: var(--magma-success-emphasis-hover);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--magma-success-wash-base));
    --mds-button-border-color-rgb: var(--status-success-09);
    --mds-button-color: rgb(var(--magma-success-text-subtle));

    fill: rgb(var(--magma-success-text-subtle));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--magma-success-wash-strong));
    --mds-button-border-color-rgb: var(--status-success-08);
    --mds-button-color: rgb(var(--magma-success-text-default));
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--status-success-04);
    --mds-button-color: rgb(var(--magma-success-text-subtle));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--status-success-04);
    --mds-button-color: rgb(var(--magma-success-text-muted));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--magma-success-text-muted));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--magma-success-text-default));
    --mds-button-background: rgb(var(--magma-success-wash-soft));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--magma-success-text-default));
  }
}

:host([variant='warning']) {
  --mds-button-background: rgb(var(--magma-warning-emphasis));
  --mds-button-border-color-rgb: var(--magma-warning-emphasis);
  --mds-button-color: rgb(var(--magma-warning-on-emphasis));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--magma-warning-emphasis-hover));
    --mds-button-border-color-rgb: var(--magma-warning-emphasis-hover);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--magma-warning-wash-base));
    --mds-button-border-color-rgb: var(--status-warning-09);
    --mds-button-color: rgb(var(--magma-warning-text-subtle));

    fill: rgb(var(--magma-warning-text-subtle));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--magma-warning-wash-strong));
    --mds-button-border-color-rgb: var(--status-warning-08);
    --mds-button-color: rgb(var(--magma-warning-text-default));
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--status-warning-04);
    --mds-button-color: rgb(var(--magma-warning-text-subtle));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--status-warning-04);
    --mds-button-color: rgb(var(--magma-warning-text-muted));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--magma-warning-text-muted));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--magma-warning-text-default));
    --mds-button-background: rgb(var(--magma-warning-wash-soft));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--magma-warning-text-default));
  }
}

:host([variant='error']) {
  --mds-button-background: rgb(var(--magma-danger-emphasis));
  --mds-button-border-color-rgb: var(--magma-danger-emphasis);
  --mds-button-color: rgb(var(--magma-danger-on-emphasis));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--magma-danger-emphasis-hover));
    --mds-button-border-color-rgb: var(--magma-danger-emphasis-hover);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--magma-danger-wash-base));
    --mds-button-border-color-rgb: var(--status-error-09);
    --mds-button-color: rgb(var(--magma-danger-text-subtle));

    fill: rgb(var(--magma-danger-text-subtle));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--magma-danger-wash-strong));
    --mds-button-border-color-rgb: var(--status-error-08);
    --mds-button-color: rgb(var(--magma-danger-text-default));
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--status-error-04);
    --mds-button-color: rgb(var(--magma-danger-text-subtle));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--status-error-04);
    --mds-button-color: rgb(var(--magma-danger-text-muted));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--magma-danger-text-muted));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--magma-danger-text-default));
    --mds-button-background: rgb(var(--magma-danger-wash-soft));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--magma-danger-text-default));
  }
}
