:host([variant="secondary"][tone="strong"]) {
  --mds-button-background: rgb(var(--variant-secondary-04));
  --mds-button-border-color-rgb: var(--variant-secondary-04);
  --mds-button-color: rgb(var(--tone-neutral));
}

:host([variant="secondary"][tone="strong"]:hover) {
  --mds-button-background: rgb(var(--variant-secondary-03));
  --mds-button-border-color-rgb: var(--variant-secondary-03);
}

:host([variant="secondary"][tone="weak"]) {
  --mds-button-background: rgb(var(--variant-secondary-09));
  --mds-button-border-color-rgb: var(--variant-secondary-09);
  --mds-button-color: rgb(var(--variant-secondary-03));

  fill: rgb(var(--variant-secondary-03));
}

:host([variant="secondary"][tone="weak"]:hover) {
  --mds-button-background: rgb(var(--variant-secondary-08));
  --mds-button-border-color-rgb: var(--variant-secondary-08);
}

:host([variant="secondary"][tone="outline"]) {
  --mds-button-border-color-rgb: var(--variant-secondary-04);
  --mds-button-color: rgb(var(--variant-secondary-03));
}

:host([variant="secondary"][tone="outline"]:hover) {
  --mds-button-border-color-rgb: var(--variant-secondary-04);
  --mds-button-color: rgb(var(--variant-secondary-02));
}

:host([variant="secondary"][tone="text"]) {
  --mds-button-color: rgb(var(--variant-secondary-02));
}

:host([variant="secondary"][tone="text"]:hover) {
  --mds-button-color: rgb(var(--variant-secondary-04));
}

:host([variant="secondary"][tone="text"][active]) {
  --mds-button-color: rgb(var(--variant-secondary-01));
}
