:host([variant='light']) {
  --mds-button-background: rgb(var(--tone-neutral-seed));
  --mds-button-border-color-rgb: var(--tone-neutral-seed);
  --mds-button-color: rgb(var(--magma-text-muted));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--tone-neutral-seed));
    --mds-button-border-color-rgb: var(--tone-neutral-seed);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--tone-neutral-seed));
    --mds-button-border-color-rgb: var(--tone-neutral-seed);
    --mds-button-color: rgb(var(--magma-text-muted));

    fill: rgb(var(--magma-text-muted));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--tone-neutral-seed));
    --mds-button-border-color-rgb: var(--tone-neutral-seed);
    --mds-button-color: rgb(var(--magma-text-default));
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--tone-neutral-seed);
    --mds-button-color: rgb(var(--magma-text-on-emphasis));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--tone-neutral-seed);
    --mds-button-color: rgb(var(--magma-text-on-emphasis));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--magma-text-on-emphasis));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--magma-scale-10));
    --mds-button-background: rgb(var(--magma-scale-03));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--magma-text-on-emphasis));
  }
}

:host([variant='dark']) {
  --mds-button-background: rgb(var(--magma-scale-04));
  --mds-button-border-color-rgb: var(--magma-scale-04);
  --mds-button-color: rgb(var(--magma-text-on-emphasis));

  &:host([tone='strong']:hover) {
    --mds-button-background: rgb(var(--magma-scale-05));
    --mds-button-border-color-rgb: var(--magma-scale-05);
  }

  &:host([tone='weak']) {
    --mds-button-background: rgb(var(--magma-wash-strong));
    --mds-button-border-color-rgb: var(--magma-scale-08);
    --mds-button-color: rgb(var(--magma-text-muted));

    fill: rgb(var(--magma-text-muted));
  }

  &:host([tone='weak']:hover) {
    --mds-button-background: rgb(var(--magma-scale-07));
    --mds-button-border-color-rgb: var(--magma-scale-07);
    --mds-button-color: rgb(var(--magma-text-default));
  }

  &:host([tone='outline']) {
    --mds-button-border-color-rgb: var(--magma-scale-04);
    --mds-button-color: rgb(var(--magma-text-muted));
  }

  &:host([tone='outline']:hover) {
    --mds-button-border-color-rgb: var(--magma-scale-04);
    --mds-button-color: rgb(var(--magma-text-default));
  }

  &:host([tone='text']) {
    --mds-button-color: rgb(var(--magma-text-default));
  }

  &:host([tone='text']:hover) {
    --mds-button-color: rgb(var(--magma-text-default));
    --mds-button-background: rgb(var(--magma-wash-soft));
  }

  &:host([tone='text'][active]) {
    --mds-button-color: rgb(var(--magma-text-default));
  }
}
