@tailwind utilities;

:host ( [variant=error] ),
:host ( [variant=error][tone=strong] ) {

  --background-color: theme('colors.status-error-08');
  --color: theme('colors.adjust-tone');
}

:host ( [variant=error]:hover ),
:host ( [variant=error][tone=strong]:hover ) {

  --background-color: theme('colors.status-error-07');
}

:host ( [variant=error][active] ),
:host ( [variant=error][tone=strong][active] ) {

  --background-color: theme('colors.status-error-06');
}

:host ( [variant=error][tone=weak] ) {

  --background-color: theme('colors.status-error-19');
  --color: theme('colors.status-error-04');
}

:host ( [variant=error][tone=weak]:hover ) {

  --background-color: theme('colors.status-error-18');
}

:host ( [variant=error][tone=weak][active] ) {

  --background-color: theme('colors.status-error-17');
}

:host ( [variant=error][tone=ghost] ) {

  --background-color: transparent;
  --border-color: theme('colors.status-error-06');
  --color: theme('colors.status-error-06');
}

:host ( [variant=error][tone=ghost]:hover ) {

  --background-color: transparent;
  --border-color: theme('colors.status-error-05');
  --color: theme('colors.status-error-05');
}

:host ( [variant=error][tone=ghost][active] ) {

  --background-color: transparent;
  --border-color: theme('colors.status-error-04');
  --color: theme('colors.status-error-04');
}

:host ( [variant=error][tone=quiet] ) {

  --background-color: transparent;
  --color: theme('colors.status-error-04');
}

:host ( [variant=error][tone=quiet]:hover ) {

  --background-color: transparent;
  --color: theme('colors.status-error-06');
}

:host ( [variant=error][tone=quiet][active] ) {

  --background-color: transparent;
  --color: theme('colors.status-error-07');
}
