.await {
  display: none;
  height: --spacing(600);
  margin-right: calc(calc(-1 * var(--mds-button-gap)) - --spacing(600));
  transform: scale(0);
  transition-behavior: allow-discrete;
  transition-duration: var(--private-button-transition-duration);
  transition-property: display, margin-right, opacity, transform, width;
  transition-timing-function: var(--ease-in-out-quad);
  width: --spacing(600);
}

.spinner {
  --mds-spinner-duration: var(--mds-button-await-duration);

  color: currentcolor;
  height: --spacing(600);
  width: --spacing(600);
}

:host(:not([await])),
:host([await='false']) {
  .spinner {
    transition-duration: var(--duration-200);
    transition-timing-function: var(--ease-out-quad);
  }
}

:host([await]:not([await='false'])) .await {
  display: flex;
  margin-right: 0;
  opacity: 1;
  transform: scale(1);

  @starting-style {
    margin-right: calc(calc(-1 * var(--mds-button-gap)) - --spacing(600));
    opacity: 0;
    transform: scale(0);
  }
}

:host([await]:not([await='false'])) {
  pointer-events: none;
}
