:host([size='sm']) {
  --mds-button-radius: var(--radius-md);

  min-height: --spacing(700);
  min-width: --spacing(700);
  padding: 0 --spacing(300);

  .icon {
    height: --spacing(400);
    width: --spacing(400);
  }

  .text {
    @apply font-medium;
  }

  &:host([await]:not([await='false'])) .await {
    transform: scale(75);
  }
}

:host([size='md']) {
  min-height: --spacing(900);
  min-width: --spacing(900);
  padding-left: --spacing(400);
  padding-right: --spacing(400);

  &:host([icon][icon-position='left']) {
    padding-left: --spacing(300);
  }

  &:host([icon][icon-position='right']) {
    padding-right: --spacing(300);
  }
}

:host([size='lg']) {
  min-height: --spacing(1200);
  min-width: --spacing(1200);
  padding-left: --spacing(500);
  padding-right: --spacing(500);

  &:host([icon][icon-position='left']) {
    padding-left: --spacing(400);
  }

  &:host([icon][icon-position='right']) {
    padding-right: --spacing(400);
  }
}

:host([size='xl']) {
  min-height: --spacing(1300);
  min-width: --spacing(1300);
  padding-left: --spacing(600);
  padding-right: --spacing(600);

  .icon {
    height: --spacing(800);
    width: --spacing(800);
  }
}

:host([size][icon][icon-position]:not([label])) {
  aspect-ratio: 1;
  padding: 0;
}
