:host([variant="dark"][tone="strong"]) {
  --mds-button-background: theme('colors.tone-neutral-04');
  --mds-button-border-color: var(--tone-neutral-04);
  --mds-button-color: theme('colors.tone-neutral');
}

:host([variant="dark"][tone="strong"]:hover) {
  --mds-button-background: theme('colors.tone-neutral-05');
  --mds-button-border-color: var(--tone-neutral-05);
}

:host([variant="dark"][tone="weak"]) {
  --mds-button-background: theme('colors.tone-neutral-08');
  --mds-button-border-color: var(--tone-neutral-08);
  --mds-button-color: theme('colors.tone-neutral-03');

  fill: theme('colors.tone-neutral-03');
}

:host([variant="dark"][tone="weak"]:hover) {
  --mds-button-background: theme('colors.tone-neutral-07');
  --mds-button-border-color: var(--tone-neutral-07);
  --mds-button-color: theme('colors.tone-neutral-02');
}

:host([variant="dark"][tone="ghost"]) {
  --mds-button-border-color: var(--tone-neutral-04);
  --mds-button-color: theme('colors.tone-neutral-03');
}

:host([variant="dark"][tone="ghost"]:hover) {
  --mds-button-border-color: var(--tone-neutral-04);
  --mds-button-color: theme('colors.tone-neutral-02');
}

:host([variant="dark"][tone="quiet"]) {
  --mds-button-color: theme('colors.tone-neutral-02');
}

:host([variant="dark"][tone="quiet"]:hover) {
  --mds-button-color: theme('colors.tone-neutral-04');
}

:host([variant="dark"][tone="quiet"][active]) {
  --mds-button-color: theme('colors.tone-neutral-01');
}
