:host-context(.pref-contrast-more):host([variant="secondary"][tone="strong"]) {
  --mds-button-background: theme('colors.variant-secondary-03');
  --mds-button-color: theme('colors.tone-neutral');
  --mds-button-border-color: var(--variant-secondary-03);
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="strong"][active]),
:host-context(.pref-contrast-more):host([variant="secondary"][tone="strong"]:hover) {
  --mds-button-background: theme('colors.variant-secondary-02');
  --mds-button-border-color: var(--variant-secondary-02);
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="weak"]) {
  --mds-button-background: theme('colors.variant-secondary-09');
  --mds-button-color: theme('colors.variant-secondary-02');
  --mds-button-border-color: var(--variant-secondary-06);
  --mds-button-border-width: var(--mds-button-border-high-contrast-width);

  fill: theme('colors.variant-secondary-02');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="weak"]:hover) {
  --mds-button-background: theme('colors.variant-secondary-10');
  --mds-button-color: theme('colors.variant-secondary-01');
  --mds-button-border-width: var(--mds-button-border-high-contrast-hover-width);

  fill: theme('colors.variant-secondary-01');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="weak"][active]) {
  --mds-button-background: theme('colors.variant-secondary-08');
  --mds-button-color: theme('colors.variant-secondary-01');

  fill: theme('colors.variant-secondary-01');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="ghost"]) {
  --mds-button-border-color: var(--variant-secondary-03);
  --mds-button-color: theme('colors.variant-secondary-02');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="ghost"]:hover) {
  --mds-button-border-color: var(--variant-secondary-03);
  --mds-button-color: theme('colors.variant-secondary-01');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="ghost"][active]) {
  --mds-button-border-color: var(--variant-secondary-04);
  --mds-button-color: theme('colors.variant-secondary-02');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="quiet"]) {
  --mds-button-color: theme('colors.variant-secondary-01');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="quiet"]:hover) {
  --mds-button-color: theme('colors.variant-secondary-03');
}

:host-context(.pref-contrast-more):host([variant="secondary"][tone="quiet"][active]) {
  --mds-button-color: theme('colors.variant-secondary-01');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="secondary"][tone="strong"]) {
    --mds-button-background: theme('colors.variant-secondary-03');
    --mds-button-color: theme('colors.tone-neutral');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="strong"][active]),
  :host-context(.pref-contrast-system):host([variant="secondary"][tone="strong"]:hover) {
    --mds-button-background: theme('colors.variant-secondary-02');
    --mds-button-border-color: var(--variant-secondary-02);
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="weak"]) {
    --mds-button-background: theme('colors.variant-secondary-09');
    --mds-button-color: theme('colors.variant-secondary-02');
    --mds-button-border-color: var(--variant-secondary-06);
    --mds-button-border-width: var(--mds-button-border-high-contrast-width);

    fill: theme('colors.variant-secondary-02');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="weak"]:hover) {
    --mds-button-background: theme('colors.variant-secondary-10');
    --mds-button-color: theme('colors.variant-secondary-01');
    --mds-button-border-width: var(--mds-button-border-high-contrast-hover-width);

    fill: theme('colors.variant-secondary-01');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="weak"][active]) {
    --mds-button-background: theme('colors.variant-secondary-08');
    --mds-button-color: theme('colors.variant-secondary-01');

    fill: theme('colors.variant-secondary-01');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="ghost"]) {
    --mds-button-border-color: var(--variant-secondary-03);
    --mds-button-color: theme('colors.variant-secondary-02');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="ghost"]:hover) {
    --mds-button-border-color: var(--variant-secondary-03);
    --mds-button-color: theme('colors.variant-secondary-01');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="ghost"][active]) {
    --mds-button-border-color: var(--variant-secondary-04);
    --mds-button-color: theme('colors.variant-secondary-02');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="quiet"]) {
    --mds-button-color: theme('colors.variant-secondary-01');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="quiet"]:hover) {
    --mds-button-color: theme('colors.variant-secondary-03');
  }

  :host-context(.pref-contrast-system):host([variant="secondary"][tone="quiet"][active]) {
    --mds-button-color: theme('colors.variant-secondary-01');
  }
}
