:host([variant="info"][tone="strong"]) {
  --mds-button-background: rgb(var(--status-info-05));
  --mds-button-border-color: var(--status-info-05);
  --mds-button-color: rgb(var(--tone-neutral));
}

:host([variant="info"][tone="strong"]:hover) {
  --mds-button-background: rgb(var(--status-info-04));
  --mds-button-border-color: var(--status-info-04);
}

:host([variant="info"][tone="weak"]) {
  --mds-button-background: rgb(var(--status-info-09));
  --mds-button-border-color: var(--status-info-09);
  --mds-button-color: rgb(var(--status-info-03));

  fill: rgb(var(--status-info-03));
}

:host([variant="info"][tone="weak"]:hover) {
  --mds-button-background: rgb(var(--status-info-08));
  --mds-button-border-color: var(--status-info-08);
}

:host([variant="info"][tone="outline"]) {
  --mds-button-border-color: var(--status-info-04);
  --mds-button-color: rgb(var(--status-info-03));
}

:host([variant="info"][tone="outline"]:hover) {
  --mds-button-border-color: var(--status-info-04);
  --mds-button-color: rgb(var(--status-info-02));
}

:host([variant="info"][tone="text"]) {
  --mds-button-color: rgb(var(--status-info-02));
}

:host([variant="info"][tone="text"]:hover) {
  --mds-button-color: rgb(var(--status-info-04));
}

:host([variant="info"][tone="text"][active]) {
  --mds-button-color: rgb(var(--status-info-01));
}
