:host([tone="text"]),
:host([tone="text"]:hover),
:host([tone="outline"]) {
  --mds-button-background: transparent;
}

:host([tone="strong"]),
:host([tone="weak"]) {
  --mds-button-border-default-opacity: 1;
  --mds-button-border-width: 0;
  --mds-button-border-opacity: var(--mds-button-border-default-opacity);
}

:host([tone="outline"]) {
  --mds-button-border-opacity: var(--mds-button-border-tone-outline-opacity);
}

:host([tone="strong"]:hover),
:host([tone="strong"][active]) {
  --mds-button-border-width: var(--mds-button-border-tone-strong-hover-width);
}

:host([tone="weak"]:hover),
:host([tone="weak"][active]) {
  --mds-button-border-width: var(--mds-button-border-tone-weak-hover-width);
}

:host([tone="outline"]:hover),
:host([tone="outline"][active]) {
  --mds-button-background: transparent;
  --mds-button-border-width: var(--mds-button-border-tone-outline-hover-width);
  --mds-button-border-opacity: var(--mds-button-border-hover-opacity);
}
