:host-context(.pref-contrast-more):host([variant="error"]),
:host-context(.pref-contrast-more):host([variant="error"][tone="strong"]) {
  --mds-button-background: theme('colors.status-error-03');
  --mds-button-color: theme('colors.tone-neutral');
}

:host-context(.pref-contrast-more):host([variant="error"]:hover),
:host-context(.pref-contrast-more):host([variant="error"][tone="strong"]:hover) {
  --mds-button-background: theme('colors.status-error-02');
}

:host-context(.pref-contrast-more):host([variant="error"][active]),
:host-context(.pref-contrast-more):host([variant="error"][tone="strong"][active]) {
  --mds-button-background: theme('colors.status-error-02');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="weak"]) {
  --mds-button-background: theme('colors.status-error-09');
  --mds-button-color: theme('colors.status-error-02');

  fill: theme('colors.status-error-02');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="weak"]:hover) {
  --mds-button-background: theme('colors.status-error-08');
  --mds-button-color: theme('colors.status-error-01');

  fill: theme('colors.status-error-01');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="weak"][active]) {
  --mds-button-background: theme('colors.status-error-08');
  --mds-button-color: theme('colors.status-error-01');

  fill: theme('colors.status-error-01');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="ghost"]) {
  --mds-button-background: transparent;
  --mds-button-border-color: theme('colors.status-error-03');
  --mds-button-color: theme('colors.status-error-02');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="ghost"]:hover) {
  --mds-button-background: transparent;
  --mds-button-border-color: theme('colors.status-error-03');
  --mds-button-color: theme('colors.status-error-01');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="ghost"][active]) {
  --mds-button-background: transparent;
  --mds-button-border-color: theme('colors.status-error-04');
  --mds-button-color: theme('colors.status-error-02');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="quiet"]) {
  --mds-button-background: transparent;
  --mds-button-color: theme('colors.status-error-01');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="quiet"]:hover) {
  --mds-button-background: transparent;
  --mds-button-color: theme('colors.status-error-03');
}

:host-context(.pref-contrast-more):host([variant="error"][tone="quiet"][active]) {
  --mds-button-background: transparent;
  --mds-button-color: theme('colors.status-error-01');
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system):host([variant="error"]),
  :host-context(.pref-contrast-system):host([variant="error"][tone="strong"]) {
    --mds-button-background: theme('colors.status-error-03');
    --mds-button-color: theme('colors.tone-neutral');
  }

  :host-context(.pref-contrast-system):host([variant="error"]:hover),
  :host-context(.pref-contrast-system):host([variant="error"][tone="strong"]:hover) {
    --mds-button-background: theme('colors.status-error-02');
  }

  :host-context(.pref-contrast-system):host([variant="error"][active]),
  :host-context(.pref-contrast-system):host([variant="error"][tone="strong"][active]) {
    --mds-button-background: theme('colors.status-error-02');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="weak"]) {
    --mds-button-background: theme('colors.status-error-09');
    --mds-button-color: theme('colors.status-error-02');

    fill: theme('colors.status-error-02');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="weak"]:hover) {
    --mds-button-background: theme('colors.status-error-08');
    --mds-button-color: theme('colors.status-error-01');

    fill: theme('colors.status-error-01');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="weak"][active]) {
    --mds-button-background: theme('colors.status-error-08');
    --mds-button-color: theme('colors.status-error-01');

    fill: theme('colors.status-error-01');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="ghost"]) {
    --mds-button-background: transparent;
    --mds-button-border-color: theme('colors.status-error-03');
    --mds-button-color: theme('colors.status-error-02');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="ghost"]:hover) {
    --mds-button-background: transparent;
    --mds-button-border-color: theme('colors.status-error-03');
    --mds-button-color: theme('colors.status-error-01');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="ghost"][active]) {
    --mds-button-background: transparent;
    --mds-button-border-color: theme('colors.status-error-04');
    --mds-button-color: theme('colors.status-error-02');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="quiet"]) {
    --mds-button-background: transparent;
    --mds-button-color: theme('colors.status-error-01');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="quiet"]:hover) {
    --mds-button-background: transparent;
    --mds-button-color: theme('colors.status-error-03');
  }

  :host-context(.pref-contrast-system):host([variant="error"][tone="quiet"][active]) {
    --mds-button-background: transparent;
    --mds-button-color: theme('colors.status-error-01');
  }
}
