@import '~Sass/import-framework';
@import './extends';

$top-size: 50px;
$required-size: 90px;
$size-opened: 100px;
$size-focused: $size-opened - $top-size;
$ease: get($tween, 'slide');

.backoffice-input {

  @extend %input;

  min-height: $size-opened;

  &__content {
    padding-top: 0;
    position: relative;
    transition: padding-top get($tween, 'slide');
    z-index: 1;
  }

  &__label {

    @extend %label;

    left: s(1);
    padding-bottom: s(0.125);
    position: absolute;
    top: s(1);
    transition: left $ease 0.1s, transform $ease 0.1s, width $ease 0.1s;
    width: calc(100% - #{s(2)});

    @include media('desktop') {
      padding-bottom: 0;
    }
  }

  &__required {

    @extend %required;

    right: s(0.5);
    top: s(0.5);
    transition: color $ease, height $ease, transform $ease, width $ease;

    &--valid {
      background-color: color('status.success', '10');

      @extend %required-valid;      
    }
  }

  &__icon-area {

    @extend %icon-area;

    bottom: 0;
    top: 0;
    transform: translate(s(1));
    transition: top $ease, width $ease;
    width: s(3);
  }

  &__icon {

    @extend %icon;

    transition: font-size $ease;
  }

  &__field {

    @extend %field;

    height: $size-opened;
    padding-left: s(1);
    padding-right: s(1);
    padding-top: s(1.75);
    transition: background-color $ease, height $ease, box-shadow $ease, padding-top $ease, padding-left $ease;

    &:focus {
      transition: background-color $ease 0.2s, height $ease 0.2s, box-shadow $ease 0.2s, padding-top $ease 0.2s, padding-left $ease 0.2s;
    }
  }

  &__error {

    @extend %error;
  }

  &__error-icon {

    @extend %error-icon;
  }

  &__message {

    @extend %error-message;
  }

  &--has-errors {
    .backoffice-input {
      &__message {
        max-height: 75px;
      }
    }
  }

  &:focus-within,
  &--filled {
    .backoffice-input {
      &__content {
        padding-top: $top-size;
      }

      &__label {
        left: s(1);
        transform: translate(0, -25%) scale(0.75);
        width: calc(135% - #{s(3)});
      }

      &__required {

        @extend %required-focused;

        transform: translate(0, s(2.5));

        &--valid {
          @extend %required-focused-valid;
        }
      }

      &__field {

        @extend %field-focused;

        height: $size-focused;
        padding-top: 0;
      }

      &__icon-area {
        line-height: $top-size;
        top: $top-size;
        width: s(2);
      }

      &__icon {

        @extend %icon-focused;
      }
    }
  }

  &:focus-within {
    .backoffice-input {
      &__content {
        padding-top: $top-size;
        transition: padding-top get($tween, 'slide') 0.2s;
      }

      &__required {

        @extend %required-focused;

        transform: translate(0, s(2.5));
        transition: color $ease 0.2s, height $ease 0.2s, transform $ease 0.2s, width $ease 0.2s;
      }

      &__field {

        @extend %field-focused;
      }
    }
  }

  &--has-icon {
    .backoffice-input {
      &__label {
        left: s(4.5);
        width: calc(100% - #{s(5.5)});
      }

      &__field {
        padding-left: s(4.5);
      }
    }

    &:focus-within {
      .backoffice-input {
        &__field {
          padding-left: s(3);
        }
      }
    }

    &.backoffice-input {
      &--filled {
        .backoffice-input {
          &__label {
            left: s(1);
            transform: translate(0, -25%) scale(0.75);
            width: calc(135% - #{s(3)});
          }

          &__field {
            padding-left: s(3);
          }
        }
      }
    }
  }
}
