@import '../../tailwind/components.css';
@tailwind components;

:host {
  --mds-push-notification-fadeout-delay: 0s;
  --mds-push-notification-gap: theme('spacing.200');
  --mds-push-notification-items-intro-delay: 300ms;
  --mds-push-notification-items-outro-delay: 0ms;
  --mds-push-notification-items-duration: 300ms;
  --mds-push-notification-items-gap: var(--mds-push-notification-gap);
  --mds-push-notification-items-timing-function: theme('transitionTimingFunction.in-out-quint');
  --mds-push-notification-background: linear-gradient(to right, rgb(220 220 220 / 0) 0%, rgb(220 220 220 / 0.85) 100%);

  @apply
    duration-500
    ease-in-out-expo
    gap-200
    max-w-[360px]
    min-w-7200
    p-400
    pl-2400
    hide-scrollbar;

  /* stylelint-disable-next-line property-disallowed-list */
  background: var(--mds-push-notification-background);
  bottom: 0;
  box-sizing: content-box !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(100%, 0);
  transition-delay: var(--mds-push-notification-fadeout-delay);
  transition-property: transform;
  z-index: var(--magma-notification-z-index, 3000);
}

.notifications {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--mds-push-notification-items-gap);
}

.notifications ::slotted(mds-push-notification-item) {
  --mds-push-notification-duration: var(--mds-push-notification-items-duration);
  --mds-push-notification-timing-function: var(--mds-push-notification-items-timing-function);

  position: absolute;
  transform: translate(calc(100% + calc(var(--mds-push-notification-gap) + var(--mds-push-notification-gap))), 0);
  visibility: hidden;

}

@import './css/mds-push-notification-pref-theme.css';
@import './css/mds-push-notification-visible.css';
@import '../../tailwind/fouc.css';
