@tailwind utilities;

:host {

  --background: theme('colors.tone-neutral');
  --drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));

  @apply
    box-border
    duration-300
    ease-out
    fixed
    gap-4
    grid
    opacity-0
    p-6
    pointer-events-none
    rounded-lg
    transition-opacity;

  background-color: var(--background);
  filter: var(--drop-shadow);
}

:host ([visible]) {
  @apply
    opacity-100
    pointer-events-auto;
}

.arrow {
  @apply
    absolute
    hidden;

  fill: var(--background);
}

:host ([arrow]) .arrow {
  @apply flex;
}
