:host-context(:root.pref-consumption-high) .backdrop {
  --mds-header-backdrop-background-image: none;
}

:host-context(:root.pref-consumption-medium) .backdrop {
  --mds-header-backdrop-filter: none;
}

:host-context(:root.pref-consumption-low) .backdrop {
  display: none;
}
