@tailwind utilities;

/**
  * @prop --mds-input-range-thumb-size: Sets the thumb width and height of the component
  * @prop --mds-input-range-thumb-background:
  * @prop --mds-input-range-track-background:
  * @prop --mds-input-range-track-size:
  * @prop --mds-input-range-track-progress-background:
  */

:host {

  --mds-input-range-thumb-size: theme('spacing.400');
  --mds-input-range-thumb-background: theme('colors.brand-maggioli-03');
  --mds-input-range-track-background: theme('colors.tone-neutral-09');
  --mds-input-range-track-size: theme('spacing.200');
  --mds-input-range-track-progress-background: var(--mds-input-range-thumb-background);

  @apply gap-100;

  display: grid;
}

.header {
  @apply gap-200;

  display: flex;
}

.label {
  @apply
    min-w-0
    truncate;
}

.value {
  margin-left: auto;
}

.range {
  align-items: center;
  display: flex;
  height: var(--mds-input-range-thumb-size);
  position: relative;
}

.track {
  @apply w-full;

  --margin: calc(var(--mds-input-range-track-size) / 2);

  box-sizing: border-box;
  padding: 0 var(--margin);
  position: absolute;
}

.field {
  @apply
    m-0
    z-20;

  flex-grow: 1;
}

.field:focus {
  outline: none;
}

.track-total {
  display: none;
}

@supports (-webkit-appearance: none) {
  input[type = 'range']::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--mds-input-range-thumb-background);
    border: 0;
    border-radius: var(--mds-input-range-thumb-size);
    cursor: pointer;
    height: var(--mds-input-range-thumb-size);
    line-height: 0;
    transform: translate(0, -50%);
    width: var(--mds-input-range-thumb-size);
  }

  input[type = 'range']::-webkit-slider-runnable-track {
    appearance: none;
    border: 0;
    height: 0;
    width: 100%;
  }

  .track-progress {
    background-color: var(--mds-input-range-track-progress-background);
    display: flex;
    height: var(--mds-input-range-track-size);
  }

  .track-total {
    @apply w-full;

    background-color: var(--mds-input-range-track-background);
    border-radius: var(--mds-input-range-track-size);
    display: flex;
    height: var(--mds-input-range-track-size);
    overflow: hidden;
  }
}
