@tailwind utilities;

:host ( [variant=error] ),
:host ( [variant=error][tone=strong] ) {

  --background: theme('colors.status-error-19');
  --color: theme('colors.status-error-04');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=error][tone=weak] ) {

  --background: theme('colors.status-error-20');
  --color: theme('colors.status-error-05');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=error][tone=ghost] ) {

  --background: theme('colors.status-error-20');
  --color: theme('colors.status-error-04');
  --shadow: none;
}

:host ( [variant=error][tone=quiet] ) {

  --background: theme('colors.status-error-20');
  --color: theme('colors.status-error-04');
  --shadow: none;
}
