@tailwind utilities;

:host ( [variant=dark] ),
:host ( [variant=dark][tone=strong] ) {

  --background: theme('colors.adjust-tone-02');
  --color: theme('colors.adjust-tone-09');
  --shadow: theme('boxShadow.sharp-lg');
  --icon-color: theme('colors.adjust-tone-09');
}

:host ( [variant=dark][tone=weak] ) {

  --background: theme('colors.adjust-tone-03');
  --color: theme('colors.adjust-tone-10');
  --shadow: theme('boxShadow.sharp-sm');
  --icon-color: theme('colors.adjust-tone-08');
}
