@tailwind utilities;

:host ( [variant=warning] ),
:host ( [variant=warning][tone=strong] ) {

  --background: theme('colors.status-warning-19');
  --color: theme('colors.status-warning-04');
  --shadow: theme('boxShadow.sharp-lg');
}

:host ( [variant=warning][tone=weak] ) {

  --background: theme('colors.status-warning-20');
  --color: theme('colors.status-warning-05');
  --shadow: theme('boxShadow.sharp-sm');
}

:host ( [variant=warning][tone=ghost] ) {

  --background: theme('colors.status-warning-20');
  --color: theme('colors.status-warning-04');
  --shadow: none;
}

:host ( [variant=warning][tone=quiet] ) {

  --background: theme('colors.status-warning-20');
  --color: theme('colors.status-warning-04');
  --shadow: none;
}
