



:host([variant="info"] ),
:host([variant="info"][tone="strong"]) {
  --mds-toast-background: var(--color-status-info-09);
  --mds-toast-color: var(--color-status-info-02);
  --mds-toast-shadow: var(--shadow-lg-sharp);
  --mds-toast-icon-color: var(--color-status-info-05);
}

:host([variant="info"][tone="weak"]) {
  --mds-toast-background: var(--color-status-info-10);
  --mds-toast-color: var(--color-status-info-03);
  --mds-toast-shadow: var(--shadow-sm-sharp);
  --mds-toast-icon-color: var(--color-status-info-06);
}
