@import 'tailwindcss/utilities' layer(utilities);



:host([variant="success"] ),
:host([variant="success"][tone="strong"]) {
  --mds-toast-background: var(--color-status-success-09);
  --mds-toast-color: var(--color-status-success-02);
  --mds-toast-shadow: var(--shadow-lg-sharp);
  --mds-toast-icon-color: var(--color-status-success-05);
}

:host([variant="success"][tone="weak"]) {
  --mds-toast-background: var(--color-status-success-10);
  --mds-toast-color: var(--color-status-success-03);
  --mds-toast-shadow: var(--shadow-sm-sharp);
  --mds-toast-icon-color: var(--color-status-success-06);
}
