@import 'tailwindcss/utilities' layer(utilities);



:host([variant="light"] ),
:host([variant="light"][tone="strong"]) {
  --mds-toast-background: var(--color-tone-neutral);
  --mds-toast-color: var(--color-tone-neutral-02);
  --mds-toast-shadow: var(--shadow-lg-sharp);
  --mds-toast-icon-color: var(--color-tone-neutral-03);
}

:host([variant="light"][tone="weak"]) {
  --mds-toast-background: var(--color-tone-neutral);
  --mds-toast-color: var(--color-tone-neutral-02);
  --mds-toast-shadow: var(--shadow-sm-sharp);
  --mds-toast-icon-color: var(--color-tone-neutral-04);
}
