:host([variant='info']),
:host([variant='info'][tone='strong']) {
  --mds-toast-background: rgb(var(--magma-info-wash-base));
  --mds-toast-color: rgb(var(--magma-info-text-muted));
  --mds-toast-shadow: var(--shadow-lg-sharp);
  --mds-toast-icon-color: rgb(var(--magma-info-text-default));
}

:host([variant='info'][tone='weak']) {
  --mds-toast-background: rgb(var(--magma-info-wash-soft));
  --mds-toast-color: rgb(var(--magma-info-text-subtle));
  --mds-toast-shadow: var(--shadow-sm-sharp);
  --mds-toast-icon-color: rgb(var(--status-info-06));
}
