



:host([variant="dark"] ),
:host([variant="dark"][tone="strong"]) {
  --mds-toast-background: rgb(var(--tone-neutral-02));
  --mds-toast-color: rgb(var(--tone-neutral-09));
  --mds-toast-shadow: var(--shadow-lg-sharp);
  --mds-toast-icon-color: rgb(var(--tone-neutral-09));
}

:host([variant="dark"][tone="weak"]) {
  --mds-toast-background: rgb(var(--tone-neutral-03));
  --mds-toast-color: rgb(var(--tone-neutral-10));
  --mds-toast-shadow: var(--shadow-sm-sharp);
  --mds-toast-icon-color: rgb(var(--tone-neutral-08));
}
