:host([variant='dark']),
:host([variant='dark'][tone='strong']) {
  --mds-toast-background: rgb(var(--magma-surface-inverse));
  --mds-toast-color: rgb(var(--magma-on-inverse));
  --mds-toast-shadow: var(--shadow-lg-sharp);
  --mds-toast-icon-color: rgb(var(--magma-on-inverse));
}

:host([variant='dark'][tone='weak']) {
  --mds-toast-background: rgb(var(--magma-surface-inverse-muted));
  --mds-toast-color: rgb(var(--magma-on-inverse));
  --mds-toast-shadow: var(--shadow-sm-sharp);
  --mds-toast-icon-color: rgb(var(--magma-on-inverse));
}
