@tailwind utilities;

:host( [variant="error"] ),
:host( [variant="error"][tone="strong"] ) {

  --background: theme('colors.status-error-09');
  --color: theme('colors.status-error-02');
  --shadow: theme('boxShadow.sharp-lg');
  --icon-color: theme('colors.status-error-05');
}

:host( [variant="error"][tone="weak"] ) {

  --background: theme('colors.status-error-10');
  --color: theme('colors.status-error-03');
  --shadow: theme('boxShadow.sharp-sm');
  --icon-color: theme('colors.status-error-06');
}
