@import '../../tailwind/fouc.css';

:host {
  display: grid;
  gap: --spacing(400);
}

:host([controller]) {
  display: none;
}

:host(:empty) {
  display: none;
}

.reload-required {
  display: grid;
  gap: --spacing(200);
}
