@tailwind utilities;

/**
 * @prop --mds-header-icon-color: Sets the color of the icon toggler
 * @prop --mds-header-color: Sets the text color of the header and the mobile toggler icon
 * @prop --mds-header-z-index: Sets the z-index of the modal
 */

:host {

  --mds-header-color: theme('colors.tone-neutral-02');
  --mds-header-icon-color: var(--mds-header-color, theme('colors.tone-neutral-02'));
  --mds-header-modal-icon-color: theme('colors.tone-neutral');
  --mds-header-z-index: var(--magma-header-z-index, 1000);

  color: var(--mds-header-color);
  fill: var(--mds-header-icon-color);
  position: relative;
  z-index: var(--mds-header-z-index);
}

.menu {
  align-items: center;
  display: flex;
}

.modal {

  --mds-modal-close-icon-color: var(--mds-header-modal-icon-color);

  z-index: var(--mds-header-z-index);
}

:host([menu="desktop"]) .menu {
  @apply tablet-max:hidden;
}

:host([menu="mobile"]) .menu {
  @apply desktop:hidden;
}

:host([menu="none"]) .menu {
  display: none;
}

@import './css/mds-header-pref-theme.css';
