@tailwind utilities;

/*
  * @prop --background: Sets the background-color of the component
  * @prop --color-icon: Sets the color of the icon toggler
  * @prop --color: Sets the text color of the header and the mobile toggler icon
  * @prop --shadow: Sets the box-shadow od the header
  */

:host {

  --background: theme('colors.adjust-tone');
  --color: theme('colors.adjust-tone-02');
  --shadow: theme('boxShadow.sharp-md');
}

.nav {
  @apply
    desktop:hidden
    flex
    items-center;
}
