.icon-help {
  background-color: theme('colors.tone-neutral');
  border-radius: theme('size.600');
  box-shadow: theme('boxShadow.sm-sharp');
  cursor: pointer;
  fill: theme('colors.variant-ai-06');
  height: min-content;
  width: min-content;
}

.icon-tip-content {
  display: grid;
  gap: theme('spacing.200');
}

.icon-help::part(icon) {
  height: theme('size.600');
  padding: theme('size.100');
  width: theme('size.600');
}
