.mini-card {
  @apply grid-cols-full;

  background-color: rgb(var(--tone-neutral));
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm-sharp);
  display: inline-flex;
  gap: --spacing(300);
  padding: --spacing(400);
}

.mini-card-icon {
  background-color: rgb(var(--variant-ai-05));
  border-radius: var(--radius-2xl);
  border-top-left-radius: var(--radius-none);
  border-top-right-radius: var(--radius-none);
  fill: rgb(var(--variant-ai-10));
  height: --spacing(600);
  margin-top: --spacing(-400);
  padding: --spacing(100);
  padding-top: --spacing(400);
  width: --spacing(600);
}

.link-label-short {
  display: none;
}

.mini-card-content {
  @apply grid-cols-full;

  display: grid;
  gap: --spacing(300);
}

.mini-card-button {
  max-width: min-content;
  min-width: 0;
  width: 100%;
}

@container mds-policy-ai (max-width: 260px) {
  .mini-card {
    display: grid;
  }

  .mini-card-icon {
    border-top-left-radius: var(--radius-none);
    border-top-right-radius: var(--radius-none);
    margin-top: --spacing(-400);
    padding-top: --spacing(200);
  }

  .mini-card-button {
    max-width: none;
  }

  .link-label-long {
    display: none;
  }

  .link-label-short {
    display: inline;
  }
}
