.icon-help {
  background-color: var(--color-variant-ai-05);
  border: 1px solid var(--color-tone-neutral);
  border-radius: --spacing(600);
  cursor: pointer;
  fill: var(--color-variant-ai-10);
  height: min-content;
  width: min-content;
}

.icon-tip-content {
  display: grid;
  gap: --spacing(200);
}

.icon-help::part(icon) {
  height: --spacing(600);
  padding: --spacing(100);
  width: --spacing(600);
}
