.mini-card {
  @apply grid-cols-full;

  background-color: rgb(var(--tone-neutral));
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm-sharp);
  display: inline-flex;
  gap: --spacing(300);
  padding: --spacing(400);
}

.mini-card-icon {
  @apply -mt-400
    rounded-2xl
    rounded-t-none
    p-100
    pt-400;

  background-color: rgb(var(--variant-ai-05));
  fill: rgb(var(--variant-ai-10));
  height: --spacing(600);
  width: --spacing(600);
}

.link-label-short {
  display: none;
}

.mini-card-content {
  @apply grid-cols-full;

  display: grid;
  gap: --spacing(300);
}

.mini-card-button {
  max-width: min-content;
  min-width: 0;
  width: 100%;
}

@container mds-policy-ai (max-width: 260px) {
  .mini-card {
    display: grid;
  }

  .mini-card-icon {
    @apply -mt-400 rounded-t-none pt-200;
  }

  .mini-card-button {
    max-width: none;
  }

  .link-label-long {
    display: none;
  }

  .link-label-short {
    display: inline;
  }
}
