@import '~SASS/import';

$size: 75px;

.sys-color-tiny {
  align-items: center;
  border-radius: get($radius, 'large');
  cursor: pointer;
  display: flex;
  padding: s(0.5);
  transition: box-shadow get($tween, 'hover');

  &:hover {
    box-shadow: get($shadow, 'small');
  }

  &__dot {
    border-radius: $size;
    box-shadow: get($shadow, 'inline');
    flex-shrink: 0;
    height: $size;
    width: $size;
  }

  &__infos {
    margin-left: s(1);
  }

  &__name {
    text-transform: capitalize;
  }

  &__category {
    text-transform: capitalize;
  }

  &__value {
    border: 0;
    cursor: pointer;
    outline: 0;
    width: 100%;
  }
}
