@import '~Sass/import';

.sys-color-accessibility-test {
  background-color: get($tone, 'tone-14');
  border-radius: get($radius, 'normal') 20px 20px get($radius, 'normal');
  padding: s(0.25) s(0.25) s(0.25) s(0.5);
  user-select: none;

  &__example {
    $size: 30px;
    align-items: center;
    background-color: #fff;
    border-radius: $size;
    display: flex;
    height: $size;
    justify-content: center;
    width: $size;
  }
}
