@import '~Sass/import';

.sys-palette {

  $r: get($radius, 'normal');
  $preview: s(1.5);

  &__preview {
    border-radius: $r;
    display: flex;
    height: s(3);
    width: 100px;
  }

  &__base {
    border-radius: $r 0 0 $r;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
  }

  &__variant {
    border-radius: 0 $r $r 0;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
  }

  &__text {
    align-items: center;
    display: flex;
    height: $preview;
    justify-content: center;
    width: $preview;
  }

  &__dot {
    border-radius: $preview;
    height: $preview;
    width: $preview;
  }
}
