@import '~Sass/import';

@function get-color-selector($property, $color-name, $color) {
  @return '#{$property}-#{$color-name}|#{$color}';
}

@function get-scaled-selector($property, $tint-name, $tone-name) {
  $tone-prefix: str-replace($tone-name, 'tone-', '');
  $tone-name-reverse: reverse-tone-name($tone-name);
  $tones-total: length(map-keys($tone));
  $tones-index: index(map-keys($tone), $tone-name);
  $reverse-prefix: abs($tones-index - $tones-total);
  @return '{"id": "#{$tone-prefix}", "totalNodes": "#{$tones-total - 1}", "name": "#{$tint-name}", "background": "background-color-#{$tint-name}--#{$tone-prefix}", "backgroundBase": "background-color-#{$tint-name}", "color": "color-#{$tint-name}--#{$tone-prefix}", "colorBase": "color-#{$tint-name}", "colorHex": "#{hts($tint-name, $tone-name)}"}, ';
}

$data: '';

@each $tint-name, $tint-color in $tint {
  @each $tone-name, $tone-color in $tone {
    $data: #{$data + get-scaled-selector('background-color', $tint-name, $tone-name)};
  }
}

// sass-lint:disable no-misspelled-properties
:export {
  palette: '[#{$data}]';
}
