@import './css/animate/components.css';

@tailwind base;
@tailwind utilities;

/**
* @prop --mds-toast-background: Sets the background-color of the component
* @prop --mds-toast-color: Sets the text color of the component
* @prop --mds-toast-duration: Sets the animation duration of the component, used also by component's logic
* @prop --mds-toast-icon-color: Sets the text color of the component
* @prop --mds-toast-shadow: Sets the box-shadow of the component
*/

:host {

  --mds-toast-background: theme('colors.tone-neutral-02');
  --mds-toast-color: theme('colors.tone-neutral');
  --mds-toast-duration: 300ms;
  --mds-toast-icon-color: theme('colors.tone-neutral');
  --mds-toast-shadow: theme('boxShadow.xl');
  --mds-toast-width: auto;

  @apply
    fixed
    flex
    pointer-events-none
    left-0
    right-0;

  color: var(--mds-toast-color);
}

.dialog {
  @apply
    ease-in-cubic
    gap-4
    inline-flex
    items-center
    max-w-full
    mx-4
    p-4
    pointer-events-none
    rounded-xl;

  background-color: var(--mds-toast-background);
  box-shadow: var(--mds-toast-shadow);
  transition-duration: var(--mds-toast-duration);
  width: var(--mds-toast-width);
}

:host( [visible]:not([visible="false"])) .dialog {
  @apply pointer-events-auto;
}


:host([position^="top"]) {
  @apply top-0;
}

:host([position="top-left"]) {
  @apply justify-start;
}

:host([position="top-center"]) {
  @apply justify-center;
}

:host([position="top-right"]) {
  @apply justify-end;
}


:host([position^="bottom"]) {
  @apply bottom-0;
}

:host([position="bottom-left"]) {
  @apply justify-start
}

:host([position="bottom-center"]) {
  @apply justify-center
}

:host([position="bottom-right"]) {
  @apply justify-end;
}

.actions {
  @apply
    flex
    gap-2;
}

::slotted( [slot="icon"] ) {
  @apply
    shrink-0
    transition-colors;

  fill: var(--mds-toast-icon-color);
}

@import url('./css/variant/mds-toast-variant-dark.css');
@import url('./css/variant/mds-toast-variant-error.css');
@import url('./css/variant/mds-toast-variant-info.css');
@import url('./css/variant/mds-toast-variant-light.css');
@import url('./css/variant/mds-toast-variant-success.css');
@import url('./css/variant/mds-toast-variant-warning.css');
@import url('./css/animate/mds-toast-animate-top.css');
@import url('./css/animate/mds-toast-animate-bottom.css');
