@tailwind base;
@tailwind utilities;

/**
* @prop --background: Sets the background-color of the component
* @prop --color: Sets the text color of the component
* @prop --shadow: Sets the box-shadow of the component
*/

:host {

  --color: theme('colors.adjust-tone');
  --icon-color: theme('colors.adjust-tone');
  --background: theme('colors.adjust-tone-02');
  --shadow: theme('boxShadow.xl');

  @apply
    bottom-0
    fixed
    flex
    pointer-events-none
    justify-center
    left-0
    right-0;

  color: var(--color);
}

.dialog {
  @apply
    duration-300
    ease-in-cubic
    gap-4
    inline-flex
    items-center
    mx-4
    p-4
    pointer-events-none
    rounded-xl
    transition-transform;

  background-color: var(--background);
  box-shadow: var(--shadow);
  transform: translate(0, calc(theme('translate.full') + theme('translate.2')));
}

.dialog--visible {
  @apply
    duration-700
    ease-out-expo
    pointer-events-auto;

  transform: translate(0, calc(theme('translate.4') * -1));
}

.actions {
  @apply flex gap-2;
}

::slotted ( [slot=icon] ) {
  @apply transition-colors;

  color: var(--icon-color);
}

@import './css/mds-toast-variant-dark.css';
@import './css/mds-toast-variant-error.css';
@import './css/mds-toast-variant-info.css';
@import './css/mds-toast-variant-light.css';
@import './css/mds-toast-variant-success.css';
@import './css/mds-toast-variant-warning.css';
