@tailwind components;
@tailwind utilities;

/**
  * @prop --background: Sets the background-color of the component
  * @prop --color: Sets the text color of the component
  * @prop --shadow: Sets the box-shadow of the component
  */

:host {

  --background: theme('colors.label-yellow-09');
  --radius: theme('borderRadius.md');
  --color: theme('colors.adjust-tone-03');

  @apply
    flex
    items-stretch
    overflow-hidden
    pl-3;

  background-color: var(--background);
  border-radius: var(--radius);
  color: var(--color);
}

.text {
  @apply
    block
    flex-grow
    min-w-0
    py-1
    self-center;
}

.text:last-child {
  @apply pr-3;
}

.close {
  @apply
    bg-adjust-tone
    bg-opacity-30
    cursor-pointer
    filter
    flex
    flex-shrink-0
    hover:bg-opacity-50
    invert
    items-center
    ml-1
    px-1.5
    text-inherit
    transition-colors;
}

@import './css/mds-tag-variant-amaranth.css';
@import './css/mds-tag-variant-aqua.css';
@import './css/mds-tag-variant-blue.css';
@import './css/mds-tag-variant-dark.css';
@import './css/mds-tag-variant-error.css';
@import './css/mds-tag-variant-green.css';
@import './css/mds-tag-variant-info.css';
@import './css/mds-tag-variant-light.css';
@import './css/mds-tag-variant-lime.css';
@import './css/mds-tag-variant-orange.css';
@import './css/mds-tag-variant-orchid.css';
@import './css/mds-tag-variant-sky.css';
@import './css/mds-tag-variant-success.css';
@import './css/mds-tag-variant-violet.css';
@import './css/mds-tag-variant-warning.css';
@import './css/mds-tag-variant-yellow.css';
