@tailwind utilities;

/*
  * @prop --color: Sets the color of the text
  * @prop --duaration: Sets the duration of the animation
  * @prop --icon-background-checked: Sets the background-color of the icon when the component is checked
  * @prop --icon-background-current: Sets the background-color of the icon when the component is current
  * @prop --icon-background: Sets the background-color of the icon
  * @prop --icon-color-checked: Sets the color of the icon when the component is checked
  * @prop --icon-color-current: Sets the color of the icon when the component is current
  * @prop --icon-color: Sets the color of the icon
  * @prop --icon-ring-size: Sets the size of the icon circle when the component is current
  * @prop --min-width: Sets the minimum width of the component
  * @prop --progress-background: Sets the background color of the progress bar
  * @prop --progress-color: Sets the color of the progress bar
  * @prop --progress-thickness: Sets the thickness of the progress bar
  */

:host {

  --color: theme('colors.tone-neutral-03');
  --duaration: 250ms;
  --icon-background-checked: theme('colors.status-success-05');
  --icon-background-current: theme('colors.brand-maggioli-04');
  --icon-background: var(--progress-background, theme('colors.tone-neutral-08'));
  --icon-color-checked: theme('colors.status-success-10');
  --icon-color-current: theme('colors.tone-neutral');
  --icon-color: theme('colors.tone-neutral-04');
  --icon-ring-color: var(--icon-background-current);
  --icon-ring-separator-color: theme('colors.tone-neutral');
  --icon-ring-separator-size: 0.375rem;
  --icon-ring-size: theme('height.1');
  --min-width: 180px;
  --progress-background: theme('colors.tone-neutral-08');
  --progress-color: theme('colors.status-success-04');
  --progress-thickness: theme('height.2');

  @apply
    basis-0
    cursor-pointer
    flex
    flex-col
    gap-4
    grow
    items-start
    relative
    shrink-0
    snap-center;

  min-width: var(--min-width);
  padding-left: calc(var(--icon-ring-size) + var(--icon-ring-separator-size));
  padding-top: calc(var(--icon-ring-size) + var(--icon-ring-separator-size));
}

:host ( :last-of-type ) {
  @apply basis-1;
}

:host ( :last-of-type ) .progress {
  @apply hidden;
}

:host ( [ checked ] ) .icon {

  --icon-background: var(--icon-background-checked);
  --icon-color: var(--icon-color-checked);

  transition-delay: 0ms;
}

:host ( [ current ] ) .icon {

  --icon-background: var(--icon-background-current);
  --icon-color: var(--icon-color-current);

  box-shadow: 0 0 0 var(--icon-ring-size) var(--icon-ring-color), 0 0 0 var(--icon-ring-separator-size) var(--icon-ring-separator-color);
  transition-delay: calc(var(--duaration) / 2);
}

:host ( :not([ checked ]) ) .icon,
:host ( :not([ current ]) ) .icon {

  --icon-ring-color: var(--icon-background);
}

.header {
  @apply
    flex
    items-center
    w-full;
}

.icon {
  @apply
    flex
    p-2
    relative
    rounded-full
    shrink-0
    transition-cosmetic;

  background-color: var(--icon-background);
  box-shadow: 0 0 0 0 var(--icon-ring-color), 0 0 0 0 var(--icon-ring-separator-color);
  fill: var(--icon-color);
  transition-duration: var(--duaration);
}

.progress {

  --background: var(--progress-background);
  --color: var(--progress-color);
  --thickness: var(--progress-thickness);

  @apply
    -ml-1
    grow;

  margin-right: calc(calc(calc(var(--icon-ring-size) + var(--icon-ring-separator-size)) * -1) - theme('spacing.1'));
}

.infos {
  @apply
    gap-1
    grid
    pl-1;
}

.text {
  @apply pointer-events-none transition-cosmetic;

  color: var(--color);
  transition-duration: var(--duaration);
}

.badge {
  @apply
    pointer-events-none
    rounded-full;
}

.step {
  @apply
    pointer-events-none
    rounded-full
    text-tone-neutral-04;
}
