@import '~@maggioli-design-system/styles/dist/css/animations.css'; /* included for focus effect */
@import '../../tailwind/components.css';
@tailwind components;

/**
 * @prop --mds-stepper-bar-item-color: Sets the color of the text
 * @prop --mds-stepper-bar-item-duaration: Sets the duration of the animation
 * @prop --mds-stepper-bar-item-icon-background-done: Sets the background-color of the icon when the component is done
 * @prop --mds-stepper-bar-item-icon-background-current: Sets the background-color of the icon when the component is current
 * @prop --mds-stepper-bar-item-icon-background: Sets the background-color of the icon
 * @prop --mds-stepper-bar-item-icon-color-done: Sets the color of the icon when the component is done
 * @prop --mds-stepper-bar-item-icon-color-current: Sets the color of the icon when the component is current
 * @prop --mds-stepper-bar-item-icon-color: Sets the color of the icon
 * @prop --mds-stepper-bar-item-min-width: Sets the minimum width of the component
 * @prop --mds-stepper-bar-item-progress-background: Sets the background color of the progress bar
 * @prop --mds-stepper-bar-item-progress-color: Sets the color of the progress bar
 * @prop --mds-stepper-bar-item-progress-thickness: Sets the thickness of the progress bar
 */

:host {
  --mds-stepper-bar-item-header-gap: var(--mds-stepper-bar-gap, theme('spacing.50'));
  --mds-stepper-bar-item-color: theme('colors.tone-neutral-03');
  --mds-stepper-bar-item-duaration: 250ms;
  --mds-stepper-bar-item-icon-background-done: theme('colors.status-success-05');
  --mds-stepper-bar-item-icon-background-current: theme('colors.variant-primary-04');
  --mds-stepper-bar-item-icon-background: var(--mds-stepper-bar-item-progress-background, theme('colors.tone-neutral-08'));
  --mds-stepper-bar-item-icon-color-done: theme('colors.status-success-10');
  --mds-stepper-bar-item-icon-color-current: theme('colors.tone-neutral');
  --mds-stepper-bar-item-icon-color: theme('colors.tone-neutral-04');
  --mds-stepper-bar-item-min-width: 180px;
  --mds-stepper-bar-item-progress-background: theme('colors.tone-neutral-08');
  --mds-stepper-bar-item-progress-color: theme('colors.status-success-04');
  --mds-stepper-bar-item-progress-thickness: theme('height.200');

  @apply gap-400;

  align-items: flex-start;
  border-radius: theme('borderRadius.xl');
  display: grid;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: var(--mds-stepper-bar-item-min-width);
  position: relative;
  scroll-snap-align: center;
  transition-duration: var(--mds-stepper-bar-item-duaration);
  transition-property: outline, outline-offset, background-color;
}

/* :host {
  @apply focus-bounce;

  cursor: pointer;

  &:host(:focus-visible) {
    @apply focus-bounce--focused z-10;
  }
} */

:host(:last-of-type) {
  @apply basis-100;
}

:host(:last-of-type) .progress {
  display: none;
}

:host([done]) .icon {
  --mds-stepper-bar-item-icon-background: var(--mds-stepper-bar-item-icon-background-done);
  --mds-stepper-bar-item-icon-color: var(--mds-stepper-bar-item-icon-color-done);

  transition-delay: 0ms;
}

/*
:host(:not([done])) {
  pointer-events: none;
}

:host([done]:hover) .icon {
  --mds-stepper-bar-item-icon-background: var(--mds-stepper-bar-item-icon-background-current);
  --mds-stepper-bar-item-icon-color: var(--mds-stepper-bar-item-icon-color-current);
} */

:host([current]) .icon {
  --mds-stepper-bar-item-icon-background: var(--mds-stepper-bar-item-icon-background-current);
  --mds-stepper-bar-item-icon-color: var(--mds-stepper-bar-item-icon-color-current);

  transition-delay: calc(var(--mds-stepper-bar-item-duaration) / 2);
}

.header {
  @apply
    duration-200
    ease-out
    rounded-md
    w-full;

  align-items: center;
  display: flex;
  gap: var(--mds-stepper-bar-item-header-gap);
  transition-property: outline, outline-offset;
}

.icon {
  @apply
    p-200
    ease-in-out
    duration-150
    rounded-full;

  background-color: var(--mds-stepper-bar-item-icon-background);
  display: flex;
  fill: var(--mds-stepper-bar-item-icon-color);
  flex-shrink: 0;
  position: relative;
  transition-duration: var(--mds-stepper-bar-item-duaration);
  transition-property: background-color, fill;
}

.progress {
  --mds-stepper-bar-item-background: var(--mds-stepper-bar-item-progress-background);
  --mds-stepper-bar-item-color: var(--mds-stepper-bar-item-progress-color);
  --mds-stepper-bar-item-thickness: var(--mds-stepper-bar-item-progress-thickness);
  --mds-progress-radius: 0;

  flex-grow: 1;
}

.infos {
  @apply
    gap-100
    pl-100;

  display: grid;
}

.text {
  @apply
    ease-in-out
    duration-150;

  color: var(--mds-stepper-bar-item-color);
  pointer-events: none;
  transition-duration: var(--mds-stepper-bar-item-duaration);
  transition-property: color;
}

.badge {
  @apply rounded-full;

  pointer-events: none;
}

.step {
  @apply rounded-full;

  color: theme('colors.tone-neutral-04');
  pointer-events: none;
}

@import './css/mds-stepper-bar-item-pref-animation.css';
@import '../../tailwind/fouc.css';
