@tailwind utilities;

/*
  * @prop --color-checked: Sets the color of the text when the component is checked
  * @prop --color-current: Sets the color of the text when the component is current
  * @prop --color: Sets the color of the text
  * @prop --duaration: Sets the duration of the animation
  * @prop --icon-background-checked: Sets the background-color of the icon when the component is checked
  * @prop --icon-background-current: Sets the background-color of the icon when the component is current
  * @prop --icon-background: Sets the background-color of the icon
  * @prop --icon-color-checked: Sets the color of the icon when the component is checked
  * @prop --icon-color-current: Sets the color of the icon when the component is current
  * @prop --icon-color: Sets the color of the icon
  * @prop --icon-ring-size: Sets the size of the icon circle when the component is current
  */

:host {

  --color-checked: theme('colors.adjust-tone-04');
  --color-current: theme('colors.adjust-tone-03');
  --color: theme('colors.adjust-tone-06');
  --duaration: 250ms;
  --icon-background-checked: theme('colors.brand-maggioli-04');
  --icon-background-current: theme('colors.brand-maggioli-04');
  --icon-background: var(--progress-background, theme('colors.adjust-tone-08'));
  --icon-color-checked: theme('colors.brand-maggioli-08');
  --icon-color-current: theme('colors.adjust-tone');
  --icon-color: theme('colors.adjust-tone-04');
  --icon-ring-color: var(--icon-background-current);
  --icon-ring-size: theme('height.1');

  @apply
    cursor-pointer
    flex
    flex-col
    gap-1
    items-center
    justify-center
    shrink-0;
}

:host ( :first-child ) {
  @apply items-start;
}

:host ( :last-child ) {
  @apply items-end;
}

:host ( [ checked ] ) .icon {

  --icon-background: var(--icon-background-checked);
  --icon-color: var(--icon-color-checked);

  transition-delay: 0ms;
}

:host ( [ current ] ) .icon {

  --icon-background: var(--icon-background-current);
  --icon-color: var(--icon-color-current);

  box-shadow: 0 0 0 var(--icon-ring-size) var(--icon-ring-color);
  transition-delay: calc(var(--duaration) / 2);
}

:host ( [ checked ] ) .text {

  --color: var(--color-checked);
}

:host ( [ current ] ) .text {

  --color: var(--color-current);

  @apply translate-y-1;

  transition-delay: calc(var(--duaration) / 2);
}

:host ( :not([ checked ]) ) .icon,
:host ( :not([ current ]) ) .icon {

  --icon-ring-color: var(--icon-background);
}

.icon {
  @apply
    flex
    p-2
    rounded-full
    transition-cosmetic;

  background-color: var(--icon-background);
  box-shadow: 0 0 0 0 var(--icon-ring-color);
  fill: var(--icon-color);
  transition-duration: var(--duaration);
}

.text {
  @apply
    -top-1
    absolute
    pt-13
    transition-cosmetic;

  color: var(--color);
  transition-duration: var(--duaration);
}
