@import '~@maggioli-design-system/styles/dist/tailwind/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  @apply
    block
    relative
    text-secondary-detail;
}

input {
  @apply
    bg-adjust-tone
    text-secondary-detail
    border-none
    border-transparent
    box-border
    duration-300
    ease-out-expo
    m-0
    overflow-ellipsis
    overflow-hidden
    px-4
    py-3
    ring-1
    ring-adjust-tone-04
    ring-opacity-10
    rounded-lg
    shadow
    transition-cosmetic
    w-full;

  /* box-shadow: theme('boxShadow.DEFAULT'); */
}

input:focus {
  @apply
    outline-none
    shadow-sharp-lg
    ring
    ring-brand-maggioli-08
    transition-cosmetic
    duration-300
    ease-out-expo;
}

input:disabled {
  @apply bg-adjust-tone-20;
}

input:disabled,
input:disabled::placeholder {
  @apply
    text-adjust-tone-10;
}

.disabled,
.read-only,
.required {
  @apply
    absolute
    duration-300
    ease-out-expo
    h-3
    justify-center
    pointer-events-none
    right-1
    rounded-full
    top-1
    transition-size;
}

.read-only {
  @apply
    bg-status-info-10
    text-adjust-tone
    w-20;
}

.required {
  @apply
    bg-status-error-10
    text-adjust-tone
    text-opacity-0
    w-3;
}

.disabled {
  @apply
    bg-adjust-tone-10
    px-2
    text-adjust-tone;
}

input:focus + .required {
  @apply
    text-opacity-100
    w-20;
}
