@import './css/mds-benchmark-bar-fouc.css';

:host {
  @apply grid-cols-full;

  display: grid;
  gap: --spacing(100);
}

.infos {
  display: flex;
  gap: --spacing(200);
  justify-content: space-between;
  width: 100%;
}

.value {
  flex-shrink: 0;
}

.label {
  min-width: 0;
}

@import './css/mds-benchmark-bar-size.css';
