@import '~Sass/import';

$cell-background-color: get($tone, 'tone-13');
$cell-border: get($tone, 'tone-13');
$cell-border-first: get($tone, 'tone-6');
$cell-border-hover: get($tone, 'tone-13');
$border-style: 2px solid;

.table {
  // sass-lint:disable no-vendor-prefixes
  -webkit-overflow-scrolling: touch;

  border-bottom: 2px dashed get($tone, 'tone-7');
  border-top: 2px dashed get($tone, 'tone-7');
  display: flex;
  margin-left: s(-1);
  margin-right: s(-1);
  overflow: auto;
  padding-bottom: s(2);
  padding-top: s(1);

  @include media ('desktop') {
    border-bottom-color: transparent;
    border-top-color: transparent;
    overflow: hidden;
  }

  &::after,
  &::before {
    content: '';
    min-width: s(1);
  }

  &__element {
    border-collapse: collapse;
    width: 100%;
  }

  &__cell {
    padding: s(0.5) s(1);
    white-space: nowrap;
    border-top: $border-style $cell-border;

    &--header {
      text-align: left;
      border: 0;
    }
  }

  &--interactive {
    .table {
      &__body {
        .table {
          &__row {
            &:hover {
              .table {
                &__cell {
                  --background-color: #{$cell-background-color};
                  background-color: var(--background-color);
                }
              }
            }
          }
        }

        &:hover {
          .table {
            &__cell {
              border-top: $border-style $cell-border-hover;
            }
          }
        }
      }
    }
  }

  &__body {
    .table {
      &__row {
        &:first-child {
          .table {
            &__cell {
              border-top: $border-style $cell-border-first;
            }
          }
        }

        &:last-child {
          .table {
            &__cell {
              border-bottom: $border-style $cell-border;
            }
          }
        }
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
  }
}
