@import '~Sass/import-framework';

$cell-background-color: color('adjust.tone', '15');
$cell-border: color('adjust.tone', '14');
$cell-border-first: color('adjust.tone', '11');
$cell-border-hover: color('adjust.tone', '13');
$border-style: 2px solid;

@mixin gain ($gain-step) {
  &--gain-#{$gain-step} {
    margin-left: s(-($gain-step));
    margin-right: s(-($gain-step));

    &::after,
    &::before {
      min-width: s($gain-step);
    }

    .table {
      &__cell {
        padding-left: s($gain-step);
        padding-right: s($gain-step);
      }
    }
  }
}

.table {
  border-bottom: 2px dashed color('adjust.tone', '07');
  border-top: 2px dashed color('adjust.tone', '07');
  display: flex;
  margin-left: s(-1);
  margin-right: s(-1);
  overflow: auto;

  // sass-lint:disable no-vendor-prefixes
  -webkit-overflow-scrolling: touch;
  padding-bottom: s(2);
  padding-top: s(1);

  @include media ('desktop') {
    border-bottom-color: transparent;
    border-top-color: transparent;
    overflow: hidden;
  }

  &::after,
  &::before {
    content: '';
    min-width: s(1);
  }

  @include gain(1);
  @include gain(2);
  @include gain(3);

  &--no-scroll {
    overflow: visible;
  }

  &__element {
    border-collapse: collapse;
    width: 100%;
  }

  &__cell {
    border-top: $border-style $cell-border;
    padding: s(0.5) s(1);
    white-space: nowrap;

    &--header {
      border: 0;
      text-align: left;
    }

    &--grow {
      width: 100%;
    }
  }

  &--interactive {
    .table {
      &__body {
        .table {
          &__row {
            &:hover {
              .table {
                &__cell {

                  --background-color: #{$cell-background-color};

                  background-color: var(--background-color);
                }
              }
            }
          }
        }

        &:hover {
          .table {
            &__cell {
              border-top: $border-style $cell-border-hover;
            }
          }
        }
      }
    }
  }

  &__body {
    .table {
      &__row {
        &:first-child {
          .table {
            &__cell {
              border-top: $border-style $cell-border-first;
            }
          }
        }

        &:last-child {
          .table {
            &__cell {
              border-bottom: $border-style $cell-border;
            }
          }
        }
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
  }
}
