@tailwind utilities;

:host ( [variant=error] ),
:host ( [variant=error][tone=strong] ) {

  --background: theme('colors.status-error-05');
  --color: theme('colors.tone-neutral');
}

:host ( [variant=error]:hover ),
:host ( [variant=error][tone=strong]:hover ) {

  --background: theme('colors.status-error-04');
}

:host ( [variant=error][active] ),
:host ( [variant=error][tone=strong][active] ) {

  --background: theme('colors.status-error-06');
}

:host ( [variant=error][tone=weak] ) {

  --background: theme('colors.status-error-06');
  --color: theme('colors.status-error-10');
}

:host ( [variant=error][tone=weak]:hover ) {

  --background: theme('colors.status-error-05');
  --color: theme('colors.tone-neutral');
}

:host ( [variant=error][tone=weak][active] ) {

  --background: theme('colors.status-error-07');
  --color: theme('colors.status-error-10');
}

:host ( [variant=error][tone=ghost] ) {

  --background: transparent;
  --border-color: theme('colors.status-error-04');
  --color: theme('colors.status-error-03');
}

:host ( [variant=error][tone=ghost]:hover ) {

  --background: transparent;
  --border-color: theme('colors.status-error-04');
  --color: theme('colors.status-error-02');
}

:host ( [variant=error][tone=ghost][active] ) {

  --background: transparent;
  --border-color: theme('colors.status-error-05');
  --color: theme('colors.status-error-03');
}

:host ( [variant=error][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.status-error-02');
}

:host ( [variant=error][tone=quiet]:hover ) {

  --background: transparent;
  --color: theme('colors.status-error-04');
}

:host ( [variant=error][tone=quiet][active] ) {

  --background: transparent;
  --color: theme('colors.status-error-01');
}
