@tailwind utilities;

:host ( [variant=success] ),
:host ( [variant=success][tone=strong] ) {

  --background: theme('colors.status-success-04');
  --color: theme('colors.adjust-tone');
}

:host ( [variant=success]:hover ),
:host ( [variant=success][tone=strong]:hover ) {

  --background: theme('colors.status-success-03');
}

:host ( [variant=success][active] ),
:host ( [variant=success][tone=strong][active] ) {

  --background: theme('colors.status-success-03');
}

:host ( [variant=success][tone=weak] ) {

  --background: theme('colors.status-success-09');
  --color: theme('colors.status-success-02');
}

:host ( [variant=success][tone=weak]:hover ) {

  --background: theme('colors.status-success-09');
}

:host ( [variant=success][tone=weak][active] ) {

  --background: theme('colors.status-success-08');
}

:host ( [variant=success][tone=ghost] ) {

  --background: transparent;
  --border-color: theme('colors.status-success-03');
  --color: theme('colors.status-success-03');
}

:host ( [variant=success][tone=ghost]:hover ) {

  --background: transparent;
  --border-color: theme('colors.status-success-02');
  --color: theme('colors.status-success-02');
}

:host ( [variant=success][tone=ghost][active] ) {

  --background: transparent;
  --border-color: theme('colors.status-success-01');
  --color: theme('colors.status-success-01');
}

:host ( [variant=success][tone=quiet] ) {

  --background: transparent;
  --color: theme('colors.status-success-02');
}

:host ( [variant=success][tone=quiet]:hover ) {

  --background: transparent;
  --color: theme('colors.status-success-03');
}

:host ( [variant=success][tone=quiet][active] ) {

  --background: transparent;
  --color: theme('colors.status-success-01');
}
