@reference '../../tailwind/index.css';
@import '../../tailwind/components.css';

@import '../../tailwind/fouc.css';



@layer magma {

  :host {
    --mds-help-tooltip-width: fit-content;
    --mds-help-tooltip-max-width: 280px;
    --mds-help-tooltip-min-width: 200px;
    --mds-help-tooltip-delay: 0.25s;

    @apply h-400
    ml-100
    w-400;

    color: var(--color-tone-neutral-03);
    cursor: help;
    display: inline-flex;
    fill: currentcolor;
    justify-content: flex-start;
    overflow: visible;
    position: relative;
  }

  i {
    @apply svg;
  }

  mds-tooltip {
    --mds-tooltip-delay: var(--mds-help-tooltip-delay);

    max-width: var(--mds-help-tooltip-max-width);
    min-width: var(--mds-help-tooltip-min-width);
  }

  mds-tooltip::part(text) {
    max-width: var(--mds-help-tooltip-max-width);
    min-width: var(--mds-help-tooltip-width);
    width: var(--mds-help-tooltip-width);
  }

  mds-icon,
  i {
    fill: inherit;
    height: inherit;
    width: inherit;
  }
}
