@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

mds-help {

  --mds-help-tooltip-width: fit-content;
  --mds-help-tooltip-max-width: 280px;
  --mds-help-tooltip-delay: 0.25s;

  @apply ml-1;

  cursor: help;
  display: inline-flex;
  fill: currentcolor;
  justify-content: flex-start;
  position: relative;
}

i {
  @apply svg;
}

mds-help mds-tooltip {

  --mds-tooltip-delay: var(--mds-help-tooltip-delay);

  max-width: var(--mds-help-tooltip-max-width);
  width: var(--mds-help-tooltip-width);

}

mds-icon,
i {
  @apply
    h-4
    w-4;

  fill: inherit;
}
