@tailwind utilities;

:host {

  --mds-tree-item-actions-border-radius: var(--mds-tree-actions-border-radius);
  --mds-tree-item-actions-gap: var(--mds-tree-actions-gap);
  --mds-tree-item-icon-default-color: var(--mds-tree-icon-default-color);
  --mds-tree-item-icon-hover-color: var(--mds-tree-icon-hover-color);
  --mds-tree-item-label-background-default: var(--mds-tree-label-background-default);
  --mds-tree-item-label-background-hover: var(--mds-tree-label-background-hover);
  --mds-tree-item-line-clamp: var(--mds-tree-line-clamp);
  --mds-tree-item-toggle-border-color: var(--mds-tree-toggle-border-color);
  --mds-tree-item-toggle-border-radius: var(--mds-tree-toggle-border-radius);
  --mds-tree-item-toggle-border-size: var(--mds-tree-toggle-border-size);
  --mds-tree-item-toggle-dot-default-color: var(--mds-tree-toggle-dot-default-color);
  --mds-tree-item-toggle-dot-expanded-color: var(--mds-tree-toggle-dot-expanded-color);
  --mds-tree-item-toggle-gap: var(--mds-tree-toggle-gap);
  --mds-tree-item-toggle-icon-chevron-default-background: var(--mds-tree-toggle-icon-chevron-default-background);
  --mds-tree-item-toggle-icon-chevron-default-color: var(--mds-tree-toggle-icon-chevron-default-color);
  --mds-tree-item-toggle-icon-chevron-expanded-background: var(--mds-tree-item-toggle-icon-chevron-default-background);
  --mds-tree-item-toggle-icon-chevron-expanded-color: var(--mds-tree-item-toggle-icon-chevron-default-color);
  --mds-tree-item-toggle-icon-folder-default-background: var(--mds-tree-toggle-icon-folder-default-background);
  --mds-tree-item-toggle-icon-folder-default-color: var(--mds-tree-toggle-icon-folder-default-color);
  --mds-tree-item-toggle-icon-folder-expanded-background: var(--mds-tree-item-toggle-icon-folder-default-background);
  --mds-tree-item-toggle-icon-folder-expanded-color: var(--mds-tree-item-toggle-icon-folder-default-color);
  --mds-tree-item-toggle-size: var(--mds-tree-toggle-size);
  --mds-tree-item-transition-duration: var(--mds-tree-transition-duration);
  --mds-tree-item-transition-timing-function: var(--mds-tree-transition-timing-function);

  /* internal */
  --mds-tree-item-icon-background-color: var(--mds-tree-item-toggle-icon-chevron-default-background);
  --mds-tree-item-icon-color: var(--mds-tree-item-toggle-icon-chevron-default-color);

  display: grid;
  transition-duration: var(--mds-tree-item-transition-duration);
  transition-timing-function: var(--mds-tree-item-transition-timing-function);
}

.header {
  align-items: flex-start;
  display: flex;
  gap: theme('spacing.100');
  min-width: 0;
  position: relative;
  z-index: 1;
}

.title {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  gap: theme('spacing.200');
  justify-content: space-between;
  min-width: 0;
}

.label-action {

  --mds-button-line-clamp: var(--mds-tree-item-line-clamp);

  background-color: var(--mds-tree-item-label-background-default);
  fill: var(--mds-tree-item-icon-default-color);
  flex-grow: 1;
  justify-content: flex-start;
  padding-right: 0;
}

:host([icon]) .label-action {
  padding-left: theme('padding.100');
}

.label-action:hover {
  background-color: var(--mds-tree-item-label-background-hover);
  fill: var(--mds-tree-item-icon-hover-color);
}

@import './css/mds-tree-item-actions.css';
@import './css/mds-tree-item-children.css';
@import './css/mds-tree-item-node.css';
@import './css/mds-tree-item-toggle-icon.css';
@import './css/mds-tree-item-toggle-position.css';
