@import './css/mds-table-header-cell-fouc.css';

/**
 * @prop --mds-table-header-cell-padding: The padding of the table cell
 */

:host {
  --mds-table-header-cell-transition-duration: var(--duration-200);
  --private-table-header-cell-transition-duration: var(--mds-table-header-cell-transition-duration);

  @apply ease-out;

  background-color: var(--mds-table-background);
  border-bottom: var(--private-cell-border-width) solid var(--private-cell-border-color) !important;
  border-top: var(--private-cell-border-width) solid transparent !important;
  display: table-cell;
  padding: var(--mds-table-cell-padding);
  transition-duration: var(--private-table-header-cell-transition-duration);
  transition-property: background-color, border-color, color;
  vertical-align: top;
  white-space: nowrap;
}

.action {
  margin-inline: --spacing(-200);
  padding-inline: --spacing(200);
}

:host([direction='ascending']) .action,
:host([direction='descending']) .action,
.action:hover {
  background-color: var(--mds-table-background-alt);
}

.action::part(label) {
  @apply text-info-label
  text-size-info-label;
}

.label {
  align-items: center;
  display: inline-flex;
  height: --spacing(700);
}

@import './css/mds-table-header-cell-pref-animation.css';
