@tailwind utilities;

/**
* @prop --background: The cell background-color of the table body
* @prop --cell-padding: The cell padding used on table cell
*/

:host {
  @apply
    table-cell
    transition-colors;

  background-color: var(--background, theme('colors.tone-neutral'));
  border-bottom: var(--border-width, theme('borderWidth.2')) solid var(--border-color, theme('colors.tone-neutral-09')) !important;
  border-top: var(--border-width, theme('borderWidth.2')) solid transparent !important;
  padding: var(--cell-padding, 0);

}

:host( :first-child ) {
  border-bottom-left-radius: var(--radius, 0);
  border-top-left-radius: var(--radius, 0);
}

:host( :last-child ) {
  border-bottom-right-radius: var(--radius, 0);
  border-top-right-radius: var(--radius, 0);
}
