@import '~Sass/import-framework';

.mds-color-palette {
  &__title {
    margin: s(2) 0;
    text-transform: capitalize;
  }

  &__item {

    $border: 2px;
    $swatch-size: 35px;

    border: $border solid transparent;
    border-radius: ($border + $swatch-size);
    padding-bottom: s(1);
    transition: background-color get($tween, 'hover'), border-color get($tween, 'hover');

    &:hover {
      background-color: color('adjust.tone', '18');

      // border-color: color('adjust.tone', '18');
    }
  }

  &__doc {
    padding: 0 s(1);
  }

  &__lang {
    background-color: color('adjust.tone', 'color');
    border-radius: s(0.25);
    color: color('adjust.tone', '04');
    padding: s(0.25) s(0.5);
    user-select: none;
  }
}

.grid {
  &--template-color-palette {
    grid-gap: s(2);
    grid-template-columns: 1fr;

    @include media ('desktop') {
      grid-template-columns: repeat(1, 1fr);
    }

    @include media ('large') {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
