@import '~Sass/import';

$brand-color: var(--color-brand-maggioli-color);
$input-radius: get($radius, 'small');
$size: get($form, 'input-height');

.select {
  &__label {

    --color: var(--color-adjust-tone-c-02);

    color: var(--color);
    margin-bottom: s(0.5);
  }

  &__item {
    position: relative;
  }

  &__icon {

    --background-color: var(--color-adjust-tone-c-03);

    align-items: center;
    background-color: var(--background-color);
    border-radius: get($radius, 'small');
    bottom: s(0.25);
    color: var(--color-adjust-tone-c-15);
    display: flex;
    height: auto;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: s(0.25);
    top: s(0.25);
    transition: background-color get($tween, 'hover'), border-radius get($tween, 'hover'), bottom get($tween, 'hover'), color get($tween, 'hover'), right get($tween, 'hover'), top get($tween, 'hover'), width get($tween, 'hover');
    width: $size - s(0.5);
    z-index: 1;
  }

  &__field {

    --background-color: var(--color-adjust-tone-color);
    --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};
    --color: var(--color-adjust-tone-c-02);

    appearance: none;
    background-color: var(--background-color);
    border: 1px solid transparent;
    border-radius: $input-radius;
    box-shadow: var(--box-shadow);
    color: var(--color);
    height: $size;
    padding: 0 s(0.5);
    position: relative;
    text-transform: capitalize;
    transition: box-shadow get($tween, 'hover'), color get($tween, 'hover'), border-color get($tween, 'hover');
    width: 100%;
    z-index: 0;

    &::first-letter {
      text-transform: uppercase;
    }

    // sass-lint:disable no-color-literals
    // sass-lint:disable no-vendor-prefixes

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000000;
    }

    // sass-lint:enable no-color-literals
    // sass-lint:enable no-vendor-prefixes

    &:focus {

      --border-color: #{$brand-color};
      --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};

      border-color: var(--border-color);
      box-shadow: var(--box-shadow);
      outline: 0;

      &::placeholder {

        --color: var(--color-adjust-tone-c-12);

        color: var(--color);
      }

      & + .select {
        &__icon {

          --background-color: #{$brand-color};

          background-color: var(--background-color);
          border-radius: 0 get($radius, 'small') get($radius, 'small') 0;
          bottom: 0;
          right: 0;
          top: 0;
          width: $size;
        }
      }
    }
  }
}
