@import '~Sass/import';

$brand-color: get($tint, 'brand-maggioli');
$input-radius: get($radius, 'small');
$size: get($form, 'input-height');

.select {

  &__label {
    --color: #{get($tone, 'tone-2')};

    color: var(--color);
    margin-bottom: s(0.5);
  }

  &__item {
    position: relative;
  }

  &__icon {
    --background-color: #{get($tone, 'tone-3')};

    align-items: center;
    background-color: var(--background-color);
    border-radius: get($radius, 'small');
    bottom: s(0.25);
    color: get($tone, 'tone-15');
    display: flex;
    height: auto;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: s(0.25);
    top: s(0.25);
    transition:
      background-color get($tween, 'hover'),
      border-radius get($tween, 'hover'),
      bottom get($tween, 'hover'),
      color get($tween, 'hover'),
      right get($tween, 'hover'),
      top get($tween, 'hover'),
      width get($tween, 'hover');
    width: $size - s(0.5);
    z-index: 1;
  }

  &__field {
    --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};
    --color: #{get($tone, 'tone-2')};

    appearance: none;
    background-color: transparent;
    border-radius: $input-radius;
    border: 1px solid transparent;
    box-shadow: var(--box-shadow);
    color: var(--color);
    height: $size;
    padding: 0 s(0.5);
    position: relative;
    text-transform: capitalize;
    transition: box-shadow get($tween, 'hover'), color get($tween, 'hover'), border-color get($tween, 'hover');
    width: 100%;
    z-index: 0;

    &::first-letter {
      text-transform: uppercase;
    }

    &:focus {
      --border-color: #{$brand-color};
      --box-shadow: #{get($shadow, 'tiny'), get($shadow, 'outline')};

      border-color: var(--border-color);
      box-shadow: var(--box-shadow);
      outline: 0;

      &::placeholder {
        --color: #{get($tone, 'tone-12')};
        color: var(--color);
      }

      & + .select {
        &__icon {
          --background-color: #{$brand-color};
          background-color: var(--background-color);
          border-radius: 0 get($radius, 'small') get($radius, 'small') 0;
          bottom: 0;
          right: 0;
          top: 0;
          width: $size;
        }
      }
    }
  }
}
