@import '~Sass/import';

$ease: get($tween, 'hover');
$border-radius: get($radius, 'small');

.button {

  --background: var(--color-brand-maggioli-c-04);
  --border-color: transparent;
  --color: var(--color-adjust-tone-color);

  align-items: center;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: $border-radius;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  height: get($form, 'input-height');
  justify-content: center;
  outline: 0;
  padding: 0 s(1);
  text-decoration: none;
  transition: background-color $ease, border $ease, color $ease, filter $ease;
  user-select: none;

  &:active,
  &:focus,
  &:hover {

    --background: var(--color-brand-maggioli-c-02);
    --border-color: transparent;
    --color: var(--color-adjust-tone-c-16);

    background-color: var(--background);
    border-color: var(--border-color);
    color: var(--color);
  }

  &__text {
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__icon {
    &:last-child {
      margin-left: s(0.25);
    }

    &:first-child {
      margin-right: s(0.25);

      &:last-child {
        margin: 0;
      }
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--small {
    height: get($form, 'input-height-small');
    padding: 0 s(0.5);
  }

  &--round {
    border-radius: get($form, 'input-height');
  }
}

.button--link {

  --background: transparent;
  --color: var(--color-brand-maggioli-c-04);

  justify-content: flex-start;

  .button {
    &__text {
      text-decoration: underline;
    }
  }

  &:active,
  &:focus,
  &:hover {

    --background: transparent;
    --color: var(--color-brand-maggioli-c-08);
  }
}

@mixin scaffold-theme ($modifier, $color-set) {

  .button--#{$modifier} {

    --background: var(--color-#{$color-set}-c-04);
    --color: var(--color-adjust-tone-color);

    &:active,
    &:focus,
    &:hover {

      --background: var(--color-#{$color-set}-c-02);
      --color: var(--color-adjust-tone-c-15);
    }
  }

  .button--#{$modifier}-outline {

    --background: transparent;
    --border-color: var(--color-#{$color-set}-c-04);
    --color: var(--color-#{$color-set}-c-04);

    &:active,
    &:focus,
    &:hover {

      --background: var(--color-#{$color-set}-c-04);
      --color: var(--color-adjust-tone-color);
    }
  }
}

@mixin scaffold-status-theme ($modifier, $color-set) {
  .button--#{$modifier} {

    --background: var(--color-#{$color-set}-c-08);
    --color: var(--color-adjust-tone-color);

    &:active,
    &:focus,
    &:hover {

      --background: var(--color-#{$color-set}-c-06);
      --color: var(--color-adjust-tone-c-15);
    }
  }

  .button--#{$modifier}-outline {

    --background: var(--color-adjust-tone-color);
    --border-color: var(--color-#{$color-set}-c-08);
    --color: var(--color-#{$color-set}-c-08);

    &:active,
    &:focus,
    &:hover {

      --background: var(--color-#{$color-set}-c-08);
      --color: var(--color-adjust-tone-c-15);
    }
  }
}

@include scaffold-theme($modifier: 'primary', $color-set: 'brand-maggioli');
@include scaffold-theme($modifier: 'secondary', $color-set: 'adjust-tone');
@include scaffold-status-theme($modifier: 'success', $color-set: 'status-success');
@include scaffold-status-theme($modifier: 'warning', $color-set: 'status-warning');
@include scaffold-status-theme($modifier: 'error', $color-set: 'status-error');

// --toolbar-theme: {
//   background-color: hsl(120, 70%, 95%);
// };
