/**
 * @prop --mds-banner-background: Sets the background-color of the component
 * @prop --mds-banner-color: Sets the text color of the component
 * @prop --mds-banner-close-icon-hover-background: Sets the background color of the close icon when the mouse is over it
 * @prop --mds-banner-gap: Sets gap between banner elements
 * @prop --mds-banner-icon-color: Sets the close icon fill color of the component
 * @prop --mds-banner-radius: Sets the border-radius of the component
 * @prop --mds-banner-shadow: Sets the box-shadow of the component
 */

  :host {
  --mds-banner-background: theme('colors.tone-neutral-10');
  --mds-banner-close-icon-hover-background: theme('colors.tone-neutral-09');
  --mds-banner-cockade-background: theme('colors.tone-neutral-09');
  --mds-banner-cockade-distance: theme('spacing.600');
  --mds-banner-color: theme('colors.tone-neutral-02');
  --mds-banner-gap: theme('spacing.200') theme('spacing.400');
  --mds-banner-headline-color: var(--mds-banner-color);
  --mds-banner-icon-color: theme('colors.tone-neutral-04');
  --mds-banner-radius: theme('borderRadius.lg');
  --mds-banner-shadow: none;
  --mds-banner-transition-duration: theme('transitionDuration.300');
  --mds-banner-transition-timing-function: theme('transitionTimingFunction.in-out-expo');

  @apply p-600 grid-cols-full;

  background-color: var(--mds-banner-background);
  border-radius: var(--mds-banner-radius);
  box-shadow: var(--mds-banner-shadow);
  color: var(--mds-banner-color);
  container-name: mds-banner;
  container-type: inline-size;
  display: grid;
  gap: theme('spacing.400');
  position: relative;
  transition-duration: var(--mds-banner-transition-duration);
  transition-property: background-color, box-shadow, color;
  transition-timing-function: var(--mds-banner-transition-timing-function);
  width: 100%;
}

.body {
  align-items: flex-start;
  display: flex;
  gap: var(--mds-banner-gap);
  justify-content: space-between;
}

.headline {
  color: var(--mds-banner-headline-color);
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--mds-banner-gap);
  justify-content: center;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mds-banner-gap);
  justify-content: flex-end;
}

.close-button {
  --mds-button-background: transparent;
  --mds-button-border-color: 0 0 0;
  --mds-button-border-default-opacity: 0;

  fill: var(--mds-banner-color);
}

.close-button:hover {
  --mds-button-background: var(--mds-banner-close-icon-hover-background);
}

.icon {
  fill: var(--mds-banner-icon-color);
  flex-shrink: 0;
  transition-duration: var(--mds-banner-transition-duration);
  transition-property: background-color, fill;
  transition-timing-function: var(--mds-banner-transition-timing-function);
}

.text {
  display: grid;
  flex-grow: 1;
  gap: var(--mds-banner-gap);
}

@container mds-banner (max-width: 300px) {
  ::slotted([slot="action"]) {
    flex-basis: 100%;
    flex-grow: 1;
  }
}


@import './css/mds-banner-cockade.css';
@import './css/mds-banner-variant-ai.css';
@import './css/mds-banner-variant-dark.css';
@import './css/mds-banner-variant-error.css';
@import './css/mds-banner-variant-info.css';
@import './css/mds-banner-variant-light.css';
@import './css/mds-banner-variant-primary.css';
@import './css/mds-banner-variant-success.css';
@import './css/mds-banner-variant-warning.css';
@import './css/mds-banner-pref-animation.css';
@import './css/mds-banner-pref-theme.css';
@import './css/mds-banner-pref-contrast.css';
@import '../../tailwind/fouc.css';
