@import '~@maggioli-design-system/styles/dist/tailwind/components.css';

@tailwind utilities;
@tailwind components;

@import '../../tailwind/components.css';

/**
* @prop --mds-banner-background: Sets the background-color of the component
* @prop --mds-banner-color: Sets the text color of the component
* @prop --mds-banner-close-icon-hover-background: Sets the background color of the close icon when the mouse is over it
* @prop --mds-banner-icon-color: Sets the close icon fill color of the component
* @prop --mds-banner-radius: Sets the border-radius of the component
* @prop --mds-banner-shadow: Sets the box-shadow of the component
*/

  :host {
  --mds-banner-background: theme('colors.tone-neutral-10');
  --mds-banner-close-icon-hover-background: theme('colors.tone-neutral-09');
  --mds-banner-color: theme('colors.tone-neutral-02');
  --mds-banner-gap: theme('spacing.4');
  --mds-banner-icon-color: theme('colors.tone-neutral-04');
  --mds-banner-radius: theme('borderRadius.lg');
  --mds-banner-shadow: none;

  @apply
    grid
    p-6
    transition-cosmetic;

  background-color: var(--mds-banner-background);
  border-radius: var(--mds-banner-radius);
  box-shadow: var(--mds-banner-shadow);
  color: var(--mds-banner-color);
  gap: var(--mds-banner-gap);
}

.body {
  @apply
    flex
    items-start
    justify-between;

  gap: var(--mds-banner-gap);
}

.content {
  @apply
    box-border
    flex
    flex-col
    flex-grow
    justify-center;

  gap: var(--mds-banner-gap);
}

.actions {
  @apply
    flex
    flex-wrap
    justify-end;

  gap: var(--mds-banner-gap);
}

.close-icon {
  @apply
    -m-1
    cursor-pointer
    duration-200
    ease-out
    focusable
    p-1
    rounded-md
    shrink-0;

  transition-property: background-color, fill, outline, outline-offset;
  fill: var(--mds-banner-color);
  background-color: transparent;
}

.close-icon:hover {
  background-color: var(--mds-banner-close-icon-hover-background);
}

.icon {
  @apply
    shrink-0;

  fill: var(--mds-banner-icon-color);
}

.text {
  @apply
    grid
    grow;

  gap: var(--mds-banner-gap);
}

@import './css/mds-banner-variant-dark.css';
@import './css/mds-banner-variant-error.css';
@import './css/mds-banner-variant-info.css';
@import './css/mds-banner-variant-light.css';
@import './css/mds-banner-variant-primary.css';
@import './css/mds-banner-variant-success.css';
@import './css/mds-banner-variant-warning.css';
