@tailwind utilities;

:host {

  /**
    * @prop --background: Sets the background-color of the component
    * @prop --border-color: Sets the border-color of the component
    * @prop --border-radius: Sets the border-radius of the component
    * @prop --color: Sets the text color of the component
    * @prop --separator-color: Sets the background-color of the separator inside the component
    * @prop --shadow: Sets the box-shadow of the component
    */
  --background: theme('colors.adjust-tone-10');

  @apply grid;

  background-color: var(--background, theme('colors.adjust-tone-10'));
  border-color: var(--border-color, transparent) !important;
  border-radius: var(--border-radius, 0);
  border-width: theme('borderWidth.2') !important;
  box-shadow: var(--shadow, none);
  color: var(--color, theme('colors.adjust-tone-02'));
}

.header {
  @apply
    gap-4
    grid
    pt-6
    px-6;
}

.separator {
  @apply
    border-0
    m-0
    rounded;

  background-color: var(--separator-color, transparent);
  height: 2px;
}

.header-row {
  @apply
    flex
    gap-4
    items-center;
}

.headline {
  @apply flex-grow;
}

.header-row .close-icon {
  @apply flex-shrink-0;
}

.content {
  @apply
    flex
    gap-4
    items-start
    p-6;
}

.content--has-icon-isolated {
  @apply
    pr-16
    relative;
}

.header + .content {
  @apply pt-4;
}

:host ( .has-actions ) .content {
  @apply pb-0;
}

.close-icon--isolated {
  @apply
    absolute
    right-6
    top-6;
}

.actions {
  @apply
    flex-wrap
    gap-4
    justify-end
    p-6;
}

.close-icon {
  @apply
    bg-adjust-tone
    bg-opacity-0
    cursor-pointer
    p-1
    rounded-md
    transition-colors;
}

.close-icon:hover {
  @apply bg-opacity-50;
}

.text {
  @apply
    gap-2
    grid;
}

@import './css/mds-banner-variant-dark.css';
@import './css/mds-banner-variant-error.css';
@import './css/mds-banner-variant-info.css';
@import './css/mds-banner-variant-light.css';
@import './css/mds-banner-variant-success.css';
@import './css/mds-banner-variant-warning.css';
