@reference '../../tailwind/index.css';
:host {
  @apply gap-100;

  display: grid;
}

.item {
  --mds-tab-item-default-color: var(--color-tone-neutral-05);

  flex-basis: 0;
  flex-grow: 1;
}

.item--default,
.item--more,
.item--system {
  --mds-tab-item-selected-color: var(--color-tone-neutral-03);
}

@import './css/mds-pref-contrast-pref-contrast.css';
@import '../../tailwind/fouc.css';
