@tailwind components;
@tailwind utilities;
@import '../../tailwind/components.css';

:host {
  --mds-chip-background: theme('colors.tone-neutral-09');
  --mds-chip-color: theme('colors.tone-neutral-04');
  --mds-chip-delete-icon-color-hover: theme('colors.status-error-06');
  --mds-chip-delete-icon-color: theme('colors.tone-neutral-04');
  --mds-chip-icon-background-hover: var(--mds-chip-icon-background);
  --mds-chip-icon-background: theme('colors.brand-maggioli-07');
  --mds-chip-icon-color-hover: var(--mds-chip-icon-color);
  --mds-chip-icon-color: theme('colors.tone-neutral');
  --mds-chip-opacity-disabled: var(--opacity-disabled, 0.5);

  @apply
    duration-150
    ease-in-out
    gap-1.5
    h-9
    inline-flex
    items-center
    justify-center
    p-1.5
    rounded-full;

  transition-property: background-color, border-color, box-shadow, color, opacity;
  background-color: var(--mds-chip-background);
  color: var(--mds-chip-color);
}


:host ( [disabled]:not([disabled=false]) ) {
  @apply pointer-events-none;

  opacity: var(--mds-chip-opacity-disabled);
}

.label {
  @apply
    duration-200
    ease-out
    rounded-full
    flex-grow;

  text-decoration-color: transparent;
  transition-property: color, text-decoration-color;
}

:host ( [clickable]:not([clickable=false]) ) .label {
  @apply cursor-pointer underline;
}

:host ( [clickable]:not([clickable=false]) ) .label:hover {
  text-decoration-color: unset;
}

.label:first-child {
  @apply pl-2;
}

.label:last-child {
  @apply pr-2;
}

.icon-area {
  @apply
    flex
    flex-shrink-0
    h-6
    items-center
    justify-center
    rounded-full
    w-6;

  background-color: var(--mds-chip-icon-background);
}

.icon {
  @apply
    h-4
    w-4;

  fill: var(--mds-chip-icon-color);
}

.delete {
  @apply
    cursor-pointer
    flex-shrink-0
    h-6
    rounded-full
    transition-colors
    w-6;

  fill: var(--mds-chip-delete-icon-color);
}

.delete:hover {
  fill: var(--mds-chip-delete-icon-color-hover);
}
