@import '~@maggioli-design-system/styles/dist/css/animations.css';
@import './css/mds-chip-fouc.css';

/**
 * @prop --mds-chip-background: Sets the `background-color` of the component
 * @prop --mds-chip-color: Sets the `color` of the component
 * @prop --mds-chip-icon-background: Sets the `background-color` of the icon
 * @prop --mds-chip-icon-background-selected: Sets the `background-color` color of the icon when the component is selected
 * @prop --mds-chip-icon-color: Sets the `fill` color of the icon of the component
 * @prop --mds-chip-opacity-disabled: Sets the `opacity` of the component when it's disabled
 * @prop --mds-chip-backgroud-selected: Sets the `background-color` of the component when it's selected
 * @prop --mds-chip-color-selected: Sets the `color` of the component when it's selected
 * @prop --mds-chip-icon-color-selected: Sets the `fill` color of the icon of the component when it's selected
 */

@property --mds-chip-background {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-chip-border {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@property --mds-chip-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-03));
  syntax: '<color>';
}

@property --mds-chip-icon-background {
  inherits: false;
  initial-value: rgb(var(--variant-primary-06));
  syntax: '<color>';
}

@property --mds-chip-icon-color {
  inherits: false;
  initial-value: rgb(var(--tone-neutral));
  syntax: '<color>';
}

@property --mds-chip-opacity-disabled {
  inherits: false;
  initial-value: 0.5;
  syntax: '<number>';
}

/* --mds-chip-shadow not supported by Houdini */

:host {
  --mds-chip-background: rgb(var(--tone-neutral));
  --mds-chip-border: transparent;
  --mds-chip-color: rgb(var(--tone-neutral-03));
  --mds-chip-icon-background: rgb(var(--variant-primary-06));
  --mds-chip-icon-color: rgb(var(--tone-neutral));
  --mds-chip-opacity-disabled: 0.5;
  --mds-chip-shadow: var(--shadow-sm-sharp);
  --mds-chip-transition-duration: var(--duration-150);
  --mds-chip-label-transition-duration: var(--duration-200);
  --private-chip-transition-duration: var(--mds-chip-transition-duration);
  --private-chip-label-transition-duration: var(--mds-chip-label-transition-duration);

  align-items: center;
  background-color: var(--mds-chip-background);
  border: 2px solid var(--mds-chip-border);
  border-radius: 1000px;
  box-shadow: var(--mds-chip-shadow);
  box-sizing: border-box;
  color: var(--mds-chip-color);
  display: inline-flex;
  gap: --spacing(150);
  justify-content: center;
  justify-self: start;
  max-width: min-content;
  min-width: min-content;
  padding: 0 --spacing(50);
  transition-duration: var(--private-chip-transition-duration);
  transition-property: background-color, border-color, box-shadow, color, opacity;
  transition-timing-function: var(--ease-in-out-quad);
}

.label-wrapper {
  align-items: center;
  display: inline-flex;
  height: --spacing(800);
  justify-content: start;

  &:first-child {
    padding-left: --spacing(200);
  }

  &:last-child {
    padding-right: --spacing(200);
  }
}

:host([disabled]:not([disabled='false'])) {
  opacity: var(--mds-chip-opacity-disabled);
  pointer-events: none;
}

.label {
  border-radius: 1000px;
  flex-grow: 1;
  text-decoration-color: transparent;
  transition-duration: var(--private-chip-label-transition-duration);
  transition-property: color, text-decoration-color, outline, outline-offset;
  transition-timing-function: var(--ease-out-quad);
}

:host([clickable]:not([clickable='false'])) .label {
  cursor: pointer;
  text-decoration: underline;
}

:host([clickable]:not([clickable='false'])) .label:hover {
  text-decoration-color: unset;
}

.label--interactive {
  @apply focus-bounce;
}

.label--interactive:focus-visible {
  @apply focus-bounce--focused;

  z-index: 10;
}

.icon-area {
  align-items: center;
  background-color: var(--mds-chip-icon-background);
  border-radius: 1000px;
  display: flex;
  flex-shrink: 0;
  height: --spacing(700);
  justify-content: center;
  transition-duration: inherit;
  transition-timing-function: inherit;
  width: --spacing(700);
}

.icon {
  fill: var(--mds-chip-icon-color);
  height: --spacing(400);
  transition: fill;
  transition-duration: var(--private-chip-label-transition-duration);
  width: --spacing(400);
}

.button-delete {
  border-radius: 100px;
  corner-shape: round;
  height: auto;
  padding: 0;
}

.button-delete--hidden {
  display: none;
}

@import './css/mds-chip-variant.css';
@import './css/mds-chip-pref-animation.css';
@import './css/mds-chip-pref-theme.css';
@import './css/mds-chip-pref-contrast.css';
