@tailwind components;
@tailwind utilities;
@import '../../tailwind/components.css';

:host {
  --background: theme('colors.tone-neutral-09');
  --color: theme('colors.tone-neutral-04');
  --delete-icon-color-hover: theme('colors.status-error-06');
  --delete-icon-color: theme('colors.tone-neutral-04');
  --icon-background-hover: var(--icon-background);
  --icon-background: theme('colors.brand-maggioli-07');
  --icon-color-hover: var(--icon-color);
  --icon-color: theme('colors.tone-neutral');

  @apply
    inline-flex
    gap-1.5
    items-center
    justify-center
    p-1.5
    rounded-full;

  background-color: var(--background);
  color: var(--color);
}

:host ( [clickable]:not([clickable=false]) ) .label {
  @apply
    cursor-pointer
    duration-200
    ease-out
    underline;

  transition-property: color, text-decoration-color;
  text-decoration-color: transparent;
}

:host ( [clickable]:not([clickable=false]) ) .label:hover {
  text-decoration-color: unset;
}

.label:last-child {
  @apply
    pr-2;
}

.icon-area {
  @apply
    flex
    h-6
    items-center
    justify-center
    rounded-full
    w-6;

  background-color: var(--icon-background);
}

.icon {
  @apply
    h-4
    w-4;

  fill: var(--icon-color);
}

.delete {
  @apply
    cursor-pointer
    h-6
    rounded-full
    transition-colors
    w-6;

  fill: var(--delete-icon-color);
}

.delete:hover {
  fill: var(--delete-icon-color-hover);
}
