@import '~@maggioli-design-system/styles/scss/import-framework';

@mixin spacing-modifier ($size-item) {

  $modifier: nth($size-item, 1);
  $spacing: nth($size-item, 2);

  &--spacing-#{$modifier} {
    margin-bottom: $spacing;
    margin-top: $spacing;
  }
}

.hr {

  --size: 4px;
  --background-color: #{color('adjust.tone', '13')};

  background-color: var(--background-color);
  border: 0;
  border-radius: var(--size);
  display: block;
  height: var(--size);
  margin: get($list-sizes, 'normal') 0;
  width: 100%;

  @each $size-item in $list-sizes {
    @include spacing-modifier ($size-item: $size-item);
  }
}
