:host-context(:root.pref-theme-dark:not(.pref-theme-scheme-light)) {
  background-color: rgb(var(--tone-neutral-10));

  &:host([selected]:not([selected='false'])) {
    background-color: rgb(var(--tone-neutral-08));
    box-shadow: var(--shadow-outline);
  }

  &:host(:hover) {
    box-shadow: var(--shadow-outline);
  }
}

@media (prefers-color-scheme: dark) {
  :host-context(:root.pref-theme-system:not(.pref-theme-scheme-light)),
  :host-context(:root:not([data-magma-pref])) {
    background-color: rgb(var(--tone-neutral-10));

    &:host([selected]:not([selected='false'])) {
      background-color: rgb(var(--tone-neutral-08));
      box-shadow: var(--shadow-outline);
    }

    &:host(:hover) {
      box-shadow: var(--shadow-outline);
    }
  }
}
