:host-context(.pref-theme-dark) {
  background-color: var(--color-tone-neutral-10);
}

:host-context(.pref-theme-dark):host([selected]:not([selected="false"])) {
  background-color: var(--color-tone-neutral-08);
  box-shadow: var(--shadow-outline);
}

:host-context(.pref-theme-dark):host(:hover) {
  box-shadow: var(--shadow-outline);
}

@media (prefers-color-scheme: dark) {
  :host-context(.pref-theme-system) {
    background-color: var(--color-tone-neutral-10);
  }

  :host-context(.pref-theme-system):host([selected]:not([selected="false"])) {
    background-color: var(--color-tone-neutral-08);
    box-shadow: var(--shadow-outline);
  }

  :host-context(.pref-theme-system):host(:hover) {
    box-shadow: var(--shadow-outline);
  }
}
