@import '~Sass/import-framework';

.list {
  display: grid;
  grid-gap: s(0.25);
  margin: s(1) 0;
  padding-left: s(0.5);

  &__item {
    align-items: flex-start;
    display: flex;
  }

  &__icon {
    margin-right: s(0.5);
  }

  &__numeric {
    line-height: inherit;
    margin-right: s(0.5);
    min-width: s(1.5);
    text-align: right;
  }
}
