:host-context(.pref-contrast-more) {
  --mds-input-select-ring: var(--shadow-outline-strong-50);
}

:host-context(.pref-contrast-more) .input {
  color: var(--color-tone-neutral-01);
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-input-select-ring: var(--shadow-outline-strong-50);
  }

  :host-context(.pref-contrast-system) .input {
    color: var(--color-tone-neutral-01);
  }
}
