@import '../../tailwind/fouc.css';

:host {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: --spacing(400);
  justify-content: space-between;
  min-width: 0;
  padding: --spacing(400);
}

