@import '~@maggioli-design-system/styles/dist/scss/import-framework';

@mixin inner-margin-modifier ($item) {

  $modifier: nth($item, 1);
  $value: nth($item, 2);

  &--inner-margin-#{$modifier} {
    .horizontal-scroll {
      &__item {
        margin-right: $value;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@mixin outer-margin-modifier ($item) {

  $modifier: nth($item, 1);
  $value: nth($item, 2);

  &--outer-margin-#{$modifier} {
    &::after,
    &::before {
      display: block;
      width: $value;
    }
  }
}

.horizontal-scroll {

  @extend %scroll;

  display: flex;
  overflow: auto;

  &::after,
  &::before {
    content: '';
    flex-shrink: 0;
    height: 1px;
    width: 0;

    @include media('desktop') {
      display: none;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  @each $size-item in $list-sizes {
    @include inner-margin-modifier($size-item);
    @include outer-margin-modifier($size-item);
  }

  &--scroll-snap-centered {
    scroll-snap-type: x mandatory;

    .horizontal-scroll {
      &__item {
        scroll-snap-align: center;
      }
    }
  }
}
