@import './css/mds-avatar-fouc.css';

/**
 * @prop --mds-avatar-background-color-pending: The background-color when an image is loading
 * @prop --mds-avatar-background-color: The background-color of the component
 * @prop --mds-avatar-color: The color of the placeholder icon
 * @prop --mds-avatar-initials-padding: Sets the padding of the initials inside the avatar
 * @prop --mds-avatar-radius: The border-radius of the element
 */

@property --mds-avatar-background-color-pending {
  inherits: false;
  initial-value: rgb(var(--tone-neutral-08));
  syntax: '<color>';
}

@property --mds-avatar-background-color {
  inherits: false;
  initial-value: rgb(var(--variant-primary-05));
  syntax: '<color>';
}

@property --mds-avatar-color {
  inherits: false;
  initial-value: rgb(var(--variant-primary-10));
  syntax: '<color>';
}

@property --mds-avatar-radius {
  inherits: false;
  initial-value: 1000px;
  syntax: '<length>';
}

@property --mds-avatar-initials-padding {
  inherits: false;
  initial-value: 20%;
  syntax: '<percentage>';
}

:host {
  --mds-avatar-background-color-pending: rgb(var(--tone-neutral-08));
  --mds-avatar-background-color: rgb(var(--variant-primary-05));
  --mds-avatar-color: rgb(var(--variant-primary-10));
  --mds-avatar-radius: var(--radius-full);
  --mds-avatar-initials-padding: 20%;

  aspect-ratio: 1/1;
  border-radius: var(--mds-avatar-radius);
  container-name: mds-avatar;
  container-type: inline-size;
  display: inline-flex;
  overflow: hidden;
  width: --spacing(1200);
}

.avatar {
  aspect-ratio: 1/1;
  border-radius: var(--mds-avatar-radius);
  color: transparent;
  display: inline-flex;
  overflow: hidden;
  transition-duration: var(--duration-200);
  transition-property: color, background-color, box-shadow, fill;
  width: 100%;
}

.avatar--pending {
  background-color: var(--mds-avatar-background-color-pending);
}

.avatar--loaded {
  animation: none;
}

.avatar--icon,
.avatar--fallback,
.avatar--initials {
  background-color: var(--mds-avatar-background-color);
  box-shadow: none;
}

.avatar--fallback,
.avatar--initials {
  align-items: stretch;
  display: flex;
  justify-items: stretch;
}

.avatar--icon,
.avatar--fallback {
  padding: 20%;
}

.avatar--initials {
  padding: 30% var(--mds-avatar-initials-padding) 25%;
}

.image {
  aspect-ratio: 1/1;
  border-radius: var(--mds-avatar-radius);
}

.fallback-icon {
  @apply svg;

  aspect-ratio: 1/1;
  fill: var(--mds-avatar-color);
  width: 100%;
}

.initials-text {
  @apply font-bold
    font-title;

  align-items: center;
  color: var(--mds-avatar-color);
  display: flex;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.fit {
  display: inline-block;
  white-space: nowrap !important;
}

.icon {
  fill: var(--mds-avatar-color);
  height: 100%;
  transition-duration: var(--duration-200);
  transition-property: fill;
  transition-timing-function: var(--ease-in-out-expo);
  width: 100%;
}

@container (max-width: 24px) {
  :host-context(:not(.safari)) .avatar--initials {
    padding: 0 var(--mds-avatar-initials-padding);
  }

  :host-context(:not(.safari)) .initials-text {
    @apply font-black;
  }
}

@import './css/mds-avatar-variant.css';
@import './css/mds-avatar-variant-label.css';
@import './css/mds-avatar-variant-status.css';
@import './css/mds-avatar-pref-animation.css';
@import './css/mds-avatar-pref-contrast.css';
