@tailwind utilities;

:host {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  object-fit: fill;
  overflow: hidden;
}

img {
  @apply w-full;

  object-fit: inherit;
}
