/*
  x - -
  - - -
  - - -
*/

:host([position='top-left']) {
  align-items: flex-start;
  justify-content: flex-start;
}

/*
  - x -
  - - -
  - - -
*/

:host([position='top']) {
  --mds-modal-window-height: auto;

  align-items: flex-start;
  justify-content: center;
}

/*
  - - x
  - - -
  - - -
*/

:host([position='top-right']) {
  align-items: flex-start;
  justify-content: flex-end;
}
