/*
  x - -
  - - -
  - - -
*/

:host([position='top-left'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(22deg) rotateY(22deg) scale(0.5)
    translate(-80%, 80%);
}

/*
  - x -
  - - -
  - - -
*/

:host([position='top'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(-22deg) rotateY(0) scale(0.5)
    translate(0, -80%);
}

/*
  - - x
  - - -
  - - -
*/

:host([position='top-right'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(-22deg) rotateY(-22deg) scale(0.5)
    translate(80%, 80%);
}

/*
  - - -
  x - -
  - - -
*/

:host([position='left'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(0) rotateY(22deg) rotateZ(0) scale(0.5)
    translate(-100%, 0%);
}

/*
  - - -
  - x -
  - - -
*/

:host([position='center'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(0) rotateY(22deg) scale(0.5)
    translate(0, 40%);
}

/*
  - - -
  - - x
  - - -
*/

:host([position='right'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(0) rotateY(-22deg) rotateZ(0) scale(0.5)
    translate(100%, 0%);
}

/*
  - - -
  - - -
  x - -
*/

:host([position='bottom-left'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(22deg) rotateY(22deg) scale(0.5)
    translate(-80%, 80%);
}

/*
  - - -
  - - -
  - x -
*/

:host([position='bottom'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(22deg) rotateY(0) scale(0.5)
    translate(0, 80%);
}

/*
  - - -
  - - -
  - - x
*/

:host([position='bottom-right'][animation='3d']:not([opened])) {
  --private-modal-transition-window-transform: rotateX(-22deg) rotateY(-22deg) scale(0.5)
    translate(80%, 80%);
}
