:host ::slotted([slot="window"]) {
  margin: var(--mds-modal-custom-window-distance);
}

.window {
  @apply gap-0;

  background-color: var(--mds-modal-window-background);
  border-radius: var(--mds-modal-window-radius);
  box-shadow: var(--mds-modal-window-shadow);
  display: grid;
  grid-template-rows: 1fr;
  margin: var(--mds-modal-window-distance);
  overflow: var(--mds-modal-window-overflow);
}

.window--top {
  grid-template-rows: auto 1fr;
}

.window--bottom {
  grid-template-rows: 1fr auto;
}

.window--top-bottom {
  grid-template-rows: auto 1fr auto;
}

:host .window,
:host > ::slotted([slot="window"]) {
  opacity: 0;
  transform: var(--mds-modal-transition-window-transform);
  transition-duration: var(--mds-modal-transition-duration);
  transition-property: transform, opacity;
  transition-timing-function: var(--mds-modal-transition-timing-funciton);
}

:host([opened]) .window,
:host([opened]) > ::slotted([slot="window"]) {
  opacity: 1;
  pointer-events: auto;
  transition-timing-function: var(--mds-modal-transition-timing-funciton);
}
