.window {
  height: var(--mds-modal-window-height);
  max-height: var(--mds-modal-window-max-height);
  max-width: var(--mds-modal-window-max-width);
  min-width: var(--mds-modal-window-min-width);
  width: var(--mds-modal-window-max-width);
}

@media (width <= 480px) {
  :host {
    --mds-modal-window-min-width: 0;
  }

  :host([position="bottom"]),
  :host([position="bottom-left"]),
  :host([position="bottom-right"]),
  :host([position="center"]),
  :host([position="left"]),
  :host([position="right"]),
  :host([position="top"]),
  :host([position="top-left"]),
  :host([position="top-right"]) {
    --mds-modal-window-max-width: calc(100vw - var(--mds-modal-window-close-margin));
  }
}


@media (width > 480px) {
  :host([position="bottom"]),
  :host([position="bottom-left"]),
  :host([position="bottom-right"]),
  :host([position="center"]),
  :host([position="top"]),
  :host([position="top-left"]),
  :host([position="top-right"]) {
    --mds-modal-window-height: auto;
  }
}
