:host ::slotted([slot='window']) {
  margin: var(--mds-modal-custom-window-distance);
}

.window {
  @apply gap-0;

  background-color: var(--mds-modal-window-background);
  border-radius: var(--mds-modal-window-radius);
  box-shadow: var(--mds-modal-window-shadow);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 100%));
  margin: var(--mds-modal-window-distance);
  overflow: var(--mds-modal-window-overflow);
  position: relative;
}

.window-content--empty {
  display: none;
}

.window-content-wrapper {
  max-height: calc(100dvh - calc(var(--mds-modal-window-distance) * 2));
  overflow: auto;
}

.window-header,
.window-footer {
  box-sizing: border-box;
  position: absolute;
}

.window-header {
  inset: 0 0 auto;
}

.window-footer {
  inset: auto 0 0;
}

/* .window--top {
  grid-template-rows: auto 1fr;
}

.window--bottom {
  grid-template-rows: 1fr auto;
}

.window--top-bottom {
  grid-template-rows: auto 1fr auto;
} */

:host .window,
:host > ::slotted([slot='window']) {
  opacity: 0;
  transform: var(--private-modal-transition-window-transform);
  transition-duration: var(--mds-modal-transition-duration);
  transition-property: transform, opacity;
  transition-timing-function: var(--mds-modal-transition-timing-funciton);
}

:host([opened]) .window,
:host([opened]) > ::slotted([slot='window']) {
  opacity: 1;
  pointer-events: auto;
  transition-timing-function: var(--mds-modal-transition-timing-funciton);
}
