:host([opened]) {
  background-color: rgba(var(--mds-modal-overlay-color) / var(--mds-modal-overlay-opacity));
  pointer-events: auto;
}

:host .window,
:host > ::slotted([slot="window"]) {
  opacity: 0;
  transition-duration: var(--mds-modal-transition-duration);
  transition-property: transform, opacity;
  transition-timing-function: var(--mds-modal-transition-timing-funciton);
}

:host([opened]) .window,
:host([opened]) > ::slotted([slot="window"]) {
  opacity: 1;
  transform: rotate(0) scale(1) translateY(0);
  transition-timing-function: var(--mds-modal-transition-timing-funciton);
}

:host(:not([opened])[animation="slide"]) .window,
:host(:not([opened])[animation="slide"]) > ::slotted([slot="window"]) {
  transform: translateY(50%);
}

:host([opened][animation="slide"]) .window,
:host([opened][animation="slide"]) > ::slotted([slot="window"]) {
  transform: translateY(0);
}
