:host([position='right']),
:host([position='left']) {
  --mds-modal-window-height: 100%;
  --mds-modal-window-max-height: calc(100dvh - calc(var(--mds-modal-window-distance) * 2));
}

/*
  - - -
  x - -
  - - -
*/

:host([position='left']) {
  align-items: center;
  justify-content: flex-start;
}

:host([position='left']) .action-close {
  right: --spacing(300);
  top: --spacing(300);
}

:host([position='left'][opened]) .action-close {
  opacity: 1;
  pointer-events: auto;
}

:host([position='left']:not([opened])) .action-close {
  transform: translateX(-120%) rotate(-45deg);
}

/*
  - - -
  - x -
  - - -
*/

:host([position='center']) {
  align-items: center;
  justify-content: center;
}

/*
  - - -
  - - x
  - - -
*/

:host([position='right']) {
  align-items: center;
  justify-content: flex-end;
}

:host([position='right']) .action-close {
  left: --spacing(300);
  top: --spacing(300);
}

:host([position='right']:not([opened])) .action-close {
  transform: translateX(120%) rotate(45deg);
}

:host([position='right'][opened]) .action-close {
  opacity: 1;
  pointer-events: auto;
}
