:host([opened][backdrop]) {
  --private-modal-transition-window-transform: none;

  background-color: rgb(var(--mds-modal-overlay-color) / var(--mds-modal-overlay-opacity));
  pointer-events: auto;
}
