.action-close {
  border-radius: 100px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition-duration: var(--mds-modal-transition-duration);
  transition-property: bottom, opacity, top, transform;
  transition-timing-function: var(--mds-modal-transition-timing-function);
}

.action-close::part(icon) {
  height: --spacing(900);
  width: --spacing(900);
}
