:host([position="left"]) {
  align-items: center;
  justify-content: flex-start;
}

:host([position="left"]) .window {
  height: 100dvh;
  max-width: calc(100vw - 80px);
}

:host([position="left"][opened="false"]) > ::slotted( [slot="window"] ),
:host([position="left"]:not([opened])) > ::slotted( [slot="window"] ) {
  transform: rotateX(0) rotateY(22deg) rotateZ(0) scale(0.5) translate(-100%, 0%);
}

:host([position="left"][opened="false"]) .window,
:host([position="left"]:not([opened])) .window {
  transform: translate(-100%, 0%);
}
