/*
  - - -
  - - -
  x - -
*/

:host([position="bottom-left"]) {
  align-items: flex-end;
  justify-content: flex-start;
}

/*
  - - -
  - - -
  - x -
*/

:host([position="bottom"]) {
  --mds-modal-window-height: auto;
  --mds-modal-window-max-width: 100vw;

  align-items: flex-end;
  justify-content: center;
}

/*
  - - -
  - - -
  - - x
*/

:host([position="bottom-right"]) {
  align-items: flex-end;
  justify-content: flex-end;
}
