:host( .to-right ) {
  justify-content: flex-end;
}

:host( .to-right ) .window,
:host( .to-right ) > ::slotted([slot="window"]) {
  @apply animate;
}

:host( .to-right-intro ) .window,
:host( .to-right-intro ) > ::slotted( [slot="window"] ) {
  @apply animate-right-intro;
}

:host( .to-right-opened.to-right-outro ) .window,
:host( .to-right-opened.to-right-outro ) > ::slotted( [slot="window"] ),
:host( .to-right-opened ) .window,
:host( .to-right-opened ) > ::slotted( [slot="window"] ) {
  @apply animate-right-opened;
}

:host( .to-right-opened ) .close,
:host( .to-right-opened.to-right-outro ) .close {
  @apply opacity-100;

  transform: translate(24px, 24px) rotate(0);
}

:host( .to-right-outro ) .window,
:host( .to-right-outro ) > ::slotted( [slot="window"] ) {
  @apply animate-right-outro;
}

:host( .to-right-outro ) .close {
  transform: translate(-24px, 24px) rotate(90deg);
}

:host( .to-right ) .close {
  @apply left-0;

  transform: translate(-36px, 24px) rotate(-90deg);
}
