:host-context(.pref-animation-reduce) {
  --mds-tab-scroll-behavior: auto;
  --mds-tab-transition-duration: 0s;
}

@media (prefers-reduced-motion) {
  :host-context(.pref-animation-system) {
    --mds-tab-scroll-behavior: auto;
    --mds-tab-transition-duration: 0s;
  }
}
