:host([direction='vertical']) {
  grid-template-columns: var(--mds-tab-direction-vertical-columns);
  grid-template-rows: 1fr;
}

:host([direction='vertical']) .tabs {
  align-self: start;
  flex-direction: column;
}

:host([direction='vertical']) .tabs-wrapper {
  align-self: start;
  max-width: none;
}

:host([direction='vertical'][fill]) .tabs-wrapper,
:host([direction='vertical'][fill]) .tabs {
  align-self: auto;
}

:host([direction='vertical'])::slotted(mds-tab-item) {
  width: 100%;
}
