.tabs {
  position: relative;
}

.slider {
  --mds-tab-slider-offset-x: 0;
  --mds-tab-slider-offset-y: 0;
  --mds-tab-slider-width: 0;
  --mds-tab-slider-height: 0;

  background-color: var(--mds-tab-item-selected-background);
  border-radius: var(--mds-tab-item-radius);
  box-shadow: var(--mds-tab-item-selected-shadow);
  corner-shape: var(--mds-tab-corner-shape);
  height: var(--mds-tab-slider-height);
  inset: 0 auto auto 0;
  pointer-events: none;
  position: absolute;
  transform: translate(var(--mds-tab-slider-offset-x), var(--mds-tab-slider-offset-y));
  transition-duration: var(--mds-tab-transition-duration);
  transition-property: background-color, box-shadow, transform, width;
  transition-timing-function: var(--mds-tab-transition-timing-function);
  width: var(--mds-tab-slider-width);
  will-change: height, transform, width;
  z-index: -1;
}

::slotted(mds-tab-item) {
  position: relative;
  z-index: 1;
}
