.reset {
  @apply
    duration-300
    ease-in-out-expo;

  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  transform: scale(0);
  transform-origin: center;
  transition-property: transform;
}

.reset-button {
  @apply
    duration-300
    ease-in-out-expo;

  transform: scale(0);
  transition-property: transform;
}

.reset-button-opened {
  transform: scale(1);
}

:host([reset]:not([reset="false"])) .reset {
  transform: scale(1);
}
