.reset {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  transform: scale(0);
  transform-origin: center;
  transition-duration: var(--duration-300);
  transition-property: transform;
  transition-timing-function: var(--ease-in-out-expo);
}

.reset-button {
  transform: scale(0);
  transition-duration: var(--duration-300);
  transition-property: transform;
  transition-timing-function: var(--ease-in-out-expo);
}

.reset-button-opened {
  transform: scale(1);
}

:host([reset]:not([reset="false"])) .reset {
  transform: scale(1);
}
