:host-context(:root.pref-animation-reduce) {
  --mds-filter-items-scroll-behavior: auto;

  transition-duration: 0s;

  .reset-button,
  .items {
    transition-duration: 0s;
  }
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-filter-items-scroll-behavior: auto;

    transition-duration: 0s;

    .reset-button,
    .items {
      transition-duration: 0s;
    }
  }
}
