:host-context(.pref-contrast-more) {
  --mds-filter-items-background-active: var(--color-tone-neutral-09);
  --mds-filter-items-background: var(--color-tone-neutral-10);
  --mds-filter-wrapper-shadow-opacity: 30%;
  --mds-filter-wrapper-shadow-color: var(--color-tone-neutral-07);
  --mds-filter-wrapper-shadow: 0 0 0 --spacing(50) var(--mds-filter-wrapper-shadow-color) inset;
}

@media (prefers-contrast: more) {
  :host-context(.pref-contrast-system) {
    --mds-filter-items-background-active: var(--color-tone-neutral-09);
    --mds-filter-items-background: var(--color-tone-neutral-10);
    --mds-filter-wrapper-shadow-opacity: 30%;
    --mds-filter-wrapper-shadow-color: var(--color-tone-neutral-07);
    --mds-filter-wrapper-shadow: 0 0 0 --spacing(50) var(--mds-filter-wrapper-shadow-color) inset;
  }
}
