:host-context(:root.pref-animation-reduce) {
  transition-delay: 0s !important;
  transition-duration: 0s;

  .header,
  .icon,
  .text {
    transition-delay: 0s !important;
    transition-duration: 0s;
  }
}

@media (prefers-reduced-motion) {
  :host-context(:root.pref-animation-system),
  :host-context(:root:not([data-magma-pref])) {
    transition-delay: 0s !important;
    transition-duration: 0s;

    .header,
    .icon,
    .text {
      transition-delay: 0s !important;
      transition-duration: 0s;
    }
  }
}
