:host-context(:root.pref-contrast-more) {
  --mds-push-notification-item-shadow: var(--shadow-outline-strong-50) inset;

  color: rgb(var(--tone-neutral-01));
}

@media (prefers-contrast: more) {
  :host-context(:root.pref-contrast-system),
  :host-context(:root:not([data-magma-pref])) {
    --mds-push-notification-item-shadow: var(--shadow-outline-strong-50) inset;

    color: rgb(var(--tone-neutral-01));
  }
}
