@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

/**
* @prop --mds-filter-items-background-active: Sets the background-color of the items row area when a filter is active
* @prop --mds-filter-items-background: Sets the background-color of the items row area
* @prop --mds-filter-items-gap: Sets the gap between items
* @prop --mds-filter-items-padding: Sets the padding of the items row area
* @prop --mds-filter-items-radius: Sets the border-radius of the items row area
* @prop --mds-filter-label-padding: Sets the padding of the label
*/

:host {
  --mds-filter-items-background-active: theme('colors.tone-neutral-09');
  --mds-filter-items-background: theme('colors.tone-neutral-10');
  --mds-filter-items-gap: theme('spacing.2');
  --mds-filter-items-padding: theme('spacing.2');
  --mds-filter-items-radius: theme('borderRadius.full');
  --mds-filter-label-padding: 0 theme('spacing.6');

  @apply
    auto-rows-min
    gap-1
    grid;
}

.reset {
  @apply
    flex
    flex-grow
    justify-end;
}

.reset-button {
  @apply
    scale-0
    transition-transform;
}

.reset-button-opened {
  @apply scale-100;
}

.items {
  @apply
    flex
    hide-scrollbar
    overflow-auto
    scroll-smooth
    transition-colors;

  background-color: var(--mds-filter-items-background);
  border-radius: var(--mds-filter-items-radius);
  gap: var(--mds-filter-items-gap);
  padding: var(--mds-filter-items-padding);
  scroll-snap-type: x mandatory;
}

.items::-webkit-scrollbar {
  display: none;
}

.label {
  padding: var(--mds-filter-label-padding);
}

.active {
  background-color: var(--mds-filter-items-background-active);
}
